.screenshots {
    padding-top: 180px;
    padding-bottom: 125px;

    background-image: url(../../../assets/img/screenshot-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   
}

.screenshots__text {
    margin-bottom: 120px;
}  