<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout </title>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/style.min.css">
</head>

<body>
    <!-- Header
    =========== -->
    <header class="header" id="header">
        <div class="container">
            <div class="header__inner">

                <div class="logo header__logo">
                    <a class="logo__link" href="#">
                        <img class="logo__img" src="assets/img/logo.png" alt="Логотип Шведская горечь">
                    </a>
                </div>

                <p class="header__text">Доставка по всей России</p>

                <div class="phone header__phone">
                    <a class="phone__tel" href="tel:+88000000000">8 800 000-00-00</a>
                    <p class="phone__text">Звонок бесплатный</p>
                </div>
            </div> <!-- /header__inner -->
        </div> <!-- /container -->
    </header>



    <!-- Section - Offer
    ==================== -->
    <section class="offer" id="offer">
        <div class="container-ful offer__container-ful"></div>

        <div class="container">
            <div class="offer__inner">
                <div class="offer__img"></div>

                <div class="offer__content"></div>
            </div>

        </div>
        <!--/container -->

    </section> <!-- /offer -->













    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <script src="assets/js/app.js"></script>
</body>

</html>