.booking__form {
    display: flex;
    align-items: center;
    
    @media (max-width: 1397px) {
      flex-wrap: wrap;
      justify-content: center; 
      // padding-bottom: 40px;  
      // padding-top: 40px;  
    }
    
}

.booking__item-inner {
    border-left: $border;
    padding: 0px 55px;
    margin: 20px 0px;

    &:nth-child(3),
    &:nth-child(4) {
        padding: 0px 55px;


        @media (max-width: 1397px) {
          padding: 0px 30px ;
        }

        @media (max-width: 600px) {
          width: 50%;
        }
    }    

    &:last-of-type {
        border-right: $border;

        @media (max-width: 1397px) {
          border-right: none;          
        }
    }

    &:first-child {

      @media (max-width: 1397px) {
        border-left: none;
      }   
      
      @media (max-width: 600px) {
        border-left: $border;
        
      }
    }   
    
    @media (max-width: 1397px) {
      padding: 0px 30px ;
    }

    @media (max-width: 600px) {
      width: 100%;
    }
}

.booking__item {
    position: relative;    
}

.booking__item-title {
    display: block;
    font-size: 18px;
    color: $colorBlack;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.booking__info {
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    pointer-events: none;
}

.booking__input {
    // position: relative;
    display: inline-block;
    width: 100%;
    max-width: 220px;
    min-height: 60px;
    border: none;
    // border: 1px solid #ccc;

    font-family: $font-OldStandard;
    font-size: 20px;
    color: $colorBlack;
    padding-right: 55px;

    background-image: url(../img/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: 185px center;
    background-size: 20px;

    &::placeholder {
      font-size: 20px;
      color: $colorBlack;
      opacity: .4;
    }
}

.booking__input--adults,
.booking__input--children {
    // max-width: 60px;
    max-width: 50px;
}

.booking__row {
    display: flex;
    flex-direction: column;
}

.booking__date {
    font-family: $font-OldStandard;
    font-size: 60px;
    margin-right: 15px;
    color: $colorBlack;
}

.booking__month,
.booking__year {
    font-family: $font-PlayfairDisplay;
    font-size: 16px;
    color: $colorBlack;
    line-height: 26px;
    margin-bottom: 3px;
}

.booking__day {
    font-size: 12px;
    text-transform: uppercase;
}

.booking__btn {
    margin-left: auto;
    padding: 17.5px 53px;
    margin-bottom: 20px;

    @media (max-width: 1397px) {
      margin-left: 30px;            
    }

    @media (max-width: 600px) {
      margin-left: 0;
    }
}

// --------------------------------

.booking__quantity {
    position: relative;
    display: flex;
    // margin-left: -5px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button  {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number]  {
    -moz-appearance: textfield;
  }
  
  .booking__input--children {
    font-family: $font-OldStandard;
    font-size: 55px;    
    display: flex;
    padding: 0;
    margin: 0;
    color: $colorBlack;    
  }  
  
  .quantity-nav {
    position: absolute;
    height: 42px;
    right: -10px;
    top: 10%;
  }
  
  .quantity-button {
    position: relative;
    cursor: pointer;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    transform: translateX(-100%);    
    user-select: none;

    background-image: url(../img/down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .quantity-button.quantity-up {
    background-image: url(../img/up-arrow.svg);

    position: absolute;
    height: 50%;
    top: 0;
  }
  
  .quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
  }






