.btnMenu {
    position: absolute;
    left: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $colorWhite;
    cursor: pointer;
    text-transform: uppercase;
    z-index: 50;

    @media (max-width: 887px) {
       left: 15px;
    }
}

.btnMenu__icon {
    width: 18px;
    height: 15px;
    fill: $colorWhite;
    margin-right: 11px;

    @media (max-width: 435px) {
        width: 44px;
        height: 35px;
     }
}

.btnMenu__icon--close {
    width: 14px;
    height: 13px;
    stroke-width: 1;

    display: none;
}

.btnMenu__title {

    @media (max-width: 435px) {
        display: none;
     }
}