.information {
    padding: 50px 0px;

    @media (max-width: 1280px) {
        padding-bottom: 0;
    }
}

.information__items {
    display: flex;
    text-align: center;

    @media (max-width: 1280px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.information__item {
    width: 33.33333%;
    border-right: $border;

    &:last-child {
        border-right: none;
    }

    @media (max-width: 1280px) {
        width: 50%;        
        margin-bottom: 50px;

        &:nth-child(2) {
            border-right: none;
        }
    }

    @media (max-width: 787px) {
        width: 100%;
        border-right: none;
    }
}

.information__item-title {
    font-family: $font-PlayfairDisplay;
    font-size: 24px;
    line-height: 60px;
    letter-spacing: -1px;
    color: $colorBlack;    
}

.information__item-subtitle {
    display: block;
    line-height: 24px;
    letter-spacing: 0.14px;
    color: $colorGrey;
    margin-bottom: 30px;
}