.quote {
    background-color: $colorGold;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 100px;

    @media (max-width: 520px) {
        padding: 60px 0px;
    }
}

.quote__stars {
    margin-bottom: 50px;
}

.quote__star-icon {
    width: 20px;
    height: 20px;
    fill: $colorWhite;
}

.quote__text {
    max-width: 870px;
    font-family: $font-OldStandard;
    font-style: italic;
    font-size: 30px;
    line-height: 52px;
    color: #eaeaea;
    margin: 0px auto 50px;

    @media (max-width: 520px) {
        font-size: 25px;
        line-height: 41px;
    }
}

.quote__author {
    display: block;
    color: #eaeaea;
    line-height: 20px;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.quote__img {
    margin-bottom: 50px;
}

.quote__line {
    display: block;
    width: 65px;
    height: 2px;
    margin: 0 auto;
}


