.rooms {
    text-align: center;
    background-color: $bg-gray;
    padding-top: 95px;
    padding-bottom: 155px;

    @media (max-width: 970px) {
        padding-bottom: 20px;
    }
}

.rooms__title {
    margin-bottom: 45px;
}

.rooms__filter {
    margin-bottom: 80px;  
    
    @media (max-width: 878px) {
        display: none;
    }
}

.rooms__filter-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rooms__filter-item {
    margin: 0px 15px;
}

.rooms__filter-btn {
    border: none;
    cursor: pointer;
    padding: 0;
}

.rooms__items {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: calc(100% - 80px);
        height: calc(100% + 60px);
        top: 50%;
        transform: translate(50%, -51.5%);
        right: 50%;        
        border: 1px solid #dadada;
        z-index: 0;   
        
        @media (max-width: 970px) {
            display: none;
        }
    }
}

.rooms__item {
    margin-bottom: 40px;
    opacity: 0;
    transition: opacity .5s linear;
    display: none;

    @media (max-width: 878px) {
        flex-wrap: wrap;
    }
}

.rooms__item.active-item {
    opacity: 1;
    display: flex;
}

.rooms__item-btn {

    @media (max-width: 1080px) {
        width: 100%;
    }

    @media (max-width: 878px) {
        width: 49%;
    }

    @media (max-width: 378px) {
        width: 100%;
    }
}

.rooms__item-btn--details {

    @media (max-width: 1080px) {
        margin-bottom: 10px;
    }
}

.rooms__img-inner {
    position: relative;
    width: 61%;
    min-height: 468px;
    max-width: 775px;
    overflow: hidden;

    @media (max-width: 878px) {
        width: 100%;
        max-width: 100%;
    }

    @media (max-width: 478px) {
        min-height: 280px;
    }
}

.rooms__img-inner img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    object-fit: cover;
    transition: opacity 1s;
}

.rooms__img-inner img.showed {
    opacity: 1;
}

.rooms__btnControl {
    left: 40px;

    @media (max-width: 970px) {
        left: 0;
    }
}

.rooms__btnControl--next {
    left: 94px;

    @media (max-width: 970px) {
        left: 54px;
    }
}

.rooms__item-content {
    position: relative;
    z-index: 50;
    width: 45%;
    background-color: $colorWhite;
    text-align: left;
    padding: 55px 105px 15px 50px;

    @media (max-width: 1120px) {
        padding: 55px 15px 0px 25px;
    }

    @media (max-width: 878px) {
        width: 100%;
        padding: 15px;
    }
}

.rooms__item-title {
    font-family: $font-PlayfairDisplay;
    font-size: 36px;
    line-height: 39px;
    letter-spacing: -1px;
    color: $colorBlack;
    margin-bottom: 15px;
}

.rooms__item-price {
    line-height: 24px;
    color: $colorBlack;
    margin-bottom: 20px;
}

.rooms__item-sum {
    font-family: $font-PlayfairDisplay;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: $colorGold;
    padding: 0px 3px;
}

.rooms__item-text {
    line-height: 24px;
    letter-spacing: 0.14px;
    color: $colorGrey;
    margin-bottom: 35px;
}

.rooms__dots {
    position: relative;
    z-index: 50;
}

.rooms__dots-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 80px;

    @media (max-width: 970px) {
        padding-left: 0;
    }

    @media (max-width: 576px) {
        justify-content: center;
    }
}

.rooms__dots-item {
    display: flex;
    align-items: center;
    opacity: .5;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
    margin-right: 50px;
    margin-bottom: 20px;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        opacity: 1; 
    }

    @media (max-width: 1380px) {
        margin-right: 10px;
    }

    @media (max-width: 576px) {
        width: 45%;
        margin-right: 0;
    }

    @media (max-width: 478px) {
        width: 100%;
    }
}

.rooms__dots-item.active {
    opacity: 1;
}

.rooms__dots-img {
    margin-right: 19px;

    @media (max-width: 576px) {
        width: 35%;
    }
}

.rooms__dots-title {
    font-family: $font-PlayfairDisplay;
    width: 100%;
    max-width: 95px;
    font-size: 16px;
    font-weight: 700;
    color: $colorBlack;
    text-transform: uppercase;
    text-align: left;

    @media (max-width: 576px) {
        font-size: 14px;
        text-transform: none;
    }
}
