.social__list {
    display: flex;
    justify-content: center;
}

.social__item {
    margin: 0px 15px;

    @media (max-width: 376px) {
        margin: 0px 10px;
    }
}

.social__icon {
    width: 23px;
    height: 45px;
    fill: $colorGold;
    transition: fill .2s ease-in-out;

    &:hover {
        fill: $colorGrey
    }
}