<section class="about">
    <div class="container">
        <div class="about__inner">

            <div class="about__img-box">
                <!-- <img src="assets/img/about/img-1.png" alt="Фото детей с занятий в Megalife"> -->
                <div class="about__img"></div>
            </div>


            <div class="about__content">
                <div class="title  about__title">
                    <h2>Немного о нас</h2>
                    <p>Добро пожаловать в прекрасный мир нашего образовательного центра</p>
                </div>

                <p class="about__text">
                    Не секрет, что развитие ребенка в дошкольном возрасте напрямую сказывается на его познавательных
                    навыках во всей дальнейшей жизни, и, чем живее, интереснее, корректнее будут преподнесены знания,
                    умения и навыки в этом возрасте, тем более способным и смышленым будет он в дальнейшем, тем более
                    цельной будет его личность во взрослой жизни.
                </p>

                <p class="about__text">
                    Именно на дошкольном развитии и специализируется наш центр. Детки у нас объединены небольшими
                    психологически комфортными группами, разделенными как по возрастам, так и по направлениям.
                </p>
            </div>

        </div> <!-- /about__inner -->

        <div class="progress  about__progress">
            <div class="progress__item">
                <div class="progress__text">
                    <span class="progress__title">525</span>
                    <p class="progress__subtitle">Учеников в заведении</p>
                </div>

                <div class="progress__icon">
                    <svg>
                        <use xlink:href="#svg-progress-item-1"></use>
                    </svg>
                </div>
            </div>

            <div class="progress__item">
                <div class="progress__text">
                    <span class="progress__title">322</span>
                    <p class="progress__subtitle">Братьев и сестер</p>
                </div>

                <div class="progress__icon">
                    <svg>
                        <use xlink:href="#svg-progress-item-2"></use>
                    </svg>
                </div>
            </div>

            <div class="progress__item">
                <div class="progress__text">
                    <span class="progress__title">470</span>
                    <p class="progress__subtitle">Довольных родителей</p>
                </div>

                <div class="progress__icon">
                    <svg>
                        <use xlink:href="#svg-progress-item-3"></use>
                    </svg>
                </div>
            </div>
        </div>

    </div> <!-- /container -->
</section> <!-- /about -->