<footer class="footer">
    <div class="container">
        <div class="footer__top">

            <div class="footer__top-inner">
                <div class="footer__item">
                    <div class="footer__item-icon">
                        <svg>
                            <use xlink:href="#svg-geo"></use>
                        </svg>
                    </div>
                    <span class="footer__item-subtitle">Адрес:</span>
                    <p class="footer__item-text">Минск. <br>(м. Спортивная, <br> м. Уручье) </p>
                </div>


                <div class="footer__item">
                    <div class="footer__item-icon">
                        <svg>
                            <use xlink:href="#svg-call"></use>
                        </svg>
                    </div>
                    <span class="footer__item-subtitle">Звоните по номеру</span>

                    <a class="footer__item-phone" href="tel:+375297766307">+375 (29) 776-63-07</a>
                    <a class="footer__item-phone" href="tel:+375297766307">+375 (29) 776-63-07</a>
                </div>


                <div class="footer__item">
                    <div class="footer__item-icon">
                        <svg>
                            <use xlink:href="#svg-mail"></use>
                        </svg>
                    </div>
                    <span class="footer__item-subtitle">Email:</span>
                    <a class="footer__item-mail" href="mailto:megalife.by@bitrix24.by">megalife.by@bitrix24.by</a>
                </div>
            </div>

            <button class="btn  footer__btn">Наверх</button>
        </div> <!-- /footer__top -->


        <div class="footer__body">
            <a class="logo  footer__logo" href="index.html">
                <img src="assets/img/logo.png" alt="Логотип детского центра MegaLife">
                <div class="logo__content">
                    <span class="logo__title">MegaLife</span>
                    <p class="logo__subtitle">Детский развивающий центр</p>
                </div>
            </a>

            <div class="social  footer__social">
                <ul class="social__list">

                    <li class="social__item">
                        <a class="social__link" href="https://vk.com/megalife_lager" target="_blank">
                            <svg>
                                <use xlink:href="#svg-vk"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="social__item">
                        <a class="social__link" href="https://www.facebook.com/megalife.by" target="_blank">
                            <svg>
                                <use xlink:href="#svg-fb"></use>
                            </svg>
                        </a>
                    </li>

                    <li class="social__item">
                        <a class="social__link" href="https://www.instagram.com/megalife.by" target="_blank">
                            <svg>
                                <use xlink:href="#svg-inst"></use>
                            </svg>
                        </a>
                    </li>

                </ul>
            </div> <!-- /social  footer__social -->
        </div>



    </div> <!-- /container -->
</footer> <!-- /footer -->