<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="logo  header__logo" href="index.html">
                <img src="assets/img/logo.png" alt="Логотип детского центра MegaLife">
                <div class="logo__content">
                    <span class="logo__title">MegaLife</span>
                    <p class="logo__subtitle">Детский развивающий центр</p>
                </div>
            </a>

            <nav class="menu  header__menu">
                <ul class="menu__list">

                    <li class="menu__item">
                        <a class="menu__link" href="index.html">Главная</a>
                    </li>

                    <li class="menu__item">
                        <a class="menu__link" href="about-page.html">О нас</a>
                    </li>

                    <li class="menu__item">
                        <a class="menu__link" href="programs-page.html">Программы</a>
                    </li>

                    <li class="menu__item">
                        <a class="menu__link" href="price-list.html">Прайс-лист</a>
                    </li>

                    <li class="menu__item">
                        <a class="menu__link" href="contacts.html">Контакты</a>
                    </li>

                </ul>
            </nav> <!-- /menu  header__menu -->

        </div> <!-- /header__inner -->
    </div> <!-- /container -->
</header> <!-- /header -->