<section class="photos">
    <div class="container">

        <div class="title  photos__title">
            <h2>Фотографии наших детей</h2>
            <p>Добро пожаловать в прекрасный мир нашего образовательного центра</p>
        </div>

        <div class="photos__inner">

            <div class="photos__item">
                <img src="assets/img/photos/img-1.png" alt="">
            </div>

            <div class="photos__item">
                <img src="assets/img/photos/img-1.png" alt="">
            </div>

            <div class="photos__item">
                <img src="assets/img/photos/img-1.png" alt="">
            </div>

            <div class="photos__item">
                <img src="assets/img/photos/img-1.png" alt="">
            </div>

            <div class="photos__item">
                <img src="assets/img/photos/img-1.png" alt="">
            </div>

            <div class="photos__item">
                <img src="assets/img/photos/img-1.png" alt="">
            </div>

        </div> <!-- /photos__inner -->
    </div> <!-- /container -->
</section> <!-- /photos -->