<section class="programs">
    <div class="container">

        <div class="title  programs__title">
            <h2>Программы для детского развития</h2>
            <p>Добро пожаловать в прекрасный мир нашего образовательного центра</p>
        </div>

        <div class="programs__items">


            <div class="programs__item">
                <div class="programs__img-wrap">
                    <img src="assets/img/programs/img-1.jpg" alt="Фото детей с обучения в детском центре MegaLife">
                    <div class="programs__item-new  programs__item-new--red">ХИТ</div>
                </div>

                <h3 class="programs__item-title">Скорочтение</h3>

                <p class="programs__item-descr">
                    Скорочтение включает в себя набор практических упражнений: на внимательность; скорость
                    восприятия текстовой, образной и слуховой информации, её анализ, понимание и запоминание на
                    короткий и длительный периоды.
                </p>

                <div class="programs__btn-wrap">
                    <a class="btn  programs__item-btn" href="skorochtenie.html">Подробнее о курсе</a>
                </div>
            </div>


            <div class="programs__item">
                <div class="programs__img-wrap">
                    <img src="assets/img/programs/img-2.jpg" alt="Фото детей с обучения в детском центре MegaLife">
                </div>

                <h3 class="programs__item-title">Интелектуариум</h3>

                <p class="programs__item-descr">
                    Интеллектуариум - развивает и активизирует мозг ребёнка. Закладывает основы для дальнейшего
                    успешного обучения и умения быстро принимать правильные решения.
                    <br>
                    <mark>В программу входят:</mark>
                    ментальная арифметика, кубик Рубика, лабиринты, числовые ряды и др.
                    <br>
                    5 лучших авторских методик в 1 курсе.
                </p>

                <div class="programs__btn-wrap">
                    <button class="btn  programs__item-btn">Подробнее о курсе</button>
                </div>
            </div>


            <div class="programs__item">
                <div class="programs__img-wrap">
                    <img src="assets/img/programs/img-3.jpg" alt="Фото детей с обучения в детском центре MegaLife">
                </div>

                <h3 class="programs__item-title">
                    Мегаинтуиция - внимание + память + пересказ после первого прочтения
                </h3>

                <p class="programs__item-descr">
                    <mark>Задачи курса:</mark>
                    развивать произвольное внимание, расширять его объем, концентрацию и
                    устойчивость.
                    Развивать слуховую и зрительную память, развивать целостность восприятия, развитие концентрации
                    внимания, развитие мелкой моторики, развитие мышления всестронней проработке базовых, самых
                    насущных для детей психических функций нашего мозга - логика, память и внимание.
                </p>

                <div class="programs__btn-wrap">
                    <button class="btn  programs__item-btn">Подробнее о курсе</button>
                </div>
            </div>


        </div> <!-- /programs__items -->

        <div class="programs__all-link">
            <a href="/programmy">Смотреть все программы обучения</a>
        </div>

    </div> <!-- /container -->
</section> <!-- /programs -->