<section class="programs">
    <div class="container">

        <div class="title  programs__title">
            <h2>Программы для детского развития</h2>
            <p>Добро пожаловать в прекрасный мир нашего образовательного центра</p>
        </div>

        <div class="programs__items">

            <div class="programs__item">
                <div class="programs__img-wrap">
                    <img src="assets/img/programs/img-1.png" alt="Фото детей с обучения в детском центре MegaLife">
                </div>

                <h3 class="programs__item-title">Творческие занятия</h3>
                <span class="programs__item-subtitle">Для творческих детей</span>

                <p class="programs__item-descr">
                    Уроки музыки; Студия танцев; Живопись; Театральная студия; Декоративно-прикладное искусство
                </p>

                <div class="programs__btn-wrap">
                    <button class="btn  programs__item-btn">Узнать больше</button>
                </div>
            </div>

            <div class="programs__item">
                <div class="programs__img-wrap">
                    <img src="assets/img/programs/img-2.png" alt="Фото детей с обучения в детском центре MegaLife">
                </div>

                <h3 class="programs__item-title">Подготовка к школе</h3>
                <span class="programs__item-subtitle">Готовимся к первому классу</span>

                <p class="programs__item-descr">Развитие речи, памяти, мышления, воображения; Изучение иностранных
                    языков; Арифметика и письмо; Логоритмика
                </p>

                <div class="programs__btn-wrap">
                    <button class="btn  programs__item-btn">Узнать больше</button>
                </div>
            </div>

            <div class="programs__item">
                <div class="programs__img-wrap">
                    <img src="assets/img/programs/img-3.png" alt="Фото детей с обучения в детском центре MegaLife">
                </div>

                <h3 class="programs__item-title">Уроки для родителей</h3>
                <span class="programs__item-subtitle">Примерный родитель</span>

                <p class="programs__item-descr">
                    Индивидуальные консультации; Семейные консультации; Групповые тренинги, просветительские и
                    образовательные семинары
                </p>

                <div class="programs__btn-wrap">
                    <button class="btn  programs__item-btn">Узнать больше</button>
                </div>
            </div>



        </div> <!-- /programs__items -->

        <div class="programs__all-link">
            <a href="/programmy">Смотреть все программы обучения</a>
        </div>

    </div> <!-- /container -->
</section> <!-- /programs -->