<section class="questions">
    <div class="container">
        <div class="questions__inner">

            <div class="questions__img-box">
                <!-- <img src="assets/img/questions/img-1.png" alt=""> -->
            </div>

            <div class="questions__content">
                <div class="title  questions__title">
                    <h2>Частые вопросы</h2>
                    <p>Здесь вы можете найти ответы на популярные вопросы</p>
                </div>


                <ul class="questions__items">
                    <li class="questions__item">
                        <div class="questions__item-header">
                            <div class="questions__item-icon">
                                <svg>
                                    <use xlink:href="#svg-question"></use>
                                </svg>
                            </div>
                            <div class="questions__item-title">Что нужно для поступления в образовательный центр?</div>
                        </div>

                        <div class="questions__item-body">
                            <p class="questions__item-text">
                                Если Вы хотите, чтобы Ваш сайт не просто занимал свою нишу в сети Интернет, но и хорошо
                                воспринимался поисковыми системами, Вы можете прочитать рекомендации, которые дает
                                Яндекс - «Чем отличается качественный сайт от некачественного с точки зрения Яндекса» .
                            </p>
                        </div>
                    </li>

                    <li class="questions__item">
                        <div class="questions__item-header">
                            <div class="questions__item-icon">
                                <svg>
                                    <use xlink:href="#svg-question"></use>
                                </svg>
                            </div>
                            <div class="questions__item-title">Как проходит адаптация ребенка?</div>
                        </div>

                        <div class="questions__item-body">
                            <p class="questions__item-text">
                                Если Вы хотите, чтобы Ваш сайт не просто занимал свою нишу в сети Интернет, но и хорошо
                                воспринимался поисковыми системами, Вы можете прочитать рекомендации, которые дает
                                Яндекс - «Чем отличается качественный сайт от некачественного с точки зрения Яндекса» .
                            </p>
                        </div>
                    </li>

                    <li class="questions__item">
                        <div class="questions__item-header">
                            <div class="questions__item-icon">
                                <svg>
                                    <use xlink:href="#svg-question"></use>
                                </svg>
                            </div>
                            <div class="questions__item-title">Сколько занятий в день будет посещать мой ребенок?</div>
                        </div>

                        <div class="questions__item-body">
                            <p class="questions__item-text">
                                Если Вы хотите, чтобы Ваш сайт не просто занимал свою нишу в сети Интернет, но и хорошо
                                воспринимался поисковыми системами, Вы можете прочитать рекомендации, которые дает
                                Яндекс - «Чем отличается качественный сайт от некачественного с точки зрения Яндекса» .
                            </p>
                        </div>
                    </li>

                    <li class="questions__item">
                        <div class="questions__item-header">
                            <div class="questions__item-icon">
                                <svg>
                                    <use xlink:href="#svg-question"></use>
                                </svg>
                            </div>
                            <div class="questions__item-title">Работает ли центр в летний период?</div>
                        </div>

                        <div class="questions__item-body">
                            <p class="questions__item-text">
                                Если Вы хотите, чтобы Ваш сайт не просто занимал свою нишу в сети Интернет, но и хорошо
                                воспринимался поисковыми системами, Вы можете прочитать рекомендации, которые дает
                                Яндекс - «Чем отличается качественный сайт от некачественного с точки зрения Яндекса» .
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

        </div> <!-- /questions__inner -->

        <div class="questions__call">
            <div class="questions__call-content">
                <span class="questions__call-title">Остались вопросы?</span>
                <p class="questions__call-subtitle">Остались вопросы оставьте заявку и мы с радостью ответим на них или
                    позвоните нам по телефону
                </p>

            </div>

            <div class="questions__call-btn">
                <button class="btn">Остались вопросы ?</button>
            </div>
        </div>

    </div> <!-- /container -->
</section> <!-- /questions -->