<section class="questions">
    <div class="container">
        <div class="questions__inner">

            <div class="questions__img-box">
                <!-- <img src="assets/img/questions/img-1.png" alt=""> -->
            </div>

            <div class="questions__content">
                <div class="title  questions__title">
                    <h2>Частые вопросы</h2>
                    <p>Здесь вы можете найти ответы на популярные вопросы</p>
                </div>


                <ul class="questions__items">
                    <li class="questions__item">
                        <div class="questions__item-header">
                            <div class="questions__item-icon">
                                <svg>
                                    <use xlink:href="#svg-question"></use>
                                </svg>
                            </div>
                            <div class="questions__item-title">Вопрос №1</div>
                        </div>

                        <div class="questions__item-body">
                            <p class="questions__item-text">
                                Скорочтение позволяет уменьшить время на выполнение домашних заданий минимум в 2 раза.
                                Благодаря чему у ребенка освобождается время для хобби, спорта и творчества.
                            </p>
                        </div>
                    </li>

                    <li class="questions__item">
                        <div class="questions__item-header">
                            <div class="questions__item-icon">
                                <svg>
                                    <use xlink:href="#svg-question"></use>
                                </svg>
                            </div>
                            <div class="questions__item-title">Как проходят занятия?</div>
                        </div>

                        <div class="questions__item-body">
                            <p class="questions__item-text">
                                Скорочтение позволяет уменьшить время на выполнение домашних заданий минимум в 2 раза.
                                Благодаря чему у ребенка освобождается время для хобби, спорта и творчества.
                            </p>
                        </div>
                    </li>

                    <li class="questions__item">
                        <div class="questions__item-header">
                            <div class="questions__item-icon">
                                <svg>
                                    <use xlink:href="#svg-question"></use>
                                </svg>
                            </div>
                            <div class="questions__item-title">Сколько занятий необходимо посетить до результатов?</div>
                        </div>

                        <div class="questions__item-body">
                            <p class="questions__item-text">
                                Скорочтение позволяет уменьшить время на выполнение домашних заданий минимум в 2 раза.
                                Благодаря чему у ребенка освобождается время для хобби, спорта и творчества.
                            </p>
                        </div>
                    </li>

                    <li class="questions__item">
                        <div class="questions__item-header">
                            <div class="questions__item-icon">
                                <svg>
                                    <use xlink:href="#svg-question"></use>
                                </svg>
                            </div>
                            <div class="questions__item-title">Работает ли центр в выходные дни?</div>
                        </div>

                        <div class="questions__item-body">
                            <p class="questions__item-text">
                                Скорочтение позволяет уменьшить время на выполнение домашних заданий минимум в 2 раза.
                                Благодаря чему у ребенка освобождается время для хобби, спорта и творчества.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

        </div> <!-- /questions__inner -->

        <div class="questions__call">
            <div class="questions__call-content">
                <span class="questions__call-title">Остались вопросы?</span>
                <p class="questions__call-subtitle">Оставьте заявку и мы с радостью ответим на них, или
                    позвоните нам по телефону
                </p>
            </div>

            <div class="questions__call-btn">
                <button class="btn" data-id="questions">Остались вопросы ?</button>
            </div>
        </div>

    </div> <!-- /container -->
</section> <!-- /questions -->