<section class="reviews">
    <div class="container">
        <div class="reviews__row">

            <div class="title  reviews__title">
                <h2>Отзывы наших родителей</h2>
                <p>Добро пожаловать в прекрасный мир нашего образовательного центра</p>
            </div>

            <div class="reviews__slider-controls">
                <button class="reviews__slider-btn  reviews__slider-btn--prev" type="button">
                    <svg>
                        <use xlink:href="#svg-prev"></use>
                    </svg>
                </button>
                <button class="reviews__slider-btn  reviews__slider-btn--next" type="button">
                    <svg>
                        <use xlink:href="#svg-next"></use>
                    </svg>
                </button>
            </div>
        </div> <!-- /reviews__row -->


        <div class="reviews__sliders">

            <div class="reviews__slide-wrap">
                <div class="reviews__slide">
                    <div class="reviews__slide-header">
                        <div class="reviews__slide-image">
                            <img src="assets/img/reviews/img-1.jpg" alt="">
                        </div>

                        <div class="reviews__slide-author">
                            <span class="reviews__slide-name">Алена Скорозубова</span>
                            <span class="reviews__slide-subtitle">Мама Егора</span>
                        </div>
                    </div>

                    <div class="reviews__slide-content">
                        <p class="reviews__slide-text">
                            Отдала своего ребенка в ваш центр. Малыш стал более самостоятельным и организованным.
                            Помогает по хозяйству. Отдала своего ребенка в ваш центр. Малыш стал более самостоятельным и
                            организованным.
                            Помогает по хозяйству. Отдала своего ребенка в ваш центр. Малыш стал более самостоятельным и
                            организованным.
                            Помогает по хозяйству.
                        </p>
                    </div>
                </div> <!-- /reviews__slide -->
            </div>


            <div class="reviews__slide-wrap">
                <div class="reviews__slide">
                    <div class="reviews__slide-header">
                        <div class="reviews__slide-image">
                            <img src="assets/img/reviews/img-2.png" alt="">
                        </div>

                        <div class="reviews__slide-author">
                            <span class="reviews__slide-name">Петр Юрьев</span>
                            <span class="reviews__slide-subtitle">Папа Петра младшего</span>
                        </div>
                    </div>

                    <div class="reviews__slide-content">
                        <p class="reviews__slide-text">
                            Обнаружил у своего ребенка склонность к рисованию и отдал на кружок ИЗО. Ребенок в полном
                            восторге, как и я.
                        </p>
                    </div>
                </div> <!-- /reviews__slide -->
            </div>
        </div> <!-- /reviews__sliders -->


    </div> <!-- /container -->
</section> <!-- /reviews -->