.about-page {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 77, 255, 0.03), rgba(0, 77, 255, 0.03)), url('../img/intro/noteboook.svg') left 50% top 50% / auto auto repeat;
    padding: 150px 0px;
}

.about-page__inner {
    display: flex;
    align-items: center;
}

.about-page__content {
    width: 50%;
    margin-left: 40px;
}

.about-page__content-text {
    font-size: 16px;
    font-family: $font_Exo2;
    color: $colorBlack-Text;
    line-height: 1.7;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }

    strong {
        color: $colorCherry;
    }
}