.btn {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    background-color: $colorCherry;
    box-shadow: 0px 7px 8px 0px rgba(230, 58, 107, 0.33);
    border-radius: 250px;
    padding: 22px 40px;
    transition: background-color .2s linear;
    outline: 0;
   
    &:hover {
        background-color: darken($colorCherry, 10%);
    }

    &:focus {
        // box-shadow: 0 0 10px 5px rgba($bg_purple, .7);
    }

    @media (max-width: 480px) {
        padding: 22px 30px;
    }
}