.logo {
    display: flex;
    align-items: center;
    color: inherit;
    outline: 0;

    &:focus {
        box-shadow: 0 0 0px 3px rgba($bg_purple, .2);        
        border-radius: 6px;
    }
    
   
    img {
        width: 80px;
        height: 80px;
        margin-right: 15px;
    }
}

.header__logo {
}

.logo__content {
}

.logo__title {
    display: block;
    font-family: $font_Exo2;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 3px;
}

.logo__subtitle {
    font-size: 16px;
    color: rgba(40, 45, 51, 0.7);
}