.menu {

    @media (max-width: 1060px) {
        position: absolute;
        bottom: 0;
        background-color: $bg_purple;
        width: 100%;
        right: 0;
        top: 0;
        left: 0;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;   
    }

    &.active {
        display: flex;
    }
}

.header__menu {
}

.menu__list {
    display: flex;
    align-items: center;

    @media (max-width: 1060px) {
        flex-direction: column;   
    }
}

.menu__item {

    @media (max-width: 1060px) {
        margin: 10px 0px;   
    }
   
}

.menu__link {
    background: rgba(87, 139, 207, 0.02);
    color: rgba(40, 45, 51, 0.73);
    font-size: 15px;
    line-height: 1.4;
    border-radius: 250px;

    padding: 15px 30px;
    margin: 2px 5px;
    transition: all .2s linear;

    &:hover {
        background: $colorCherry;
        color: #fff;
    }

    @media (max-width: 1280px) {
        padding: 15px;   
    }

    @media (max-width: 1060px) {
        font-size: 20px;  
        color: #fff;
    }
}