.price-list {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 77, 255, 0.03), rgba(0, 77, 255, 0.03)), url('../img/intro/noteboook.svg') left 50% top 50% / auto auto repeat;
    padding: 150px 0px;
}

table {
    margin-top: 20px;

    td {
        padding: 10px;
    }
}