.reviews {
    // background: url('../img/intro/bg-icons.png');
    // background-color: rgba(110, 102, 194, 1);  
    padding: 100px 0px;

     background: url("../img/intro/bg-icons.png") left 50% top 50% / auto auto no-repeat, 
     url("../img/intro/noteboook.svg") left 50% top 50% / auto auto repeat, url("../img/intro/bg-icons.png") left 50% top 50% / auto auto repeat, 
     linear-gradient(#6E66C2, #6E66C2); 
}



.reviews__row {
    display: flex;
    justify-content: space-between;
}


.reviews__title {
    color: #fff;
    text-align: left;
    margin-bottom: 40px;

    p {
        border-bottom: none;
    }
}

.reviews__slider-controls {
}

.reviews__slider-btn {
    position: absolute;
    top: 90px; 
    // left: 50%;
    // transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 4px;
    transition: background-color .1s linear;

    svg {
        width: 22px;
        height: 22px;
        fill: $colorCherry;
    }   

    &:hover {
        background-color: $colorCherry;

        svg {
            fill: #fff;
        }
    }

    &--prev {
        left: -75px;
    }

    &--next {
        right: -75px;
    }
}

.reviews__sliders {
    display: flex;
    justify-content: space-between;
    color: #fff;

    margin-left: -15px;
    margin-right: -15px;
}

.reviews__slide-wrap {
}

.reviews__slide {
    position: relative;
    max-width: 630px;
    display: flex;
    flex-direction: column;
    border-radius:  6px;
    background: rgba(255, 255, 255, 0.03);
    padding: 30px;  
    margin-left: 15px;
    margin-right: 15px;

    &::after {
        // content: 'Skrin';
        // display: block;
        // position: absolute;
        // top: 15px;
        // right: 15px;
        // width: 60px;
        // height: 80px;
        // background-color: #fff;
        // color: $colorCherry;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // font-size: 14px;
    }
}

.reviews__slide-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.reviews__slide-image {
    flex-shrink: 0;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 8px solid rgb(128, 121, 206);
    overflow: hidden;
    margin-right: 35px;

    // margin-left: -40px;
    box-shadow: 0 16px 48px rgba(0,0,0,.1);
    

    img {       
        height: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

.reviews__slide-content {
}

.reviews__slide-name {
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    font-size: 19px;
}

.reviews__slide-subtitle {
    display: block;
    color: rgba(255, 255, 255, 0.54);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
.reviews__slide-text {
    font-size: 15px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.8);
}

