.skorochtenie {    

    .intro {
        // min-height: 100vh;
        z-index: 0;
        padding: 25px 10px 30px;
    }

    .container-big {
        background: url('../img/skorochtenie/bg.jpg') left 50% top 0/cover no-repeat;

        @media (max-width: 768px) {
            background: url('../img/skorochtenie/bg.jpg') right -29px top -52px/894px no-repeat #f6f6f9;   
        }

        @media (max-width: 480px) {
            background: url('../img/skorochtenie/bg.jpg') right -54px top 0/625px no-repeat #f6f6f9;   
        }
    }

    .intro__title {
    }

    .intro__text {
    }

    .title-page {
        font-size: 20px;
        opacity: .5;
    }
}

.skorochtenie-main {
    background: url('../img/intro/noteboook.svg') rgba(0,77,255,.03);
    padding-bottom: 150px;
    padding-left: 15px;
    padding-right: 15px;
}

.skorochtenie__row {
    display: flex;
    justify-content: space-between;

    @media (max-width: 960px) {
        flex-wrap: wrap;  
        justify-content: center;
    }
}

.skorochtenie__content {
    width: 55%;

    p {
        margin: 10px 0px;
    }

    ul li {
        list-style: disc;
        margin-left: 30px;
    }

    @media (max-width: 960px) {
        width: 100%;   
    }
}

.skorochtenie__img-box {
    width: 40%;
    min-height: 490px;
    min-width: 420px;
    background: url(../img/questions/img-1.png) 0 0/cover no-repeat;
    overflow: hidden;
    box-shadow: inset 0 0 0 8px #fff, 0 10px 12px rgba(134,134,220,.07);
    border-radius: 20px;

    @media (max-width: 960px) {
        display: none;  
        // width: 100%; 
    }
}

.skorochtenie__title {
    width: 100%;
    height: 100%;
    min-height: 170px;
    position: relative;
    z-index: 1;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 24px 108px 1px rgba(56,56,56,.1);    
    padding: 24px 24px 24px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &::after {
        content: '';
        position: absolute;
        left: 12px;
        top: 12px;
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        border: 1px solid rgba(100,172,243,.1);
        border-radius: 16px;
        z-index: 1;
        pointer-events: none;
    }

    // =====================
    margin-bottom: 50px;

    p {
        border-bottom: none;
        padding-bottom: 0;
    }

    h2 {
        margin-bottom: 0;
    }
}

.skorochtenie-main__title {
    text-align: center;
    margin-bottom: 50px;

    h2 {
        font-size: 52px;

        @media (max-width: 960px) {
            font-size: 42px;
        }

        @media (max-width: 700px) {
            font-size: 32px;   
        }
    }

    p {
        font-size: 20px;
    }
}


.skorochtenie-main__problems {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
}

.skorochtenie-main__problem-wrap {
    position: relative;
    width: calc(50% - 30px);
    background: #fff;
    transform-style: preserve-3d;
    border-radius: 15px;
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;

    &::after {
        content: "";
        position: absolute;
        width: 96%;
        height: 30px;
        background-color: #fff;
        left: 2%;
        bottom: -7px;
        transform: translateZ(-1px);
        box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
    }  
    
    &::before {
        content: "-";
        position: absolute;
        width: 34px;
        height: 34px;
        border-radius: 100px;
        background: linear-gradient(to top, rgba($colorCherry, .7), rgba($colorCherry, .7));
        border-bottom: 3px solid $colorCherry;        
        color: #fff;
        font-family: $font_Exo2;
        font-weight: 800;
        font-size: 22px;
        text-align: center;
        line-height: 30px;
        left: -10px;
        top: -10px;

        @media (max-width: 960px) {
            left: 50%;
            transform: translateX(-50%);   
        }
    }       

    @media (max-width: 960px) {
        width: 80%;  
        margin-left: auto;
        margin-right: auto; 
    }

    @media (max-width: 560px) {
        width: 100%;   
    }
}

.skorochtenie-main__problem {
    border: 1px solid #ededed;
    border-radius: 15px;
    height: 100%;
    padding: 25px 15px;    

    span {
        display: block;
        font-family: $font_Exo2;
        color: $colorBlack-Title;
        font-size: 24px;
        margin-bottom: 10px;
        font-weight: 800;
    }    
}


// Advantages

.skorochtenie-advantages {
    padding: 80px 0px;
    padding-bottom: 0;
}

.skorochtenie-advantages__items {
    width: 60%;    

    @media (max-width: 960px) {
        width: 100%;   
    }
}

.skorochtenie-advantages__item {
    position: relative;
    max-width: 468px;
    min-height: 71px;
    display: flex;
    align-items: center;
    font-size: 15px;
    background: url('../img/skorochtenie/pl-1.png') no-repeat center / cover;   
    margin-bottom: 25px;
    padding-left: 90px;
    overflow: hidden;

    &::before {
        content: "+";
        position: absolute;
        width: 34px;
        height: 34px;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        font-family: $font_Exo2;
        font-size: 22px;
        font-weight: 800;
        color: #fff;
        line-height: 30px;
        border-radius: 100px;           
        background: linear-gradient(to top, #27bf88, #52d89b);
        border-bottom: 3px solid #21ad45;    
        text-align: center;       
    } 

    @media (max-width: 960px) {
        margin: 0 auto;
        margin-bottom: 25px;   
    }

    @media (max-width: 375px) {
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 6px;
    }
}



