

.skorochtenie {    

    .intro {
        min-height: 100vh;
        z-index: 0;
    }

    .container-big {
        // background: url(../img/skorochtenie/bg.jpg);
        // background-repeat: no-repeat;
        // background-position: right center;
        // background-size: cover;


        background: url('../img/skorochtenie/bg.jpg') left 50% top 0/cover no-repeat;

        @media (max-width: 768px) {
            background: url('../img/skorochtenie/bg.jpg') right -29px top -52px/894px no-repeat #f6f6f9;   
        }

        @media (max-width: 480px) {
            background: url('../img/skorochtenie/bg.jpg') right -54px top 0/625px no-repeat #f6f6f9;   
        }
    }

    .intro__title {
    }

    .intro__text {
    }
}




.skorochtenie__inner {
    display: flex;
    justify-content: space-between;
}

.skorochtenie__content {
    width: 55%;

    p {
        margin: 10px 0px;
    }

    ul li {
        list-style: disc;
        margin-left: 30px;
    }

    @media (max-width: 960px) {
        width: 100%;   
    }
}

.skorochtenie__img-box {
    width: 40%;
    min-height: 490px;
    min-width: 420px;
    background: url(../img/questions/img-1.png) 0 0/cover no-repeat;
    overflow: hidden;
    box-shadow: inset 0 0 0 8px #fff, 0 10px 12px rgba(134,134,220,.07);
    border-radius: 20px;

    @media (max-width: 960px) {
        display: none;   
    }
}

.skorochtenie-main {
    background: url('../img/intro/noteboook.svg') rgba(0,77,255,.03);
    padding-bottom: 150px;
}