.title-page {    
    font-family: $font_Exo2;
    font-size: 30px;
    font-weight: 800;
    color: #585a62; 
    box-shadow: inset 0px -1px 0px rgba(53,50,57,0.1);
    // margin-bottom: 40px;
    padding-bottom: 20px;
}