.title {    
    color: #585a62;

    h2 {
        font-family: 'Exo 2', sans-serif;      
        font-weight: 800;
        font-size: 35px;
        margin-bottom: 10px;

        @media (max-width: 960px) {
            font-size: 30px;   
        }

        @media (max-width: 640px) {
            font-size: 27px;   
        }

        @media (max-width: 480px) {
            font-size: 20px;   
        }
    }

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: normal;
        border-bottom: 1px dashed #ddd9ff;
        padding-bottom: 20px;

        @media (max-width: 960px) {
            font-size: 17px;   
        }

        @media (max-width: 640px) {
            font-size: 16px;   
        }

        @media (max-width: 480px) {
            font-size: 14px;   
        }
    }
}