.control-products {
    display: flex;
    align-items: center;
}

.control-products__item {
    position: relative;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 5.81081px 15.1081px rgba(140, 121, 199, 0.3);
    border-radius: 50%;
    margin-right: 30px;

    &:last-child {
        margin-right: 5px;

        @media (max-width: 768px) {
            margin-right: 0;   
        }
    }

    &--comparison {
        @media (max-width: 768px) {
            display: none;   
        }
    }

    &--favourites {
        @media (max-width: 768px) {
            display: none;   
        }
    }

    @media (max-width: 768px) {
        margin-right: 20px;
    }

    @media (max-width: 490px) {
        background: none;
        box-shadow: none;   
        margin-right: 15px;
    }

    @media (max-width: 375px) {
        margin-right: 5px;   
    }
}

.control-products__link {

    svg {
        width: 25px;
        height: 25px;
    }
}


.control-products__counter {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 16px;
    height: 16px;
    background-color: #34C900;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    color: $colorWhite;

    @media (max-width: 490px) {
        width: 13px;
        height: 13px;
        font-size: 9px;
        line-height: 11px;   
    }
}



