.masters {
    position: relative;
    padding-top: 9rem;
    color: #feffff;
    background: url('../img/masters/bg.jpg') no-repeat center;
    background-size: cover;
}

.masters__title {
    margin-bottom: 7rem;


    .title__text {
        color: #fff;
    }
}


.masters__inner {
    display: flex;
}

.masters__photo {   
    display: flex;   
    align-items: flex-end;   
    justify-content: center;
    width: 31%;
    overflow: hidden;
    margin-right: 4%;
}

.masters__content {
    width: 65%;
}

.masters__slider {
}

.masters__slide {
    display: none;

    &.active {
        display: block;
    }
}

.masters__slide-name {
    font-size: 3.5rem;
    margin-bottom: 1.4rem;
}


.masters__slide-info {
    margin-bottom: 2rem;
    padding: 1.5rem 0;
}

.masters__slide-education {
    color: #a9b2b7;
    font-size: 1.7rem;
}

.masters__slide-social {
    margin-bottom: 4rem;
}

.masters__slide-text {
    font-size: 1.5rem;
    font-family: "Tahoma",sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 4rem;
}

.masters__slide-list {
    margin-bottom: 5rem;

    li {
        font-size: 2.1rem;
        margin-bottom: 1rem;
    }
}

.masters__dots {    
    display: flex;
    width: 100%;   
    align-items: flex-end;
    margin-bottom: 10rem;
}

.masters__dots-inner {
    width: 90%;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        bottom: 1.5rem;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: rgba(0,0,0,.15);
    }
}

.masters__dots-items {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 85%;
    margin-right: 1%;
}


.masters__dots-item {
    width: 85px;
    height: 85px;
    position: relative;
    border-radius: 100%;
    margin: 1rem 1.5rem;
    margin-bottom: 4rem;
    z-index: 1;
    background-color: rgba(0,0,0,.9);
    opacity: .3;
    cursor: pointer;

    .slick-current {
        opacity: 1;
        background-color: #fff;

        &::after {
            position: absolute;
            content: "";
            top: calc(100% + 2.3rem);
            left: 0;
            width: 100%;
            height: 2px;
            background: #404a4d;         
            background: linear-gradient(to left,rgba(236,217,181,0) 0%,#ecd9b5 50%,rgba(236,217,181,0) 100%);
        }
    }

    &::before {
        position: absolute;
        content: "";
        top: 50%;       
        transform: translate(-50%,-50%);
        left: 50%;
        width: 118%;
        height: 118%;
        border-radius: 100%;
        border: 2px solid #ecd9b5;
    }
}

.masters__dots-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.masters__slide-numbers {
    width: 10%;
    font-family: "Tahoma",sans-serif;
    font-size: 11rem;
    font-weight: 700;
    position: relative;
    line-height: 1;
}

.masters__slide-null {
    position: absolute;
    left: 0;
    top: 0;  
    transform: translateX(-110%);
    overflow: hidden;
    height: 65%;
    line-height: 1;

    span {
        
    }
}

.masters__slide-current {
}