<section class="calculator">
    <div class="container">
        <h2 class="title  calculator__title">
            Калькулятор
            <br>
            (стоимость пользователь узнает по телефону)
        </h2>

        <ul class="calculator__dots">
            <li class="calculator__dots-item">
                <button class="calculator__dots-btn  active" type="button" data-id="calc-item_1">
                    <img class="calculator__dots-icon" src="assets/img/calc/img-1.png" alt="">
                    <span class="calculator__dots-title">Одностворчатое</span>
                </button>
            </li>

            <li class="calculator__dots-item">
                <button class="calculator__dots-btn" type="button" data-id="calc-item_2">
                    <img class="calculator__dots-icon" src="assets/img/calc/img-2.png" alt="">
                    <span class="calculator__dots-title">Двухстворчатое</span>
                </button>
            </li>

            <li class="calculator__dots-item">
                <button class="calculator__dots-btn" type="button" data-id="calc-item_3">
                    <img class="calculator__dots-icon" src="assets/img/calc/img-3.png" alt="">
                    <span class="calculator__dots-title">Трехстворчатое</span>
                </button>
            </li>

            <li class="calculator__dots-item">
                <button class="calculator__dots-btn" type="button" data-id="calc-item_4">
                    <img class="calculator__dots-icon" src="assets/img/calc/img-4.png" alt="">
                    <span class="calculator__dots-title">Балконный блок</span>
                </button>
            </li>

            <li class="calculator__dots-item">
                <button class="calculator__dots-btn" type="button" data-id="calc-item_5">
                    <img class="calculator__dots-icon" src="assets/img/calc/img-5.png" alt="">
                    <span class="calculator__dots-title">Остекление балкона</span>
                </button>
            </li>
        </ul>


        <div class="calculator__content">
            <div class="calculator-item  active" id="calc-item_1">
                <div class="calculator-item__inner">
                    <div class="calculator-item__product">
                        <div class="calculator-item__img">
                            <img src="assets/img/calc-item/1.png" alt="">

                            <span class="calculator-item__tag  width">ширина</span>
                            <span class="calculator-item__tag  height">высота</span>
                        </div>

                        <div class="sizes  calculator-item__sizes">
                            <div class="sizes__field">
                                <label class="sizes__label" for="width">ширина, см</label>
                                <input class="sizes__input" type="text" id="width" placeholder="120">
                            </div>

                            <span>X</span>

                            <div class="sizes__field">
                                <label class="sizes__label" for="height">ширина, см</label>
                                <input class="sizes__input" type="text" id="height" placeholder="120">
                            </div>
                        </div>
                    </div>


                    <div class="calculator-item__info">
                        <h3 class="calculator-item__title">Одностворчатое окно KBE </h3>

                        <div class="calculator-item__options">
                            <div class="calculator-item__subtitle">1. Критерий выбора </div>

                            <label class="calculator-item__label" for="item-1">
                                <input type="radio" name="qw1-1" id="item-1" value="пункт выбора 1">
                                <span> пункт выбора 1 </span>
                            </label>

                            <label class="calculator-item__label" for="item-2">
                                <input type="radio" name="qw1-1" id="item-2" value="пункт выбора 2">
                                <span> пункт выбора 2 </span>
                            </label>

                            <label class="calculator-item__label" for="item-3">
                                <input type="radio" name="qw1-1" id="item-3" value="пункт выбора 3">
                                <span> пункт выбора 3 </span>
                            </label>
                        </div>


                        <div class="selects  calculator-item__selects">
                            <div class="calculator-item__subtitle">2. Выберите открывание створки </div>

                            <div class="selects__wrapper">
                                <select name="" id="">
                                    <option value="">Не открывается</option>
                                    <option value="">Открывается</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="calc-form" action="#">
                    <div class="calc-form__field">
                        <div class="calc-form__icon">
                            <img src="assets/img/user.png" alt="">
                        </div>
                        <input class="calc-form__input" type="text" placeholder="Введите номер">
                    </div>

                    <button class="calc-form__btn" type="submit">Рассчитать</button>
                </form>
            </div> <!-- /calculator-item -->


            <div class="calculator-item" id="calc-item_2">
                <div class="calculator-item__inner">
                    <div class="calculator-item__product">
                        <div class="calculator-item__img">
                            <img src="assets/img/calc-item/2.png" alt="">

                            <span class="calculator-item__tag  width">ширина</span>
                            <span class="calculator-item__tag  height">высота</span>
                        </div>

                        <div class="sizes  calculator-item__sizes">
                            <div class="sizes__field">
                                <label class="sizes__label" for="width">ширина, см</label>
                                <input class="sizes__input" type="text" id="width" placeholder="120">
                            </div>

                            <span>X</span>

                            <div class="sizes__field">
                                <label class="sizes__label" for="height">ширина, см</label>
                                <input class="sizes__input" type="text" id="height" placeholder="120">
                            </div>
                        </div>
                    </div>


                    <div class="calculator-item__info">
                        <h3 class="calculator-item__title">Двухстворчатое окно KBE </h3>

                        <div class="calculator-item__options">
                            <div class="calculator-item__subtitle">1. Критерий выбора </div>

                            <label class="calculator-item__label" for="item-1">
                                <input type="radio" name="qw1-1" id="item-1" value="пункт выбора 1">
                                <span> пункт выбора 1 </span>
                            </label>

                            <label class="calculator-item__label" for="item-2">
                                <input type="radio" name="qw1-1" id="item-2" value="пункт выбора 2">
                                <span> пункт выбора 2 </span>
                            </label>

                            <label class="calculator-item__label" for="item-3">
                                <input type="radio" name="qw1-1" id="item-3" value="пункт выбора 3">
                                <span> пункт выбора 3 </span>
                            </label>
                        </div>


                        <div class="selects  calculator-item__selects">
                            <div class="calculator-item__subtitle">2. Выберите открывание створки </div>

                            <div class="selects__wrapper">
                                <select name="" id="">
                                    <option value="">Не открывается</option>
                                    <option value="">Открывается</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="calc-form" action="#">
                    <div class="calc-form__field">
                        <div class="calc-form__icon">
                            <img src="assets/img/user.png" alt="">
                        </div>
                        <input class="calc-form__input" type="text" placeholder="Введите номер">
                    </div>

                    <button class="calc-form__btn" type="submit">Рассчитать</button>
                </form>
            </div> <!-- /calculator-item -->


            <div class="calculator-item" id="calc-item_3">
                <div class="calculator-item__inner">
                    <div class="calculator-item__product">
                        <div class="calculator-item__img">
                            <img src="assets/img/calc-item/3.png" alt="">

                            <span class="calculator-item__tag  width">ширина</span>
                            <span class="calculator-item__tag  height">высота</span>
                        </div>

                        <div class="sizes  calculator-item__sizes">
                            <div class="sizes__field">
                                <label class="sizes__label" for="width">ширина, см</label>
                                <input class="sizes__input" type="text" id="width" placeholder="120">
                            </div>

                            <span>X</span>

                            <div class="sizes__field">
                                <label class="sizes__label" for="height">ширина, см</label>
                                <input class="sizes__input" type="text" id="height" placeholder="120">
                            </div>
                        </div>
                    </div>


                    <div class="calculator-item__info">
                        <h3 class="calculator-item__title">Трехстворчатое окно KBE </h3>

                        <div class="calculator-item__options">
                            <div class="calculator-item__subtitle">1. Критерий выбора </div>

                            <label class="calculator-item__label" for="item-1">
                                <input type="radio" name="qw1-1" id="item-1" value="пункт выбора 1">
                                <span> пункт выбора 1 </span>
                            </label>

                            <label class="calculator-item__label" for="item-2">
                                <input type="radio" name="qw1-1" id="item-2" value="пункт выбора 2">
                                <span> пункт выбора 2 </span>
                            </label>

                            <label class="calculator-item__label" for="item-3">
                                <input type="radio" name="qw1-1" id="item-3" value="пункт выбора 3">
                                <span> пункт выбора 3 </span>
                            </label>
                        </div>


                        <div class="selects  calculator-item__selects">
                            <div class="calculator-item__subtitle">2. Выберите открывание створки </div>

                            <div class="selects__wrapper">
                                <select name="" id="">
                                    <option value="">Не открывается</option>
                                    <option value="">Открывается</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="calc-form" action="#">
                    <div class="calc-form__field">
                        <div class="calc-form__icon">
                            <img src="assets/img/user.png" alt="">
                        </div>
                        <input class="calc-form__input" type="text" placeholder="Введите номер">
                    </div>

                    <button class="calc-form__btn" type="submit">Рассчитать</button>
                </form>
            </div> <!-- /calculator-item -->


            <div class="calculator-item" id="calc-item_4">
                <div class="calculator-item__inner">
                    <div class="calculator-item__product">
                        <div class="calculator-item__img">
                            <img src="assets/img/calc-item/4.png" alt="">

                            <span class="calculator-item__tag  width">ширина</span>
                            <span class="calculator-item__tag  height">высота</span>
                        </div>

                        <div class="sizes  calculator-item__sizes">
                            <div class="sizes__field">
                                <label class="sizes__label" for="width">ширина, см</label>
                                <input class="sizes__input" type="text" id="width" placeholder="120">
                            </div>

                            <span>X</span>

                            <div class="sizes__field">
                                <label class="sizes__label" for="height">ширина, см</label>
                                <input class="sizes__input" type="text" id="height" placeholder="120">
                            </div>
                        </div>
                    </div>


                    <div class="calculator-item__info">
                        <h3 class="calculator-item__title">Балконный блок окно KBE </h3>

                        <div class="calculator-item__options">
                            <div class="calculator-item__subtitle">1. Критерий выбора </div>

                            <label class="calculator-item__label" for="item-1">
                                <input type="radio" name="qw1-1" id="item-1" value="пункт выбора 1">
                                <span> пункт выбора 1 </span>
                            </label>

                            <label class="calculator-item__label" for="item-2">
                                <input type="radio" name="qw1-1" id="item-2" value="пункт выбора 2">
                                <span> пункт выбора 2 </span>
                            </label>

                            <label class="calculator-item__label" for="item-3">
                                <input type="radio" name="qw1-1" id="item-3" value="пункт выбора 3">
                                <span> пункт выбора 3 </span>
                            </label>
                        </div>


                        <div class="selects  calculator-item__selects">
                            <div class="calculator-item__subtitle">2. Выберите открывание створки </div>

                            <div class="selects__wrapper">
                                <select name="" id="">
                                    <option value="">Не открывается</option>
                                    <option value="">Открывается</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="calc-form" action="#">
                    <div class="calc-form__field">
                        <div class="calc-form__icon">
                            <img src="assets/img/user.png" alt="">
                        </div>
                        <input class="calc-form__input" type="text" placeholder="Введите номер">
                    </div>

                    <button class="calc-form__btn" type="submit">Рассчитать</button>
                </form>
            </div> <!-- /calculator-item -->


            <div class="calculator-item" id="calc-item_5">
                <div class="calculator-item__inner">
                    <div class="calculator-item__product">
                        <div class="calculator-item__img">
                            <img src="assets/img/calc-item/5.png" alt="">

                            <span class="calculator-item__tag  width">ширина</span>
                            <span class="calculator-item__tag  height">высота</span>
                        </div>

                        <div class="sizes  calculator-item__sizes">
                            <div class="sizes__field">
                                <label class="sizes__label" for="width">ширина, см</label>
                                <input class="sizes__input" type="text" id="width" placeholder="120">
                            </div>

                            <span>X</span>

                            <div class="sizes__field">
                                <label class="sizes__label" for="height">ширина, см</label>
                                <input class="sizes__input" type="text" id="height" placeholder="120">
                            </div>
                        </div>
                    </div>


                    <div class="calculator-item__info">
                        <h3 class="calculator-item__title">Остекление балкона окно KBE </h3>

                        <div class="calculator-item__options">
                            <div class="calculator-item__subtitle">1. Критерий выбора </div>

                            <label class="calculator-item__label" for="item-1">
                                <input type="radio" name="qw1-1" id="item-1" value="пункт выбора 1">
                                <span> пункт выбора 1 </span>
                            </label>

                            <label class="calculator-item__label" for="item-2">
                                <input type="radio" name="qw1-1" id="item-2" value="пункт выбора 2">
                                <span> пункт выбора 2 </span>
                            </label>

                            <label class="calculator-item__label" for="item-3">
                                <input type="radio" name="qw1-1" id="item-3" value="пункт выбора 3">
                                <span> пункт выбора 3 </span>
                            </label>
                        </div>


                        <div class="selects  calculator-item__selects">
                            <div class="calculator-item__subtitle">2. Выберите открывание створки </div>

                            <div class="selects__wrapper">
                                <select name="" id="">
                                    <option value="">Не открывается</option>
                                    <option value="">Открывается</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="calc-form" action="#">
                    <div class="calc-form__field">
                        <div class="calc-form__icon">
                            <img src="assets/img/user.png" alt="">
                        </div>
                        <input class="calc-form__input" type="text" placeholder="Введите номер">
                    </div>

                    <button class="calc-form__btn" type="submit">Рассчитать</button>
                </form>
            </div> <!-- /calculator-item -->

        </div>
    </div>
</section> <!-- /calculator -->