<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="logo  header__logo" href="#">
                <img class="logo__img" src="assets/img/logo.png" alt="Логотип">
            </a>

            <div class="phone  header__phone">
                <a class="phone__link" href="tel:+74997777777">+7(499) 777-77-77</a>
                <a class="phone__link" href="tel:+74997777777">+7(499) 777-77-77</a>
            </div>
        </div>
    </div>
</header> <!-- /header -->