<section class="offer">
    <div class="container">

        <div class="form  offer__form">
            <h2 class="title  form__title">Форма с кнопкой</h2>

            <form class="form__inner" action="#">
                <p class="form__text"> оставь телефон и получи что-то офигенное </p>

                <input class="form__input" type="tel" placeholder="Введите номер" required>
                <button class="form__btn" type="submit" data-id="id-test">Получить</button>
            </form>
        </div>
    </div>
</section> <!-- /offer -->