.footer {
   padding: 30px 0px;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__contacts {
    text-align: right;

    .footer__phone {
        font-size: 18px;
    }
}

.footer__contacts-email {
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    color: $blue_color;
    text-decoration: underline;    
}

.footer__phone,
.footer__contacts-email {
    transition: opacity .2s linear;

    &:hover {
        opacity: .5;
    }
}