.header {
    background-color: $bg_white;
    padding: 20px 0px;
}

.header__inner {
    display: flex;
    align-items: center;

    @media (max-width: 1220px) {
        justify-content: space-between;
    }
}

.header__logo {
    margin-right: 100px;

    @media (max-width: 1220px) {
        margin-right: 0;
    }

    @media (max-width: 674px) {
        width: 20%;
    }
}

.header__popupBtn {
    margin-right: 50px;

    @media (max-width: 1220px) {
        margin-right: 0;
    }
   
}

.header__time {
    position: relative;
    padding-left: 47px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url(../img/clock.png);
        background-repeat: no-repeat;
    }

    @media (max-width: 674px) {
        display: none;
    }
}

.header__time-text {
    font-size: 14px;
}

.header__time-clock {
    font-size: 18px;
    font-weight: 600;
}

.header__contacts {
    text-align: right;
    margin-left: auto; 
    
    @media (max-width: 1220px) {
        margin-left: 0;
    }

    @media (max-width: 674px) {
        display: none;
    }
}
