<div class="menu">

    <nav class="menu__nav">

        <button class="menu__close" id="searchModal__close" type="button">
            <svg class="searchModal__icon">
                <use xlink:href="#searchModal__icon"></use>
            </svg>
        </button>

        <ul class="menu__list">
            <li class="menu__item">
                <a class="menu__link" href="#">About</a>
            </li>

            <li class="menu__item">
                <a class="menu__link" href="#rooms">Special Offers</a>
            </li>

            <li class="menu__item">
                <a class="menu__link" href="#">News</a>
            </li>

            <li class="menu__item">
                <a class="menu__link" href="#">Contact Us</a>
            </li>
        </ul>
    </nav>
</div> <!-- /menu -->

<div class="js-overlay"></div>