/* --- modification --- */

html, body {
    overflow-x: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    border: 0;
}

ul, li {
    text-decoration: none;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
    text-decoration: none;
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
  } 

  button:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}

.container {
	width: 1600px;
	margin: 0 auto;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #fbfcfc;
    background-image: url(../img/body_bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ----------------- */
/* .....Header..... */

.header {
    background-image: url(../img/header-right_bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-top: 77px;
    padding-bottom: 455px;
}

.top-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 275px;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu__list {
    display: flex;
    list-style: none;
    width: 100%;
}

.header-menu__link {
    font-size: 20px;
    font-weight: 400;
    color: #bab8b8;
    line-height: 14px;
    margin-left: 70px;
    transition: all 0.3s ease-in-out;
}

.header-menu__link:hover {
    color: #3984f3;
    font-weight: 600;
}

.header-menu__btn {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #3984f3;
    line-height: 35px;
    border: 3px solid #3984f3;
    padding: 11px 45px;
    margin-left: 105px;
    width: 100%;
}

.header-menu__btn:hover {
    box-shadow: 0 18px 20px 0 rgba(88, 142, 202, .2);
}

.header__title {
    font-size: 75px;
    font-weight: 800;
    color: #091e40;
    line-height: 80px;
    margin-bottom: 70px;
}

.header__text {
    width: 460px;
    font-size: 22px;
    font-weight: 400;
    color: #81858e;
    line-height: 35px;
    margin-bottom: 100px;
}

.header__btn {
    display: inline-block;
    /* width: 100%; */
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 35px;
    background: #3984f3;
    padding: 20px 45px;
    transition: all 0.3s ease-in-out;
}

.header__btn:hover {
    background: #5dbb9c;
}