/* --- modification --- */

html, body {
    overflow-x: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    border: 0;
}

ul, li {
    text-decoration: none;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
    text-decoration: none;
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
  } 

  button:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}

.container {
	width: 1600px;
	margin: 0 auto;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #fbfcfc;
    
    overflow-y: hidden;
}

/* ----------------- */
/* .....Header..... */

.header {
    background-image: url(../img/header-right_bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-top: 77px;
    padding-bottom: 455px;
}

.top-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 275px;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu__list {
    display: flex;
    list-style: none;
    width: 100%;
}

.header-menu__link {
    font-size: 20px;
    font-weight: 400;
    color: #bab8b8;
    line-height: 14px;
    margin-left: 70px;
    transition: all 0.3s ease-in-out;
}

.header-menu__link:hover {
    color: #3984f3;
    font-weight: 600;
}

.header-menu__btn {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #3984f3;
    line-height: 35px;
    border: 3px solid #3984f3;
    padding: 11px 45px;
    margin-left: 105px;
    width: 100%;
}

.header-menu__btn:hover {
    box-shadow: 0 18px 20px 0 rgba(88, 142, 202, .2);
}

.header__title {
    font-size: 75px;
    font-weight: 800;
    color: #091e40;
    line-height: 80px;
    margin-bottom: 70px;
}

.header__text {
    width: 460px;
    font-size: 22px;
    font-weight: 400;
    color: #81858e;
    line-height: 35px;
    margin-bottom: 100px;
}

.header__btn {
    display: inline-block;
    /* width: 100%; */
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    line-height: 35px;
    background: #3984f3;
    padding: 20px 45px;
    transition: all 0.3s ease-in-out;
}

.header__btn:hover {
    background: #5dbb9c;
}


/* ..... Секция product ......  */
.product {
    margin-bottom: 100px;
    /* padding-right: 160px; */
    /* position: relative; */
}

.product-wrapper {   
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* transform: translateX(-100px); */
}

.product-cards {
    display: flex;
    margin-right: 120px;
    min-width: 1060px;
}

.product-card {
    position: relative;
    /* margin-right: 40px; */
    min-width: 372px;
    height: 500px;    

}

.product-card::after {
    background: transparent;
    background: -moz-linear-gradient(bottom, rgba(48, 68, 74, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-linear-gradient(bottom, rgba(48, 68, 74, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(bottom, rgba(48, 68, 74, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(bottom, rgba(48, 68, 74, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to top, rgba(48, 68, 74, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.product-card_hover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* transform: translateY(-45px); */
    display: none;
}

.product-cards .slick-center {
    transform: translateY(-50px);
    box-shadow: 0px 64px 38px 0px rgba(62, 58, 75, 0.3);
    transition: all 0.6s ease-in-out;
}

.product-cards .slick-track {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 630px;
    /* width: 1050px; */
}

.product-cards .slick-slide {
    max-width: 372px;
    max-height: 500px;
    margin: 0px 20px;
}


/* //// no */

.product-cards .slick-active {
    /* min-width: 372px; */
}

.product-card:last-child {
    margin-right: 0;
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
} 

.product-card__label {
    position: absolute;
    left: 0;
    top: 40px;
    background: #3984f3;
    padding: 5px 30px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 42px;
    z-index: 5;
}

.product-card__city {
    position: absolute;
    bottom: 15px;
    left: 25px;
    font-size: 23px;
    font-weight: 400;
    line-height: 42px;
    color: #fff;
    z-index: 5;
}

.product-card__days {
    font-size: 24px;
    line-height: 42px;
    color: #a0a0a0;

}

.product-content__title {
    position: relative;
    font-size: 50px;
    font-weight: 600;
    color: #091e40;
    line-height: 62px;
    margin-bottom: 90px;
}

.product-content__title::after {
    position: absolute;
    display: block;
    content: '';
    width: 78px;
    height: 6px;
    background: #3984f3;
    margin-top: 40px;
}

.product-content__text {
    font-size: 22px;
    color: #81858e;
    line-height: 42px;
    width: 640px;
    margin-bottom: 80px;
}

.product-content__btn {
    font-size: 23px;
    line-height: 42px;
    color: #fff;
    background: #3984f3;
    padding: 20px 66px;
    transition: all 0.3s ease-in-out;
}

.product-content__btn:hover {
    background: #5dbb9c;
}

.product__slider-btn_prev {
    position: absolute;
    z-index: 6;
    left: 320px;
    bottom: -60px;
    border: none;
    background: none;
    cursor: pointer;
}

.product__slider-btn_next {
    position: absolute;
    right: 685px;
    bottom: -60px;
    border: none;
    background: none;
    cursor: pointer;
}


/* ............. Секция videos ........ */

.videos {
    padding-top: 220px;
    padding-bottom: 128px;
}

.videos__title {
    text-align: center;
    font-size: 50px;
    line-height: 61px;
    font-weight: 600;
    margin-bottom: 90px;
}

.videos__title::after {
    position: absolute;
    display: block;
    content: '';
    right: 50%;
    margin-right: -39px;
    width: 78px;
    height: 6px;
    background: #3984f3;
    margin-top: 35px;
}

.videos__text {
    font-size: 22px;
    line-height: 41px;
    color: #81858e;
    text-align: center;
    width: 85%;
    margin: 0 auto;   
    margin-bottom: 110px;
}

.videos-wrapper {
    display: flex;
    justify-content: space-around;
}

.videos-slider {
    /* display: flex; */
    width: 1032px;
    height: 613px;
}

.videos-slide__video {
    overflow: hidden;
}

.videos__dots-slide {
    display: flex;
    align-items: center;
    width: auto;
    margin-bottom: 20px;
}

.videos-dots {
    overflow-y: auto;
    max-height: 612px;
    width: 540px;
    /* margin-left: 20px; */
}

.dots-info__title {
    font-size: 26px;
    font-weight: 600;
    line-height: 34px;
    color: #091e40;
    margin-bottom: 1px;
}

.dots-info__time {
    font-size: 20px;
    font-weight: 600;
    line-height: 34px;
    color: #091e40;
    opacity: .7;
}

.videos__dots-slide img {
    margin-right: 20px;
}


/* ...... Секция categories ..... */
.categories {
    padding-top: 128px;
    padding-bottom: 150px;
}

.categories__title {
    text-align: center;
    font-size: 50px;
    line-height: 61px;
    font-weight: 600;
    margin-bottom: 90px;
}

.categories__title::after {
    position: absolute;
    display: block;
    content: '';
    right: 50%;
    margin-right: -39px;
    width: 78px;
    height: 6px;
    background: #3984f3;
    margin-top: 35px;
}

.categories__text {
    font-size: 22px;
    line-height: 41px;
    color: #81858e;
    text-align: center;
    width: 70%;
    margin: 0 auto;   
    margin-bottom: 170px;
}
.categories-slider__item {
    position: relative;
    /* width: 472px; */
    height: 500px;
}

.categories-slider {
    /*min-height: 570px;*/
    padding-top: 70px;    
}

.categories-slider .slick-center {
    transform: translateY(-50px);
    box-shadow: 0px 64px 38px 0px rgba(62, 58, 75, 0.3);
    transition: all 0.6s ease-in-out;
}

.categories-slider .slick-track {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 570px;
}

.categories-slider .slick-slide {
    max-width: 472px;
    margin: 0px 20px;
}

.categories-slider {
    position: relative;
}

.categories-slider__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categories-slider__item::after {
    background: transparent;
    background: -moz-linear-gradient(bottom, rgba(48, 68, 74, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-linear-gradient(bottom, rgba(48, 68, 74, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(bottom, rgba(48, 68, 74, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(bottom, rgba(48, 68, 74, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to top, rgba(48, 68, 74, 0.8) 0%, rgba(0, 0, 0, 0.1) 55%);
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
}

.categories-slider__signature {
    position: absolute;
    bottom: 25px;
    left: 25px;
    font-size: 28px;
    line-height: 45px;
    color: #fff;
    z-index: 5;
}

.categories-slider .slick-track {
    height: 500px;
    overflow: hidden;
}

.categories__slider-btn_prev {
    position: absolute;
    z-index: 6;
    right: 51%;
    bottom: -120px;
    border: none;
    background: none;
    cursor: pointer;
}

.categories__slider-btn_next {
    position: absolute;
    left: 51%;
    bottom: -120px;
    border: none;
    background: none;
    cursor: pointer;
}


/* ..... Секция experiences .... */

.experiences {
    padding-top: 180px;
    padding-bottom: 220px;
}

.experiences__title {
    text-align: center;
    font-size: 50px;
    line-height: 61px;
    font-weight: 600;
    margin-bottom: 90px;
}

.experiences__title::after {
    position: absolute;
    display: block;
    content: '';
    right: 50%;
    margin-right: -39px;
    width: 78px;
    height: 6px;
    background: #3984f3;
    margin-top: 35px;
}

.experiences-item__text {
    font-size: 26px;
    line-height: 50px;
    color: #091e40;
    width: 1080px;
    margin: 0 auto;
    margin-bottom: 80px;
    text-align: center;
}

.experiences-slider {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.experiences-slider__user-circle {
    width: 104px;
    height: 104px;
    border-radius: 100px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 30px;
}

.experiences-slider__user-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.experiences-slider__user-title {
    font-size: 24px;
    line-height: 45px;
    font-weight: 800;
    color: #2b323a;
}

.experiences-slider__user-subtitle {
    display: block;
    font-size: 20px;
    line-height: 45px;
    color: #2b323a;
    margin-bottom: 40px;
}

.experiences-dots {
    display: flex;
    justify-content: center;
}

.experiences-dots__line {
    display: block;
    width: 40px;
    height: 5px;
    background: #3984f3;
    margin-right: 8px;
    margin-left: 8px;
}

.experiences__slider-btn_next {
    position: absolute;
    right: 375px;
    bottom: 26%;
    border: none;
    background: none;
    cursor: pointer;
}

.experiences__slider-btn_prev {
    position: absolute;
    left: 375px;
    bottom: 26%;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 10;
}


/* .... Секция booking .... */
.booking {
    position: relative;
    color: #fff;
    padding-top: 311px;
    padding-bottom: 311px;
    background-image: url(../img/form_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.booking::after {
    background: transparent;
    background: -moz-linear-gradient(bottom, rgba(30, 61, 86, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-linear-gradient(bottom, rgba(30, 61, 86, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(bottom, rgba(30, 61, 86, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(bottom, rgba(30, 61, 86, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to top, rgba(30, 61, 86, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
}    

.booking__suptitle {
    font-size: 38px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 28px;
    position: relative;
    z-index: 5;
}

.booking__title {
    font-size: 60px;
    line-height: 75px;
    font-weight: 800;
    margin-bottom: 100px;
    position: relative;
    z-index: 5;
}

.booking-form {
    position: relative;
    z-index: 5;
}

.booking-form__input {
    position: relative;
    font-size: 24px;
    line-height: 45px;
    font-weight: 600;
    padding: 25px 0;
    padding-left: 40px;
    padding-right: 20px;
    border: none;
    background: none;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    margin-left: 30px;
    margin-right: 30px;
    width: 328px;    
}

.datepicker-here {
    /* position: relative; */
    background: url(../img/dates.svg);
    background-repeat: no-repeat;
    background-position: 320px 33px;
    background-color: rgba(255, 255, 255, .2);
}

.booking-form__input::placeholder {
    color: #fff;
    font-size: 24px;
    line-height: 45px;
    font-weight: 600;
}

.booking-form__btn {    
    font-size: 23px;
    line-height: 45px;
    color: #fff;
    background: #3984f3;
    border: none;
    padding: 25px 0;
    width: 348px;
    margin-left: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.booking-form__btn:hover {
    background: #5dbb9c;
}


/* .... Секция footer .... */
.footer {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.footer-menu__list {
    display: flex;
    list-style: none;
}

.footer-menu {
    text-align: center;
    display: inline-block;
}

.footer-menu__link {
    font-size: 18px;
    line-height: 50px;
    color: #2b323a;
    margin: 0 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.footer-menu__link:hover {
    color: #3984f3;
}

.footer-copyright__year {
    font-size: 15px;
    font-weight: 600;
    line-height: 59px;
    color: #2b323a;
    margin-right: 7px;
}

.footer-copyright__company {
    font-size: 15px;
    font-weight: 600;
    line-height: 59px;
    color: #c6c6c6;
}

.footer-social a {
    display: inline-block;
    background: #3984f3;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    margin-left: 7px;
    transition: all 0.3s ease-in-out;
}

.footer-social a:hover {
    background: #0144aa;
}
