.btn {
    position: relative;  
    z-index: 6;
    display: inline-block;    
    text-align: center;
    color: #ffffff; 
    border-radius: 7px;  
    cursor: pointer;
    border: none;
    box-shadow: -4px 6px 35px #b02021, inset 0 -4px 1px #b02021;
    background-image: linear-gradient(to top, #d5132a 0%, #e9601c 100%), linear-gradient(to top, #ee858c 0%, #fabcbc 98%, #fabcbc 100%);
    transition: all 0.3s;
    padding: 1.3vw 6vw;

    &:hover {
        box-shadow: 0px 0px 25px #b02021, inset 0 0px 0px #b02021;
    }

    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        max-width: 22rem;  
        margin: 0 auto; 
        padding: 1.2rem;
    }
}

.btn__img {
    position: absolute;

    &:nth-child(1) {
        left: -1vw;
        top: -2vw;
        width: 7.5vw;

        @media (max-width: 768px) {
            width: 4.5rem;
        }        
    }

    &:nth-child(2) {
        right: -4.5vw;
        top: -1vw;
        width: 9vw;

        @media (max-width: 768px) {
            width: 4rem;
        }
    }
}

.btn__title {
    display: block;
    font-family: $font_GothamPro;
    font-weight: 500;
    font-size: 1.28vw;
    text-transform: uppercase;
    margin-bottom: 0.4vw;

    @media (max-width: 768px) {
        font-size: 1.1rem;   
    }
}

.btn__subtitle {
    position: relative;
    display: inline-block;
    color: #d5132a;
    letter-spacing: 0.03vw;
    background: url('../img/intro/bg-gift.png') no-repeat center;
    background-size: 100% 100%;
    padding: 0.3vw 0.6vw;

    @media (max-width: 768px) {
        font-size: 0.9rem;  
        padding: .3vw 1.6vw; 
    }
}