<section class="about">
    <div class="container">
        <h2 class="about__title">Почему
            <span>СТОМАТОЛОГИ ВЫБИРАЮТ OHI-S</span>
        </h2>

        <div class="about__inner">
            <div class="about__content">
                <p class="about__text">OHI-S - это международная образовательная компания для стоматологов. С 2018 года
                    мы провели и
                    анонсировали более 30 конгрессов в красивейших городах мира (Канны, Монако, Рим, Амстердам, Милан,
                    Париж, Токио и другие). Мы объединяем все виды обучения, привлекаем лучших лекторов и предлагаем
                    мировому сообществу стоматологов обучение, независимое от производителей.
                </p>
                <p class="about__text">OHI-S - это образование без языковых барьеров, живое общение с лекторами и
                    организация, которая неизменно получает высший балл от участников мероприятий.
                </p>
            </div>

            <div class="about__video">
                <div class="about__video-wrap">
                    <iframe src="https://www.youtube.com/embed/bpVUanZBBWE" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen="">
                    </iframe>
                </div>
            </div>

        </div> <!-- /about__inner -->
    </div> <!-- /container -->
</section> <!-- /about -->