<section class="discounts">
    <div class="container">

        <div class="discounts__inner">
            <h2 class="discounts__title">Цикл вебинаров
                <span>эстетическая стоматология</span>
            </h2>

            <div class="discounts__content">
                <p class="discounts__subtitle">На все онлайн-курсы компании OHI-S действуют следующие скидки:</p>

                <ul class="discounts__list">
                    <li class="discounts__item">- для ранней оплаты</li>
                    <li class="discounts__item">- для участия в полном курсе</li>
                    <li class="discounts__item">- для участников вебинара компании OHI-S</li>
                    <li class="discounts__item">
                        <strong>25%</strong>
                        <span>для студентов и интернов</span>
                    </li>
                    <li class="discounts__item">
                        <strong>25%</strong>
                        <span> для ординаторов</span>
                    </li>
                </ul>
            </div>
        </div> <!-- /discounts__inner -->

    </div> <!-- /container -->
</section> <!-- /discounts -->