<section class="questions">
    <div class="container">

        <h2 class="questions__title">Часто задаваемые
            <span>вопросы:</span>
        </h2>

        <div class="questions__inner">
            <ul class="questions__list">
                <li class="questions__item">
                    <div class="questions__subtitle">КТО ВЫ И ПОЧЕМУ Я ДОЛЖЕН ВАМ ДОВЕРЯТЬ?</div>

                    <div class="questions__text-wrap">
                        <p class="questions__text">Мы работаем 2,5 года, за это время нашими клиентами стали более 9000
                            стоматологов, и 45% из
                            них вернулись к нам за новыми знаниями. Если цифрами вас не убедить - посмотрите
                            <a href="https://web.facebook.com/ohisstom/videos/2414684821908125/"
                                target="_blank">короткое
                                видео</a>
                            о том, как проходят наши мероприятия и что говорят о нас сами лекторы и стоматологи. А еще
                            заходите на страницу
                            <a href="https://ohi-s.com/about/" target="_blank">О нас</a>
                            и познакомьтесь поближе с нашей историей и командой.
                        </p>
                    </div>
                </li>

                <li class="questions__item">
                    <div class="questions__subtitle">У МЕНЯ ЕСТЬ ОПЫТ ОБУЧЕНИЯ ОНЛАЙН, И МНЕ НЕ ПОНРАВИЛОСЬ. КАК Я МОГУ
                        БЫТЬ УВЕРЕН, ЧТО НА ЭТОТ РАЗ КАЧЕСТВО НЕ ПОДВЕДЕТ?</div>

                    <div class="questions__text-wrap">
                        <p class="questions__text">
                            Очень жаль, что онлайн-обучение оставило у вас не самые лучшие впечатления. Мы постараемся
                            исправить эту ситуацию, ведь формат вебинаров выбирают многие наши клиенты и они всегда
                            довольны
                            качеством звука и изображения. Если сомневаетесь, запросите у вашего менеджера пример
                            онлайн-трансляции, и убедитесь сами.
                        </p>
                    </div>
                </li>

                <li class="questions__item">
                    <div class="questions__subtitle">
                        КАК МНЕ ПОДКЛЮЧИТЬСЯ К ВЕБИНАРУ? ЧТО ДЕЛАТЬ, ЕСЛИ ВОЗНИКНУТ КАКИЕ-ЛИБО ТЕХНИЧЕСКИЕ ТРУДНОСТИ?
                    </div>

                    <div class="questions__text-wrap">
                        <p class="questions__text">
                            Вебинары транслируются на нашем сайте. После оплаты доступ к вебинару появится у вас во
                            вкладке
                            “Мои вебинары”. Для того, чтобы подключиться к трансляции, вам нужно будет просто зайти в
                            личный
                            кабинет. Заблаговременно убедитесь, что качество работы динамиков/наушников и скорость
                            интернета
                            достаточны для просмотра видео в онлайн-режиме. Рекомендуем вам подключаться к вебинару за
                            несколько минут до начала. Если возникнут какие-либо вопросы, вы всегда можете обратиться к
                            вашему менеджеру.
                        </p>
                    </div>
                </li>

                <li class="questions__item">
                    <div class="questions__subtitle">
                        БУДЕТ ЛИ ДОСТУПНА ЗАПИСЬ ВЕБИНАРА, ЕСЛИ Я НЕ УСПЕЮ?
                    </div>

                    <div class="questions__text-wrap">
                        <p class="questions__text">
                            Конечно! Запись оплаченного вебинара будет доступна в вашем личном кабинете, и вы в любое
                            удобное вам время сможете ее пересмотреть.
                        </p>
                    </div>
                </li>

                <li class="questions__item">
                    <div class="questions__subtitle">
                        Я ГОТОВ. КАК ЗАПИСАТЬСЯ?
                    </div>

                    <div class="questions__text-wrap">
                        <p class="questions__text">
                            Чтобы зарегистрироваться на мероприятие, вы можете заполнить любую форму на этой странице.
                        </p>
                    </div>
                </li>

                <li class="questions__item">
                    <div class="questions__subtitle">
                        У МЕНЯ ЕСТЬ ВОПРОС, ОТВЕТА НА КОТОРЫЙ Я ЗДЕСЬ НЕ НАШЕЛ
                    </div>

                    <div class="questions__text-wrap">
                        <p class="questions__text">
                            Свяжитесь с нами любым удобным способом (контакты ниже) или непосредственно с вашим
                            менеджером -
                            мы готовы ответить на все вопросы.
                        </p>
                    </div>
                </li>
            </ul>
        </div>

    </div> <!-- /container -->
</section> <!-- /questions -->