.label {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1.2px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    background-image: linear-gradient(-90deg,#0187c1 0,#3ac0ef 100%);
    padding: 12px 15px;

    &--discount {
        background-image: none;
        background-color: $color_green;
    }    
}