.title {   
    font-family: 'Magnolia-Script';
    font-weight: normal;
    font-size: 90px;      
    transform: rotate(-14.32deg);
    color: rgba(204, 170, 216, 0.4);  
    background: url(../img/advantages/bg-title.png);
    -webkit-background-clip: text;  
    
    span {
        display: block;
        font-size: 60px;
        background: rgb(246,246,246);
        background: linear-gradient(45deg, rgba(246,246,246,1) 0%, rgba(215,215,215,1) 100%);
        -webkit-background-clip: text;  
        -webkit-text-fill-color: transparent; 
        padding-bottom: 20px;
        margin-left: 390px;
    }
}