.advantages {
    padding: 125px 0px;
    position: relative; 
    z-index: 20;  

    box-shadow: 0px 1px 54px 0px rgba(0, 0, 0, 0.13);    

    &::before {
        content: url(../img/adv-bg-left.png);
        left: 0;
        top: 0;
        position: absolute;
        z-index: 0;

        opacity: .2;
    }

    &::after {
        content: url(../img/adv-right-box.png);
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;       
    }

    @media (max-width: 1600px) {

        &::after {
            display: none;
        }

        &::before {
            display: none;
        }
    }

    @media (max-width: 768px) {
        padding-top: 80px;
        padding-bottom: 60px;
    }

}

.advantages__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.advantages__left-box {
    flex-basis: 45%;

    position: relative;
    z-index: 1;  
    
    img {
        width: 100%;
        height: auto;
    }

    @media (max-width: 768px) {
        flex-basis: 75%;
        margin-bottom: 50px;
    }
}

.advantages__right-box {
    flex-basis: 45%;

    @media (max-width: 768px) {
        flex-basis: 100%;
    }
}

.advantages__arrow-btn--top {
    position: absolute;
    top: -32px;
    right: 50%;
    transform: translateX(50%);
    z-index: 5;
}

.advantages__arrow-btn--bottom {
    position: absolute;
    bottom: -32px;
    right: 50%;
    transform: translateX(50%);
    z-index: 5;
}

.advantages__title {

    @media (max-width: 1080px) {
        font-size: 36px;
        line-height: 45px;
    }

    @media (max-width: 474px) {
        font-size: 31px;
        line-height: 38px;
    }
}
