.arrow-btn {
    width: 64px;
    height: 64px;

    border: none;
    background: none;

    border-radius: 100%;
    background-image: $gradient;
    box-shadow: $shadow_circle; 
    cursor: pointer;   
    transition: all .5s linear;

    &:focus {
        outline: 0;
    }
    
    &:hover {
        background-image: $gradient_new;
    }

    @media (max-width: 992px) {
        display: none;
    }
}