.community--transform {
    transform: translateX(90px);

    @media (max-width: 992px) {
        transform: translateX(0);        
    }
}

.community__title {
    margin-bottom: 40px;

    font-size: 18px;
    color: $white;
    font-weight: 700;
}

.community-social {
    margin-bottom: 38px;
}