.community--transform {
    transform: translateX(90px);
}

.community__title {
    margin-bottom: 40px;

    font-size: 18px;
    color: $white;
    font-weight: 700;
}

.community-social {
    margin-bottom: 38px;
}