.header {
    padding: 15px 0;    
    background-color: $white;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.38); 
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}  

.header__logo img {
    // width: 60%;
    width: 48px;
    height: auto;
}

.header__menu {

    @media (max-width: 768px) {

        order: 1;

    }
}