.intro {  
    padding-top: 220px;  
    padding-bottom: 120px;

    position: relative;
    z-index: 1;    

    background-image: url(../img/intro-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  

    .intro__title {
        line-height: 1px;
    }

    @media (max-width: 768px) {
        padding-top: 190px;
        padding-bottom: 80px;
    }

    @media (max-width: 478px) {
        padding-top: 160px;
    }
}

.intro__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    // @media (max-width: 768px) {
    //     flex-wrap: wrap;
    //  }
}

.intro__left-box {
    position: relative;
    // flex-basis: 0;
    flex-grow: 1;
    max-width: 570px;

    img {
        max-width: 100%;
        height: auto;       
    }
    
    @media (max-width: 1080px) {
        // padding-right: 50px;
        flex-grow: 0;

    }

    @media (max-width: 768px) {
        flex-grow: 0;
        // flex-basis: 100%;
        text-align: center;
        margin-bottom: 50px;
     }

    
}

.intro__right-box {
    flex-basis: 0;
    flex-grow: 1;

    @media (max-width: 1080px) {
        // padding-left: 50px;

        // flex-grow: 2;
        flex-basis: 100%;

        // width: 100%;
    }

    @media (max-width: 768px) {
       flex-basis: 100%;
       padding-left: 0;
       padding-right: 0;
    }
}

.intro__subtitle {
    font-size: 24px;
    color: $black_light;
    font-weight: 500;
    line-height: 35px;
}

.intro__download {
    margin-top: 50px;
}     