.lang {
    padding: 13px 58px 13px 28px;

    appearance: none;
    border: none;

    border-radius: 24px;
    background-color: $black_light;
    text-transform: uppercase;
    color: #fefeff;
    font-weight: 700;
    cursor: pointer;    

    &:focus {
        outline: 0;
    }

    @media (max-width: 768px) { 
        
        font-size: 13px;
        font-weight: 500;
        padding: 12px 30px 12px 12px;
    }
}

.lang__wrapper {

    position: relative;

    &::after {
        content: url(../img/arrow-down.png);
        position: absolute;
        display: block;       
        top: 10px;
        right: 27px;
        z-index: 20;
    }

    @media (max-width: 768px) {      

        // display: none;

        &::after {
            right: 10px;
        }
    }
}

   
      

    

   


