.phone-box {
    width: 100%;
    display: flex;
    justify-content: center;

    position: relative;
    z-index: 10;
}

.phone-box__main-icon {
    position: relative;
    z-index: 10; 
    // display: block;
    max-width: 100%;
    height: auto;
}

.phone-box__item {
    position: absolute;
    display: block;
    // width: auto;
    left: 50%;
    top: 32%;
    transform: translateX(-50%);
    z-index: 20;

    &:nth-child(2) {
        top: 17%;
        left: 23%;
        z-index: -1;

        @media (max-width: 992px) {
            display: none;
        }

        @media (max-width: 768px) {
            display: block;
            left: 19%;
        }

        @media (max-width: 578px) {
            left: 12%;
            top: 25%;
            max-width: 70%;
        }
    }

    &:nth-child(3) {
        top: 74%;
        left: -3%;
        z-index: -1;

        @media (max-width: 992px) {
            display: none;
        }

        @media (max-width: 768px) {
            display: block;
            left: -12%;
        }

        @media (max-width: 578px) {
            left: -12%;
            top: 80%;
            max-width: 50%;
        }
    }    

    &:nth-child(4) {
        left: 103%;
        top: 72%;
        z-index: 1;
        position: absolute;

        @media (max-width: 1200px) {
            display: none;
        }

        @media (max-width: 768px) {
            display: block;
            left: 113%;
        }

        @media (max-width: 578px) {
            left: 117%;
            top: 80%;
        }
    }
}


