.phone-box {
    width: 100%;
    display: flex;
    justify-content: center;

    position: relative;
    z-index: 10;
}

.phone-box__main-img {
    position: relative;
    z-index: 10; 
    display: block;
    height: auto;
}

.phone-box__item {
    position: absolute;
    display: block;
    width: auto;
    left: 50%;
    top: 32%;
    transform: translateX(-50%);
    z-index: 20;

    &:nth-child(3) {
        top: 56%;
        z-index: 20;
    }

    &:nth-child(4) {
        top: 20%;
        z-index: 20;

        @media (max-width: 587px) {
            width: 64%;
        }       
    }

    &:nth-child(5) {
        top: 12%;
        left: 27%;
        z-index: 1;

        @media (max-width: 474px) {
            display: none;
        }
    }

    &:nth-child(6) {
        top: 74%;
        left: 4%;
        z-index: 1;

        @media (max-width: 587px) {
            display: none;
        }
    }

    &:nth-child(7) {
        left: 95%;
        top: 72%;
        z-index: 1;
        position: absolute;

        @media (max-width: 474px) {
            display: none;
        }
    }
}

.phone-box__logo {
    display: block;
    position: absolute;
    z-index: 20;
    bottom: 19%;

    @media (max-width: 587px) {
        width: 17%;
    }    
}
