.screenshots {
    position: relative;
    
    padding-top: 180px;
    padding-bottom: 125px;

    background-image: url(../../../assets/img/screenshot-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   
}

.screenshots__text {
    margin-bottom: 120px;
}  

.screenshots__arrow-btn {
    position: absolute;
    bottom: -32px;
    right: 50%;
    transform: translateX(50%);
    z-index: 5;
}