.screenshots {
    position: relative;
    
    padding-top: 180px;
    padding-bottom: 125px;

    background-image: url(../img/screenshot-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   

    @media (max-width: 992px) {
        padding-bottom: 90px;
        padding-top: 90px;
    }
}

.screenshots__text {
    margin-bottom: 120px;

    @media (max-width: 768px) {
        margin-bottom: 60px;
    }
}  

.screenshots__arrow-btn {
    position: absolute;
    bottom: -32px;
    right: 50%;
    transform: translateX(50%);
    z-index: 5;
}

.screenshots__title {    

    @media (max-width: 768px) {

        font-size: 36px;
        line-height: 45px;
    }

    @media (max-width: 474px) {

        font-size: 31px;
        line-height: 38px;
    }    
}