<section class="advantages">
    <h3 class="title-left"> преимущества</h3>

    <div class="container">

        <div class="title  advantages__title">
            <h2 class="title__text">ПОЧЕМУ ВАМ ПОНРАВИТСЯ В НАШЕЙ СТУДИИ PARADIZ
        </div>


        <div class="advantages__inner">
            <div class="advantages__items">

                <div class="advantages__item">
                    <div class="advantages__item-header">
                        <div class="advantages__item-img">
                            <img src="assets/img/advantages/item-1.svg" alt="">
                        </div>
                        <span class="advantages__item-title">Только профессиональные материалы</span>
                    </div>

                    <div class="advantages__item-text"> Мы работаем на проверенных, натуральных и
                        гипоаллергенных материалах, которые реально справляются со своими функциями и работают на
                        результат</div>
                </div>

                <div class="advantages__item">
                    <div class="advantages__item-header">
                        <div class="advantages__item-img">
                            <img src="assets/img/advantages/item-2.svg" alt="">
                        </div>
                        <span class="advantages__item-title"> Доступная цена</span>
                    </div>
                    <div class="advantages__item-text"> Мы очень хотим, чтобы Вы к нам возвращались, поэтому
                        тщательно следим за себестоимостью всех процедур и не завышаем цену</div>
                </div>

                <div class="advantages__item">
                    <div class="advantages__item-header">
                        <div class="advantages__item-img">
                            <img src="assets/img/advantages/item-3.svg" alt="">
                        </div>
                        <span class="advantages__item-title">Мастера с опытом от 2-х лет</span>
                    </div>
                    <div class="advantages__item-text"> Мы молодая команда, впитываем все новинки очень
                        быстро, стараемся быть в тренде последних новшеств в индустрии красоты</div>
                </div>

                <div class="advantages__item">
                    <div class="advantages__item-header">
                        <div class="advantages__item-img">
                            <img src="assets/img/advantages/item-4.svg" alt="">
                        </div>
                        <span class="advantages__item-title">Гладкость до 4-х недель</span>
                    </div>
                    <div class="advantages__item-text"> Если вы все еще используете бритву, выкиньте ее, ведь
                        с депиляцией можно добиться гладкости до 4-ех недель</div>
                </div>

                <div class="advantages__item">
                    <div class="advantages__item-header">
                        <div class="advantages__item-img">
                            <img src="assets/img/advantages/item-5.svg" alt="">
                        </div>
                        <span class="advantages__item-title">Стерильные инструменты </span>
                    </div>
                    <div class="advantages__item-text"> В работе используем практически все одноразовые
                        расходные материалы, которые после каждого применения, выбрасываются</div>
                </div>

                <div class="advantages__item">
                    <div class="advantages__item-header">
                        <div class="advantages__item-img">
                            <img src="assets/img/advantages/item-6.svg" alt="">
                        </div>
                        <span class="advantages__item-title">Удобное месторасположение</span>
                    </div>
                    <div class="advantages__item-text"> У нас отдельный вход, мы находимся на 1-ом этаже
                        жилого дома, всегда есть места для парковки, ходит много общественного транспорта</div>
                </div>

                <div class="advantages__btn-wrap">
                    <a class="btn advantages__btn" href="#">ПЕРЕЗВОНИТЕ МНЕ</a>
                </div>
            </div> <!-- /advantages__items -->



            <div class="advantages__video">
                <div class="advantages__video-title"> Видеоприглашение</div>
                <div class="advantages__video-subtitle"> Основателя студии <br> Екатерины Дейнека
                </div>
                <div class="play advantages__play" id="QHOcx47X7rY3"></div>
            </div>

        </div> <!-- /advantages__inner -->
    </div> <!-- /container -->
</section> <!-- /advantages -->