<section class="masters">
    <div class="title-left"> наши мастера</div>
    <div class="container">

        <div class="title  masters__title">
            <h2 class="title__text"> С Вами работают самые лучшие и опытные мастера</h2>
        </div>

        <div class="masters__inner">
            <div class="masters__photo">
                <img src="assets/img/masters/img-1.png" alt="">
                <img src="assets/img/masters/img-2.png" alt="">
                <img src="assets/img/masters/img-3.png" alt="">
            </div>

            <div class="masters__content">
                <div class="masters__slider">

                    <div class="masters__slide  active">
                        <div class="masters__slide-name">Ирина</div>
                        <div class="masters__slide-info">
                            <div class="masters__slide-education">
                                Мед. образование, мастер-универсал, обучение шугарингу
                            </div>
                        </div>

                        <div class="social  masters__slide-social">
                            <a class="social__item" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href="#svg-inst"></use>
                                </svg>
                            </a>

                            <a class="social__item" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href="#svg-vk"></use>
                                </svg>
                            </a>
                        </div>

                        <p class="masters__slide-text"> Если хотите легко, с комфортом и отдыхом провести
                            время, да и еще совместить приятное с полезным, тогда добро пожаловать ко мне на
                            процедуры! Время пролетает незаметно)
                        </p>

                        <ul class="intro__list  masters__slide-list">
                            <li>Регулярно хожу в спортзал</li>
                            <li>Вкусно покушать - это про меня</li>
                            <li>Могу делать депиляцию с закрытыми глазами</li>
                        </ul>
                    </div> <!-- /masters__slide -->


                    <div class="masters__slide">
                        <div class="masters__slide-name">Кристина</div>
                        <div class="masters__slide-info">
                            <div class="masters__slide-education">
                                Косметик 4-ого разряда, мастер-универсал, бровист
                            </div>
                        </div>

                        <div class="social  masters__slide-social">
                            <a class="social__item" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href="#svg-inst"></use>
                                </svg>
                            </a>

                            <a class="social__item" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href="#svg-vk"></use>
                                </svg>
                            </a>
                        </div>

                        <p class="masters__slide-text">
                            У меня стакан всегда на половину полон, поэтому каждому
                            гостю со мной легко и непринужденно. Я не лезу в душу и всегда поддержу, а так же
                            профессионально выполню свою работу. Буду рада Вам)
                        </p>

                        <ul class="intro__list  masters__slide-list">
                            <li>Люблю животных, особенно лошадей</li>
                            <li>Постоянно развиваюсь в сфере косметологии, слежу за трендами</li>
                            <li>Раньше я работала учителем в школе, но в корне изменила свою жизнь</li>
                        </ul>
                    </div> <!-- /masters__slide -->


                    <div class="masters__slide">
                        <div class="masters__slide-name">Екатерина Дейнека</div>
                        <div class="masters__slide-info">
                            <div class="masters__slide-education">
                                Мастер-универсал. Основатель студии Paradiz.by
                            </div>
                        </div>

                        <div class="social  masters__slide-social">
                            <a class="social__item" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href="#svg-inst"></use>
                                </svg>
                            </a>

                            <a class="social__item" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href="#svg-vk"></use>
                                </svg>
                            </a>
                        </div>

                        <p class="masters__slide-text">
                            10 из 10 клиентов возвращаются ко мне, я нахожу ключик
                            к каждому сердцу. Хочу, чтобы наша студия стала Топовой студией в своей нише! Рада
                            каждому новому гостю, приходите)
                        </p>

                        <ul class="intro__list  masters__slide-list">
                            <li>Люблю юмор и spa</li>
                            <li>Занимаюсь психологией и саморазвитием</li>
                            <li>Новые страны - моя отдушина</li>
                        </ul>
                    </div> <!-- /masters__slide -->
                </div> <!-- /masters__slider -->


                <div class="masters__dots">
                    <div class="masters__dots-inner">
                        <div class="masters__dots-items">
                            <div class="masters__dots-item">
                                <div class="masters__dots-circle"
                                    style="background: url('assets/img/masters/img-1.png') no-repeat top center; background-size: cover;">
                                </div>
                            </div>

                            <div class="masters__dots-item">
                                <div class="masters__dots-circle"
                                    style="background: url('assets/img/masters/img-2.png') no-repeat top center; background-size: cover;">
                                </div>
                            </div>

                            <div class="masters__dots-item">
                                <div class="masters__dots-circle"
                                    style="background: url('assets/img/masters/img-3.png') no-repeat top center; background-size: cover;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="masters__slide-numbers">
                        <div class="masters__slide-null">
                            <span>0</span>
                        </div>
                        <div class="masters__slide-current">1</div>
                    </div>
                </div> <!-- /masters__dots -->

            </div> <!-- /masters__content -->
        </div> <!-- /masters__inner -->
    </div> <!-- /container -->
</section> <!-- /masters -->