<section class="method">

    <h4 class="title-left"> наш подход</h4>
    <div class="container">

        <div class="method__inner">
            <div class="method__img hide-mobile">
                <img src="assets/img/method/img-1.jpg" alt="">
            </div>

            <div class="method__content">
                <div class="method__content-header">
                    <div class="method__title"> Более >1000 БИКИНИ без боли и страданий</div>

                    <div class="method__subtitle">
                        <img src="assets/img/logo-bg.png" alt="">

                        <h2 class="method__subtitle-text"> Студия Paradiz.by - это профессиональная студия
                            шугаринга, депиляции воском, коррекции бровей, антицеллюлитного массажа и пилинга для
                            лица.
                        </h2>
                    </div>
                </div>

                <!-- <div class="method__img hide-desc">
                    <img src="" alt="">
                </div> -->

                <div class="method__content-body">
                    <div class="method__advantages">
                        <ul class="method__advantages-list">
                            <li class="method__advantages-item">профессиональные и адекватные мастера</li>
                            <li class="method__advantages-item">постоянно повышаем свою квалификацию</li>
                            <li class="method__advantages-item">98% довольных клиентов</li>
                            <li class="method__advantages-item">работаем очень качественно на лучших материалах</li>
                            <li class="method__advantages-item">нам всегда можно открыто задавать любые вопросы</li>
                            <li class="method__advantages-item">индивидуальный подход к каждому гостю студии</li>
                        </ul>
                        <a href="#" class="btn method__advantages-btn"> ПОДРОБНЕЕ О СТУДИИ </a>
                    </div>

                    <ul class="method__stat">
                        <li class="method__stat-item">
                            <div class="method__stat-title">
                                <span class="method__stat-value">50</span>
                                <span class="method__stat-subtitle">+</span>
                            </div>
                            <div class="method__stat-text"> сторис-отзывов в нашем Instagram</div>
                        </li>

                        <li class="method__stat-item">
                            <div class="method__stat-title">
                                <span class="method__stat-value">89</span>
                                <span class="method__stat-subtitle">% клиентов</span>
                            </div>
                            <div class="method__stat-text"> приходят по рекомендации</div>
                        </li>

                        <li class="method__stat-item">
                            <div class="method__stat-title">
                                <span class="method__stat-value">6</span>
                                <span class="method__stat-subtitle">дней</span>
                            </div>
                            <div class="method__stat-text"> в неделю открыты двери нашей студии</div>
                        </li>

                        <li class="method__stat-item">
                            <div class="method__stat-title">
                                <span class="method__stat-value">3</span>
                                <span class="method__stat-subtitle">мастера</span>
                            </div>
                            <div class="method__stat-text"> профессионала</div>
                        </li>
                    </ul>
                </div>

            </div> <!-- /method__content -->
        </div> <!-- /method__inner -->
    </div> <!-- /container -->
</section> <!-- /method -->