<div class="photos">
    <div class="title-left"> фотогалерея</div>
    <div class="container">

        <div class="title  photos__title">
            <h2 class="title__text"> Посмотрите фотографии с нашей студии</h2>
        </div>

        <div class="photos__tabs">
            <div class="photos__tab active"> Последние</div>
            <div class="photos__tab"> Депиляция воском</div>
            <div class="photos__tab"> Шугаринг</div>
            <div class="photos__tab"> Фото студии + дипломы</div>
            <div class="photos__tab"> Коррекция бровей</div>
        </div>


        <div class="photos__content">
            <div class="photos__box active">
                <div class="photos__item photos__item-big"
                    style="background: url('assets/img/photos/img-1.jpg') no-repeat center; background-size: cover;"
                    data-img="1">
                </div>

                <div class="photos__item-big">
                    <div class="photos__item photos__item-min"
                        style="background: url('assets/img/photos/img-2.jpg') no-repeat center; background-size: cover;"
                        data-img="2">
                    </div>

                    <div class="photos__item photos__item-min"
                        style="background: url('assets/img/photos/img-3.jpg') no-repeat center; background-size: cover;"
                        data-img="3">
                    </div>
                </div>

                <div class="photos__item-big">
                    <div class="photos__item photos__item-min"
                        style="background: url('assets/img/photos/img-4.jpg') no-repeat center; background-size: cover;"
                        data-img="4">
                    </div>

                    <div class="photos__item photos__item-min"
                        style="background: url('assets/img/photos/img-5.jpg') no-repeat center; background-size: cover;"
                        data-img="5">
                    </div>
                </div>

                <div class="photos__item photos__item-big"
                    style="background: url('assets/img/photos/img-6.jpg') no-repeat center; background-size: cover;"
                    data-img="6">
                </div>
            </div> <!-- /photos__box -->

        </div> <!-- /photos__content -->


        <div class="photos__btn-wrap">
            <a class="btn  btn--icon" href="#" target="_blank">
                <img src="assets/img/inst.svg" alt="">
                <span>больше фото в инстаграме</span>
            </a>
        </div>

    </div> <!-- /container -->
</div> <!-- /photos -->