<section class="services">
    <div class="title-left"> Услуги и стоимость</div>

    <div class="container">

        <div class="title  services__title">
            <h2 class="title__text"> Наши услуги</h2>
        </div>

        <div class="services__inner">
            <div class="services__tabs">
                <div class="services__tab active" data-tab="">

                    <img src="assets/img/services/tab-1.svg" alt="">
                    <span class="services__tab-title"> Депиляция воском </span>

                </div>

                <div class="services__tab" data-tab="">

                    <img src="assets/img/services/tab-2.svg" alt="">
                    <span class="services__tab-title"> Шугаринг </span>

                </div>

                <div class="services__tab" data-tab="">

                    <img src="assets/img/services/tab-3.svg" alt="">
                    <span class="services__tab-title"> Коррекция бровей </span>

                </div>

                <div class="services__tab" data-tab="">

                    <img src="assets/img/services/tab-4.svg" alt="">
                    <span class="services__tab-title"> Чистка лица </span>

                </div>

                <div class="services__tab" data-tab="">

                    <img src="assets/img/services/tab-5.svg" alt="">
                    <span class="services__tab-title"> Пиллинги </span>

                </div>

                <div class="services__tab" data-tab="">

                    <img src="assets/img/services/tab-6.svg" alt="">
                    <span class="services__tab-title"> Антицеллюлитная программа </span>

                </div>
            </div>



            <div class="services__content">
                <div class="services__box  active" id="1">

                    <div class="features  services__features">
                        <div class="services__box-title"> Особенности:</div>
                        <ul class="features__items">
                            <div class="features__item"> Бритва - для мужиков</div>
                            <div class="features__item"> Волосы тоньше - растут дольше</div>
                            <div class="features__item"> Пилинг и увлажнение</div>
                        </ul>
                    </div>

                    <div class="services__cards">
                        <div class="services__box-title"> В комплексе выгоднее. Самые популярные комплексы:</div>
                        <div class="services__cards-inner">

                            <div class="card  card--recommendation">
                                <div class="card__title"> Комплекс 1</div>
                                <div class="card__body">
                                    <div class="card__content">
                                        <div class="services__box-title">Что входит:</div>
                                        <span>-Подмышки</span>
                                        <span>-Глубокое бикини</span>
                                    </div>

                                    <div class="card__price">
                                        <div class="services__box-title">Стоимость:</div>
                                        <span class="card__price-new">30,00 руб</span>
                                        <span class="card__price-old">32,00 руб</span>
                                    </div>
                                    <a class="card__btn" href="#">Записаться </a>
                                </div>

                                <a class="card__link" href="#">подробнее </a>
                            </div> <!-- card -->


                            <div class="card">
                                <div class="card__title"> Комплекс 2</div>
                                <div class="card__body">
                                    <div class="card__content">
                                        <div class="services__box-title">Что входит:</div>
                                        <span>-Подмышки</span>
                                        <span>-Глубокое бикини</span>
                                    </div>

                                    <div class="card__price">
                                        <div class="services__box-title">Стоимость:</div>
                                        <span class="card__price-new">45,00 руб</span>
                                        <span class="card__price-old">49,00 руб</span>
                                    </div>
                                    <a class="card__btn" href="#">Записаться </a>
                                </div>

                                <a class="card__link" href="#">подробнее </a>
                            </div> <!-- /card -->


                            <div class="card">
                                <div class="card__title"> Комплекс 3</div>
                                <div class="card__body">
                                    <div class="card__content">
                                        <div class="services__box-title">Что входит:</div>
                                        <span>-Подмышки</span>
                                        <span>-Глубокое бикини</span>
                                    </div>

                                    <div class="card__price">
                                        <div class="services__box-title">Стоимость:</div>
                                        <span class="card__price-new">46,00 руб</span>
                                        <span class="card__price-old">49,00 руб</span>
                                    </div>
                                    <a class="card__btn" href="#">Записаться </a>
                                </div>

                                <a class="card__link" href="#">подробнее </a>
                            </div> <!-- /card -->


                            <div class="card card--new">
                                <div class="card__title"> Комплекс 4</div>
                                <div class="card__body">
                                    <div class="card__content">
                                        <div class="services__box-title">Что входит:</div>
                                        <span>-Подмышки</span>
                                        <span>-Глубокое бикини</span>
                                    </div>

                                    <div class="card__price">
                                        <div class="services__box-title">Стоимость:</div>
                                        <span class="card__price-new">54,00 руб</span>
                                        <span class="card__price-old">58,00 руб</span>
                                    </div>
                                    <a class="card__btn" href="#">Записаться </a>
                                </div>

                                <a class="card__link" href="#">подробнее </a>
                            </div> <!-- /card -->
                        </div> <!-- /services__cards-inner -->

                        <div class="services__btn-wrap">
                            <a class="btn" href="#">Смотреть
                                стоимость депиляции воском на отдельные зоны
                            </a>
                        </div>

                    </div> <!-- /services__cards -->
                </div> <!-- /services__box -->



                <div class="services__box" id="2">

                    <div class="features  services__features">
                        <div class="services__box-title"> Особенности:</div>
                        <ul class="features__items">
                            <div class="features__item"> Бритва - для мужиков</div>
                            <div class="features__item"> Волосы тоньше - растут дольше</div>
                            <div class="features__item"> Пилинг и увлажнение</div>
                        </ul>
                    </div>

                    <div class="services__cards">
                        <div class="services__box-title"> В комплексе выгоднее. Самые популярные комплексы:</div>
                        <div class="services__cards-inner">

                            <div class="card">
                                <div class="card__title"> Комплекс 1</div>
                                <div class="card__body">
                                    <div class="card__content">
                                        <div class="services__box-title">Что входит:</div>
                                        <span>-Подмышки</span>
                                        <span>-Глубокое бикини</span>
                                    </div>

                                    <div class="card__price">
                                        <div class="services__box-title">Стоимость:</div>
                                        <span class="card__price-new">30,00 руб</span>
                                        <span class="card__price-old">32,00 руб</span>
                                    </div>
                                    <a class="card__btn" href="#">Записаться </a>
                                </div>

                                <a class="card__link" href="#">подробнее </a>
                            </div> <!-- card -->


                            <div class="card  card--recommendation">
                                <div class="card__title"> Комплекс 2</div>
                                <div class="card__body">
                                    <div class="card__content">
                                        <div class="services__box-title">Что входит:</div>
                                        <span>-Подмышки</span>
                                        <span>-Глубокое бикини</span>
                                    </div>

                                    <div class="card__price">
                                        <div class="services__box-title">Стоимость:</div>
                                        <span class="card__price-new">45,00 руб</span>
                                        <span class="card__price-old">49,00 руб</span>
                                    </div>
                                    <a class="card__btn" href="#">Записаться </a>
                                </div>

                                <a class="card__link" href="#">подробнее </a>
                            </div> <!-- /card -->


                            <div class="card  card--new">
                                <div class="card__title"> Комплекс 3</div>
                                <div class="card__body">
                                    <div class="card__content">
                                        <div class="services__box-title">Что входит:</div>
                                        <span>-Подмышки</span>
                                        <span>-Глубокое бикини</span>
                                    </div>

                                    <div class="card__price">
                                        <div class="services__box-title">Стоимость:</div>
                                        <span class="card__price-new">46,00 руб</span>
                                        <span class="card__price-old">49,00 руб</span>
                                    </div>
                                    <a class="card__btn" href="#">Записаться </a>
                                </div>

                                <a class="card__link" href="#">подробнее </a>
                            </div> <!-- /card -->


                            <div class="card">
                                <div class="card__title"> Комплекс 4</div>
                                <div class="card__body">
                                    <div class="card__content">
                                        <div class="services__box-title">Что входит:</div>
                                        <span>-Подмышки</span>
                                        <span>-Глубокое бикини</span>
                                    </div>

                                    <div class="card__price">
                                        <div class="services__box-title">Стоимость:</div>
                                        <span class="card__price-new">54,00 руб</span>
                                        <span class="card__price-old">58,00 руб</span>
                                    </div>
                                    <a class="card__btn" href="#">Записаться </a>
                                </div>

                                <a class="card__link" href="#">подробнее </a>
                            </div> <!-- /card -->
                        </div> <!-- /services__cards-inner -->

                        <div class="services__btn-wrap">
                            <a class="btn" href="#">Смотреть
                                стоимость депиляции воском на отдельные зоны
                            </a>
                        </div>

                    </div> <!-- /services__cards -->
                </div> <!-- /services__box -->



                <div class="services__box" id="3">
                    <div class="services__box-inner">
                        <div class="services__box-info">
                            <div class="services__box-desc"> Брови - важнейшая составляющая Вашего образа! От их
                                ухоженности, формы и цвета зависит восприятие лица в целом! ⭐Получите БЕСПЛАТНУЮ
                                Консультацию по всем интересующим вопросам в области бровей!
                            </div>
                            <ul class="services__box-list">
                                <li>Если Вы устали каждый день рисовать брови</li>
                                <li>Если Вас не устраивает форма и цвет бровей</li>
                                <li>Если однажды перещипав брови, они перестали расти</li>
                                <li>Если не знаете, какое окрашивание выбрать: хну или краску</li>
                                <li>Если Вы обращались к мастеру салона, а результат не понравился</li>
                            </ul>
                            <div class="services__btn-wrap">
                                <a class="btn" href="#">Получить консультацию</a>
                            </div>
                        </div>
                    </div>

                    <div class="services__box-img">
                        <img src="assets/img/services/test.jpg" alt="">
                    </div>
                </div> <!-- /services__box -->


                <div class="services__box" id="4">
                    <div class="services__box-inner">
                        <div class="services__box-info">
                            <div class="services__box-desc">
                                Мы не вернём Вам молодость и красоту. После
                                посещения нашей студии Ваши завистницы будут думать, где Вы так великолепно отдохнули,
                                что Ваша молодость и красота вернулась к Вам сама
                            </div>
                            <ul class="services__box-list">
                                <li>Атравматическая чистка</li>
                                <li>Комбинированная чистка (ультразвуковая + мануальная)</li>
                                <li>Ультразвуковая чистка лица</li>
                                <li>Ультразвуковая чистка лица + маска</li>
                                <li>Ручная чистка</li>
                            </ul>
                            <div class="services__btn-wrap">
                                <a class="btn" href="#">Получить консультацию</a>
                            </div>
                        </div>
                    </div>

                    <div class="services__box-img">
                        <img src="assets/img/services/test.jpg" alt="">
                    </div>
                </div> <!-- /services__box -->


                <div class="services__box" id="5">
                    <div class="services__box-inner">
                        <div class="services__box-info">
                            <div class="services__box-desc">
                                Пилинг - процедура, отшелушивающая верхний роговой
                                слой кожи. Такая процедура очень эффективна, но рекомендуется не всем в связи с
                                достаточно длительным реабилитационным периодом. Суть метода заключается в том, что
                                лазерный луч, воздействуя на кожу, удаляет омертвевшие клетки. Показания для проведения:
                            </div>
                            <ul class="services__box-list">
                                <li>Сухая, жирная кожа</li>
                                <li>Морщины</li>
                                <li>Расширенные глубокие поры</li>
                                <li>Угревая болезнь</li>
                                <li>Постугревые рубцы</li>
                                <li>Пигментация</li>
                            </ul>
                            <div class="services__btn-wrap">
                                <a class="btn" href="#">Получить консультацию</a>
                            </div>
                        </div>
                    </div>

                    <div class="services__box-img">
                        <img src="assets/img/services/test.jpg" alt="">
                    </div>
                </div> <!-- /services__box -->


                <div class="services__box" id="6">
                    <div class="services__box-inner">
                        <div class="services__box-info">
                            <div class="services__box-desc">
                                Здоровые волосы, выразительные черты лица, нежная
                                кожа – мечта каждой представительницы слабого пола. К вашим услугам:
                            </div>
                            <ul class="services__box-list">
                                <li>Антицеллюлитная программа</li>
                                <li>Обертивания</li>
                                <li>Тейпирование</li>
                                <li>Антицеллюлитная программа</li>
                            </ul>
                            <div class="services__btn-wrap">
                                <a class="btn" href="#">Получить консультацию</a>
                            </div>
                        </div>
                    </div>

                    <div class="services__box-img  active">
                        <img src="assets/img/services/test.jpg" alt="">
                    </div>
                </div> <!-- /services__box -->
            </div> <!-- /services__content -->


            <div class="form-gift  services__form-gift">
                <div class="form__title">
                    <span>ДЕПИЛЯЦИЯ ПОДМЫШЕК БЕСПЛАТНО!</span>
                    <br>
                    Оставьте заявку на любую услугу через сайт
                </div>

                <div class="form-gift__text">
                    Введите Ваши контакты и забронируйте за собой подарочную карту на ПОДМЫШКИ
                </div>

                <form action="#">
                    <input class="form__input" type="text" name="name" placeholder="Ваше имя" required>
                    <input class="form__input" type="tel" name="phone" placeholder="Ваш телефон" required>
                    <button class="btn">ПОЛУЧИТЬ ПОДАРОК</button>
                </form>
            </div>

        </div> <!-- /services__inner -->
    </div> <!-- /container -->
</section> <!-- /services -->