<footer class="footer" id="footer">
    <div class="footer__content-inner">
        <div class="wrapper">
            <div class="footer__content">

                <div class="logo  footer__logo">
                    <a class="logo__link" href="#">
                        <img class="logo__img" src="assets/img/logo-2.png" alt="Logo">
                    </a>
                </div>


                <div class="contacts  footer__contacts">
                    {{> contacts }}
                </div> <!-- /contacts  footer__contacts -->


                <div class="footer__signature-inner">
                    <span class="footer__signature-text">Designed by
                        <a class="footer__signature-link" href="#">PixelBuddha</a>
                        .</span>
                </div>
            </div> <!-- /footer__top -->
        </div> <!-- /wrapper -->
    </div> <!-- /footer__top-inner -->


    <div class="instagram  footer__instagram">
        {{> instagram }}
    </div> <!-- /instagram -->
</footer>