<header class="header" id="header">
    <div class="header__top--ful">
        <div class="wrapper">

            <div class="header__top-box">

                <nav class="menu  header__menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a class="menu__link" href="#">Home</a>
                        </li>

                        <li class="menu__item">
                            <a class="menu__link" href="#">Features</a>
                        </li>

                        <li class="menu__item">
                            <a class="menu__link" href="#">Reviews</a>
                        </li>

                        <li class="menu__item">
                            <a class="menu__link" href="#">Travel</a>
                        </li>

                        <li class="menu__item">
                            <a class="menu__link" href="#">About Me</a>
                        </li>

                        <li class="menu__item">
                            <a class="menu__link" href="#">Contacts</a>
                        </li>
                    </ul>
                </nav> <!-- /menu  header__menu -->

                <div class="social  header__social">
                    <ul class="social__list">
                        <li class="social__item">
                            <a class="social__link" href="#" translate="_blank">
                                <svg class="social__icon  social__icon--fb">
                                    <use xlink:href=#fb></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social__item">
                            <a class="social__link" href="#" translate="_blank">
                                <svg class="social__icon  social__icon--twiter">
                                    <use xlink:href=#twiter></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social__item">
                            <a class="social__link" href="#" translate="_blank">
                                <svg class="social__icon  social__icon--pinterest">
                                    <use xlink:href=#pinterest></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social__item">
                            <a class="social__link" href="#" translate="_blank">
                                <svg class="social__icon  social__icon--google">
                                    <use xlink:href=#google></use>
                                </svg>
                            </a>
                        </li>

                    </ul> <!-- /social__list -->
                </div> <!-- /social  header__social -->

            </div> <!-- /header__top-box -->
        </div> <!-- /wrapper -->
    </div> <!-- /header__top--ful -->


    <div class="header__mobailMenu-w520">

        <div class="header__search-inner">
            <button class="header__search" type="button">
                <svg class="header__search-icon" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px">
                    <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                        d="M13.837,11.973 C13.497,11.663 12.016,9.927 12.247,9.509 C12.845,8.375 13.116,7.044 12.937,5.638 C12.582,2.846 10.379,0.546 7.599,0.091 C3.159,-0.637 -0.626,3.144 0.098,7.581 C0.550,10.357 2.842,12.559 5.631,12.922 C7.035,13.104 8.365,12.837 9.499,12.245 C9.873,12.050 11.489,13.538 11.868,13.916 L13.210,15.502 C13.870,16.222 15.050,16.160 15.672,15.383 C16.209,14.708 16.056,13.709 15.418,13.129 L13.837,11.973 ZM1.994,6.508 C1.994,4.022 4.010,2.006 6.496,2.006 C8.983,2.006 10.998,4.022 10.998,6.508 C10.998,8.993 8.983,11.009 6.496,11.009 C4.010,11.009 1.994,8.993 1.994,6.508 Z" />
                </svg>
            </button>
        </div>

        <div class="header__btnMobail-inner">
            <button class="header__btnMobail" id="header__btnMobail" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px"
                    height="15px">
                    <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                        d="M14.500,15.000 L1.500,15.000 C0.672,15.000 0.000,14.329 0.000,13.500 L0.000,13.500 C0.000,12.671 0.672,12.000 1.500,12.000 L14.500,12.000 C15.328,12.000 16.000,12.671 16.000,13.500 L16.000,13.500 C16.000,14.329 15.328,15.000 14.500,15.000 ZM14.500,9.000 L1.500,9.000 C0.672,9.000 0.000,8.328 0.000,7.500 C0.000,6.672 0.672,6.000 1.500,6.000 L14.500,6.000 C15.328,6.000 16.000,6.672 16.000,7.500 C16.000,8.328 15.328,9.000 14.500,9.000 ZM14.500,3.000 L1.500,3.000 C0.672,3.000 0.000,2.328 0.000,1.500 C0.000,0.671 0.672,0.000 1.500,0.000 L14.500,0.000 C15.328,0.000 16.000,0.671 16.000,1.500 C16.000,2.328 15.328,3.000 14.500,3.000 Z" />
                </svg>
            </button>
        </div>
    </div> <!-- /header__mobailMenu-w520 -->


    <div class="wrapper">
        <div class="header__bottom-box">


            <div class="header__home">
                <a class="header__home-link" href="#">
                    <svg class="header__home-icon" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px">
                        <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                            d="M14.500,16.000 L11.510,16.000 C10.682,16.000 10.010,15.329 10.010,14.500 L10.010,11.475 C10.010,10.647 9.339,9.976 8.510,9.976 L7.490,9.976 C6.661,9.976 5.990,10.647 5.990,11.475 L5.990,14.500 C5.990,15.329 5.318,16.000 4.490,16.000 L1.500,16.000 C0.672,16.000 -0.000,15.329 -0.000,14.500 L-0.000,13.000 C-0.000,12.999 0.000,12.997 0.000,12.996 L0.000,6.391 C0.000,6.036 0.165,5.700 0.446,5.482 L7.152,0.275 C7.650,-0.111 8.347,-0.111 8.845,0.275 L15.551,5.482 C15.832,5.700 15.997,6.036 15.997,6.391 L15.997,12.968 C15.997,12.979 16.000,12.989 16.000,13.000 L16.000,14.500 C16.000,15.329 15.328,16.000 14.500,16.000 Z" />
                    </svg>
                </a>
            </div>

            <div class="header__logo">
                <a class="header__logo-link" href="#">
                    <img class="header__logo-img" src="assets/img/logo.png" alt="Logo">
                </a>
            </div>

            <div class="header__search-inner">
                <button class="header__search" type="button">
                    <svg class="header__search-icon" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px">
                        <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                            d="M13.837,11.973 C13.497,11.663 12.016,9.927 12.247,9.509 C12.845,8.375 13.116,7.044 12.937,5.638 C12.582,2.846 10.379,0.546 7.599,0.091 C3.159,-0.637 -0.626,3.144 0.098,7.581 C0.550,10.357 2.842,12.559 5.631,12.922 C7.035,13.104 8.365,12.837 9.499,12.245 C9.873,12.050 11.489,13.538 11.868,13.916 L13.210,15.502 C13.870,16.222 15.050,16.160 15.672,15.383 C16.209,14.708 16.056,13.709 15.418,13.129 L13.837,11.973 ZM1.994,6.508 C1.994,4.022 4.010,2.006 6.496,2.006 C8.983,2.006 10.998,4.022 10.998,6.508 C10.998,8.993 8.983,11.009 6.496,11.009 C4.010,11.009 1.994,8.993 1.994,6.508 Z" />
                    </svg>
                </button>
            </div>


            <div class="header__btnMobail-inner">
                <button class="header__btnMobail" id="header__btnMobail" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px"
                        height="15px">
                        <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                            d="M14.500,15.000 L1.500,15.000 C0.672,15.000 0.000,14.329 0.000,13.500 L0.000,13.500 C0.000,12.671 0.672,12.000 1.500,12.000 L14.500,12.000 C15.328,12.000 16.000,12.671 16.000,13.500 L16.000,13.500 C16.000,14.329 15.328,15.000 14.500,15.000 ZM14.500,9.000 L1.500,9.000 C0.672,9.000 0.000,8.328 0.000,7.500 C0.000,6.672 0.672,6.000 1.500,6.000 L14.500,6.000 C15.328,6.000 16.000,6.672 16.000,7.500 C16.000,8.328 15.328,9.000 14.500,9.000 ZM14.500,3.000 L1.500,3.000 C0.672,3.000 0.000,2.328 0.000,1.500 C0.000,0.671 0.672,0.000 1.500,0.000 L14.500,0.000 C15.328,0.000 16.000,0.671 16.000,1.500 C16.000,2.328 15.328,3.000 14.500,3.000 Z" />
                    </svg>
                </button>
            </div>
        </div> <!-- /header__bottom-box -->
    </div> <!-- /wrapper -->
</header>