<section class="introSlider" id="introSlider">
    <div class="wrapper">
        <div class="introSlider__items  js-introSlider__items">

            <div class="introSlider__item-inner">
                <div class="introSlider__item-bg">
                    <div class="introSlider__item">
                        <div class="introSlider__item-content">
                            <span class="introSlider__subtitle">Artist</span>
                            <h2 class="introSlider__title">Cupcakes and Cashmere at Home Book Giveaway</h2>
                            <span class="introSlider__date">March 7, 2015</span>
                        </div>

                        <div class="introSlider__item-img">
                            <div class="introSlider__img-inner">
                                <img src="assets/img/introSlider/img-1.jpg" alt="">
                            </div>
                        </div>
                    </div> <!-- /introSlider__item -->
                </div> <!-- /introSlider__item-bg -->
            </div> <!-- /introSlider__item-inner -->


            <div class="introSlider__item-inner">
                <div class="introSlider__item-bg">
                    <div class="introSlider__item">
                        <div class="introSlider__item-content">
                            <span class="introSlider__subtitle">Artist</span>
                            <h2 class="introSlider__title">Cupcakes and Cashmere at Home Book Giveaway</h2>
                            <span class="introSlider__date">March 7, 2015</span>
                        </div>

                        <div class="introSlider__item-img">
                            <div class="introSlider__img-inner">
                                <img src="assets/img/introSlider/img-2.jpg" alt="">
                            </div>
                        </div>
                    </div> <!-- /introSlider__item -->
                </div> <!-- /introSlider__item-bg -->
            </div> <!-- /introSlider__item-inner -->


            <div class="introSlider__item-inner">
                <div class="introSlider__item-bg">
                    <div class="introSlider__item">
                        <div class="introSlider__item-content">
                            <span class="introSlider__subtitle">Artist</span>
                            <h2 class="introSlider__title">My Vintage Clothing Shopping Tips</h2>
                            <span class="introSlider__date">March 7, 2015</span>
                        </div>

                        <div class="introSlider__item-img">
                            <div class="introSlider__img-inner">
                                <img src="assets/img/introSlider/img-3.jpg" alt="">
                            </div>
                        </div>
                    </div> <!-- /introSlider__item -->
                </div> <!-- /introSlider__item-bg -->
            </div> <!-- /introSlider__item-inner -->


            <div class="introSlider__item-inner">
                <div class="introSlider__item-bg">
                    <div class="introSlider__item">
                        <div class="introSlider__item-content">
                            <span class="introSlider__subtitle">Artist</span>
                            <h2 class="introSlider__title">NOSTALGIC TRAVELER:THE GREENHOUSE</h2>
                            <span class="introSlider__date">March 7, 2015</span>
                        </div>

                        <div class="introSlider__item-img">
                            <div class="introSlider__img-inner">
                                <img src="assets/img/introSlider/img-4.jpg" alt="">
                            </div>
                        </div>
                    </div> <!-- /introSlider__item -->
                </div> <!-- /introSlider__item-bg -->
            </div> <!-- /introSlider__item-inner -->


        </div> <!-- /introSlider__items -->
    </div> <!-- /wrapper -->
</section> <!-- /introSlider -->