<section class="latestPosts" id="latestPosts">
    <div class="wrapper">
        <div class="latestPosts__title-inner">
            <div class="latestPosts__title">LATEST ARTICLES</div>
        </div>

        <div class="latestPosts__inner">

            <article class="post  latestPosts__post">
                <div class="post__inner">
                    <span class="post__subtitle">TRAVEL</span>
                    <span class="post__dash">/</span>
                    <span class="post__date">March 6, 2019</span>
                    <h2 class="post__title">Make Your Adventure Sound REALLY Epic</h2>

                    <div class="post__img-inner">
                        <a class="post__img-link" href="#">
                            <img src="assets/img/articles/img-2.jpg" alt="">
                        </a>
                    </div>

                    <p class="post__text">Do you find yourself reading stories about adventures in outdoor
                        magazines and websites and feeling down about what you did on your summer vacation?
                    </p>
                    <a class="btn" href="#">Read More</a>
                </div> <!-- /post__inner -->
            </article> <!-- /post -->

            <article class="post  latestPosts__post">
                <div class="post__inner">
                    <span class="post__subtitle">LIFESTYLE </span>
                    <span class="post__dash">/</span>
                    <span class="post__date">March 9, 2019</span>
                    <h2 class="post__title">Wallpaper Wednesday: Glowing Place to Be</h2>

                    <div class="post__img-inner">
                        <a class="post__img-link" href="#">
                            <img src="assets/img/articles/img-3.jpg" alt="">
                        </a>
                    </div>

                    <p class="post__text">The North Cascades might be the biggest secret in American mountain
                        ranges.
                        Well, no, it’s not a secret secret — people in the know know, but beyond...
                    </p>
                    <a class="btn" href="#">Read More</a>
                </div> <!-- /post__inner -->
            </article> <!-- /post -->

            <article class="post  latestPosts__post">
                <div class="post__inner">
                    <span class="post__subtitle">TRAVEL</span>
                    <span class="post__dash">/</span>
                    <span class="post__date">March 6, 2019</span>
                    <h2 class="post__title">Make Your Adventure Sound REALLY Epic</h2>

                    <div class="post__img-inner">
                        <a class="post__img-link" href="#">
                            <img src="assets/img/articles/img-2.jpg" alt="">
                        </a>
                    </div>

                    <p class="post__text">Do you find yourself reading stories about adventures in outdoor
                        magazines and websites and feeling down about what you did on your summer vacation?
                    </p>
                    <a class="btn" href="#">Read More</a>
                </div> <!-- /post__inner -->
            </article> <!-- /post -->


        </div>
    </div>
</section>