<section class="subscribeSection" id="subscribeSection">
    <div class="subscribeSection__content">
        <div class="subscribeSection__title">
            Our Newsletter
        </div>
        <p class="subscribeSection__text">
            Subscribe to our newsletter to be in touch with new articles.
        </p>
        <form class="subscribeSection__form" action="#">
            <input class="subscribeSection__input" type="email" placeholder="YOUR E-MAIL">
            <button class="subscribeSection__btn  btn">SUBSCRIBE</button>
        </form>

    </div> <!-- /subscribeSection__content -->
</section> <!-- /subscribeSection -->