<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout 7</title>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow, noodp">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/css/style.min.css">
</head>

<body>

    <!-- Header -->
    <header class="header" id="header">
        <div class="container">
            <div class="header__inner">
                <div class="logo header__logo">
                    <a href="#">
                        <img src="assets/img/logo.png" alt="Logo">
                    </a>
                </div>

                <nav class="menu header__menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a class="menu__link" href="#">Why Devoq?</a>
                        </li>

                        <li class="menu__item">
                            <a class="menu__link" href="#">Apps</a>
                        </li>

                        <li class="menu__item">
                            <a class="menu__link" href="#">Pricing</a>
                        </li>
                    </ul>
                </nav> <!-- /menu header__menu -->

                <select class="lang header__lang" name="" id="">
                    <option value="">germany </option>
                    <option value="">ru</option>
                    <option value="">en</option>
                </select>

            </div> <!-- /header__inner -->
        </div> <!-- /container -->
    </header> <!-- /Header -->



    <!-- Intro -->
    <section class="intro">
        <div class="container">
            <div class="intro__wrapper">
                <div class="intro__left-box">
                    <img src="../../assets/img/intro-phone.png" alt="">
                </div>

                <div class="intro__right-box">
                    <h1 class="title intro__title">Devoq</h1>
                    <p class="intro__subtitle">your personal learning assistant </p>

                    <p class="text intro__text">We learn and develop while we work, browse, read, watch, chat, game,
                        like and share. We use a lot of tools and services.
                    </p>
                    <p class="text intro__text">
                        But in case, we want to learn something new, how do we do it these
                        days? Correct, we use Google, because the web is full of great content.
                    </p>
                    <p class="text intro__text">
                        Unfortunately it takes a lot of time and effort.
                    </p>
                    <p class="text intro__text">Wouldn’t it be great, if there is that one tool, that supports your life
                        integrated learning? Smart like magic, easy to use and perfectly talking
                        to all your favorite apps and
                        services?
                    </p>

                    <div class="download intro__download">
                        <a class="download__link" href="#" target="_blank">
                            <img src="../../assets/img/app.png" alt="">
                        </a>

                        <a class="download__link" href="#" target="_blank">
                            <img src="../../assets/img/g-play.png" alt="">
                        </a>
                    </div>

                </div> <!-- /intro__right-box -->
            </div> <!-- /intro__wrapper -->

            <button class="arrow-btn intro__arrow-btn">
                <img src="../../assets/img/arrows-btn.png" alt="">
            </button>

        </div> <!-- /container -->
    </section> <!-- /Intro -->



    <!-- Advantages -->
    <section class="advantages">
        <div class="container">
            <div class="advantages__wrapper">
                <div class="advantages__left-box">
                    <img src="/assets/img/adv-left-box.png" alt="">
                </div>

                <div class="advantages__right-box">
                    <h2 class="title advantages__title">Devoq is your essential
                        assistant for learning.
                    </h2>

                    <p class="text advantages__text">It boosts all your learning management systems, collaboration tools
                        and
                        MOOC platforms. Or replaces them.</p>
                    <p class="text advantages__text">
                        Stop clicking through expensive and wasting-time online courses.
                        Stop using a bunch of internet resources to get the information you need.
                    </p>
                    <p class="text advantages__text">
                        Just enter a skill title, add some tags, upload content and connect the
                        tools you love. That’s it, that’s all.
                    </p>
                </div>
            </div> <!-- /advantages__wrapper -->

            <button class="arrow-btn advantages__arrow-btn">
                <img src="../../assets/img/arrows-btn.png" alt="">
            </button>

        </div> <!-- /container -->
    </section> <!-- /Advantages -->



    <!-- Screenshots -->
    <section class="screenshots">
        <div class="container">
            <h2 class="title screenshots__title">
                Devoq is your essential assistant for<br>learning.
            </h2>
            <p class="text screenshots__text">
                It is continuously compiling learning units that ﬁt your needs.
            </p>

            <div class="gallery screenshots__gallery">

                <div class="gallery__item">
                    <img class="gallery__img" src="../../assets/img/screenshot-1.jpg" alt="Screenshot">
                    <div class="gallery__title">Screenshot 1</div>
                    <h3 class="gallery__subtitle">Skill list and skill title</h3>
                </div>

                <div class="gallery__item">
                    <img class="gallery__img" src="../../assets/img/screenshot-1.jpg" alt="Screenshot">
                    <div class="gallery__title">Screenshot 2</div>
                    <h3 class="gallery__subtitle">Stacked content</h3>
                </div>

                <div class="gallery__item">
                    <img class="gallery__img" src="../../assets/img/screenshot-1.jpg" alt="Screenshot">
                    <div class="gallery__title">Screenshot 3</div>
                    <h3 class="gallery__subtitle">
                        Suggested content from<br>internet resources
                    </h3>
                </div>

            </div> <!-- /gallery screenshots__gallery -->
        </div> <!-- container -->
    </section> <!-- /screenshots -->






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="assets/js/app.min.js"></script>
</body>

</html>