.header {
}

.header__top-wrap {
    background-color: $colorDarkBlue;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
}


.header__logo {
}
