.top {
    background: #E6E1F2;
    padding: 90px 0px;
}   

.top__title {
    margin-bottom: 50px;
}

.top__cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 75px;

    .card {
        max-width: calc(33.333333% - 20px);
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }  
}