.intro-v1 {
    background-color: $bg-gray;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 45px;
}

.intro-v1__title {
    margin-bottom: 25px;
}

.intro-v1__text {
    font-size: 13px;
    text-transform: uppercase;
}

.intro-v1__page {
    color: $colorBlack;
}