$yellow_color: #FFE671;
$black_color: #323232;
$grey_color: #CACFD2;

$radius: 16px;
$radius_sm: 9px;

$bg_blue: #F0FAFF;
$bg_main: #fff;
$shadow: 0px 16px 48px rgba(0, 0, 0, 0.1);

$fz_Rubik: 'Rubik', sans-serif;
$fz_Montserrat: 'Montserrat Alternates', sans-serif;



















