.categories__topic {
    margin-top: 40px;

    @media (max-width: 960px) {
        margin-top: 0;
    }
}

.categories__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $black_light;
    border-bottom: 1px solid #e5e5e5;

    // margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;

    &:last-child {
        margin-bottom: 0;
    }   
}

.categories__name {
    color: $black_light;  
    transition: color .2s ease-in-out;

    &:hover {
        color: $golden;
    }
}