.intro {
    padding-top: 490px;
    padding-bottom: 60px;

    background-image: url(../img/intro-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;
    z-index: 20;

    &::after {
        background: linear-gradient(to bottom, rgba(#5f5f5f, .1) 80%, rgba(#161616, .7) 100%);
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
    }

    @media (max-width: 1240px) {
        padding-top: 250px;
    }

    @media (max-width: 992px) {
        padding-top: 150px;
    }

    @media (max-width: 576px) {
        padding-top: 100px;
    }
}

.intro__inner {
    @include row-flex();
}

.intro__post-main {
    position: relative;
    z-index: 50;
    @include col();
    @include size(12);
}

  
  