.menu__list {
    position: relative;
   
}

.menu__item {
    display: inline-block; 
    margin-left: 34px;   
}

.menu__link {
    color: $black;
    transition: color .3s ease;

    &--active {
        color: $golden;
    } 

    &:hover {
        color: $golden;
    }
}

.menu__btn-open {
    background: transparent;
    border: none;
    display: none;

    &:focus {
        outline: 0;
    }

    @media (max-width:576px) {
        display: block;
    }
}

.menu__btn-close {
    background: transparent;
    border: none;
    display: none;

    &:focus {
        outline: 0;
    }
}


