.sidebar {
    @include col();
    @include size(3);
    @include shift-left(1);
    @include shift-md-left(0);
    @include size-md(12);


    // max-width: 270px;
}

.sidebar__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 960px) {
        flex-direction: row;
    }
}

.sidebar__author {
    margin-bottom: 70px;
    // @include col();
    // @include size-md(6);

    @media (max-width: 960px) {
        @include col();
        @include size-md(6);
        @include size-sm(10);
        @include size-xs(12);
    }

}

.sidebar__categories {
    margin-bottom: 70px;
    
    @media (max-width: 960px) {
        @include col();
        @include size-md(6);
        @include size-sm(10);
        @include size-xs(12);
    }

}

.sidebar__statistics {
    margin-bottom: 70px;
    // @include col();
    // @include size-md(6);
   
    @media (max-width: 960px) {
        @include col();
        @include size-md(6);
        @include size-sm(10);
        @include size-xs(12);
    }
}

.sidebar__rubric {
    margin-bottom: 70px;
    
    @media (max-width: 960px) {
        @include col();
        @include size-md(6);
        @include size-sm(10);
        @include size-xs(12);
    }

}

