<section class="blog" id="blog">
    <div class="container">
        <h2 class="g-title  blog__title">From Our Blog</h2>

        <div class="blog__articles">

            <article class="blog__article">
                <div class="blog__img-inner">
                    <img class="blog__img" src="assets/img/blog/img-1.jpg" alt="">
                </div>

                <div class="blog__content">
                    <h3>
                        <a class="g-subtitle  blog__article-title" href="#">Black Coffee</a>
                    </h3>

                    <div class="blog__author">Posted By: Admin |
                        <span class="blog__date">Dated: July 30 2019</span>
                    </div>

                    <p class="blog__text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the dummy text ever since the 1500s.
                    </p>

                    <a class="blog__link" href="#">Read More
                        <svg class="blog__link-icon">
                            <use xlink:href="#btnNext-svg"></use>
                        </svg>
                    </a>
                </div>
            </article>


            <article class="blog__article">
                <div class="blog__img-inner">
                    <img class="blog__img" src="assets/img/blog/img-2.jpg" alt="">
                </div>

                <div class="blog__content">
                    <h3>
                        <a class="g-subtitle  blog__article-title" href="#">Cappuccino</a>
                    </h3>

                    <div class="blog__author">Posted By: Admin |
                        <span class="blog__date">Dated: July 30 2019</span>
                    </div>

                    <p class="blog__text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the dummy text ever since the 1500s.
                    </p>

                    <a class="blog__link" href="#">Read More
                        <svg class="blog__link-icon">
                            <use xlink:href="#btnNext-svg"></use>
                        </svg>
                    </a>
                </div>
            </article>


            <article class="blog__article">
                <div class="blog__img-inner">
                    <img class="blog__img" src="assets/img/blog/img-3.jpg" alt="">
                </div>

                <div class="blog__content">
                    <h3>
                        <a class="g-subtitle  blog__article-title" href="#">Coffee and Cake</a>
                    </h3>

                    <div class="blog__author">Posted By: Admin |
                        <span class="blog__date">Dated: July 30 2019</span>
                    </div>

                    <p class="blog__text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the dummy text ever since the 1500s.
                    </p>

                    <a class="blog__link" href="#">Read More
                        <svg class="blog__link-icon">
                            <use xlink:href="#btnNext-svg"></use>
                        </svg>
                    </a>
                </div>
            </article>

        </div> <!-- /blog__articles -->
    </div> <!-- /container -->
</section> <!-- /blog -->