<section class="collection">
    <div class="container">
        <h2 class="g-title  collection__title">Coffee Collection</h2>

        <div class="collection__items">

            <div class="collection__item">
                <img class="collection__item-img" src="assets/img/cofeCollection/img-4.jpg" alt="">
            </div>

            <div class="collection__item">
                <h4 class="g-title  collection__item-title">Volestias</h4>
                <p class="collection__item-text">
                    Lorem Ipsum is simply dummy text of standard dummy the the text ever since the 1500s.
                </p>
            </div>

            <div class="collection__item">
                <h4 class="g-title  collection__item-title">Laudantium</h4>
                <p class="collection__item-text">
                    Lorem Ipsum is simply dummy text of standard dummy the the text ever since the 1500s.
                </p>
            </div>

            <div class="collection__item">
                <h4 class="g-title  collection__item-title">Inventore</h4>
                <p class="collection__item-text">
                    Lorem Ipsum is simply dummy text of standard dummy the the text ever since the 1500s.
                </p>
            </div>

        </div> <!-- /collection__items -->
    </div> <!-- /container -->
</section> <!-- /collection -->