<section class="delivery">
    <div class="container">

        <div class="delivery__inner">

            <div class="delivery__left-box">
                <h2 class="g-title  delivery__title">Sale and Delivery</h2>
                <p class="delivery__text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>
                <h3 class="g-subtitle  delivery__subtitle">Where buy our coffee:</h3>

                <ul class="delivery__list">
                    <li class="delivery__item">Canada</li>
                    <li class="delivery__item">Argentina</li>
                    <li class="delivery__item">Australia</li>

                    <li class="delivery__item">Russia</li>
                    <li class="delivery__item">Brazil</li>
                    <li class="delivery__item">USA</li>

                    <li class="delivery__item">Mexico</li>
                    <li class="delivery__item">New York</li>
                    <li class="delivery__item">Europe</li>
                </ul> <!-- /delivery__list -->

                <a class="g-btn  delivery__btn" href="#">View all Points</a>


            </div> <!-- /delivery__left-box -->


            <div class="delivery__right-box">
                <svg class="delivery-map">
                    <use xlink:href=#delivery-svg></use>
                </svg>
            </div>
        </div> <!-- /delivery__inner -->
    </div> <!-- /container -->
</section> <!-- /delivery -->