<footer class="footer">
    <div class="container">

        <div class="footer__items">

            <div class="footer__item">
                <p class="g-subtitle  footer__title">Customer Service</p>
                <ul class="footer__list">
                    <li class="footer__list"><a href="#" class="footer__link">My Account</a></li>
                    <li class="footer__list"><a href="#" class="footer__link">Order History</a></li>
                    <li class="footer__list"><a href="#" class="footer__link">FAQ</a></li>
                    <li class="footer__list"><a href="#" class="footer__link">Specials</a></li>
                    <li class="footer__list"><a href="#" class="footer__link">Help Center</a></li>
                </ul>
            </div> <!-- /footer__item -->


            <div class="footer__item">
                <p class="g-subtitle  footer__title">Corporation</p>
                <ul class="footer__list">
                    <li class="footer__list"><a href="#" class="footer__link">About us</a></li>
                    <li class="footer__list"><a href="#" class="footer__link">Customer Service</a></li>
                    <li class="footer__list"><a href="#" class="footer__link">Company</a></li>
                    <li class="footer__list"><a href="#" class="footer__link">Investor Relations</a></li>
                    <li class="footer__list"><a href="#" class="footer__link">Advanced Search</a></li>
                </ul>
            </div> <!-- /footer__item -->


            <div class="footer__item">
                <p class="g-subtitle  footer__title">Why Choose Us</p>
                <ul class="footer__list">
                    <li class="footer__list"><a href="#" class="footer__link">Shopping Guide</a></li>
                    <li class="footer__list"><a href="#" class="footer__link">Blog</a></li>
                    <li class="footer__list"><a href="#" class="footer__link">Company</a></li>
                    <li class="footer__list"><a href="#" class="footer__link">Investor Relations</a></li>
                    <li class="footer__list"><a href="#" class="footer__link">Contact Us</a></li>
                </ul>
            </div> <!-- /footer__item -->


            <div class="footer__item">
                <p class="g-subtitle  footer__title">Why Choose Us</p>

                <div class="subscribe">
                    <form class="subscribe__form" action="#">
                        <input class="subscribe__input" type="email" placeholder="Enter Your Email">
                        <button class="g-btn  subscribe__btn" type="submit">Subscribe</button>
                    </form>
                </div>

            </div> <!-- /footer__item -->
        </div> <!-- /footer__items -->

        <hr class="footer__line">

        <div class="footer__copy">
            <p class="footer__copy-text">© 2019 Coffee Zone. All Rights Reserved.</p>

            <div class="social  ourMasters__social">
                <p class="g-subtitle  social__title">Follow Me :</p>
                <ul class="social__list">
                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank">
                            <svg class="social__icon">
                                <use xlink:href="#fb-svg"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank">
                            <svg class="social__icon">
                                <use xlink:href="#twit-svg"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank">
                            <svg class="social__icon">
                                <use xlink:href="#linkedin-svg"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="social__link" href="#" target="_blank">
                            <svg class="social__icon">
                                <use xlink:href="#inst-svg"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div> <!-- /social  ourMasters__social -->
        </div> <!-- /footer__copy -->

    </div> <!-- /container -->
</footer> <!-- /footer -->