<header class="header" id="Home">
    <div class="container">

        <div class="header__inner">

            <div class="logo  header__logo">
                <a class="logo__inner" href="#">
                    <svg class="logo__icon">
                        <use xlink:href=#logo-svg></use>
                    </svg>
                    <p class="logo__title">Coffee Zone</p>
                </a>
            </div> <!-- /logo  header__logo -->


            <nav class="mainMenu  header__mainMenu">
                <ul class="mainMenu__list">
                    <li class="mainMenu__item">
                        <a class="mainMenu__link" href="#Home">Home</a>
                    </li>

                    <li class="mainMenu__item">
                        <a class="mainMenu__link" href="#About">About us</a>
                    </li>

                    <li class="mainMenu__item">
                        <a class="mainMenu__link" href="#Products">Products</a>
                    </li>

                    <li class="mainMenu__item">
                        <a class="mainMenu__link" href="#Blog">Blog</a>
                    </li>

                    <li class="mainMenu__item">
                        <a class="mainMenu__link" href="#Gallery">Gallery</a>
                    </li>

                    <li class="mainMenu__item">
                        <a class="mainMenu__link" href="#Contacts">Contacts</a>
                    </li>
                </ul>
            </nav> <!-- /mainMenu -->
        </div> <!-- /header__inner -->

    </div> <!-- container -->
</header>