<header class="header" id="home">
    <div class="container">

        <div class="header__inner">

            <div class="logo  header__logo">
                <a class="logo__inner" href="#">
                    <svg class="logo__icon">
                        <use xlink:href=#logo-svg></use>
                    </svg>
                    <p class="logo__title">Coffee Zone</p>
                </a>
            </div> <!-- /logo  header__logo -->


            <nav class="mainMenu  header__mainMenu">
                <ul class="mainMenu__list">
                    <li class="mainMenu__item">
                        <a class="mainMenu__link" href="#home">Home</a>
                    </li>

                    <li class="mainMenu__item">
                        <a class="mainMenu__link" href="#about">About us</a>
                    </li>

                    <li class="mainMenu__item">
                        <a class="mainMenu__link" href="#products">Products</a>
                    </li>

                    <li class="mainMenu__item">
                        <a class="mainMenu__link" href="#blog">Blog</a>
                    </li>

                    <li class="mainMenu__item">
                        <a class="mainMenu__link" href="#gallery">Gallery</a>
                    </li>

                    <li class="mainMenu__item">
                        <a class="mainMenu__link" href="#contacts">Contacts</a>
                    </li>
                </ul>
            </nav> <!-- /mainMenu -->

            <button class="btnMenu  btnMenu--open" type="button">
                <svg class="btnMenu__icon">
                    <use xlink:href="#btnMenu__icon"></use>
                </svg>
            </button>
            <button class="btnMenu  btnMenu--close" type="button">
                <svg class="btnMenu__icon  btnMenu__icon--close">
                    <use xlink:href="#btnMenu__icon--close"></use>
                </svg>
            </button>
        </div> <!-- /header__inner -->

    </div> <!-- container -->
</header>