<section class="instagram">
    <div class="container">
        <h2 class="g-title  instagram__title">Post From Instagram</h2>

        <div class="instagram__inner">

            <div class="instagram__img-inner">
                <a href="#" target="_blank">
                    <img class="instagram__img" src="assets/img/instagram/img-1.jpg" alt="">
                </a>
            </div>

            <div class="instagram__img-inner">
                <a href="#" target="_blank">
                    <img class="instagram__img" src="assets/img/instagram/img-2.jpg" alt="">
                </a>
            </div>

            <div class="instagram__img-inner">
                <a href="#" target="_blank">
                    <img class="instagram__img" src="assets/img/instagram/img-3.jpg" alt="">
                </a>
            </div>

            <div class="instagram__img-inner">
                <a href="#" target="_blank">
                    <img class="instagram__img" src="assets/img/instagram/img-4.jpg" alt="">
                </a>
            </div>

        </div> <!-- /instagram__inner -->
    </div> <!-- /container -->
</section> <!-- /instagram -->