<section class="intro">

    <h1 class="visually-hidden">Delicious coffee from "Coffee Zone"</h1>



    <img class="intro__img-bg" src="assets/img/intro/bg-absolute-1.png" alt="">
    <img class="intro__img-bg" src="assets/img/intro/bg-absolute-2.png" alt="">
    <img class="intro__img-bg" src="assets/img/intro/bg-absolute-3.png" alt="">

    <div class="container-big">

        <div class="intro__sliders">

            <div class="intro__slide  js-show" id="1">
                <div class="intro__left-box">
                    <div class="intro__img-inner">
                        <img class="intro__img" src="assets/img/intro/images-1.png" alt="">
                    </div>
                </div> <!-- /intro__left-box -->


                <div class="intro__right-box">
                    <span class="intro__subtitle">Fresh and Tasty</span>
                    <p class="intro__title">Coffee</p>
                    <span class="intro__subtitle  intro__subtitle--two">in the morning</span>
                </div> <!-- /intro__right-box -->
            </div> <!-- /intro__slide -->


            <div class="intro__slide" id="2">
                <div class="intro__left-box">
                    <div class="intro__img-inner">
                        <img class="intro__img" src="assets/img/intro/images-2.png" alt="">
                    </div>
                </div> <!-- /intro__left-box -->


                <div class="intro__right-box">
                    <span class="intro__subtitle">Fresh and Tasty</span>
                    <p class="intro__title">Coffee</p>
                    <span class="intro__subtitle  intro__subtitle--two">in the lunch</span>
                </div> <!-- /intro__right-box -->
            </div> <!-- /intro__slide -->


            <div class="intro__slide" id="3">
                <div class="intro__left-box">
                    <div class="intro__img-inner">
                        <img class="intro__img" src="assets/img/intro/images-3.png" alt="">
                    </div>
                </div> <!-- /intro__left-box -->


                <div class="intro__right-box">
                    <span class="intro__subtitle">Fresh and Tasty</span>
                    <p class="intro__title">Coffee</p>
                    <span class="intro__subtitle  intro__subtitle--two">in the evening</span>
                </div> <!-- /intro__right-box -->
            </div> <!-- /intro__slide -->
        </div> <!-- /intro__sliders -->


        <div class="intro__navigation">
            <div class="intro__slogan">
                <img class="intro__slogan-text" src="assets/img/intro/bestcoffee.png" alt="">
                <img src="assets/img/intro/ложка.png" alt="">
            </div>

            <div class="intro__buttons">
                <button class="intro__btn  js-active" data-id="1">
                    <img src="assets/img/intro/btn-1.png" alt="">
                </button>

                <button class="intro__btn" data-id="2">
                    <img src="assets/img/intro/btn-2.png" alt="">
                </button>

                <button class="intro__btn" data-id="3">
                    <img src="assets/img/intro/btn-3.png" alt="">
                </button>
            </div>
        </div> <!-- /intro__navigation -->

    </div>
</section> <!-- /intro -->