<section class="ourMasters">
    <div class="container">

        <h2 class="g-title  ourMasters__title">Our Master Chefs</h2>

        <div class="ourMasters__inner">

            <div class="ourMasters__left-box">
                <div class="ourMasters__img-inner">
                    <img class="ourMasters__img" src="assets/img/ourMaster/img-1.jpg" alt="">

                    <button class="g-btn--circle  ourMasters__btn  ourMasters__btn--prev" type="button">
                        <svg class="about__btn-icon">
                            <use xlink:href=#btnPrev-svg></use>
                        </svg>
                    </button>

                    <button class="g-btn--circle  ourMasters__btn  ourMasters__btn--next" type="button">
                        <svg class="about__btn-icon">
                            <use xlink:href=#btnNext-svg></use>
                        </svg>
                    </button>
                </div>
            </div> <!-- /ourMasters__left-box -->

            <div class="ourMasters__right-box">
                <h3 class="g-subtitle  ourMasters__subtitle">Mahadi Tahsan</h3>
                <div class="ourMasters__stars">
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                </div>
                <p class="ourMasters__text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>

                <div class="social  ourMasters__social">
                    <p class="g-subtitle  social__title">Follow Me :</p>
                    <ul class="social__list">
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#fb-svg></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#twit-svg></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#linkedin-svg></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#inst-svg></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div> <!-- /social  ourMasters__social -->
            </div> <!-- /ourMasters__right-box -->
        </div> <!-- /ourMasters__inner -->
    </div> <!-- /container -->
</section> <!-- /ourMasters -->