<section class="ourMasters">
    <div class="container">

        <h2 class="g-title  ourMasters__title">Our Master Chefs</h2>

        <div class="ourMasters__inner">

            <div class="ourMasters__left-box">
                <div class="ourMasters__img-inner">
                    <img class="ourMasters__img  js-show" data-name="img-1" src="assets/img/ourMaster/img-1.jpg" alt="">
                    <img class="ourMasters__img" data-name="img-2" src="assets/img/ourMaster/img-2.jpg" alt="">
                    <img class="ourMasters__img" data-name="img-3" src="assets/img/ourMaster/img-3.jpg" alt="">
                    <img class="ourMasters__img" data-name="img-4" src="assets/img/ourMaster/img-4.jpg" alt="">

                    <button class="g-btn--circle  ourMasters__btn  ourMasters__btn--prev" type="button">
                        <svg class="about__btn-icon">
                            <use xlink:href=#btnPrev-svg></use>
                        </svg>
                    </button>

                    <button class="g-btn--circle  ourMasters__btn  ourMasters__btn--next" type="button">
                        <svg class="about__btn-icon">
                            <use xlink:href=#btnNext-svg></use>
                        </svg>
                    </button>
                </div>
            </div> <!-- /ourMasters__left-box -->

            <div class="ourMasters__right-box  js-show  img-1">
                <h3 class="g-subtitle  ourMasters__subtitle">Mahadi Tahsan</h3>
                <div class="ourMasters__stars">
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                </div>
                <p class="ourMasters__text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>

                <div class="social  ourMasters__social">
                    <p class="g-subtitle  social__title">Follow Me :</p>
                    <ul class="social__list">
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#fb-svg></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#twit-svg></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#linkedin-svg></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#inst-svg></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div> <!-- /social  ourMasters__social -->
            </div> <!-- /ourMasters__right-box -->


            <div class="ourMasters__right-box  img-2">
                <h3 class="g-subtitle  ourMasters__subtitle">Ethan Woods</h3>
                <div class="ourMasters__stars">
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                </div>
                <p class="ourMasters__text">
                    2222 Et harum quidem rerum facilis est et expedita distinctio, qui in ea voluptate velit esse, quam
                    nihil molestiae consequatur, vel illum, qui dolorem ipsum, quia dolor sit, amet, consectetur,
                    adipisci velit, sed quia non numquam eius modi tempora incidunt,

                    2222 Et harum quidem rerum facilis est et expedita distinctio, qui in ea voluptate velit esse, quam
                    nihil molestiae consequatur, vel illum, qui dolorem ipsum, quia dolor sit, amet, consectetur,
                    adipisci velit, sed quia non numquam eius modi tempora incidunt,
                </p>

                <div class="social  ourMasters__social">
                    <p class="g-subtitle  social__title">Follow Me :</p>
                    <ul class="social__list">
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#fb-svg></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#twit-svg></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#linkedin-svg></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#inst-svg></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div> <!-- /social  ourMasters__social -->
            </div> <!-- /ourMasters__right-box -->


            <div class="ourMasters__right-box  img-3">
                <h3 class="g-subtitle  ourMasters__subtitle">Emily French</h3>
                <div class="ourMasters__stars">
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                </div>
                <p class="ourMasters__text">
                    3333 Duis aute irure dolor in reprehenderit in voluptate, quia voluptas sit, aspernatur aut odit aut
                    fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro
                    quisquam est, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>

                <div class="social  ourMasters__social">
                    <p class="g-subtitle  social__title">Follow Me :</p>
                    <ul class="social__list">
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#fb-svg></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#twit-svg></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#linkedin-svg></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#inst-svg></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div> <!-- /social  ourMasters__social -->
            </div> <!-- /ourMasters__right-box -->


            <div class="ourMasters__right-box  img-4">
                <h3 class="g-subtitle  ourMasters__subtitle">Michael Hunter</h3>
                <div class="ourMasters__stars">
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                    <svg class="ourMasters__star">
                        <use xlink:href=#star-svg></use>
                    </svg>
                </div>
                <p class="ourMasters__text">
                    4444 At vero eos et accusamus et iusto odio dignissimos ducimus, quis nostrum exercitationem ullam
                    corporis suscipit laboriosam, obcaecati cupiditate non provident, similique sunt in culpa, qui
                    officia deserunt mollitia...
                </p>

                <div class="social  ourMasters__social">
                    <p class="g-subtitle  social__title">Follow Me :</p>
                    <ul class="social__list">
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#fb-svg></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#twit-svg></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#linkedin-svg></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#inst-svg></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div> <!-- /social  ourMasters__social -->
            </div> <!-- /ourMasters__right-box -->

        </div> <!-- /ourMasters__inner -->
    </div> <!-- /container -->
</section> <!-- /ourMasters -->