<section class="todayMenu">
    <div class="container">
        <h2 class="g-title  g-title--white todayMenu__title">Today’s Menu</h2>

        <div class="todayMenu__inner">
            <div class="todayMenu__coffee">
                <h3 class="g-subtitle  g-subtitle--white  todayMenu__subtitle">Coffee</h3>
                <ul class="todayMenu__list">
                    <li class="todayMenu__item">
                        <p class="todayMenu__item-title">Ice Coffee</p>
                        <span class="todayMenu__item__price">$.10</span>
                    </li>

                    <li class="todayMenu__item">
                        <p class="todayMenu__item-title">Cafe Latte</p>
                        <span class="todayMenu__item__price">$.20</span>
                    </li>

                    <li class="todayMenu__item">
                        <p class="todayMenu__item-title">Mocha</p>
                        <span class="todayMenu__item__price">$.20</span>
                    </li>

                    <li class="todayMenu__item">
                        <p class="todayMenu__item-title">Espresso</p>
                        <span class="todayMenu__item__price">$.50</span>
                    </li>

                    <li class="todayMenu__item">
                        <p class="todayMenu__item-title">Americano</p>
                        <span class="todayMenu__item__price">$.60</span>
                    </li>
                </ul>
            </div> <!-- /todayMenu__coffee -->


            <svg class="todayMenu__icon-bg">
                <use xlink:href=#todayMenu-svg></use>
            </svg>


            <div class="todayMenu__chai">
                <h3 class="g-subtitle  g-subtitle--white  todayMenu__subtitle">Chai & Infusion</h3>
                <ul class="todayMenu__list">
                    <li class="todayMenu__item">
                        <p class="todayMenu__item-title">Ginger-Mint Chat</p>
                        <span class="todayMenu__item__price">$.50</span>
                    </li>

                    <li class="todayMenu__item">
                        <p class="todayMenu__item-title">Elaichi Chai</p>
                        <span class="todayMenu__item__price">$.60</span>
                    </li>

                    <li class="todayMenu__item">
                        <p class="todayMenu__item-title">Cold Coffee</p>
                        <span class="todayMenu__item__price">$.30</span>
                    </li>

                    <li class="todayMenu__item">
                        <p class="todayMenu__item-title">Tea (Green Tea, Pomegranate)</p>
                        <span class="todayMenu__item__price">$.40</span>
                    </li>

                    <li class="todayMenu__item">
                        <p class="todayMenu__item-title">Infusion (Fresh Mint, Gibger, Lemon & Honey)</p>
                        <span class="todayMenu__item__price">$.30</span>
                    </li>
                </ul> <!-- /todayMenu__list -->
            </div> <!-- /todayMenu__chai -->
        </div> <!-- /todayMenu__inner -->
    </div> <!-- /container -->
</section> <!-- /todayMenu -->