<nav class="menu  footer__menu">
    <ul class="menu__list">

        <li class="menu__item">
            <a class="menu__link" href="#">klglfgkf</a>
        </li>

        <li class="menu__item">
            <a class="menu__link" href="#">ldkldkfl</a>
        </li>

        <li class="menu__item">
            <a class="menu__link" href="#">lkflgkfl</a>
        </li>

        <li class="menu__item">
            <a class="menu__link" href="#">klkgflgk</a>
        </li>

        <li class="menu__item">
            <a class="menu__link" href="#">lklgkf</a>
        </li>

    </ul>
</nav> <!-- /menu  footer__menu -->