.programs {
    background: linear-gradient(rgba(0, 77, 255, 0.03), rgba(0, 77, 255, 0.03)), url('../img/intro/noteboook.svg') left 50% top 50% / auto auto repeat;
    padding-bottom: 200px;
    padding-top: 70px;

    @media (max-width: 960px) {
        padding-bottom: 150px; 
    }
}

.programs__title {
    text-align: center;
    margin-bottom: 40px;
}


.programs__items {
    display: flex;
    flex-wrap: wrap;
    // margin-left: -15px;
    // margin-right: -15px;
    margin: 0 -10px;
    margin-bottom: 25px;
}


.programs__item {
    position: relative;
    max-width: calc(33.33333% - 20px);  
    display: flex;   
    flex-direction: column;   
    justify-content: flex-start;     
    flex-grow: 1;   
    box-shadow: 0px 10px 12px 0px rgba(134, 134, 220, 0.07);    
    background-color: #fff;
    border-radius: 6px;
    text-align: center;  
    // padding: 35px 35px 45px;
    padding: 15px;
    padding-bottom: 30px;
    margin: 10px;

    @media (max-width: 1080px) {
        padding: 15px;   
    }

    @media (max-width: 960px) {
        // padding: 15px;   
        max-width: calc(50% - 20px); 
    }

    @media (max-width: 768px) {
           max-width: 100%;
        //    text-align: left;
           margin-bottom: 30px;
    }
}

.programs__img-wrap {
    position: relative;
    // max-width: 344px;
    width: 100%;
    max-height: 230px;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 15px;

    img {
        display: block;
    }

    @media (max-width: 960px) {
        max-width: 100%;   
    }
}

.programs__item-title {
    font-family: $font_Exo2;
    font-size: 20px;
    font-weight: 800;
    color: #454545;
    margin-bottom: 10px;
}

.programs__item-subtitle {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;

    display: none;
}

.programs__item-descr {
    min-height: 90px;
    color: rgba(69, 69, 69, 0.74);
    line-height: 1.6;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        min-height: 0;   
    }
}

.programs__btn-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 1px dashed rgba(0, 0, 0, 0.08);
    padding-top: 25px;
    // margin-top: 30px;
    margin-top: auto;

    @media (max-width: 768px) {
        // justify-content: flex-start;   
        padding-bottom: 15px;
    }
}


.programs__item-btn {
    
}

.programs__all-link {
    display: flex;
    justify-content: center;

    a {
        font-family: $font_Montserrat;
        color: #454545;
        text-decoration: underline;
        font-size: 16px;
        font-weight: 600;
        outline: 0;

        &:focus {
            box-shadow: 0 0 0px 3px rgba($bg_purple, .2);            
            border-radius: 6px;
        }
    }   
   
}

.programs__item-new {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: $bg_purple;
    color: #fff;
    border-radius: 250px;
    padding: 7px 12px;

    &--red {
        background-color: tomato;
    }
}