$colorWhite: #fff;
$colorBlack: #1c1c1c;

$colorGold: #c19b76;
$colorGold-light: #c9a98a;

$colorGrey: #858585;
$colorGrey-light: #b1b1b1;

$bg-gray: #f8f8f8;

$color-border: #eaeaea;
$border: 1px solid $color-border;

$font-PlayfairDisplay: 'Playfair Display';
$font-OpenSans: 'Open Sans';
$font-OldStandard: 'Old Standard TT';
$font-Satisfaction: 'Satisfaction';



















  