<section class="booking">
    <h2 class="visually-hidden">A booking voucher to Milenia Luxury Hotel</h2>

    <div class="container">

        <form class="booking__form" action="#">

            <div class="booking__item-inner">
                <span class="booking__item-title">Arrival Date</span>
                <div class="booking__item">
                    <input class="booking__input  js-arrival  datepicker-here" type="text">

                    <div class="booking__info">
                        <div class="booking__date  js-booking-date">15</div>
                        <div class="booking__row">
                            <span class="booking__month  js-booking-month">April,
                                <span class="booking__year  js-booking-year">2019</span>
                            </span>
                            <span class="booking__day">monday</span>
                        </div>
                    </div>
                </div> <!-- /booking__form-item -->
            </div> <!-- /booking__item-inner -->


            <div class="booking__item-inner">
                <span class="booking__item-title">Departure Date</span>
                <div class="booking__item">
                    <input class="booking__input  datepicker-here" type="text">

                    <div class="booking__info">
                        <div class="booking__date">27</div>
                        <div class="booking__row">
                            <span class="booking__month">April,
                                <span class="booking__year">2019</span>
                            </span>
                            <span class="booking__day">Saturday</span>
                        </div>
                    </div>
                </div> <!-- /booking__form-item -->
            </div> <!-- /booking__item-inner -->


            <div class="booking__item-inner">
                <span class="booking__item-title">Adults</span>
                <div class="booking__item">
                    <!-- <input class="booking__input  booking__input--adults" type="text"> -->

                    <div class="booking__quantity">
                        <input class="booking__input  booking__input--children" type="number" min="1" max="9" step="1"
                            value="1">
                    </div>
                </div> <!-- /booking__form-item -->
            </div> <!-- /booking__item-inner -->


            <div class="booking__item-inner">
                <span class="booking__item-title">Children</span>
                <div class="booking__item">
                    <div class="booking__quantity">
                        <input class="booking__input  booking__input--children" type="number" min="0" max="9" step="1"
                            value="0">
                    </div>
                </div> <!-- /booking__form-item -->
            </div> <!-- /booking__item-inner -->


            <button class="btn  booking__btn" type="button">Check Availability</button>


        </form> <!-- /booking__form -->
    </div> <!-- /container -->
</section> <!-- /booking -->