<footer class="footer">
    <div class="container">
        <nav class="footer__nav">

            <div class="footer__contacts">
                <span class="footer__title">Contact Us</span>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Address: 9863 - 9867 Mill Road, <br> Cambridge, MG09 99HT
                        </a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Phone: +1 800 603 6035
                        </a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Fax: +1 800 889 9898
                        </a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__item-link" href="#">
                            Email: mail@companyname.com
                        </a>
                    </li>
                </ul> <!-- /footer__list -->
            </div> <!-- /footer__contacts -->


            <div class="footer__menu">
                <span class="footer__title">Main Menu</span>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">About</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__item-link" href="#">Special Offers</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__item-link" href="#">News</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__item-link" href="#">Contact Us</a>
                    </li>
                </ul> <!-- /footer__list -->
            </div> <!-- /footer__menu -->


            <div class="footer__toDo">
                <span class="footer__title">Things to Do</span>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">Wellness & Spa</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__item-link" href="#">Restaurants & Bars</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__item-link" href="#">Excursions</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__item-link" href="#">Events</a>
                    </li>
                </ul> <!-- /footer__list -->
            </div> <!-- /footer__toDo -->


            <div class="footer__rooms">
                <span class="footer__title">Rooms & Suits</span>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__item-link" href="#">Classic</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__item-link" href="#">Superior</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__item-link" href="#">Deluxe</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__item-link" href="#">Master</a>
                    </li>
                </ul> <!-- /footer__list -->
            </div> <!-- /footer__toDo -->
        </nav>
    </div> <!-- /container -->
</footer>