<div class="gallery-popup">
    <div class="photos">
        <img class="gallery__img  showed" src="assets/img/gallery-popup/img-1.jpg">
        <img class="gallery__img" src="assets/img/gallery-popup/img-2.jpg">
        <img class="gallery__img" src="assets/img/gallery-popup/img-3.jpg">
        <img class="gallery__img" src="assets/img/gallery-popup/img-4.jpg">
        <img class="gallery__img" src="assets/img/gallery-popup/img-5.jpg">

        <div class="video__close"></div>

        <button class="btnControl  gallery-popup__btnControl--prev" type="button">
            <svg class="welcome__btn-icon">
                <use xlink:href=#theHotel__btnControl--prev></use>
            </svg>
        </button>

        <button class="btnControl  gallery-popup__btnControl--next" type="button">
            <svg class="welcome__btn-icon">
                <use xlink:href=#theHotel__btnControl--next></use>
            </svg>
        </button>
    </div>

</div> <!-- /gallery -->

<div class="video__overlay"></div>