<section class="information">
    <div class="container">

        <h2 class="visually-hidden">Sign up for news and special offers</h2>

        <div class="information__items">

            <div class="information__item">
                <p class="information__item-title">Current Weather</p>
                <span class="information__item-subtitle">Rome, Italy</span>

                <div class="weather  information__weather">
                    <svg class="weather__icon">
                        <use xlink:href=#weather__icon></use>
                    </svg>

                    <span class="weather__value">15</span>

                    <p class="weather__degree">
                        <span class="weather__celsius">°C</span> / °F
                    </p>
                </div>
            </div> <!-- /information__item -->


            <div class="information__item">
                <p class="information__item-title">Stay Connected</p>
                <span class="information__item-subtitle">Follow us on social media channels</span>

                <div class="social  information__social">
                    <ul class="social__list">
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#social__icon-fb></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#social__icon-twit></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#social__icon-google></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#social__icon-owl></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#social__icon-inst></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#social__icon-youtube></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg class="social__icon">
                                    <use xlink:href=#social__icon-pint></use>
                                </svg>
                            </a>
                        </li>
                    </ul> <!-- /social__list -->
                </div>
            </div> <!-- /information__item -->


            <div class="information__item">
                <p class="information__item-title">Newsletter Sign Up</p>
                <span class="information__item-subtitle">Sign up for news and special offers</span>

                <form class="emailAddress" action="#">
                    <input class="emailAddress__input" type="text" placeholder="Enter Your Email Address">
                    <button class="emailAddress__btn  btnControl" type="submit">
                        <svg class="welcome__btn-icon">
                            <use xlink:href=#emailAddress__btn-icon></use>
                        </svg>
                    </button>
                </form>
            </div> <!-- /information__item -->

        </div> <!-- /information__items -->
    </div> <!-- /container -->
</section> <!-- /information -->