<section class="instaImages">
    <ul class="instaImages__list">

        <li class="instaImages__item">
            <a class="instaImages__link" href="#" target="_blank">
                <img class="instaImages__img" src="assets/img/instaImages/img-1.jpg" alt="">
            </a>
        </li>

        <li class="instaImages__item">
            <a class="instaImages__link" href="#" target="_blank">
                <img class="instaImages__img" src="assets/img/instaImages/img-2.jpg" alt="">
            </a>
        </li>

        <li class="instaImages__item">
            <a class="instaImages__link" href="#" target="_blank">
                <img class="instaImages__img" src="assets/img/instaImages/img-3.jpg" alt="">
            </a>
        </li>

        <li class="instaImages__item">
            <a class="instaImages__link" href="#" target="_blank">
                <img class="instaImages__img" src="assets/img/instaImages/img-4.jpg" alt="">
            </a>
        </li>

        <li class="instaImages__item">
            <a class="instaImages__link" href="#" target="_blank">
                <img class="instaImages__img" src="assets/img/instaImages/img-5.jpg" alt="">
            </a>
        </li>

        <li class="instaImages__item">
            <a class="instaImages__link" href="#" target="_blank">
                <img class="instaImages__img" src="assets/img/instaImages/img-6.jpg" alt="">
            </a>
        </li>
    </ul>
</section> <!-- /instaImages -->