<section class="medals">
    <div class="container">
        <ul class="medals__list">
            <li class="medals__item">
                <a class="medals__link" href="#">
                    <img src="assets/img/medals/img-1.png" alt="">
                </a>
            </li>

            <li class="medals__item">
                <a class="medals__link" href="#">
                    <img src="assets/img/medals/img-2.png" alt="">
                </a>
            </li>

            <li class="medals__item">
                <a class="medals__link" href="#">
                    <img src="assets/img/medals/img-3.png" alt="">
                </a>
            </li>

            <li class="medals__item">
                <a class="medals__link" href="#">
                    <img src="assets/img/medals/img-4.png" alt="">
                </a>
            </li>

            <li class="medals__item">
                <a class="medals__link" href="#">
                    <img src="assets/img/medals/img-5.png" alt="">
                </a>
            </li>

            <li class="medals__item">
                <a class="medals__link" href="#">
                    <img src="assets/img/medals/img-6.png" alt="">
                </a>
            </li>
        </ul>

    </div> <!-- /container -->
</section> <!-- /medals -->