<div class="popup__wrap">

    <div class="popup__overlay"></div>

    <div class="popup popup__bookNew">

        <div class="form__bg">
            <div class="form__inner">

                <div class="popup__close"></div>
                <p class="form__title">Получить каталог</p>

                <form class="form" action="#">
                    <input class="form__input--hidden" name="subject" type="text"
                        value="Форма 'Бесплатная консультация'">

                    <div class="form__input-wrap">
                        <img class="form__name-icon" src="assets/img/name_icon.png" alt="">
                        <input class="form__input" required name="mail" type="text" placeholder="Введите Вашу почту">
                    </div>

                    <button class="form__btn" type="submit">Получить каталог</button>
                </form>

                <div class="form__point">
                    Нажимая на кнопку, вы даете согласие <br> на обработку
                    <a data-popup="popup__privacy" class="thinLink">персональных данных</a>
                </div>

            </div> <!-- /form__inner -->
        </div> <!-- /form__bg -->

    </div> <!-- /popup popup__bookNew -->
</div> <!-- /popup__wrap -->