<section class="quote">
    <div class="container">

        <h2 class="visually-hidden">Food - check. Accommodation - check.</h2>

        <div class="quote__stars">
            <svg class="quote__star-icon">
                <use xlink:href=#quote_star></use>
            </svg>
            <svg class="quote__star-icon">
                <use xlink:href=#quote_star></use>
            </svg>
            <svg class="quote__star-icon">
                <use xlink:href=#quote_star></use>
            </svg>
            <svg class="quote__star-icon">
                <use xlink:href=#quote_star></use>
            </svg>
            <svg class="quote__star-icon">
                <use xlink:href=#quote_star></use>
            </svg>
        </div> <!-- /quote__stars -->


        <blockquote class="quote__text">
            “Food - check. Accommodation - check. Scenery - check. Yes I think this could be the most perfect place to
            be in the world!”
        </blockquote>
        <span class="quote__author">Mark & Rebecca Johnson, Ca, USA</span>
        <img class="quote__img" src="assets/img/quote/img-1.png" alt="">

        <svg class="quote__line">
            <use xlink:href=#quote__line></use>
        </svg>

    </div> <!-- /container -->
</section> <!-- /quote -->