<section class="rooms" id="rooms">
    <div class="container">
        <span class="rooms__subtitle  g-subtitle">the pleasure of luxury</span>
        <h2 class="rooms__title  g-title">Rooms & Suites</h2>

        <div class="rooms__filter">
            <ul class="rooms__filter-list">
                <li class="rooms__filter-item">
                    <button class="rooms__filter-btn  g-link" type="button" data-name="filter-all">All</button>
                </li>

                <li class="rooms__filter-item">
                    <button class="rooms__filter-btn  g-link" type="button" data-name="filter-classic">Classic</button>
                </li>

                <li class="rooms__filter-item">
                    <button class="rooms__filter-btn  g-link" type="button"
                        data-name="filter-superior">Superior</button>
                </li>

                <li class="rooms__filter-item">
                    <button class="rooms__filter-btn  g-link" type="button" data-name="filter-delux">Delux</button>
                </li>

                <li class="rooms__filter-item">
                    <button class="rooms__filter-btn  g-link" type="button">Master</button>
                </li>
            </ul> <!-- /rooms__filter-list -->
        </div> <!-- /rooms__filter -->


        <div class="rooms__items">

            <div class="rooms__item-inner">
                <div class="rooms__item  active-item" id="1">
                    <div class="rooms__img-inner">
                        <img class="classic__img  rooms__img  showed" src="assets/img/rooms/classic/img-1.jpg" alt="">
                        <img class="classic__img  rooms__img" src="assets/img/rooms/classic/img-2.jpg" alt="">
                        <img class="classic__img  rooms__img" src="assets/img/rooms/classic/img-3.jpg" alt="">

                        <button class="btnControl  rooms__btnControl  rooms__btnControl--prev  classic-prev"
                            type="button">
                            <svg class="welcome__btn-icon">
                                <use xlink:href=#theHotel__btnControl--prev></use>
                            </svg>
                        </button>

                        <button class="btnControl  rooms__btnControl  rooms__btnControl--next  classic-next"
                            type="button">
                            <svg class="welcome__btn-icon">
                                <use xlink:href=#theHotel__btnControl--next></use>
                            </svg>
                        </button>
                    </div>
                    <div class="rooms__item-content">
                        <h3 class="rooms__item-title">Classic Balcony Room</h3>
                        <p class="rooms__item-price">from
                            <span class="rooms__item-sum">$99.00</span>/night
                        </p>
                        <p class="rooms__item-text">
                            Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et
                            urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero
                            nisl, porta vel, scelerisque eget.
                        </p>

                        <button class="rooms__item-btn  rooms__item-btn--details  btn  btn--grey"
                            type="button">Details</button>
                        <button class="rooms__item-btn  btn" type="button" data-popup="popup__bookNew">Book Now</button>

                    </div> <!-- rooms__item-content -->
                </div> <!-- /rooms__item -->
            </div> <!-- /rooms__item-inner -->



            <div class="rooms__item-inner">
                <div class="rooms__item" id="2">
                    <div class="rooms__img-inner">
                        <img class="superDouble__img  rooms__img  showed" src="assets/img/rooms/superior/img-1.jpg"
                            alt="">
                        <img class="superDouble__img  rooms__img" src="assets/img/rooms/superior/img-2.jpg" alt="">
                        <img class="superDouble__img  rooms__img" src="assets/img/rooms/superior/img-3.jpg" alt="">

                        <button class="btnControl  rooms__btnControl  rooms__btnControl--prev  superDouble-prev"
                            type="button">
                            <svg class="welcome__btn-icon">
                                <use xlink:href=#theHotel__btnControl--prev></use>
                            </svg>
                        </button>

                        <button class="btnControl  rooms__btnControl  rooms__btnControl--next  superDouble-next"
                            type="button">
                            <svg class="welcome__btn-icon">
                                <use xlink:href=#theHotel__btnControl--next></use>
                            </svg>
                        </button>
                    </div>
                    <div class="rooms__item-content">
                        <h3 class="rooms__item-title">Superior Double Room</h3>
                        <p class="rooms__item-price">from
                            <span class="rooms__item-sum">$79.00</span>/night
                        </p>
                        <p class="rooms__item-text">
                            Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et
                            urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero
                            nisl, porta vel, scelerisque eget.
                        </p>

                        <button class="rooms__item-btn  rooms__item-btn--details  btn  btn--grey"
                            type="button">Details</button>
                        <button class="rooms__item-btn  btn" type="button" data-popup="popup__bookNew">Book Now</button>

                    </div> <!-- rooms__item-content -->
                </div> <!-- /rooms__item -->
            </div> <!-- /rooms__item-inner -->


            <div class="rooms__item-inner">
                <div class="rooms__item" id="3">
                    <div class="rooms__img-inner">
                        <img class="superBalcony__img  rooms__img  showed" src="assets/img/rooms/superior/img-4.jpg"
                            alt="">
                        <img class="superBalcony__img  rooms__img" src="assets/img/rooms/superior/img-5.jpg" alt="">
                        <img class="superBalcony__img  rooms__img" src="assets/img/rooms/superior/img-6.jpg" alt="">

                        <button class="btnControl  rooms__btnControl  rooms__btnControl--prev  superBalcony-prev"
                            type="button">
                            <svg class="welcome__btn-icon">
                                <use xlink:href=#theHotel__btnControl--prev></use>
                            </svg>
                        </button>

                        <button class="btnControl  rooms__btnControl  rooms__btnControl--next  superBalcony-next"
                            type="button">
                            <svg class="welcome__btn-icon">
                                <use xlink:href=#theHotel__btnControl--next></use>
                            </svg>
                        </button>
                    </div>
                    <div class="rooms__item-content">
                        <h3 class="rooms__item-title">Superior Balcony Double Room</h3>
                        <p class="rooms__item-price">from
                            <span class="rooms__item-sum">$49.00</span>/night
                        </p>
                        <p class="rooms__item-text">
                            Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et
                            urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero
                            nisl, porta vel, scelerisque eget.
                        </p>

                        <button class="rooms__item-btn  rooms__item-btn--details  btn  btn--grey"
                            type="button">Details</button>
                        <button class="rooms__item-btn  btn" type="button" data-popup="popup__bookNew">Book Now</button>

                    </div> <!-- rooms__item-content -->
                </div> <!-- /rooms__item -->
            </div> <!-- /rooms__item-inner -->



            <div class="rooms__item-inner">
                <div class="rooms__item" id="4">
                    <div class="rooms__img-inner">
                        <img class="delux__img  rooms__img  showed" src="assets/img/rooms/delux/img-1.jpg" alt="">
                        <img class="delux__img  rooms__img" src="assets/img/rooms/delux/img-2.jpg" alt="">
                        <img class="delux__img  rooms__img" src="assets/img/rooms/delux/img-3.jpg" alt="">

                        <button class="btnControl  rooms__btnControl  rooms__btnControl--prev  delux-prev"
                            type="button">
                            <svg class="welcome__btn-icon">
                                <use xlink:href=#theHotel__btnControl--prev></use>
                            </svg>
                        </button>

                        <button class="btnControl  rooms__btnControl  rooms__btnControl--next  delux-next"
                            type="button">
                            <svg class="welcome__btn-icon">
                                <use xlink:href=#theHotel__btnControl--next></use>
                            </svg>
                        </button>
                    </div>
                    <div class="rooms__item-content">
                        <h3 class="rooms__item-title">DELUX DOUBLE ROOM</h3>
                        <p class="rooms__item-price">from
                            <span class="rooms__item-sum">$149.00</span>/night
                        </p>
                        <p class="rooms__item-text">
                            Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et
                            urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero
                            nisl, porta vel, scelerisque eget.
                        </p>

                        <button class="rooms__item-btn  rooms__item-btn--details  btn  btn--grey"
                            type="button">Details</button>
                        <button class="rooms__item-btn  btn" type="button" data-popup="popup__bookNew">Book Now</button>

                    </div> <!-- rooms__item-content -->
                </div> <!-- /rooms__item -->
            </div> <!-- /rooms__item-inner -->


            <div class="rooms__dots">
                <ul class="rooms__dots-list">
                    <li class="rooms__dots-item  active  filter-classic  filter-all" data-id="1">
                        <img class="rooms__dots-img" src="assets/img/rooms/classic/mini.jpg" alt="">
                        <p class="rooms__dots-title">Classic Balcony Room</p>
                    </li>

                    <li class="rooms__dots-item  filter-all  filter-superior" data-id="2">
                        <img class="rooms__dots-img" src="assets/img/rooms/superior/mini.jpg" alt="">
                        <p class="rooms__dots-title">Superior Double Room</p>
                    </li>

                    <li class="rooms__dots-item  filter-all  filter-superior" data-id="3">
                        <img class="rooms__dots-img" src="assets/img/rooms/superior/mini-2.jpg" alt="">
                        <p class="rooms__dots-title">Superior Balcony Double Room</p>
                    </li>

                    <li class="rooms__dots-item  filter-all  filter-delux" data-id="4">
                        <img class="rooms__dots-img" src="assets/img/rooms/delux/mini.jpg" alt="">
                        <p class="rooms__dots-title">Delux Double Room</p>
                    </li>
                </ul>
            </div> <!-- /rooms__dots -->
        </div> <!-- /rooms__items -->
    </div> <!-- /container -->
</section> <!-- /rooms -->