<section class="theHotel" id="theHotel">
    <div class="container">
        <span class="theHotel__subtitle  g-subtitle">Explore</span>
        <h2 class="theHotel__title  g-title">The Hotel</h2>
        <p class="theHotel__text">
            Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec
            eget tellus non erat lacinia fermentum.
        </p>

        <div class="theHotel__items">

            <div class="theHotel__item">
                <div class="theHotel__img-inner">
                    <img class="wellness__img  theHotel__img  showed" src="assets/img/theHotel/img-1.jpg" alt="">
                    <img class="wellness__img  theHotel__img" src="assets/img/theHotel/wellness/img-1.jpg" alt="">
                    <img class="wellness__img  theHotel__img" src="assets/img/theHotel/wellness/img-2.jpg" alt="">
                    <img class="wellness__img  theHotel__img" src="assets/img/theHotel/wellness/img-3.jpg" alt="">
                    <img class="wellness__img  theHotel__img" src="assets/img/theHotel/wellness/img-4.jpg" alt="">

                    <button class="btnControl  theHotel__btnControl  theHotel__btnControl--prev" type="button">
                        <svg class="welcome__btn-icon">
                            <use xlink:href=#theHotel__btnControl--prev></use>
                        </svg>
                    </button>

                    <button class="btnControl  theHotel__btnControl  theHotel__btnControl--next" type="button">
                        <svg class="welcome__btn-icon">
                            <use xlink:href=#theHotel__btnControl--next></use>
                        </svg>
                    </button>
                </div>

                <div class="theHotel__content">
                    <h3 class="theHotel__item-title">Wellness & Spa</h3>
                    <p class="theHotel__item-text">
                        Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                        Aliquam erat volutpat. Duis ac turpis.
                    </p>
                    <a class="theHotel__item-link  g-link" href="#">Explore More</a>
                </div>
            </div> <!-- /theHotel__item -->


            <div class="theHotel__item">
                <div class="theHotel__img-inner">
                    <img class="restaurants__img  theHotel__img  showed" src="assets/img/theHotel/img-2.jpg" alt="">
                    <img class="restaurants__img  theHotel__img" src="assets/img/theHotel/restaurants/img-1.jpg" alt="">
                    <img class="restaurants__img  theHotel__img" src="assets/img/theHotel/restaurants/img-2.jpg" alt="">
                    <img class="restaurants__img  theHotel__img" src="assets/img/theHotel/restaurants/img-3.jpg" alt="">
                    <img class="restaurants__img  theHotel__img" src="assets/img/theHotel/restaurants/img-4.jpg" alt="">
                    <img class="restaurants__img  theHotel__img" src="assets/img/theHotel/restaurants/img-5.jpg" alt="">

                    <button class="btnControl  theHotel__btnControl--prev  restaurants-prev" type="button">
                        <svg class="welcome__btn-icon">
                            <use xlink:href=#theHotel__btnControl--prev></use>
                        </svg>
                    </button>

                    <button class="btnControl  theHotel__btnControl--next  restaurants-next" type="button">
                        <svg class="welcome__btn-icon">
                            <use xlink:href=#theHotel__btnControl--next></use>
                        </svg>
                    </button>
                </div>

                <div class="theHotel__content">
                    <h3 class="theHotel__item-title">Restaurants & Bars</h3>
                    <p class="theHotel__item-text">
                        Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at,
                        neque. Vivamus eget nibh.
                    </p>
                    <a class="theHotel__item-link  g-link" href="#">Explore More</a>
                </div>
            </div> <!-- /theHotel__item -->


            <div class="theHotel__item">
                <div class="theHotel__img-inner">
                    <img class="special__img  theHotel__img  showed" src="assets/img/theHotel/img-3.jpg" alt="">
                    <img class="special__img  theHotel__img" src="assets/img/theHotel/special/img-1.jpg" alt="">
                    <img class="special__img  theHotel__img" src="assets/img/theHotel/special/img-2.jpg" alt="">
                    <img class="special__img  theHotel__img" src="assets/img/theHotel/special/img-3.jpg" alt="">
                    <img class="special__img  theHotel__img" src="assets/img/theHotel/special/img-4.jpg" alt="">

                    <button class="btnControl  theHotel__btnControl--prev  special-prev" type="button">
                        <svg class="welcome__btn-icon">
                            <use xlink:href=#theHotel__btnControl--prev></use>
                        </svg>
                    </button>

                    <button class="btnControl  theHotel__btnControl--next  special-next" type="button">
                        <svg class="welcome__btn-icon">
                            <use xlink:href=#theHotel__btnControl--next></use>
                        </svg>
                    </button>
                </div>

                <div class="theHotel__content">
                    <h3 class="theHotel__item-title">Special Offers</h3>
                    <p class="theHotel__item-text">
                        Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante
                        ipsum primis in faucibus orci luctus et.
                    </p>
                    <a class="theHotel__item-link  g-link" href="#">Explore More</a>
                </div>
            </div> <!-- /theHotel__item -->

        </div> <!-- /theHotel__items -->
    </div> <!-- /container -->
</section> <!-- /theHotel -->