<section class="theNews">
    <div class="container">
        <span class="theNews__subtitle  g-subtitle">What’s new</span>
        <h2 class="theNews__title  g-title">The News</h2>

        <div class="theNews__items">

            <div class="theNews__item">
                <div class="theNews__img-inner">
                    <img src="assets/img/theNews/img-1.jpg" alt="">
                </div>

                <div class="theNews__item-content">
                    <div class="theNews__item-date">November 2, 2018 / in
                        <span class="theNews__item-tag">Sights</span>
                    </div>
                    <h4 class="theNews__item-title">Ut Tellus Dolor Dapibus Eget</h4>
                    <p class="theNews__items-text">
                        Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                        Aliquam erat volutpat. Duis ac turpis.
                    </p>

                    <a class="theNews__item-link  g-link" href="#">Read More</a>
                </div>
            </div> <!-- /theNews__item -->


            <div class="theNews__item">
                <div class="theNews__img-inner">
                    <img src="assets/img/theNews/img-2.jpg" alt="">
                </div>

                <div class="theNews__item-content">
                    <div class="theNews__item-date">November 28, 2019 / in
                        <span class="theNews__item-tag">News</span>
                    </div>
                    <h4 class="theNews__item-title">Vivamus Eget Nibh</h4>
                    <p class="theNews__items-text">
                        Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                        Aliquam erat volutpat. Duis ac turpis.
                    </p>

                    <a class="theNews__item-link  g-link" href="#">Read More</a>
                </div>
            </div> <!-- /theNews__item -->


            <div class="theNews__item">
                <div class="theNews__img-inner">
                    <img src="assets/img/theNews/img-3.jpg" alt="">
                </div>

                <div class="theNews__item-content">
                    <div class="theNews__item-date">November 8, 2019 / in
                        <span class="theNews__item-tag">tips</span>
                    </div>
                    <h4 class="theNews__item-title">Nemo Enim Ipsam Voluptatem</h4>
                    <p class="theNews__items-text">
                        Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                        Aliquam erat volutpat. Duis ac turpis.
                    </p>

                    <a class="theNews__item-link  g-link" href="#">Read More</a>
                </div>
            </div> <!-- /theNews__item -->

        </div> <!-- /theNews__items -->

        <button class="theNews__btn  btn  btn--grey" type="button">See All News</button>

    </div> <!-- /container -->
</section> <!-- /theNews -->