<section class="welcome">
    <div class="container">

        <div class="welcome__inner">

            <div class="welcome__left-box">
                <span class="welcome__subtitle  g-subtitle">Welcome To Milenia Luxury hotel</span>
                <h2 class="welcome__title  g-title">A New Vision of Luxury</h2>

                <p class="welcome__text">
                    <span class="welcome__text  welcome__text--strong">Aenean auctor wisi et urna. Aliquam erat
                        volutpat. Duis ac turpis. Donec sit amet eros.
                    </span>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ferme ntum dictum magna. Sed
                    laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean
                    auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.
                </p>
                <span class="welcome__signature">John Wilson</span>
                <span class="welcome__author">Managing Director </span>
            </div> <!-- /welcome__content -->


            <div class="welcome__right-box">
                <div class="welcome__img-inner">
                    <img class="welcome__img" src="assets/img/welcome/img-2.jpg" alt="">

                    <button class="btnControl  welcome__btn welcome__btn--galleria" type="button">
                        <svg class="welcome__btn-icon">
                            <use xlink:href=#welcome__galleria-btn></use>
                        </svg>
                    </button>

                    <button class="btnControl  welcome__btn welcome__btn--video" type="button">
                        <svg class="welcome__btn-icon">
                            <use xlink:href=#welcome__video-btn></use>
                        </svg>
                    </button>
                </div>
            </div>

        </div> <!-- /welcome__inner -->
    </div> <!-- /container -->
</section> <!-- /welcome -->