.articleAuthor {
    border: $border;
    padding: 35px;
    margin: 40px 0px;
}

.articleAuthor__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articleAuthor__img-inner {
    width: 19%;
    height: 100%;
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-right: 35px;

    img {
        width: 100%;
    }
}

.articleAuthor__content {
    width: 79%;
}

.articleAuthor__name {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: $blackColor;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.articleAuthor__text {
    line-height: 24px;
    margin-bottom: 15px;
}

.articleAuthor__contacts {

    .contacts__list {
        justify-content: flex-start;
    }

    .contacts__item {
        margin-right: 15px;
     }
 
     .contacts__link {
         width: 32px;
         height: 32px;
         border-radius: 50%;  
     }
 
     .contacts__icon {
         display: block;
         width: 17px;
         height: 17px;
         fill: $blackColor;
     }
}