.articles {
    width: 757px;
    padding-bottom: 120px;
}

.articles__inner {
    // display: flex;
    // flex-wrap: wrap;
}

.articles__line {   
    margin-bottom: 30px;
}

.articles__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}