.contacts__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contacts__item {
    margin-right: 24px;

    &:last-child {
        margin-right: 0;
    }
}

.contacts__icon {
    width: 20px;
    height: 20px;
    fill: $blackColor;
    transition: fill .2s ease-in;

    &:hover {
        fill: $goldColor;
    }
}
