.instagram__list {
    display: flex;
}

.instagram__item {
    @media (max-width: 520px) {

        &:nth-child(1) {
            display: none;
        }

        &:nth-child(2) {
            display: none;
        }
    }
}

.instagram__link {
    display: block;    
    overflow: hidden;   
}

.instagram__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;    
}