.introSlider {
    margin-bottom: 95px;
}

.introSlider__items {
    height: 100%;
}

.introSlider__item-bg {
    background-color: $bg-grey;
    width: 96.5%;

    @media (max-width: 890px) {
        width: 95%;
        margin: 0 auto;
    }

    @media (max-width: 640px) {
        width: 95%;
    }
}

.introSlider__item-inner {    
    position: relative;
}

.introSlider__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
    
    @media (max-width: 890px) {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.introSlider__item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    width: 49%;
    min-height: 382px;
    padding: 0px 40px;

    @media (max-width: 1080px) {
        min-height: 314px;
    }

    @media (max-width: 890px) {
        width: 100%;
        padding: 20px 20px;
        min-height: auto;
    }
}

.introSlider__subtitle {
    display: block;
    line-height: 55px;
    letter-spacing: .4px;
    color: $goldColor;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.introSlider__title {
    max-width: 463px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    line-height: 40px;
    letter-spacing: .4px;
    font-size: 35px;
    font-weight: 700;
    color: $blackColor;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 10px;

    @media (max-width: 920px) {
        font-size: 25px;
        line-height: 30px;
    }

    @media (max-width: 890px) {
       max-width: 100%;
       margin: 0px;
       font-size: 20px;
       line-height: 27px;
    }

    @media (max-width: 676px) {
        font-size: 18px;
        line-height: 22px;
    }
}

.introSlider__date {
    line-height: 55px;
    letter-spacing: .4px;
    color: $blackColor-light;
    text-transform: uppercase;
}

.introSlider__item-img {
    position: absolute;
    right: 0;
    bottom: -30px;
    max-height: 383px;
    max-width: 574px;
    overflow: hidden;

    @media (max-width: 1080px) {
       max-width: 470px;
    }

    @media (max-width: 890px) {
        position: static;
    }

    @media (max-width: 640px) {
        max-width: 100%;
    }
}

.introSlider__img-inner {
    
    img {
        display: block;        
    }
}

// .inner {
//     display: flex;
//     justify-content: space-between;
// }