.large-post {
    margin-bottom: 60px;

    @media (max-width: 750px) {
        margin-bottom: 50px;
    }

    @media (max-width: 576px) {
        margin-bottom: 35px;
    }
}

.large-post__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @media (max-width: 1176px) {
        align-items: flex-start;
    }

    @media (max-width: 750px) {
        flex-direction: column;
    }
}

.large-post__img-inner {
    position: relative;
    width: 49%;
    max-width: 364px;
    max-height: 243px;
    overflow: hidden;  
    
    img {
        width: 100%;
    }
    
    @media (max-width: 1176px) {
        max-width: 455px;
        max-height: 303px;
        width: 50%;
        margin-right: 15px;
    }

    @media (max-width: 750px) {
        width: 100%;
        max-width: 720px;
        max-height: 480px;
        margin-bottom: 30px;
    }


}

.large-post__new {
    position: absolute;
    left: 20px;
    top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .4px;
    color: #fff;
    text-transform: uppercase;
    background-color: #a8c26f;
    border-radius: 14px;
    border: 2px solid #fff;
    padding: 0px 12px;
}

.large-post__content {
    width: 49%;

    @media (max-width: 750px) {
        width: 100%;
    }
}

.large-post__subtitle {
    font-size: 14px;
    color: $goldColor;
    text-transform: uppercase;
}

.large-post__dash {
    padding: 0px 5px;
}

.large-post__date {
    font-size: 14px;
    color: $blackColor-light;
    text-transform: uppercase;
}

.large-post__title {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    color: $blackColor;
    margin-bottom: 15px;
    margin-top: 20px;
}

.large-post__text {
    line-height: 24px;
    color: $blackColor-light;
    margin-bottom: 25px;
}

