.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    padding: 0 22px;
    border-left: $border;

    &:last-child {
        border-right: $border;
    }
}

.menu__link {
    font-size: 16px;
    line-height: 50px;
    color: $blackColor;
    transition: color .2s ease;

    &:hover {
        color: $goldColor;
    }
}