.popularPosts {
    border: $border;
    padding: 40px 30px 40px 30px;
    margin-bottom: 30px;
}

.popularPosts__title {
    color: $goldColor;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
}

.popularPosts__line {
    margin-bottom: 30px;
}