.post {
    width: 49%;
    margin-bottom: 60px;
    transition: scale .2s ease-in;  
    
    @media (max-width: 750px) {
        width: 100%;
        margin-bottom: 50px;
    }

    @media (max-width: 576px) {
        margin-bottom: 35px;
    }
}

.post__subtitle {
    font-size: 14px;
    color: $goldColor;
    text-transform: uppercase;
}

.post__dash {
    padding: 0px 5px;
}

.post__date {
    display: inline-block;
    font-size: 14px;
    // line-height: 55px;
    color: $blackColor-light;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.post__title {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: $blackColor;
}
.post__img-inner {
    position: relative;
    max-width: 364px;
    max-height: 243px;
    overflow: hidden;   
    margin-bottom: 30px;   

    @media (max-width: 1176px) {
        max-width: 455px;
        max-height: 303px;  
        
        img {
            width: 100%;
        }
    }

    @media (max-width: 750px) {
        max-width: 720px;
        max-height: 480px;
    }
}

.post__text {
    line-height: 24px;
    color: $blackColor-light;
    margin-bottom: 25px;
}

.post--hidden-970 {
    display: none;
}
