.sidebar {
    width: 345px;

    @media (max-width: 1176px) {
        width: calc(100% - 30px);
        max-height: 1500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        align-content: space-between;
        margin-right: -15px;
        margin-left: -15px;
    }

    @media (max-width: 680px) {
        flex-direction: row;
        max-height: 100%;
        justify-content: center;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}