$colorWhite: #fff;
$colorBlack: #2C2C2C;
$colorPurple: #6F64F8;
$colorOrange: #FFA84C;

$bg_grey: #EDEDED;
$bg_main: #F9F9F9;

$radius: 8px;
$radius_small: 3px;

$shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);

$font_Montserrat: 'Montserrat';

