<div class="popup__wrap">
    <div class="popup__overlay"></div>

    <div class="popup" id="id-test">

        <div class="popup__container">
            <button class="popup__close">×</button>

            <div class="form  popup__form">
                <p class="form__title">Заполните форму и&nbsp;мы&nbsp;Вам перезвоним</p>

                <form>
                    <div class="form__field">
                        <input class="form__input" type="text" placeholder="Как Вас зовут?">
                    </div>

                    <div class="form__field">
                        <input class="form__input type=" tel" placeholder="Введите контактный телефон">
                    </div>

                    <div class=" form__field">
                        <button class="btn form__btn">
                            <span class="btn__blik"></span>
                            ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК
                        </button>
                        <div class="form__policy">
                            <input id="radio-1" type="checkbox" class="form__radio" checked>
                            <label for="radio-1" class="form__radio-label">
                                <p class="form__policy-text">Я принимаю условия
                                    <span>передачи информации</span>
                                </p>
                            </label>
                        </div>
                    </div>

                    <div class="form-inner__bottom">
                        <div class="form-contacts">
                            <p class="form-contacts__title">или позвоните нам:
                                <a class="form-contacts__phone" href="tel:+375297766307">+375 (29) 776-63-07</a>
                            </p>
                            <p class="form-contacts__time">Работаем ежедневно с&nbsp;9.00 до&nbsp;20.00</p>
                        </div>
                    </div>
                </form>
            </div> <!-- /form -->
        </div>
    </div> <!-- /popup -->
</div> <!-- /popup__wrap -->