<section class="current-discounts">
    <div class="container">
        <div class="current-discounts__items">


            <div class="intro__info-item">
                <div class="intro__info-content">
                    <div class="intro__info-title">Скидка <br> на все лески</div>
                    <span class="intro__info-subtitle">до 15 декабря</span>

                    <a class="btn-circle  intro__info-btn" href="#">
                        <svg class="btn-circle__icon">
                            <use xlink:href="#svg-arrow-right"></use>
                        </svg>
                    </a>
                </div>

                <div class="intro__info-img">
                    <img src="assets/img/current-discounts/img-1.png" alt="">
                </div>

                <div class="intro-info__shadow"></div>
            </div>


            <div class="intro__info-item">
                <div class="intro__info-content">
                    <div class="intro__info-title">Скидка <br> на катушки</div>
                    <span class="intro__info-subtitle">до 31 января</span>
                    <a class="btn-circle  intro__info-btn" href="#">
                        <svg class="btn-circle__icon">
                            <use xlink:href="#svg-arrow-right"></use>
                        </svg>
                    </a>
                </div>

                <div class="intro__info-img">
                    <img src="assets/img/current-discounts/img-2.png" alt="">
                </div>

                <div class="intro-info__shadow"></div>
            </div>


        </div> <!-- /current-discounts__items -->
    </div> <!-- /container -->
</section> <!-- /current-discounts -->