<section class="hits">
    <div class="container">

        <div class="section-header">
            <h2 class="section-header__title">Хиты продаж</h2>
            <a class="section-header__link" href="#">весь каталог</a>
            <div class="section-header__buttons">
                <button class="btn-circle  section-header__prev" type="button">
                    <svg>
                        <use xlink:href="#svg-arrow-right"></use>
                    </svg>
                </button>

                <button class="btn-circle  section-header__next" type="button">
                    <svg>
                        <use xlink:href="#svg-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div> <!-- /section-header -->


        <div class="cards  hits__cards">
            <div class="best  hits__best">
                <a class="best__wrap" href="#">
                    <div class="best__title">Бестселлер</div>
                    <h3 class="best__name">удилище Adrenalin 7300 BC</h3>
                    <span class="best__price">4 800 р.</span>
                </a>
            </div>


            <div class="slides  hits__slides">

                <div>
                    <div class="card  hits__card">
                        <span class="label  card__label-hit">Хит</span>

                        <a class="card__img-wrap" href="#">
                            <img src="assets/img/hits/slides/img-1.png" alt="">
                        </a>

                        <div class="card__info">
                            <div class="rating  card__rating">
                                <ul class="rating__list">
                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>

                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>

                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>

                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>

                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>
                                </ul>

                                <svg class="card__favourites  isFavourites">
                                    <use xlink:href="#svg-heart"></use>
                                </svg>
                            </div>
                            <h4 class="card__name">Удилище<br>Matze Koch Rollen</h4>
                            <span class="card__price">13 490 р.</span>
                        </div> <!-- /card__info -->

                        <button class="btn card__btn" type="button">В корзину</button>
                    </div> <!-- /card -->
                </div>



                <div>
                    <div class="card  hits__card">
                        <span class="label  card__label-hit">Хит</span>
                        <span class="label   label--discount card__label">Скидка</span>

                        <a class="card__img-wrap" href="#">
                            <img src="assets/img/hits/slides/img-2.jpg" alt="">
                        </a>

                        <div class="card__info">
                            <div class="rating  card__rating">
                                <ul class="rating__list">
                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>

                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>

                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>

                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>

                                    <li class="rating__item">
                                        <svg class="rating__icon">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>
                                </ul>

                                <svg class="card__favourites">
                                    <use xlink:href="#svg-heart"></use>
                                </svg>
                            </div>
                            <h4 class="card__name">Приманка <br> Matze Koch Rollen</h4>
                            <span class="card__price">3 240 р.</span>
                            <span class="card__old">6200 р.</span>
                            <div class="card__profit">Ваша выгода
                                <span>3 200 р.</span>
                            </div>
                        </div>

                        <button class="btn card__btn" type="button">В корзину</button>
                    </div> <!-- /card -->
                </div>



                <div>
                    <div class="card  hits__card">
                        <span class="label  card__label-hit">Хит</span>

                        <a class="card__img-wrap" href="#">
                            <img src="assets/img/hits/slides/img-3.jpg" alt="">
                        </a>

                        <div class="card__info">
                            <div class="rating  card__rating">
                                <ul class="rating__list">
                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>

                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>

                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>

                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>

                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>
                                </ul>

                                <svg class="card__favourites">
                                    <use xlink:href="#svg-heart"></use>
                                </svg>
                            </div>
                            <h4 class="card__name">Катшука <br> Matze Koch Rollen</h4>
                            <span class="card__price">5 600 р.</span>
                        </div>

                        <button class="btn card__btn" type="button">В корзину</button>
                    </div> <!-- /card -->
                </div>


                <div>
                    <div class="card  hits__card">
                        <span class="label  card__label-hit">Хит</span>

                        <a class="card__img-wrap" href="#">
                            <img src="assets/img/hits/slides/img-3.jpg" alt="">
                        </a>

                        <div class="card__info">
                            <div class="rating  card__rating">
                                <ul class="rating__list">
                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>

                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>

                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>

                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>

                                    <li class="rating__item">
                                        <svg class="rating__icon  isTrue">
                                            <use xlink:href="#svg-star"></use>
                                        </svg>
                                    </li>
                                </ul>

                                <svg class="card__favourites">
                                    <use xlink:href="#svg-heart"></use>
                                </svg>
                            </div>
                            <h4 class="card__name">4444444 <br> Matze Koch Rollen</h4>
                            <span class="card__price">99999 р.</span>
                        </div>

                        <button class="btn card__btn" type="button">В корзину</button>
                    </div> <!-- /card -->
                </div>




            </div> <!-- /slides -->

        </div> <!-- /cards -->
    </div> <!-- /container -->
</section> <!-- /hits -->