<section class="intro">
    <div class="container">
        <div class="intro__inner">

            <aside class="sidebar  intro__sidebar">
                <ul class="sidebar__list">
                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="#">Катушки</a>
                        <button class="sidebar__item-btn" type="button"></button>
                    </li>

                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="#">Удилища</a>
                        <button class="sidebar__item-btn" type="button"></button>
                    </li>

                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="#">Приманки</a>
                        <button class="sidebar__item-btn" type="button"></button>
                    </li>

                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="#">Воблеры</a>
                        <button class="sidebar__item-btn" type="button"></button>
                    </li>

                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="#">Лески и шнуры</a>
                        <button class="sidebar__item-btn" type="button"></button>
                    </li>

                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="#">Поплавки</a>
                        <button class="sidebar__item-btn" type="button"></button>
                    </li>

                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="#">Крючки</a>
                        <button class="sidebar__item-btn" type="button"></button>
                    </li>

                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="#">Аксессуары</a>
                        <button class="sidebar__item-btn" type="button"></button>
                    </li>

                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="#">Одежда</a>
                        <button class="sidebar__item-btn" type="button"></button>
                    </li>

                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="#">Снаряжение</a>
                        <button class="sidebar__item-btn" type="button"></button>
                    </li>

                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="#">Электроника</a>
                        <button class="sidebar__item-btn" type="button"></button>
                    </li>

                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="#">Зимняя рыбалка</a>
                        <button class="sidebar__item-btn" type="button"></button>
                    </li>

                    <li class="sidebar__item">
                        <a class="sidebar__item-link" href="#">Другое</a>
                        <button class="sidebar__item-btn" type="button"></button>
                    </li>
                </ul>

                <div class="intro-info__shadow"></div>
            </aside>



            <div class="intro__content">
                <div class="main-slider  intro__main-slider">
                    <div>
                        <div class="main-slider__item">
                            <div class="main-slider__item-content">
                                <h2 class="main-slider__item-title">Специальные предложения</h2>
                                <h1 class="main-slider__item-name">катушка Adrenalin 7300 BC</h1>
                                <span class="main-slider__item-price">5 600p.</span>

                                <button class="btn--black main-slider__item-btn" type="button">Купить</button>
                            </div>

                            <div class="main-slider__item-img">
                                <img src="assets/img/intro/slides/img-1.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="main-slider__shadow"></div>
                </div>


                <div class="intro__info">
                    <div class="intro__info-items">

                        <div class="intro__info-item">
                            <div class="intro__info-content">
                                <div class="intro__info-title">Новые приманки</div>
                                <span class="intro__info-subtitle">для подледной ловли</span>
                                <a class="btn-circle  intro__info-btn" href="#">
                                    <svg class="btn-circle__icon">
                                        <use xlink:href="#svg-arrow-right"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="intro__info-img">
                                <img src="assets/img/intro/info/img-1.png" alt="">
                            </div>

                            <div class="intro-info__shadow"></div>
                        </div>

                        <div class="intro__info-item">
                            <div class="intro__info-content">
                                <div class="intro__info-title">Скачайте каталог</div>
                                <span class="intro__info-subtitle">для оптовиков</span>
                                <a class="btn-circle  intro__info-btn" href="#">
                                    <svg class="btn-circle__icon">
                                        <use xlink:href="#svg-arrow-right"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="intro__info-img">
                                <img src="assets/img/intro/info/img-2.png" alt="">
                            </div>

                            <div class="intro-info__shadow"></div>
                        </div>

                        <div class="intro__info-item">
                            <div class="intro__info-content">
                                <div class="intro__info-title">Эксперты отвечают</div>
                                <span class="intro__info-subtitle">на ваши вопросы</span>
                                <a class="btn-circle  intro__info-btn" href="#">
                                    <svg class="btn-circle__icon">
                                        <use xlink:href="#svg-arrow-right"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="intro__info-img">
                                <img src="assets/img/intro/info/img-3.png" alt="">
                            </div>

                            <div class="intro-info__shadow"></div>
                        </div>
                    </div>
                </div> <!-- /intro__info -->
            </div> <!-- /intro__content -->



        </div> <!-- /intro__inner -->
    </div> <!-- /container -->
</section> <!-- /intro -->