
.advantages {
    background-color: rgba(38, 38, 44, 0.95);
    padding-top: 2vw;
    padding-bottom: 3vw;

    @media (max-width: 375px) {
        padding-top: 6vw;   
    }
}

.advantages__items { 
    display: flex;   
    justify-content: space-between;   
    align-items: center;

    @media (max-width: 992px) {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.advantages__item {
    position: relative;
    width: 22%;
    padding-right: 2vw;
    padding-left: 3vw;
    z-index: 4;

    &:nth-child(1) {
        width: 15%;
        padding-right: 0;
        padding-left: 0;
        z-index: 6;
        
        img {
            width: 4vw;

            @media (max-width: 992px) {
                margin: 0 auto;   
            }

            @media (max-width: 375px) {
                width: auto;  
                order: -1;
                margin-bottom: 15px;
            }
        }

        @media (max-width: 992px) {
            width: 35%;   
        }

        @media (max-width: 375px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
        }
    }

    &:nth-child(2) {
        width: 25%;
        padding-left: 0;
        margin-left: -2.5vw;     
        
        @media (max-width: 992px) {
            padding-left: 3vw;
            margin-left: 0vw;
            flex-shrink: 0;
            flex-basis: 250px;
        }   
    }

    &:nth-child(3) {
       a {
           color: #958aca;;
       }    
       
       @media (max-width: 992px) {
            img {
                margin: 0 auto;

                @media (max-width: 992px) {
                    max-width: 180px;   
                }
            }   
       }
    }

    &:nth-child(4) {
       img {
            position: absolute;
            left: 20%;
            top: 50%;          
            transform: translate(0, -50%) scale(1.5);
            z-index: -1;
            opacity: 1;
            max-width: 150px;
       }    
    }

    @media (max-width: 992px) {
        width: 35%;
        text-align: center;   
        margin-bottom: 30px;        
    }

    @media (max-width: 375px) {
        width: 100%;

    }
}

.advantages__item-img {

    &--one {
        height: 3.4vw;

        @media (max-width: 992px) {
            margin: 0 auto;   
        }

        @media (max-width: 768px) {
            height: 3.7rem;   
        }

        @media (max-width: 375px) {
            height: 13vw;
            margin-top: 10px;   
        }
    }

    &--two {
        position: absolute;
        left: 60%;
        bottom: -4.3vw;
        max-width: none;
        max-height: none;
        width: 8.9vw;
        z-index: -1;

        @media (max-width: 992px) {
            display: none;   
        }
    }   
}

.advantages__title {
    margin-bottom: 0.7vw;
    color: #858aa0;

    @media (max-width: 992px) {
        font-size: 16px;

        br {
            display: none;
        }
    }
}

.advantages__video {
    position: relative;
    height: 9vw;
    border-radius: 7px;  
    display: flex;  
    justify-content: center;   
    align-items: center;
    margin-top: -1vw;

    @media (max-width: 992px) {
        min-height: 130px;   
    }
}

.advantages__video-play {
    display: inline-block;
    width: 3vw;

    img {
        animation: pulseicon-a 4s infinite linear;
    }

    @media (max-width: 992px) {
        width: 7vw;   
    }

    @media (max-width: 375px) {
        width: 15vw;   
    }
}

@keyframes pulseicon-a {
    0% {
      transform: translate(0, 0) scale(0.85);
    }
  
    50% {
      transform: translate(0, 0) scale(1);
    }
  
    100% {
      transform: translate(0, 0) scale(0.85);
    }
  }
  