.form {
    position: relative;
    width: 55%;
}

.form__wrap {
    margin-bottom: 1.5vw;
}

.form__input {
    background-color: #f4f3ef;
    border: none;
    box-shadow: inset 0 0 7px rgba(212, 209, 199, 0.2);
    border: 1px solid #dbdad8;
    font-style: italic;
    padding-left: 1.5vw;

    height: 3.3vw;
    padding: 0.3vw 1vw;
    font-weight: 400;
    border-radius: 10px;
    align-self: center;
    width: 100%;
    position: relative;
    margin-bottom: 1.5vw;
}