.logo {

    span {
        display: block;
    }
}

.logo__link {
    max-width: 12vw;
    margin-right: 1vw;
    display: inline-block;
}

.logo__img {
}

.logo__text {
    color: #858aa0;
    font-size: 0.85vw;
}