.phone {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (max-width: 992px) {
        align-items: flex-start;   
    }

    @media (max-width: 768px) {
        margin-right: 20px;   
    }   

    @media (max-width: 576px) {
        margin-left: 3rem;   
    }
}

.phone__text {
    position: relative;
    display: inline-block;
    color: #00af47;
    letter-spacing: 0.68px;
    font-weight: 500;
    padding-left: 10px;
    margin-bottom: 0.41vw;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        background-color: #00af47;
        border-radius: 100%;
        margin-right: 0.4rem;
    }

    @media (max-width: 992px) {
        font-size: 0.9rem;  
    }
   

    @media (max-width: 768px) {
        font-size: 10px;   
    }

    @media (max-width: 576px) {
        width: 70%;   
    }
}

.phone__link {
    font-family: "History Pro 02", sans-serif;
    color: #fff;   
    transition: all 0.4s;
    font-size: 1.5vw;

    @media (max-width: 768px) {
        font-size: 1.3rem  
    }
}