.text-tg {
    color: #2188bc;
    margin-left: 1.5vw;
}

.text-md {
    font-size: 1.07vw;
  }

.text {
    font-size: 0.97vw;
}

.small-text {
    font-size: 0.92vw;
}

.text24 {
    font-size: 1vw;
}

.text23 {
    font-size: 1.3vw;
}

.text21 {
    font-size: 1.2vw;
}

.tsm8 {
    font-size: 0.55vw;
}

.tsm {
    font-size: 0.61vw;
}

.tsm12 {
    font-size: 0.75vw;
}

.tsm13 {
    font-size: 0.85vw;
}