.tooltip {
    position: absolute;
    z-index: 1005;
    right: 0.5vw;
    top: 0.5vw;
    width: 1.35vw;
    height: 1.35vw;    
    cursor: pointer;
    
    &:hover {
        
        .tooltip__hover {
            transform: translateX(-50%) scale(1);
            opacity: 1;
        }       
    }

    @media (max-width: 900px) {
      width: 1.5rem;
      height: 1.5rem; 
      right: 0.7rem;
      top: 0.7rem;
    }
}

.tooltip__title {
  font-family: "History Pro 02", sans-serif;
  text-align: center;
  margin-bottom: 1.5vw;
}

.tooltip__icon {
    position: relative;
    z-index: 999;     
    animation: pulse 1.6s infinite;
    border-radius: 100%; 
}

.tooltip__hover {
    position: absolute;
    z-index: 900;
    width: 14vw;
    left: 50%;
    bottom: 0.9vw;
    color: #2b2b33;
    box-shadow: 0 10px 40px rgba(43, 43, 51, 0.2);   
    transform: translateX(-50%) scale(0);
    opacity: 0;   
    background-color: #fff;
    padding: 0.8vw;
    transition: all 0.4s;

    @media (max-width: 900px) {
      padding: 1rem;
    }

    @media (max-width: 576px) {
      width: 12rem; 
    };
}

.tooltip__text {
    text-align: center;    
}


@keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(220, 191, 139, 0.6);
    }
  
    70% {
      box-shadow: 0 0 0 35px rgba(220, 191, 139, 0);
    }
  
    100% {
      box-shadow: 0 0 0 0 rgba(220, 191, 139, 0);
    }
  }