<footer class="footer">
    <div class="container">

        <div class="social">
            <div class="social__copy">&copy; Kubarski Dzmitry, 2020</div>

            <ul class="social__list">
                <li class="social__item">
                    <a href="mailto:dzmitrykubarski@gmail.com" target="_blank" class="social__link">
                        <svg class="social__icon">
                            <use xlink:href=#mail-svg></use>
                        </svg>
                    </a>
                </li>

                <li class="social__item">
                    <a class="social__link" href="https://github.com/Dzmitry-Kubarski" target="_blank">
                        <svg class="social__icon  social__icon--git">
                            <use xlink:href=#git-svg></use>
                        </svg>
                    </a>
                </li>

                <li class="social__item">
                    <a class="social__link"
                        href="https://www.linkedin.com/in/%D0%B4%D0%BC%D0%B8%D1%82%D1%80%D0%B8%D0%B9-%D0%BA%D1%83%D0%B1%D0%B0%D1%80%D1%81%D0%BA%D0%B8%D0%B9-0504601a0/"
                        target="_blank">
                        <svg class="social__icon">
                            <use xlink:href=#linkedin-svg></use>
                        </svg>
                    </a>
                </li>

                <li class="social__item">
                    <a class="social__link" href="https://vk.com/id21157563" target="_blank">
                        <svg class="social__icon  social__icon--vk">
                            <use xlink:href=#vk-svg></use>
                        </svg>
                    </a>
                </li>
            </ul> <!-- /social__list -->


        </div> <!-- /social -->
    </div> <!-- /container -->
</footer>