<footer class="footer">
    <div class="container">

        <div class="social">
            <div class="social__copy">&copy; Kubarski Dzmitry, 2020</div>

            <ul class="social__list">
                <li class="social__item">
                    <a href="mailto:dzmitrykubarski@gmail.com" target="_blank" class="social__link">
                        <svg class="social__icon">
                            <use xlink:href=#mail-svg></use>
                        </svg>
                    </a>
                </li>

                <li class="social__item">
                    <a class="social__link" href="https://github.com/Dzmitry-Kubarski" target="_blank">
                        <svg class="social__icon  social__icon--git">
                            <use xlink:href=#git-svg></use>
                        </svg>
                    </a>
                </li>

                <li class="social__item">
                    <a class="social__link" href="https://www.linkedin.com/in/dzmitry-Kubarski/" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href=#linkedin-svg></use>
                        </svg>
                    </a>
                </li>

                <li class="social__item">
                    <a class="social__link" href="https://vk.com/id21157563" target="_blank">
                        <svg class="social__icon  social__icon--vk">
                            <use xlink:href=#vk-svg></use>
                        </svg>
                    </a>
                </li>
            </ul> <!-- /social__list -->


        </div> <!-- /social -->
    </div> <!-- /container -->
</footer>