<footer class="footer">
    <div class="container">

        <div class="social">
            <div class="social__text">Мои соц.сети:</div>

            <ul class="social__list">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href=#vk></use>
                        </svg>
                    </a>
                </li>

                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <svg class="social__icon social__icon--fb">
                            <use xlink:href=#fb></use>
                        </svg>
                    </a>
                </li>

                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <svg class="social__icon social__icon--fb">
                            <use xlink:href=#inst></use>
                        </svg>
                    </a>
                </li>
            </ul> <!-- /social__list -->


        </div> <!-- /social -->
    </div> <!-- /container -->
</footer>