$black: #000;
$black_light: #3d3d3d;
$orange: #fb5714;
$white: #fff;
$gradient: linear-gradient( 149deg,rgb(237,0,110) , rgb(248,178,53) 100%);
$gradient_new: linear-gradient( 149deg,rgb(248,178,53) , rgb(237,0,110) 100%);
$shadow_circle: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);   



