.header__inner {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    background-color: $color_blue;
    
    background-image: url('../img/bg-gradient.png');
    background-repeat: no-repeat;
    background-position: right center;
}