.calculator-item {
    display: none;

    &.active {
        display: block;
    }
}

.calculator-item__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}

.calculator-item__product {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 90px;
}

.calculator-item__img {
    position: relative;
    margin-bottom: 40px;   
    min-width: 202px;
    min-height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.calculator-item__tag {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 22px;
    color: #636363;
    font-style: italic;

    &.width {
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
    }

    &.height {
        left: -65px;
        top: 50%;
        transform: rotate(-90deg) translateY(-50%);       
    }
}

.calculator-item__info {
    width: 60%;
}

.calculator-item__title {
    font-size: 30px;
    color: #0099de;
    margin-bottom: 50px;
}

.calculator-item__options {
    margin-bottom: 60px;
}

.calculator-item__subtitle {
    font-size: 24px;
    color: #000;
    margin-bottom: 25px;    
}

.calculator-item__label {
    cursor: pointer;
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }

    span {
        font-size: 18px;
    }
}