$colorBrown: #4f1f12;
$colorWhite: #fff;
$colorGrey: #777777;
$colorBlack: #000;
$color-hover: #faaf40;


$shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);


$font-Pacifico: 'Pacifico';
$font-Poppins: 'Poppins';
$font-HoltwoodOneSC: 'Holtwood One SC';
$font-FuturaBQMedium: 'FuturaBQ Medium';
$font-FuturaBTHeavy: 'FuturaBT Heavy';  