.catalog {
    width: 100%;    
    margin-left: 30px;  
}

.catalog__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;  
}

.catalog__result {
    font-size: 18px;
    line-height: 21px;
}