.offer {
    background: url('../img/offer-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 70px;
    padding-bottom: 120px;
}


.offer__form {
    margin-left: 100px;
}



