$color_white: #fff;
$color-black: #000;
$color_white-Gray: #999;
$color_gray: #767676;
$color_orange: #FF7700;

$radius: 6px;
$radius_small: 4px;

$shadow: 0px 5px 100px rgba(174, 181, 196, 0.08);
$shadow_circle: 0px 5px 20px rgba(192, 192, 192, 0.3);

$bg_black: #333333;
$bg_gray: #F6F6F6;