$color_white: #fff;
$color-black: #1A212F;
$color_yellow: #FAC663;
$color_orange: #FF7236;

$radius: 6px;





$bg_grey: #EDEDED;
$bg_main: #F9F9F9;

$radius_small: 3px;

$shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);

$font_Montserrat: 'Montserrat';

