.header {
    padding-top: 2.50vw;
    padding-bottom: 4.45vw;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 590px) {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 1rem;
    }
}

.header__price {
    display: flex;
    align-items: center;  
    
    @media (max-width: 900px) {
        display: none;   
    }

    &:hover {
        .header__price-text {
            color: lighten(#d5132a, 40%);
        }
    }
}

.header__price-img {
    margin-right: 0.95vw;
    width: 5vw;
}

.header__price-text {
    font-size: 0.70vw;
    color: #d5132a;
    letter-spacing: 1.21px;
    font-weight: 500;
    border-bottom: 1px dotted #d5132a;
    text-transform: uppercase;
    transition: color .2s linear;
}

.header__phone {
    display: flex;
    flex-direction: column;
}

.header__phone-title {
    position: relative;
    font-size: 0.70vw;
    color: #00af47;
    letter-spacing: 0.80px;
    padding-left: 1.30vw;
    margin-bottom: 0.44vw;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #00af47;
        transform: translateY(-50%);

        @media (max-width: 960px) {
            left: -1.1vw;   
        }
    }

    @media (max-width: 900px) {
        font-size: 1.2vw;   
    }

    @media (max-width: 768px) {
        font-size: 0.6rem;  
        padding-left: 1rem; 
    }

    @media (max-width: 590px) {
        font-size: 0.9rem;   
    }
}

.header__phone-link {
    position: relative;
    font-family: $font_GothamPro;
    font-weight: 900;
    font-size: 1.15vw;
    color: #262626;
    padding-left: 1.30vw;   
    transition: opacity .2s linear;
    
    &:hover {
        opacity: .5;
    }

    &::before {
        content: url('../img/header/phone.png');
        display: block;
        position: absolute;
        top: 50%;
        left: -.35vw;
        width: 1.08vw;
        height: 1.08vw;
        background-repeat: no-repeat;
        transform: translateY(-50%);

        @media (max-width: 960px) {
            left: -1.4vw;   
        }

        @media (max-width: 768px) {
            width: 17px;
            height: 17px;   
        }
    }

    @media (max-width: 900px) {
        font-size: 1.6vw;   
    }

    @media (max-width: 768px) {
        font-size: 1rem;   
        padding-left: 1rem;
    }
}