<section class="discount">
    <div class="container">

        <div class="discount__inner">
            <div class="discount__content">
                <h2 class="discount__title">АКЦИЯ - 60%</h2>
                <p class="discount__text">Успей сэкономить на остеклении! Только до 1 марта!</p>

                <div class="timer  discount__timer">
                    <p class="timer__title">До завершения акции:</p>

                    <div class="countdown  timer__items">
                        <div class="timer__item">
                            <div class="timer__item-value  days">00</div>
                            <span class="timer__item-name">дней</span>
                        </div>

                        <div class="timer__item">
                            <div class="timer__item-value  hours">00</div>
                            <span class="timer__item-name">часов</span>
                        </div>

                        <div class="timer__item">
                            <div class="timer__item-value  minutes">00</div>
                            <span class="timer__item-name">минут</span>
                        </div>

                        <div class="timer__item">
                            <div class="timer__item-value  seconds">00</div>
                            <span class="timer__item-name">секунд</span>
                        </div>
                    </div>
                </div> <!-- /сегодня.timer  discount__timer -->
            </div> <!-- /сегодня.discount__content -->

            <div class="discount__form-box">
                <div class="form  discount__form">
                    <p class="form__subtitle">Запишитесь сегодня на</p>
                    <h3 class="form__title">БЕСПЛАТНЫЙ ЗАМЕР</h3>

                    <form action="#">
                        <input class="form__input" type="text" placeholder="Введите ваше имя">
                        <input class="form__input" type="tel" placeholder="+7 (___) ___-__-__">
                        <button class="btn  form__btn" type="submit">Вызвать замерщика!</button>
                        <p class="form__privacy">Ваши данные конфиденциальны</p>
                    </form>
                </div>
            </div>
        </div>

    </div> <!-- /container -->
</section> <!-- /discount -->