<section class="finish">
    <div class="container">
        <h2 class="g-title  finish__title">ЗАКАЖИТЕ ОТДЕЛКУ БАЛКОНА СО СКИДКОЙ 60%!</h2>

        <div class="finish__tabs">
            <ul class="finish__tabs-list">
                <li class="finish__tabs-item">
                    <button class="finish__tabs-bnt  active">
                        <span>ВНУТРЕННЯЯ ОТДЕЛКА</span>
                    </button>
                </li>

                <li class="finish__tabs-item">
                    <button class="finish__tabs-bnt">
                        <span>ВНЕШНЯЯ ОТДЕЛКА</span>
                    </button>
                </li>

                <li class="finish__tabs-item">
                    <button class="finish__tabs-bnt">
                        <span>ВЫНОСНОЕ ОСТЕКЛЕНИЕ</span>
                    </button>
                </li>

                <li class="finish__tabs-item">
                    <button class="finish__tabs-bnt">
                        <span>КРЫША НА БАЛКОН</span>
                    </button>
                </li>
            </ul>
        </div> <!-- /finish__tabs -->


        <div class="finish__content">
            <div class="finish__items">

                <div class="finish__item  active">
                    <img class="finish__img" src="assets/img/finish/inner/img-1.jpg" alt="">

                    <div class="finish__item-info">
                        <ul class="finish__materials">

                            <li class="finish__materials-item">
                                <img class="finish__materials-img" src="assets/img/finish/inner/icon-1.png" alt="">
                                <p class="finish__materials-title">Вагонка</p>
                                <p class="finish__materials-price">600 руб. кв.м.
                                    <span>с материалом</span>
                                </p>
                            </li>

                            <li class="finish__materials-item">
                                <img class="finish__materials-img" src="assets/img/finish/inner/icon-2.png" alt="">
                                <p class="finish__materials-title">Пластиковая вагонка</p>
                                <p class="finish__materials-price">700 руб. кв.м.
                                    <span>с материалом</span>
                                </p>
                            </li>

                            <li class="finish__materials-item">
                                <img class="finish__materials-img" src="assets/img/finish/inner/icon-3.png" alt="">
                                <p class="finish__materials-title">ПВХ-панели</p>
                                <p class="finish__materials-price">800 руб. кв.м.
                                    <span>с материалом</span>
                                </p>
                            </li>

                            <li class="finish__materials-item">
                                <img class="finish__materials-img" src="assets/img/finish/inner/icon-4.png" alt="">
                                <p class="finish__materials-title">Настил пола из ламината</p>
                                <p class="finish__materials-price">1250 руб. кв.м.
                                    <span>с материалом</span>
                                </p>
                            </li>

                            <li class="finish__materials-item">
                                <img class="finish__materials-img" src="assets/img/finish/inner/icon-5.png" alt="">
                                <p class="finish__materials-title">Настил пола из дерева</p>
                                <p class="finish__materials-price">1650 руб. кв.м.
                                    <span>с материалом</span>
                                </p>
                            </li>
                        </ul>
                    </div> <!-- /finish__item-info -->
                </div> <!-- /finish__item -->


                <div class="finish__item">
                    <img class="finish__img  finish__img--external" src="assets/img/finish/external/img-1.jpg" alt="">

                    <div class="finish__item-info">
                        <p class="finish__item-title  finish__item-title--external">
                            Большой выбор цветов винилового сайдинга
                        </p>
                        <ul class="finish__colors">
                            <li class="finish__colors-item">
                                <div class="finish__colors-circle"></div>
                                <span class="finish__colors-name">Белый</span>
                            </li>

                            <li class="finish__colors-item">
                                <div class="finish__colors-circle  finish__colors-circle--black"></div>
                                <span class="finish__colors-name">Дымчатый</span>
                            </li>

                            <li class="finish__colors-item">
                                <div class="finish__colors-circle  finish__colors-circle--cream"></div>
                                <span class="finish__colors-name">Кремовый</span>
                            </li>

                            <li class="finish__colors-item">
                                <div class="finish__colors-circle  finish__colors-circle--yellow"></div>
                                <span class="finish__colors-name">Лимонный</span>
                            </li>

                            <li class="finish__colors-item">
                                <div class="finish__colors-circle  finish__colors-circle--pink"></div>
                                <span class="finish__colors-name">Розовый</span>
                            </li>

                            <li class="finish__colors-item">
                                <div class="finish__colors-circle  finish__colors-circle--lightGreen"></div>
                                <span class="finish__colors-name">Салатовый</span>
                            </li>

                            <li class="finish__colors-item">
                                <div class="finish__colors-circle  finish__colors-circle--grey"></div>
                                <span class="finish__colors-name">Светло-серый</span>
                            </li>

                            <li class="finish__colors-item">
                                <div class="finish__colors-circle  finish__colors-circle--greyBlue"></div>
                                <span class="finish__colors-name">Серо-голубой</span>
                            </li>

                            <li class="finish__colors-item">
                                <div class="finish__colors-circle  finish__colors-circle--green"></div>
                                <span class="finish__colors-name">Серо-зеленый</span>
                            </li>

                            <li class="finish__colors-item">
                                <div class="finish__colors-circle  finish__colors-circle--beige"></div>
                                <span class="finish__colors-name">Бежевый</span>
                            </li>
                        </ul>
                        <p class="finish__materials-price">1800 руб. кв.м.
                            <span>с материалом</span>
                        </p>
                    </div> <!-- /finish__item-info -->
                </div> <!-- /finish__item -->

            </div> <!-- /finish__items -->

            <div class="form  finish__form">
                <p class="form__subtitle">Запишитесь сегодня на</p>
                <h3 class="form__title">БЕСПЛАТНЫЙ ЗАМЕР</h3>

                <form action="#">
                    <input class="form__input" type="text" placeholder="Введите ваше имя">
                    <input class="form__input" type="tel" placeholder="+7 (___) ___-__-__">
                    <button class="btn  form__btn" type="submit">Вызвать замерщика!</button>
                    <p class="form__privacy">Ваши данные конфиденциальны</p>
                </form>
            </div>
        </div>


    </div> <!-- /container -->
</section> <!-- /finish -->