<footer class="footer">

    <div class="container">
        <div class="footer__inner">

            <div class="footer__signature">
                2017 © Ирвас окна<br>Работаем без выходных
            </div>

            <div class="logo  footer__logo">
                <a class="logo__link" href="#">
                    <img src="assets/img/logo.png" alt="Логотип">
                </a>
            </div>

            <div class="footer__contacts">
                <a class="phone  footer__phone" href="tel:+74956466171">+7 (495) 646-61-71</a>
                <a class="footer__contacts-email" href="mailto:info@irvasokna.ru">info@irvasokna.ru</a>
            </div>

        </div> <!-- /footer__inner -->
    </div> <!-- /container -->
</footer> <!-- /footer -->