<section class="guarantee">
    <div class="container">
        <h2 class="g-title  guarantee__title">МЫ ГАРАНТИРУЕМ ВАМ</h2>

        <ul class="guarantee__items">
            <li class="guarantee__item">
                <img class="guarantee__item-img" src="assets/img/guarantee/icon-1.png" alt="">
                <p class="guarantee__item-title">Высокое качество</p>
            </li>
            <li class="guarantee__item">
                <img class="guarantee__item-img" src="assets/img/guarantee/icon-2.png" alt="">
                <p class="guarantee__item-title">Выполнение работ под ключ</p>
            </li>
            <li class="guarantee__item">
                <img class="guarantee__item-img" src="assets/img/guarantee/icon-3.png" alt="">
                <p class="guarantee__item-title">Монтаж в короткие сроки</p>
            </li>
            <li class="guarantee__item">
                <img class="guarantee__item-img" src="assets/img/guarantee/icon-4.png" alt="">
                <p class="guarantee__item-title">Цены от производителя</p>
            </li>
            <li class="guarantee__item">
                <img class="guarantee__item-img" src="assets/img/guarantee/icon-5.png" alt="">
                <p class="guarantee__item-title">Бесплатный замер и консультацию</p>
            </li>
            <li class="guarantee__item">
                <img class="guarantee__item-img" src="assets/img/guarantee/icon-6.png" alt="">
                <p class="guarantee__item-title">Тепло и уют на балконе</p>
            </li>
        </ul>
    </div> <!-- /container -->
</section> <!-- /guarantee -->