<header class="header">
    <div class="container">

        <div class="header__inner">

            <div class="logo  header__logo">
                <a class="logo__link" href="#">
                    <img src="assets/img/logo.png" alt="Логотип">
                </a>
                <p class="logo__text">Остекление балконов и лоджий в Москве и Московской области</p>
            </div>

            <button class="popupBtn  header__popupBtn" type="button">
                <img class="popupBtn__img" src="assets/img/edit.png" alt="">
                <span class="popupBtn__text">ВЫЗВАТЬ<br>ЗАМЕРЩИКА</span>
            </button>


            <div class="header__time">
                <p class="header__time-text">без выходных</p>
                <p class="header__time-clock">9:00 - 18:00</p>
            </div>


            <div class="header__contacts">
                <a class="phone  header__phone" href="tel:+74956466171">+7 (495) 646-61-71</a>
                <a class="callback  header__callback" href="#">Заказать обратный звонок</a>
            </div>
        </div> <!-- /header__inner -->


    </div> <!-- /container -->
</header>