<section class="payment">
    <div class="container">
        <h2 class="payment__title">Вы можете оплатить наши услуги:</h2>

        <div class="payment__items">
            <div class="payment__item">
                <img class="payment__item-img" src="assets/img/payment/icon-1.png" alt="">
                <span class="payment__item-title">Наличными</span>
            </div>

            <div class="payment__item">
                <img class="payment__item-img" src="assets/img/payment/icon-2.png" alt="">
                <span class="payment__item-title">Банковской картой</span>
            </div>

            <div class="payment__item">
                <img class="payment__item-img" src="assets/img/payment/icon-3.png" alt="">
                <span class="payment__item-title">Безналичный расчет</span>
            </div>
        </div>
    </div> <!-- /container -->
</section> <!-- /payment -->