<section class="portfolio">
    <div class="container">
        <h2 class="g-title  portfolio__title">Наши работы</h2>

        <div class="portfolio__images">
            <div class="portfolio__img-inner">
                <!-- <img class="portfolio__img" src="assets/img/portfolio/img-1.jpg" alt=""> -->
                <a class="single_image" href="assets/img/portfolio/big-1.jpg">
                    <img class="portfolio__img" src="assets/img/portfolio/img-1.jpg" alt="">
                </a>

                <a data-fancybox="images" href="assets/img/portfolio/big-1.jpg">
                    <img src="assets/img/portfolio/img-1.jpg" />
                </a>

                <a data-fancybox="images" href="assets/img/portfolio/big-1.jpg">
                    <img src="assets/img/portfolio/img-1.jpg" />
                </a>

                <a data-fancybox="images" href="assets/img/portfolio/big-1.jpg">
                    <img src="assets/img/portfolio/img-1.jpg" />
                </a>

                <button class="portfolio__zoom" type="button">
                    <img class="assets/img/portfolio/img-1.jpg" src="assets/img/portfolio/zoom.png" alt="">
                </button>
            </div>
        </div>
    </div> <!-- /container -->
</section> <!-- /portfolio -->