<section class="portfolio">
    <div class="container">
        <h2 class="g-title  portfolio__title">Наши работы</h2>

        <div class="portfolio__images">

            <a class="portfolio__link" data-fancybox="images" href="assets/img/portfolio/big-1.jpg">
                <img src="assets/img/portfolio/img-1.jpg" alt="" />
                <img class="portfolio__zoom" src="assets/img/portfolio/zoom.png" alt="">
            </a>

            <a class="portfolio__link" data-fancybox="images" href="assets/img/portfolio/big-2.jpg">
                <img src="assets/img/portfolio/img-2.jpg" alt="" />
                <img class="portfolio__zoom" src="assets/img/portfolio/zoom.png" alt="">
            </a>

            <a class="portfolio__link" data-fancybox="images" href="assets/img/portfolio/big-3.jpg">
                <img src="assets/img/portfolio/img-3.jpg" alt="" />
                <img class="portfolio__zoom" src="assets/img/portfolio/zoom.png" alt="">
            </a>

            <a class="portfolio__link" data-fancybox="images" href="assets/img/portfolio/big-4.jpg">
                <img src="assets/img/portfolio/img-4.jpg" alt="" />
                <img class="portfolio__zoom" src="assets/img/portfolio/zoom.png" alt="">
            </a>

            <a class="portfolio__link" data-fancybox="images" href="assets/img/portfolio/big-5.jpg">
                <img src="assets/img/portfolio/img-5.jpg" alt="" />
                <img class="portfolio__zoom" src="assets/img/portfolio/zoom.png" alt="">
            </a>

            <a class="portfolio__link" data-fancybox="images" href="assets/img/portfolio/big-6.jpg">
                <img src="assets/img/portfolio/img-6.jpg" alt="" />
                <img class="portfolio__zoom" src="assets/img/portfolio/zoom.png" alt="">
            </a>

            <a class="portfolio__link" data-fancybox="images" href="assets/img/portfolio/big-7.jpg">
                <img src="assets/img/portfolio/img-7.jpg" alt="" />
                <img class="portfolio__zoom" src="assets/img/portfolio/zoom.png" alt="">
            </a>

            <a class="portfolio__link" data-fancybox="images" href="assets/img/portfolio/big-8.jpg">
                <img src="assets/img/portfolio/img-8.jpg" alt="" />
                <img class="portfolio__zoom" src="assets/img/portfolio/zoom.png" alt="">
            </a>


        </div> <!-- /portfolio__images -->
    </div> <!-- /container -->
</section> <!-- /portfolio -->