<section class="variants">
    <div class="container">
        <h2 class="g-title  variants__title">Остекление балконов и лоджий</h2>

        <div class="variants__dots">
            <div class="variants__dots-item">
                <img src="assets/img/variants/icon-1.png" alt="">
                <h4 class="variants__dots-title">
                    <a class="variants__dots-link   active" href="#" data-id="1">Деревянное остекление</a
                        class="variants__dots-link">
                </h4>
            </div>

            <div class="variants__dots-item">
                <img src="assets/img/variants/icon-2.png" alt="">
                <h4 class="variants__dots-title">
                    <a class="variants__dots-link" href="#" data-id="2">Алюминиевое остекление</a>
                </h4>
            </div>

            <div class="variants__dots-item">
                <img src="assets/img/variants/icon-3.png" alt="">
                <h4 class="variants__dots-title">
                    <a class="variants__dots-link" href="#" data-id="3">Остекление пластиковыми рамами</a>
                </h4>
            </div>

            <div class="variants__dots-item">
                <img src="assets/img/variants/icon-4.png" alt="">
                <h4 class="variants__dots-title">
                    <a class="variants__dots-link" href="#" data-id="4">Французское остекление (панорамное)</a>
                </h4>
            </div>

            <div class="variants__dots-item">
                <img src="assets/img/variants/icon-5.png" alt="">
                <h4 class="variants__dots-title">
                    <a class="variants__dots-link" href="#" data-id="5">Остекление с выносом</a>
                </h4>
            </div>
        </div> <!-- /variants__dots -->

        <div class="variants__content  active" id="1">

            <div class="variants__item">
                <div class="variants__item-wrap">
                    <p class="variants__item-title">ХОЛОДНОЕ</p>
                    <img class="variants__item-img" src="assets/img/variants/img-1.jpg"
                        alt="Пример остекления балкона. Деревянное остекление">

                    <ul class="variants__item-list">
                        <li class="variants__item-text">Конструктивная толщина 42-58 мм</li>
                        <li class="variants__item-text">Остекление: полированное стекло (толщиной 4 - 5 мм)</li>
                        <li class="variants__item-text">Теплоизоляция: 0,07 м2 * С/Вт</li>
                        <li class="variants__item-text">Звукоизоляция: 20-27 дб</li>
                    </ul>

                    <div class="variants__item-info">
                        <p class="variants__item-price">2600 руб.кв.м.
                            <span class="variants__item-key">под ключ с установкой</span>
                        </p>

                        <button class="btn  variants__item-btn" type="submit" data-id="js_calculate">Рассчитать
                            стоимость</button>
                    </div>
                </div>
            </div> <!-- /variants__item -->


            <div class="variants__item">
                <div class="variants__item-wrap">
                    <p class="variants__item-title  variants__item-title--red">Теплое</p>
                    <img class="variants__item-img" src="assets/img/variants/img-2.jpg"
                        alt="Пример остекления балкона. Деревянное остекление">

                    <ul class="variants__item-list">
                        <li class="variants__item-text">Конструктивная толщина профиля: 58-78 м</li>
                        <li class="variants__item-text">Остекление: однокамерные и двухкамерные стеклопакеты</li>
                        <li class="variants__item-text">Теплоизоляция: 0,63 - 1,05 м2 * С/Вт</li>
                        <li class="variants__item-text">Звукоизоляция: до 5 класса</li>
                    </ul>

                    <div class="variants__item-info">
                        <p class="variants__item-price">4000 руб.кв.м.
                            <span class="variants__item-key">под ключ с установкой</span>
                        </p>

                        <button class="btn  variants__item-btn" type="submit" data-id="js_calculate">Рассчитать
                            стоимость</button>
                    </div>
                </div>
            </div> <!-- /variants__item -->
        </div> <!-- /variants__content -->


        <div class="variants__content" id="2">

            <div class="variants__item">
                <div class="variants__item-wrap">
                    <p class="variants__item-title">ХОЛОДНОЕ</p>
                    <img class="variants__item-img" src="assets/img/variants/img-3.jpg"
                        alt="Пример остекления балкона. Деревянное остекление">

                    <ul class="variants__item-list">
                        <li class="variants__item-text">Конструктивная толщина 42-58 мм</li>
                        <li class="variants__item-text">Остекление: полированное стекло (толщиной 4 - 5 мм)</li>
                        <li class="variants__item-text">Теплоизоляция: 0,07 м2 * С/Вт</li>
                        <li class="variants__item-text">Звукоизоляция: 20-27 дб</li>
                    </ul>

                    <div class="variants__item-info">
                        <p class="variants__item-price">3600 руб.кв.м.
                            <span class="variants__item-key">под ключ с установкой</span>
                        </p>

                        <button class="btn  variants__item-btn" type="submit" data-id="js_calculate">Рассчитать
                            стоимость</button>
                    </div>
                </div>
            </div> <!-- /variants__item -->


            <div class="variants__item">
                <div class="variants__item-wrap">
                    <p class="variants__item-title  variants__item-title--red">Теплое</p>
                    <img class="variants__item-img" src="assets/img/variants/img-4.jpg"
                        alt="Пример остекления балкона. Деревянное остекление">

                    <ul class="variants__item-list">
                        <li class="variants__item-text">Конструктивная толщина профиля: 58-78 м</li>
                        <li class="variants__item-text">Остекление: однокамерные и двухкамерные стеклопакеты</li>
                        <li class="variants__item-text">Теплоизоляция: 0,63 - 1,05 м2 * С/Вт</li>
                        <li class="variants__item-text">Звукоизоляция: до 5 класса</li>
                    </ul>

                    <div class="variants__item-info">
                        <p class="variants__item-price">4800 руб.кв.м.
                            <span class="variants__item-key">под ключ с установкой</span>
                        </p>

                        <button class="btn  variants__item-btn" type="submit" data-id="js_calculate">Рассчитать
                            стоимость</button>
                    </div>
                </div>
            </div> <!-- /variants__item -->
        </div> <!-- /variants__content -->


        <div class="variants__content" id="3">

            <div class="variants__item">
                <div class="variants__item-wrap">
                    <p class="variants__item-title">ХОЛОДНОЕ</p>
                    <img class="variants__item-img" src="assets/img/variants/img-5.jpg"
                        alt="Пример остекления балкона. Деревянное остекление">

                    <ul class="variants__item-list">
                        <li class="variants__item-text">Конструктивная толщина 42-58 мм</li>
                        <li class="variants__item-text">Остекление: полированное стекло (толщиной 4 - 5 мм)</li>
                        <li class="variants__item-text">Теплоизоляция: 0,07 м2 * С/Вт</li>
                        <li class="variants__item-text">Звукоизоляция: 20-27 дб</li>
                    </ul>

                    <div class="variants__item-info">
                        <p class="variants__item-price">3900 руб.кв.м.
                            <span class="variants__item-key">под ключ с установкой</span>
                        </p>

                        <button class="btn  variants__item-btn" type="submit" data-id="js_calculate">Рассчитать
                            стоимость</button>
                    </div>
                </div>
            </div> <!-- /variants__item -->


            <div class="variants__item">
                <div class="variants__item-wrap">
                    <p class="variants__item-title  variants__item-title--red">Теплое</p>
                    <img class="variants__item-img" src="assets/img/variants/img-6.jpg"
                        alt="Пример остекления балкона. Деревянное остекление">

                    <ul class="variants__item-list">
                        <li class="variants__item-text">Конструктивная толщина профиля: 58-78 м</li>
                        <li class="variants__item-text">Остекление: однокамерные и двухкамерные стеклопакеты</li>
                        <li class="variants__item-text">Теплоизоляция: 0,63 - 1,05 м2 * С/Вт</li>
                        <li class="variants__item-text">Звукоизоляция: до 5 класса</li>
                    </ul>

                    <div class="variants__item-info">
                        <p class="variants__item-price">5800 руб.кв.м.
                            <span class="variants__item-key">под ключ с установкой</span>
                        </p>

                        <button class="btn  variants__item-btn" type="submit" data-id="js_calculate">Рассчитать
                            стоимость</button>
                    </div>
                </div>
            </div> <!-- /variants__item -->
        </div> <!-- /variants__content -->


        <div class="variants__content" id="4">

            <div class="variants__item">
                <div class="variants__item-wrap">
                    <p class="variants__item-title">ХОЛОДНОЕ</p>
                    <img class="variants__item-img" src="assets/img/variants/img-7.jpg"
                        alt="Пример остекления балкона. Деревянное остекление">

                    <ul class="variants__item-list">
                        <li class="variants__item-text">Конструктивная толщина 42-58 мм</li>
                        <li class="variants__item-text">Остекление: полированное стекло (толщиной 4 - 5 мм)</li>
                        <li class="variants__item-text">Теплоизоляция: 0,07 м2 * С/Вт</li>
                        <li class="variants__item-text">Звукоизоляция: 20-27 дб</li>
                    </ul>

                    <div class="variants__item-info">
                        <p class="variants__item-price">4450 руб.кв.м.
                            <span class="variants__item-key">под ключ с установкой</span>
                        </p>

                        <button class="btn  variants__item-btn" type="submit" data-id="js_calculate">Рассчитать
                            стоимость</button>
                    </div>
                </div>
            </div> <!-- /variants__item -->


            <div class="variants__item">
                <div class="variants__item-wrap">
                    <p class="variants__item-title  variants__item-title--red">Теплое</p>
                    <img class="variants__item-img" src="assets/img/variants/img-8.jpg"
                        alt="Пример остекления балкона. Деревянное остекление">

                    <ul class="variants__item-list">
                        <li class="variants__item-text">Конструктивная толщина профиля: 58-78 м</li>
                        <li class="variants__item-text">Остекление: однокамерные и двухкамерные стеклопакеты</li>
                        <li class="variants__item-text">Теплоизоляция: 0,63 - 1,05 м2 * С/Вт</li>
                        <li class="variants__item-text">Звукоизоляция: до 5 класса</li>
                    </ul>

                    <div class="variants__item-info">
                        <p class="variants__item-price">6800 руб.кв.м.
                            <span class="variants__item-key">под ключ с установкой</span>
                        </p>

                        <button class="btn  variants__item-btn" type="submit" data-id="js_calculate">Рассчитать
                            стоимость</button>
                    </div>
                </div>
            </div> <!-- /variants__item -->
        </div> <!-- /variants__content -->


        <div class="variants__content" id="5">

            <div class="variants__item">
                <div class="variants__item-wrap">
                    <p class="variants__item-title">ХОЛОДНОЕ</p>
                    <img class="variants__item-img" src="assets/img/variants/img-9.jpg"
                        alt="Пример остекления балкона. Деревянное остекление">

                    <ul class="variants__item-list">
                        <li class="variants__item-text">Конструктивная толщина 42-58 мм</li>
                        <li class="variants__item-text">Остекление: полированное стекло (толщиной 4 - 5 мм)</li>
                        <li class="variants__item-text">Теплоизоляция: 0,07 м2 * С/Вт</li>
                        <li class="variants__item-text">Звукоизоляция: 20-27 дб</li>
                    </ul>

                    <div class="variants__item-info">
                        <p class="variants__item-price">5450 руб.кв.м.
                            <span class="variants__item-key">под ключ с установкой</span>
                        </p>

                        <button class="btn  variants__item-btn" type="submit" data-id="js_calculate">Рассчитать
                            стоимость</button>
                    </div>
                </div>
            </div> <!-- /variants__item -->


            <div class="variants__item">
                <div class="variants__item-wrap">
                    <p class="variants__item-title  variants__item-title--red">Теплое</p>
                    <img class="variants__item-img" src="assets/img/variants/img-10.jpg"
                        alt="Пример остекления балкона. Деревянное остекление">

                    <ul class="variants__item-list">
                        <li class="variants__item-text">Конструктивная толщина профиля: 58-78 м</li>
                        <li class="variants__item-text">Остекление: однокамерные и двухкамерные стеклопакеты</li>
                        <li class="variants__item-text">Теплоизоляция: 0,63 - 1,05 м2 * С/Вт</li>
                        <li class="variants__item-text">Звукоизоляция: до 5 класса</li>
                    </ul>

                    <div class="variants__item-info">
                        <p class="variants__item-price">7800 руб.кв.м.
                            <span class="variants__item-key">под ключ с установкой</span>
                        </p>

                        <button class="btn  variants__item-btn" type="submit" data-id="js_calculate">Рассчитать
                            стоимость</button>
                    </div>
                </div>
            </div> <!-- /variants__item -->
        </div> <!-- /variants__content -->

    </div> <!-- /container -->
</section> <!-- /variants -->