<header class="header">
    <div class="container">
        <div class="header__inner">

            <div class="logo">
                <a class="logo__img-wrap" href="#">
                    <img src="assets/img/header/logo.png" alt="Логотип компании Marvis">
                </a>

                <div class="logo__text-wrap">
                    <p class="logo__text">
                        Производство и монтаж всех видов жалюзи, рулонных <br>
                        штор в Новосибирске (Солнцезащитные системы)
                    </p>

                    <div class="logo__items">
                        <div class="logo__item">
                            <img src="assets/img/header/icon-1.png" alt="">
                            <span>за 24 часа</span>
                        </div>

                        <div class="logo__item">
                            <img src="assets/img/header/icon-2.png" alt="">
                            <span>с гарантией от 15 лет</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /logo -->

            <a class="header__price" href="#">
                <img class="header__price-img" src="assets/img/header/price.png" alt="">
                <span class="header__price-text">Запросить прайс-каталог</span>
            </a>

            <div class="header__phone">
                <span class="header__phone-title">Сейчас работаем</span>
                <a class="header__phone-link" href="tel:+89231530999">8-923-153-09-99</a>
            </div>

        </div>
        <!-- /header__inner -->
    </div>
    <!-- /container -->
</header>
<!-- /header -->