<section class="consultation" id="consultation"
    style="background: url('assets/img/consultation/bg.png') no-repeat top -20vw right -8vw; background-size: 80% auto;">

    <div class="container">
        <div class="consultation__title-box">
            <h2 class="consultation__title  title"> Получите консультацию </h2>
            <div class="consultation__subtitle  text24"> нашего дизайнера прямо сейчас - платить не нужно </div>
        </div>

        <div class="consultation__inner">
            <div class="consultation__form-box">
                <img class="consultation__form-bg" src="assets/img/consultation/man.png" alt="">

                <div class="form  portfolio__form  consultation__form">
                    <div class="form__content">
                        <h2 class="form__title  text-md">
                            Или просто введите ваш телефон - чтобы оставить заявку на косультацию
                        </h2>

                        <form class="portfolio__form-block">
                            <div class="consultation__select-wrap">
                                <div class="consultation__select-title  tsm12"> <i>Вам перезвонить:</i> </div>

                                <label class="quiz__answer" for="consult-1">
                                    <input class="quiz__answer-input" type="radio" name="qw1" id="consult-1"
                                        value="Сейчас">

                                    <div class="quiz__checkbox">
                                        <span class="quiz__checkbox-circle">
                                            <span class="quiz__checkbox-active">
                                                <img src="assets/img/test/qqq.png" alt="">
                                            </span>
                                        </span>

                                        <span class="quiz__answer-title  small-text">
                                            Сейчас
                                        </span>
                                    </div>
                                </label>


                                <label class="quiz__answer" for="consult-2">
                                    <input class="quiz__answer-input" type="radio" name="qw1" id="consult-2"
                                        value="Сейчас">

                                    <div class="quiz__checkbox">
                                        <span class="quiz__checkbox-circle">
                                            <span class="quiz__checkbox-active">
                                                <img src="assets/img/test/qqq.png" alt="">
                                            </span>
                                        </span>

                                        <span class="tsm13 time-select">
                                            <select name="time" class="fancyselect">
                                                <option value="9:00-10:00">9:00-10:00</option>
                                                <option value="10:00-11:00">10:00-11:00</option>
                                                <option value="11:00-12:00">11:00-12:00</option>
                                                <option value="12:00-13:00">12:00-13:00</option>
                                                <option value="13:00-14:00">13:00-14:00</option>
                                                <option value="14:00-15:00">14:00-15:00</option>
                                                <option value="15:00-16:00">15:00-16:00</option>
                                                <option value="16:00-17:00">16:00-17:00</option>
                                                <option value="17:00-18:00">17:00-18:00</option>
                                                <option value="18:00-19:00">18:00-19:00</option>
                                                <option value="19:00-20:00">19:00-20:00</option>
                                            </select>
                                        </span>
                                    </div>
                                </label>
                            </div> <!-- /consultation__select-wrap -->


                            <div class="foorm__group">
                                <input class="form__input small-text" type="tel" name="phone" required=""
                                    placeholder="+375 (_ _) _ _ _ - _ _ - _ _">
                                <button class="btn  portfolio__form-btn  consultation__form-btn">
                                    <span class="btn-blick"></span>
                                    <span class="form__btn-text  small-text">Перезвонить вам
                                        <span>и проконсультировать</span>
                                    </span>
                                </button>

                                <div class="politics">
                                    <label for="consultation__politics" class="politics__check-box">
                                        <input class="politics__input" type="checkbox" name=""
                                            id="consultation__politics" required="" checked="">

                                        <div class="politics__row">
                                            <div class="politics__check">
                                                <span class="politics__check-active">
                                                    <img src="assets/img/portfolio/v.png" alt="">
                                                </span>
                                            </div>

                                            <div class="politics__text  tsm12">
                                                Вы соглашаетесь c
                                                <a class="politics__link" href="#" target="_blank">
                                                    Политикой конфиденциальности
                                                </a>
                                            </div>
                                        </div>
                                    </label>
                                </div> <!-- /politics -->
                            </div>
                        </form>
                    </div> <!-- /form__content -->
                </div> <!-- /form -->
            </div> <!-- /consultation__form-box -->


            <div class="consultation__info-box">
                <div class="phone">
                    <div class="phone__text"> Звоните, мы сейчас работаем </div>
                    <a class="phone__link" href="tel:+375291936245"> <b>+375 29 193-62-45</b> </a>
                </div>

                <div class="consultation__info-time">Работаем без выходных: 9:00-20:00 </div>

                <div class="messengers">
                    <div class="messengers__title  text-md"> Задайте любой вопрос напрямую в: </div>
                    <div class="messengers__items">
                        <a href="viber://chat?number=375291936245" target="_blank" class="messengers__item viber">
                            <span class="tsm13"> Viber </span>
                            <div class="messengers__item__img">
                                <img src="assets/img/consultation/vi.png" alt="">
                            </div>
                        </a>

                        <a href="https://wa.me/79119223241?text=Хотите получить предложения по дизайн-интерьеру вашей квартиры?"
                            target="_blank" class="messengers__item whatsapp">
                            <span class="tsm13"> Whatsapp </span>
                            <div class="messengers__item__img">
                                <img src="assets/img/consultation/wa.png" alt="">
                            </div>
                        </a>

                        <a href="tg://resolve?domain=YauheniHuretski" target="_blank" class="messengers__item telegram">
                            <span class="tsm13"> Telegram </span>
                            <div class="messengers__item__img">
                                <img src="assets/img/consultation/tg.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="messengers__subtitle  small-text"> *среднее время ответа 40 секунд </div>
                </div>
            </div> <!-- /consultation__info-box -->
        </div> <!-- /consultation__inner -->


        <div class="consultation__offer">
            <div class="consultation__offer-content">
                <h2 class="consultation__offer-title  title">
                    гарантированно <br>
                    воплотим любую <br>
                    вашу идею
                </h2>
                <div class="consultation__offer-subtitle  text24">
                    снимем все стресы по закупке и ремонту <br>
                    и сделаем это честно и на совесть, как для себя
                </div>
            </div>

            <div class="consultation__favourites">
                <div class="consultation__favourites-slogan  text-md"> Не спешите уходить </div>

                <div class="consultation__favourites-title">
                    Чтобы не потерять наш сайт - <br> добавьте его в избранное
                </div>

                <div class="consultation__favourites-ctrl">
                    <div class="consultation__favourites-keys"> Ctrl + D </div>
                    <a class="consultation__favourites-btn  text" href="#" rel="sidebar">
                        Добавить сайт <br> в избранное
                    </a>
                </div>
            </div>
        </div> <!-- /consultation__offer -->


        <div class="consultation__advas">
            <div class="consultation__advas-item">
                <div class="consultation__advas-icon">
                    <img src="assets/img/consultation/i-1.png" alt="">
                </div>
                <div class="consultation__advas-text  tsm13">
                    Опытная и крутая команда,
                    которая реально поможет Вам
                    сделать квартиру мечты
                </div>
            </div>

            <div class="consultation__advas-item">
                <div class="consultation__advas-icon">
                    <img src="assets/img/consultation/i-2.png" alt="">
                </div>
                <div class="consultation__advas-text  tsm13">
                    Если нужно, мы будем рады выполнить
                    проект в комплексе, взяв на себя
                    все заботы по ремонту под ключ
                </div>
            </div>

            <div class="consultation__advas-item">
                <div class="consultation__advas-icon">
                    <img src="assets/img/consultation/i-3.png" alt="">
                </div>
                <div class="consultation__advas-text  tsm13">
                    Знаем, где сэкономить ваши
                    деньги. Ведь сами делали ремонт
                    и знаем все подводные камни.
                </div>
            </div>

            <div class="consultation__advas-item">
                <div class="consultation__advas-icon">
                    <img src="assets/img/consultation/i-4.png" alt="">
                </div>
                <div class="consultation__advas-text  tsm13">
                    Делаем проект до дех пор, пока не
                    понравится и дадим любую гарантию
                    по ремонту, зафиксировав ее в договоре
                </div>
            </div>
        </div> <!-- /consultation__advas -->



        <div class="consultation__seo">
            <h2 class="consultation__seo-title  text24"> Студия дизайн интерьера в Минске </h2>

            <div class="consultation__seo-before  small-text">
                <div class="consultation__seo-content">
                    <p class="consultation__seo-text">
                        Сегодня существует масса вариантов стилей и направлений в дизайне интерьеров, при выборе стиля
                        интерьера для своей будущей квартиры, вам стоит ориентироваться на уже выполненные дизайн
                        проекты.
                        Так дизайнер сможет быстрее понять, в каком направлении стоит работать. Профессиональные
                        дизайнеры
                        Приват-Дизайн, помогут Вам определить стиль дизайна, выполнят всю работу по подбору отделочных
                        материалов и мебели.
                    </p>

                    <p class="consultation__seo-text">
                        Вам будут предложены решения, из которых необходимо будет только выбрать самые удачные на ваш
                        взгляд
                        варианты.
                    </p>

                    <p class="consultation__seo-text">
                        Заказать дизайн проект в современном стиле очень просто, на фото в нашей галереи работ
                        выберите что вам нравиться и просто позвоните! Смотрите примеры дизайнерских решений для ваших
                        Квартир!
                    </p>

                    <p class="consultation__seo-text">
                        Переходите к Портфолио. Мы предоставляем услуги по комплектации наших проектов мебелью.
                        Качественная
                        Европейская мебель украсит Ваше жилище, Итальянская мебель подчеркнет неповторимый стиль и вкус
                        своих обладателей.
                    </p>
                </div>
            </div>

            <div class="consultation__seo-show">
                <button class="consultation__seo-btn">
                    <img src="assets/img/consultation/ar.png" alt="">
                </button>
            </div>
        </div>
    </div> <!-- /container -->
</section> <!-- /consultation -->