<section class="contacts" id="contacts"
    style="background: url('assets/img/contacts/bg.jpg') no-repeat center; background-size: cover;">

    <div class="container">
        <h2 class="contacts__title  title"> Позвоните нам, мы не кусаемся </h2>

        <div class="contacts__inner">
            <div class="contacts__item  contacts__item">
                <h5 class="contacts__item-title  text23"> Наши контакты </h5>

                <div class="contacts__line"></div>

                <a class="contacts__phone" href="tel:+375291936245"> +375 29 193 62 45 </a>
                <div class="contacts__time"> Пн-Вс 9:00-20:00 </div>

                <a class="contacts__mail" href="mailto:info@guru-stroy.by">
                    Контактный E-mail
                    <span> info@guru-stroy.by </span>
                </a>

                <div class="contacts__line"></div>


                <div class="messengers">
                    <div class="messengers__title  text-md"> Задайте любой вопрос напрямую в: </div>
                    <div class="messengers__items">
                        <a href="viber://chat?number=375291936245" target="_blank" class="messengers__item viber">
                            <span class="tsm13"> Viber </span>
                            <div class="messengers__item__img">
                                <img src="assets/img/consultation/vi.png" alt="">
                            </div>
                        </a>

                        <a href="https://wa.me/79119223241?text=Хотите получить предложения по дизайн-интерьеру вашей квартиры?"
                            target="_blank" class="messengers__item whatsapp">
                            <span class="tsm13"> Whatsapp </span>
                            <div class="messengers__item__img">
                                <img src="assets/img/consultation/wa.png" alt="">
                            </div>
                        </a>

                        <a href="tg://resolve?domain=YauheniHuretski" target="_blank" class="messengers__item telegram">
                            <span class="tsm13"> Telegram </span>
                            <div class="messengers__item__img">
                                <img src="assets/img/consultation/tg.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="messengers__subtitle  small-text"> *среднее время ответа 40 секунд </div>
                </div>


                <div class="contacts__line"></div>


                <div class="contacts__address">
                    <div class="contacts__address-item">
                        <span class="contacts__address-subtitle">Наш офис:</span>
                        <span class="contacts__address-name">г. Минск, ул. Казинца 11 а</span>
                    </div>

                    <div class="contacts__address-item">
                        <span class="contacts__address-subtitle">Станция метро:</span>
                        <span class="contacts__address-name">Институт культуры</span>
                    </div>
                </div>


                <div class="contacts__line"></div>

                <div class="contacts__social">
                    <h5 class="contacts__social-title  text21"> Мы социальных сетях </h5>

                    <div class="social-links">
                        <a href="tg://resolve?domain=YauheniHuretski" target="_blank" class="social-links__link">
                            <img src="assets/img/price/tg.png" alt="">
                        </a>

                        <a href="viber://chat?nuer=+375291936245" target="_blank" class="social-links__link">
                            <img src="assets/img/price/wa.png" alt="">
                        </a>

                        <a href="viber://chat?nuer=+375291936245" target="_blank" class="social-links__link">
                            <img src="assets/img/price/vi.png" alt="">
                        </a>

                        <a href="mailto:info@guru-stroy.by" target="_blank" class="social-links__link">
                            <img src="assets/img/price/el.png" alt="">
                        </a>
                    </div>
                </div>

            </div> <!-- /contacts__item -->


            <div class="contacts__item">
                <h5 class="contacts__item-title  text23"> Свяжитесь с нами </h5>

                <p class="contacts__item-text  text">
                    После того, как вы с нами свяжетесь, мы согласуем с вами
                    выезд, где замеряем ваше помещение и обсудим все
                    тонкости и детали вашего проекта
                </p>

                <div class="contacts__video">
                    <img src="assets/img/idea/dir.png" alt="" class="contacts__video-bg">

                    <div class="idea__play  contacts__play">
                        <div class="pulse  idea__pulse">
                            <div class="pulse__item"></div>
                            <div class="pulse__item"></div>
                            <div class="pulse__item"></div>
                            <div class="pulse__item"></div>
                        </div>

                        <a class="idea__play-link  video  js-play" href="https://www.youtube.com/watch?v=ZVPxrOTTTOs">
                            <img src="assets/img/idea/play.png" alt="">
                        </a>
                    </div>
                </div>
            </div> <!-- /contacts__item -->


            <div class="contacts__item">
                <h5 class="contacts__item-title  text23"> В нашем инстаграме </h5>
                <p class="contacts__item-text  text">
                    мы делимся фишками <br>
                    в ремонте и дизайне <br>
                    подпишитесь на
                    <a class="contacts__item-link" href="https://www.instagram.com/guru_stroy.by/"
                        target="_blank">@guru_stroy</a>
                </p>

                <div class="contacts__line"></div>

                <div class="contacts__slider"
                    style="background: url('assets/img/contacts/iPhone.png') no-repeat center; background-size: cover;">

                    <div class="contacts__slider-item"
                        style="background: url('assets/img/contacts/q1.png') no-repeat center top; background-size: cover;">
                        <a href="https://www.instagram.com/guru_stroy.by/" target="_blank"
                            class="btn  contacts__btn-inst">
                            <span class="btn-blick"></span>
                            Перейти в Instagram
                        </a>
                    </div>

                    <div class="contacts__slider-item"
                        style="background: url('assets/img/contacts/q1.png') no-repeat center top; background-size: cover;">
                        <a href="https://www.instagram.com/guru_stroy.by/" target="_blank"
                            class="btn contacts__btn-inst">
                            <span class="btn-blick"></span>
                            Перейти в Instagram
                        </a>
                    </div>
                </div> <!-- /contacts__slider -->

            </div> <!-- /contacts__item -->
        </div> <!-- /contacts__inner -->
    </div> <!-- /container -->
</section> <!-- /contacts -->