<section class="example" id="example">
    <div class="container">
        <h2 class="example__title  title">
            От голых стен - до готового ремонта
        </h2>

        <div class="example__subtitle  text24">
            Посмотрите на примере одного нашего проекта
        </div>

        <div class="twentytwenty-container">
            <img src="assets/img/services/i1.jpg" />
            <img src="assets/img/services/i2.jpg" />
        </div>

    </div> <!-- /container -->
</section> <!-- /example -->