<footer class="footer">
    <div class="container">
        <div class="footer__inner">

            <div class="footer__item tsm12">
                <span class="footer__title">Все права защищены. Минск 2016-2020</span><br>
                <a href="#" class="footer__privacy">Политика конфиденциальности</a>
            </div>

            <div class="footer__item tsm12">
                УНП 2363778547 <br> Судия дизайн интерьера в Минске
            </div>

            <div class="footer__item"></div>
        </div>
    </div>
</footer> <!-- /footer -->