<section class="guarantees" id="guarantees"
    style="background: url('assets/img/guarantees/bg.jpg') no-repeat center; background-size: cover;">

    <div class="guarantees__content">
        <div class="container">
            <div class="guarantees__slogan  text24">
                Снимем с вас все хлопоты и избавим от стресса. <br> Вместе с дизайном интерьера
            </div>
            <h2 class="guarantees__title  title"> мы берем на себя весь спектр работ </h2>
            <div class="guarantees__subtitle  text24"> по поиску, закупке материалов и
                <span> РЕМОНТУ ПОД КЛЮЧ </span>
            </div>

            <div class="guarantees__inner">
                <div class="guarantees__advas">
                    <h5 class="guarantees__advas-title  text24"> Работы, которые мы делаем по ремонту </h5>

                    <div class="guarantees__advas-wrap">
                        <div class="guarantees__advas-scroll">
                            <div class="guarantees__list">

                                <div class="guarantees__item">
                                    <div class="guarantees__item-top">
                                        <div class="guarantees__item-img">
                                            <img src="assets/img/guarantees/i1.png" alt="">
                                        </div>
                                        <div class="guarantees__item-title  text-md">
                                            Самостоятельно закупаем <br> и доставляем материалы
                                        </div>
                                    </div>

                                    <div class="guarantees__item-text  small-text">
                                        Имеем выгодные цены на материалы от крупных оптовых поставщиков. Мы поможем
                                        Вам приобрести материалы по ценам ниже рыночных
                                    </div>
                                </div> <!-- /guarantees__item -->


                                <div class="guarantees__item">
                                    <div class="guarantees__item-top">
                                        <div class="guarantees__item-img">
                                            <img src="assets/img/guarantees/i1.png" alt="">
                                        </div>
                                        <div class="guarantees__item-title  text-md">
                                            Выполним работы <br> любой сложности
                                        </div>
                                    </div>

                                    <div class="guarantees__item-text  small-text">
                                        В штате собственный строителбные бригады, которые выполняют ремонт в комплексе -
                                        от дизайн проекта до новоселья
                                    </div>
                                </div> <!-- /guarantees__item -->


                                <div class="guarantees__item">
                                    <div class="guarantees__item-top">
                                        <div class="guarantees__item-img">
                                            <img src="assets/img/guarantees/i1.png" alt="">
                                        </div>
                                        <div class="guarantees__item-title  text-md">
                                            Фото-видео контроль <br> на всех этапах ремонта
                                        </div>
                                    </div>

                                    <div class="guarantees__item-text  small-text">
                                        Будем высылать Вам на Viber фото и видео каждый день о ходе работ
                                    </div>
                                </div> <!-- /guarantees__item -->


                                <div class="guarantees__item">
                                    <div class="guarantees__item-top">
                                        <div class="guarantees__item-img">
                                            <img src="assets/img/guarantees/i1.png" alt="">
                                        </div>
                                        <div class="guarantees__item-title  text-md">
                                            Работаем на профессиональном <br> оборудовании
                                        </div>
                                    </div>

                                    <div class="guarantees__item-text  small-text">
                                        Работаем на профессиональном оборудовании.
                                    </div>
                                </div> <!-- /guarantees__item -->


                                <div class="guarantees__item">
                                    <div class="guarantees__item-top">
                                        <div class="guarantees__item-img">
                                            <img src="assets/img/guarantees/i1.png" alt="">
                                        </div>
                                        <div class="guarantees__item-title  text-md">
                                            Убираем за собой и <br> вывозим мусор
                                        </div>
                                    </div>

                                    <div class="guarantees__item-text  small-text">
                                        Убираем за собой и <br> вывозим мусор
                                    </div>
                                </div> <!-- /guarantees__item -->


                                <div class="guarantees__item">
                                    <div class="guarantees__item-top">
                                        <div class="guarantees__item-img">
                                            <img src="assets/img/guarantees/i1.png" alt="">
                                        </div>
                                        <div class="guarantees__item-title  text-md">
                                            Поэтапная оплата <br> по приемке работ
                                        </div>
                                    </div>

                                    <div class="guarantees__item-text  small-text">
                                        Убираем за собой и <br> вывозим мусор
                                    </div>
                                </div> <!-- /guarantees__item -->


                                <div class="guarantees__item">
                                    <div class="guarantees__item-top">
                                        <div class="guarantees__item-img">
                                            <img src="assets/img/guarantees/i1.png" alt="">
                                        </div>
                                        <div class="guarantees__item-title  text-md">
                                            Расширенная гарантия <br> до 5 лет на работы
                                        </div>
                                    </div>

                                    <div class="guarantees__item-text  small-text">
                                        Убираем за собой и <br> вывозим мусор
                                    </div>
                                </div> <!-- /guarantees__item -->

                            </div> <!-- /guarantees__list -->
                        </div> <!-- /guarantees__advas-scroll -->
                    </div> <!-- /guarantees__advas-wrap -->
                </div> <!-- /guarantees__advas -->

                <div class="guarantees__offer-box">
                    <div class="guarantees__number">

                        <div class="tooltip">
                            <img class="tooltip__icon" src="assets/img/guarantees/i.png" alt="">
                            <div class="tooltip__hover">
                                <div class="tooltip__title  text-md">В среднем наши клиенты</div>
                                <div class="tooltip__text  small-text">
                                    заказывая у нас и дизайн проект и ремонт под клчюч экономят до -30% бюджера
                                    на строительных материалах и работе
                                </div>
                            </div>
                        </div>
                        <img src="assets/img/guarantees/30.png" alt="">
                    </div>


                    <div class="guarantees__offer">
                        <div class="guarantees__offer-title  text-md">
                            ПО ОКОНЧАНИЮ РАБОТ НЕ НУЖНО НИЧЕГО <br> ДЕЛАТЬ И РАЗБИРАТЬСЯ САМОСТОЯТЕЛЬНО
                        </div>

                        <div class="guarantees__offer-text  small-text">
                            Вы все работы доводим до конца и вывозим за собой мусор
                        </div>
                    </div>
                </div> <!-- /guarantees__inner -->
            </div> <!-- /container -->
        </div> <!-- /guarantees__content -->



        <div class="team" id="team">
            <div class="container">
                <div class="team__inner">
                    <div class="team__content">
                        <div class="team__slogan  text24"> Вы можете быть спокойны </div>
                        <h2 class="team__title  title"> Мы никуда <br> не пропадаем </h2>
                        <div class="team__subtitle  text24 msm"> и вместе с вами создаем проект </div>

                        <div class="team__line"></div>

                        <p class="team__text  text">
                            Мы создаем уникальные дизайн-проекты. Для создания
                            каждого интерьера мы выбираем дизайнера, который
                            имеет опыт в таком стиле и формате объекта.
                        </p>

                        <p class="team__text  text">
                            Наши интерьеры разрабатываются с учетом всех
                            мировых трендов.
                        </p>
                    </div>

                    <img class="team__bg" src="assets/img/guarantees/team.png" alt="">
                </div>
            </div> <!-- /container -->
        </div> <!-- /team -->
</section> <!-- /guarantees -->