<section class="idea" id="idea"
    style="background: url('assets/img/idea/bg.png') no-repeat center; background-size: cover;">

    <div class="container">
        <div class="idea__subtitle  text24"> Воплотим любую вашу идею </div>
        <h2 class="idea__title  title"> если не понравится - <br> вернем деньги </h2>

        <div class="idea__inner">
            <div class="idea__photo">
                <img class="idea__photo-img" src="assets/img/idea/dir.png" alt="">
                <div class="idea__play">
                    <div class="pulse  idea__pulse">
                        <div class="pulse__item"></div>
                        <div class="pulse__item"></div>
                        <div class="pulse__item"></div>
                        <div class="pulse__item"></div>
                    </div>

                    <a class="idea__play-link  video  js-play" href="https://www.youtube.com/watch?v=ZVPxrOTTTOs">
                        <img src="assets/img/idea/play.png" alt="">
                    </a>
                </div>
            </div>

            <div class="idea__content">
                <h4 class="idea__content-title  text21">
                    Здравствуйте, меня зовут Евгений Гурецкий
                </h4>
                <p class="idea__content-subtitle  text">
                    Я руководитель и основатель компании ГУРУ СТРОЙ. <br>
                    Открыто Вам заявляю и беру на себя ответственность за:
                </p>

                <img class="idea__content-bg" src="assets/img/idea/mcb.png" alt="">

                <div class="idea__list">
                    <div class="idea__item">
                        <div class="idea__item-img">
                            <img src="assets/img/idea/it-1.png" alt="">
                        </div>

                        <div class="idea__item-content">
                            <h6 class="idea__item-title text">
                                Во-первых за результат и неограниченное количество правок
                            </h6>
                            <div class="idea__item-text  tsm12">
                                Я сам когда-то заказывал дизайн-проект и понимаю все нюансы, как должна <br>
                                происходить работа над вашим проектом, чтобы все получилось и Вам понравилось
                            </div>
                        </div>
                    </div>

                    <div class="idea__item">
                        <div class="idea__item-img">
                            <img src="assets/img/idea/it-2.png" alt="">
                        </div>
                        <div class="idea__item-content">
                            <h6 class="idea__item-title  text">
                                Во-вторых, мы не гнём высоких цен, выезжая <br>
                                на бренде и дорогостоящем офисе в центре
                            </h6>
                            <div class="idea__item-text  tsm12">
                                Мы знаем рынок и понимаем, и поэтому сократили издержки, чтобы <br>
                                вы смогли получить действительно продуманный проект со всех <br>
                                сторон и наш дизайнер получил за это достойное вознаграждение
                            </div>
                        </div>
                    </div>


                    <div class="idea__item">
                        <div class="idea__item-img">
                            <img src="assets/img/idea/it-3.png" alt="">
                        </div>
                        <div class="idea__item-content">
                            <h6 class="idea__item-title  text">
                                В третьих, за компетентность нашей команды
                            </h6>
                            <div class="idea__item-text  tsm12">
                                Следим за трендами, ездим на выставки, повышаем <br>
                                категории своих дизайнеров.
                            </div>
                        </div>
                    </div>


                    <div class="idea__item">
                        <div class="idea__item-img">
                            <img src="assets/img/idea/it-4.png" alt="">
                        </div>
                        <div class="idea__item-content">
                            <h6 class="idea__item-title  text">
                                И самое важное - мы никуда не пропадаем
                            </h6>
                            <div class="idea__item-text  tsm12">
                                Мы знаем рынок и понимаем, и поэтому сократили издержки чтобы <br>
                                вы смогли получить действительно продуманный проект со всех <br>
                                сторон и наш дизайнер получил за это достойное вознаграждение
                            </div>
                        </div>
                    </div>

                </div> <!-- /idea__list -->
            </div> <!-- /idea__content -->
        </div> <!-- /idea__inner -->
    </div> <!-- /container -->
</section> <!-- /idea -->