<section class="portfolio" id="portfolio">
    <img class="portfolio__bg" src="assets/img/portfolio/bg.png" alt="">

    <div class="container">
        <div class="portfolio__slogan  text24"> Это факт - Лишь за 2019 год </div>
        <h2 class="portfolio__title  title"> выполнили более 35 <br> авторских проектов </h2>

        <div class="portfolio__subtitle  text24">
            дизайна интерьера вместе с ремонтом под ключ - и все без единого нарекания!
        </div>

        <div class="portfolio__items">

            <div class="portfolio__item-block">
                <div class="portfolio__item  portfolio__item--min"
                    style="background: url('assets/img/portfolio/img-1.jpg') no-repeat center; background-size: cover;">

                    <div class="portfolio__item-content">
                        <div class="portfolio__item-title  text-md"> Дом для молодой семьи </div>
                        <span class="portfolio__item-subtitle">Весь дом 70 м<sup>2</sup></span>
                    </div>

                    <div class="portfolio__hover">
                        <div class="portfolio__hover-slogan  small-text"> Выполнили: </div>

                        <div class="portfolio__hover-title  text-md">
                            Авторский дизайн проект <br>
                            + ремонт ПОД КЛЮЧ
                        </div>

                        <button class="btn  portfolio__hover-btn" data-id="popup-project" type="button">
                            <span class="btn-blick"></span>
                            <b class="text">Смотреть подробнее</b>
                        </button>

                        <div class="portfolio__hover-subtitle  small-text">
                            (30 фотографий + описание)
                        </div>
                    </div>
                </div> <!-- /portfolio__item -->


                <div class="portfolio__item  portfolio__item--min  noHover"
                    style="background: url('assets/img/portfolio/img-2.jpg') no-repeat center; background-size: cover;">

                    <div class="portfolio__item-title  text"> Не важно какой у вас объект: </div>

                    <ul class="portfolio__list tsm13">
                        <li class="portfolio__list-item">Дом</li>
                        <li class="portfolio__list-item">Квартира</li>
                        <li class="portfolio__list-item">Офис</li>
                        <li class="portfolio__list-item">Кафе или ресторан</li>
                        <li class="portfolio__list-item">Салон красоты или магазин</li>
                    </ul>

                    <div class="portfolio__item-text tsm13"> мы создадим
                        <span class="tga">эксклюзивный проект</span>
                        дизайна интерьера, который вам точно понравится
                    </div>

                    <div class="intro__messengers">
                        <div class="intro__messengers-title  text tg">
                            <img class="intro__messengers-icon" src="assets/img/intro/book.png" alt="">
                            Получить предложение
                        </div>

                        <div class="intro__select  text">
                            <a class="intro__select-item active" href="https://www.viber.com/ru/">в Viber</a>
                            <a class="intro__select-item" href="https://telegram.org/">в Telegram</a>
                            <a class="intro__select-item" href="https://www.whatsapp.com/">в WhatApp </a>

                            <ul class="intro__select-list">
                                <li>
                                    <a class="intro__select-item  noActive" href="https://www.viber.com/ru/">в Viber</a>
                                </li>

                                <li>
                                    <a class="intro__select-item" href="https://telegram.org/">в Telegram</a>
                                </li>

                                <li>
                                    <a class="intro__select-item" href="https://www.whatsapp.com/">в WhatApp</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- /portfolio__item -->


                <div class="portfolio__item  portfolio__item--min"
                    style="background: url(assets/img/portfolio/img-3.jpg) no-repeat center; background-size: cover;">

                    <div class="portfolio__item-content">
                        <div class="portfolio__item-title  text-md"> Дом для молодой семьи </div>
                        <span class="portfolio__item-subtitle">Весь дом 70 м<sup>2</sup></span>
                    </div>

                    <div class="portfolio__hover">
                        <div class="portfolio__hover-slogan  small-text"> Выполнили: </div>

                        <div class="portfolio__hover-title  text-md">
                            Авторский дизайн проект <br>
                            + ремонт ПОД КЛЮЧ
                        </div>

                        <button class="btn  portfolio__hover-btn" data-id="popup-project" type="button">
                            <span class="btn-blick"></span>
                            <b class="text">Смотреть подробнее</b>
                        </button>

                        <div class="portfolio__hover-subtitle  small-text">
                            (32 фотографий + описание)
                        </div>
                    </div>

                </div> <!-- /portfolio__item -->


                <div class="portfolio__item  portfolio__item-min"
                    style="background: url('assets/img/portfolio/img-4.jpg') no-repeat center; background-size: cover;">
                    <div class="portfolio__item-content">
                        <div class="portfolio__item-title  text-md"> Дом для молодой семьи </div>
                        <span class="portfolio__item-subtitle">Весь дом 70 м<sup>2</sup></span>
                    </div>

                    <div class="portfolio__hover">
                        <div class="portfolio__hover-slogan  small-text"> Выполнили: </div>

                        <div class="portfolio__hover-title  text-md">
                            Концепция дизайн-проекта <br>
                            для молодой семьи
                        </div>

                        <button class="btn  portfolio__hover-btn" data-id="popup-project" type="button">
                            <span class="btn-blick"></span>
                            <b class="text">Смотреть подробнее</b>
                        </button>

                        <div class="portfolio__hover-subtitle  small-text">
                            (37 фотографий + описание)
                        </div>
                    </div>
                </div> <!-- /portfolio__item -->
            </div> <!-- portfolio__item-block -->


            <div class="portfolio__item  portfolio__item--big"
                style="background: url('assets/img/portfolio/img-5.jpg') no-repeat center; background-size: cover;">
                <div class="portfolio__item-content">
                    <div class="portfolio__item-title  text-md"> Дом для молодой семьи </div>
                    <span class="portfolio__item-subtitle">Весь дом 70 м<sup>2</sup></span>
                </div>

                <div class="portfolio__hover">
                    <div class="portfolio__hover-slogan  small-text"> Выполнили: </div>

                    <div class="portfolio__hover-title  text-md">
                        Концепция дизайн-проекта <br>
                        для молодой семьи
                    </div>

                    <button class="btn  portfolio__hover-btn" data-id="popup-project" type="button">
                        <span class="btn-blick"></span>
                        <b class="text">Смотреть подробнее</b>
                    </button>

                    <div class="portfolio__hover-subtitle  small-text">
                        (26 фотографий + описание)
                    </div>
                </div>
            </div> <!-- /portfolio__item -->


            <div class="portfolio__item  portfolio__item--min "
                style="background: url('assets/img/portfolio/img-6.jpg') no-repeat center; background-size: cover;">
                <div class="portfolio__item-content">
                    <div class="portfolio__item-title  text-md"> Дом для молодой семьи </div>
                    <span class="portfolio__item-subtitle">Весь дом 70 м<sup>2</sup></span>
                </div>

                <div class="portfolio__hover">
                    <div class="portfolio__hover-slogan  small-text"> Выполнили: </div>

                    <div class="portfolio__hover-title  text-md">
                        Концепция дизайн-проекта <br>
                        для молодой семьи
                    </div>

                    <button class="btn  portfolio__hover-btn" data-id="popup-project" type="button">
                        <span class="btn-blick"></span>
                        <b class="text">Смотреть подробнее</b>
                    </button>

                    <div class="portfolio__hover-subtitle  small-text">
                        (40 фотографий + описание)
                    </div>
                </div>
            </div> <!-- /portfolio__item -->


            <div class="portfolio__item  portfolio__item--min"
                style="background: url('assets/img/portfolio/img-7.jpg') no-repeat center; background-size: cover;">
                <div class="portfolio__item-content">
                    <div class="portfolio__item-title  text-md"> Дом для молодой семьи </div>
                    <span class="portfolio__item-subtitle">Весь дом 70 м<sup>2</sup></span>
                </div>

                <div class="portfolio__hover">
                    <div class="portfolio__hover-slogan  small-text"> Выполнили: </div>

                    <div class="portfolio__hover-title  text-md">
                        Концепция дизайн-проекта <br>
                        для молодой семьи
                    </div>

                    <button class="btn  portfolio__hover-btn" data-id="popup-project" type="button">
                        <span class="btn-blick"></span>
                        <b class="text">Смотреть подробнее</b>
                    </button>

                    <div class="portfolio__hover-subtitle  small-text">
                        (30 фотографий + описание)
                    </div>
                </div>
            </div> <!-- /portfolio__item -->


            <div class="portfolio__item-block  portfolio__item-block--min">
                <div class="portfolio__item"
                    style="background: url('assets/img/portfolio/img-8.jpg') no-repeat center; background-size: cover;">
                    <div class="portfolio__item-content">
                        <div class="portfolio__item-title  text-md"> Дом для молодой семьи </div>
                        <span class="portfolio__item-subtitle">Весь дом 70 м<sup>2</sup></span>
                    </div>

                    <div class="portfolio__hover">
                        <div class="portfolio__hover-slogan  small-text"> Выполнили: </div>

                        <div class="portfolio__hover-title  text-md">
                            Концепция дизайн-проекта <br>
                            для молодой семьи
                        </div>

                        <button class="btn  portfolio__hover-btn" data-id="popup-project" type="button">
                            <span class="btn-blick"></span>
                            <b class="text">Смотреть подробнее</b>
                        </button>

                        <div class="portfolio__hover-subtitle  small-text">
                            (16 фотографий + описание)
                        </div>
                    </div>
                </div> <!-- /portfoli_item -->

                <div class="portfolio__item"
                    style="background: url('assets/img/portfolio/img-9.jpg') no-repeat center; background-size: cover;">
                    <div class="portfolio__item-content">
                        <div class="portfolio__item-title  text-md"> Дом для молодой семьи </div>
                        <span class="portfolio__item-subtitle">Весь дом 70 м<sup>2</sup></span>
                    </div>

                    <div class="portfolio__hover">
                        <div class="portfolio__hover-slogan  small-text"> Выполнили: </div>

                        <div class="portfolio__hover-title  text-md">
                            Концепция дизайн-проекта <br>
                            для молодой семьи
                        </div>

                        <button class="btn  portfolio__hover-btn" data-id="popup-project" type="button">
                            <span class="btn-blick"></span>
                            <b class="text">Смотреть подробнее</b>
                        </button>

                        <div class="portfolio__hover-subtitle  small-text">
                            (18 фотографий + описание)
                        </div>
                    </div>
                </div>
            </div> <!-- /portfolio__item-block -->


            <div class="portfolio__end">
                <div class="portfolio__end-slogan  text21"> Это не все наше портфолио </div>
                <h2 class="portfolio__end-title  title"> Вдохновитесь <br> идеями </h2>
                <div class="portfolio__end-subtitle  text21">
                    скачав больше проектов <br> в нашей презентации - <br> уже через 5 секунд
                </div>

                <div class="portfolio__form-box">
                    <img class="portfolio__end-bg" src="assets/img/portfolio/cc.png" alt="">

                    <div class="form  portfolio__form">
                        <div class="form__content">
                            <h2 class="form__title  text-md">
                                Введите ваш телефон чтобы зарегистрироваться <br>
                                в 1 клик и получить доступ к презентации
                            </h2>

                            <div class="form__item">
                                <img class="form__item-icon" src="assets/img/portfolio/pdf.png" alt="">
                                <div class="form__item-desc tsm12">Загрузка начнется автоматически
                                    <span class="tsm8">Размер фалйа - 5,6 (PDF)</span>
                                </div>
                            </div>

                            <div class="form__label"
                                style="background: url('assets/img/portfolio/bbbb.png') no-repeat center; background-size: cover;">
                                <div class="form__label-subtitle"> Бонусом внутри мы подготовили для вас: </div>
                                <div class="form__label-title  small-text"> ТРЕНДЫ дизайна интерьера 2020 года </div>
                            </div>

                            <input type="hidden" name="formname" value="price">
                            <input type="hidden" name="title" value="Получить презентацию">

                            <form class="portfolio__form-block">
                                <input class="form__input small-text" type="tel" name="phone" required=""
                                    placeholder="+375 (_ _) _ _ _ - _ _ - _ _">
                                <button class="btn  portfolio__form-btn">
                                    <span class="btn-blick"></span>
                                    <span class="small-text">
                                        <b class="">Получить презентацию</b>
                                    </span>
                                </button>
                            </form>

                            <div class="politics">
                                <label for="portfolio__politics" class="politics__check-box">
                                    <input class="politics__input" type="checkbox" name="" id="portfolio__politics"
                                        required="" checked="">

                                    <div class="politics__row">
                                        <div class="politics__check">
                                            <span class="politics__check-active">
                                                <img src="assets/img/portfolio/v.png" alt="">
                                            </span>
                                        </div>

                                        <div class="politics__text  tsm12">
                                            Вы соглашаетесь c
                                            <a class="politics__link" href="#" target="_blank">
                                                Политикой конфиденциальности
                                            </a>
                                        </div>
                                    </div>
                                </label>
                            </div> <!-- /politics -->
                        </div> <!-- /form__content -->
                    </div> <!-- /form -->
                </div> <!-- /portfolio__form-box -->
            </div> <!-- /portfolio__end -->

        </div> <!-- /portfolio__inner -->
    </div> <!-- /container -->
</section> <!-- /portfolio -->