<section class="price" id="price">
    <div class="container">
        <div class="price__slogan  text24"> Сколько же стоит сделать проект? </div>
        <h2 class="price__title  title"> Стоимость дизайна интерьера </h2>
        <div class="price__subtitle  text24"> вашего помещения рассчитвается индивидуально, <br> </div>

        <div class="price__items">
            <div class="price__item  price__item--info">
                <h4 class="price__item-title  text24"> Стоимость дизайн-проекта интерьера </h4>
                <div class="price__item-subtitle  text"> На окончательную стоимость влияют такие переменные как: </div>

                <div class="price__advantages">
                    <div class="price__advantages-item">
                        <div class="price__advantages-icon">
                            <img src="assets/img/price/i-1.png" alt="">
                        </div>

                        <div class="price__advantages-text  tsm13"> Стиль, в котром будем делать </div>
                    </div>

                    <div class="price__advantages-item ">
                        <div class="price__advantages-icon">
                            <img src="assets/img/price/i-2.png" alt="">
                        </div>

                        <div class="price__advantages-text  tsm13"> Ваша площадь и особенности планировки </div>
                    </div>

                    <div class="price__advantages-item ">
                        <div class="price__advantages-icon">
                            <img src="assets/img/price/i-3.png" alt="">
                        </div>

                        <div class="price__advantages-text  tsm13"> Комплекатция проекта </div>
                    </div>

                    <div class="price__advantages-item ">
                        <div class="price__advantages-icon">
                            <img src="assets/img/price/i-4.png" alt="">
                        </div>

                        <div class="price__advantages-text  tsm13"> Необходимость создавать виртуальный 3D тур </div>
                    </div>
                </div>
            </div> <!-- /price__item -->


            <div class="price__item  price__item--card">
                <div class="price__item-inner">
                    <h4 class="price__item-title  text24 pts-js"> ПАКЕТ <br>"ТЕХНО" </h4>

                    <div class="price__item-value  text">30 $</div>
                    <div class="price__item-subtitle  text"> Что входит в проект: </div>
                    <div class="price__item-subtitle  text"> 1 этап - <span>ПЛАНИРОВОЧНОЕ РЕШЕНИЕ</span> </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item">Выезд на объект</li>
                        <li class="portfolio__list-item">План обмера</li>
                        <li class="portfolio__list-item">Планировочные решения</li>
                    </ul>

                    <div class="price__item-subtitle  text"> <span>2 этап</span> - КОМПЛЕКТ ЧЕРТЕЖЕЙ ДЛЯ РЕМОНТА </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item">План демонтажа конструкций</li>
                        <li class="portfolio__list-item">План монтажа конструкций</li>
                        <li class="portfolio__list-item">План теплых полов</li>
                        <li class="portfolio__list-item">План потолков</li>
                        <li class="portfolio__list-item">План расположения розеток</li>
                        <li class="portfolio__list-item">План расположения светильников</li>
                        <li class="portfolio__list-item">План расположения выключателей</li>
                    </ul>

                    <div class="price__item-subtitle  text"> <span>3 этап</span> - КОЛЛАЖИ </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item">Концепция вашего жилья</li>
                    </ul>

                    <div class="price__item-subtitle  text"> <span>4 этап</span> - СПЕЦИФИКАЦИЯ МАТЕРИАЛОВ </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item"> Сводная ведомость использованных отделочных материалов,
                            мебели, дверей, светильников с
                            указанием наименования, количества, артикулов и мест продажи
                        </li>
                    </ul>

                    <div class="price__item-btns">
                        <a class="price__item-link  text" href="#step">Смотреть состав проекта</a>
                        <button class="btn  price__item-btn" data-id="popup-call">
                            Обсудить детали проекта
                            <span class="btn-blick"></span>
                        </button>
                    </div>
                </div> <!-- /price__item-inner -->
            </div> <!-- /price__item -->


            <div class="price__item  price__item--card">
                <div class="price__item-inner">
                    <h4 class="price__item-title  text24 pts-js"> ПАКЕТ <br>"ОПТИМАЛЬНЫЙ" </h4>
                    <div class="price__item-value  text">45 $</div>
                    <div class="price__item-subtitle  text"> Что входит в проект: </div>
                    <div class="price__item-subtitle  text"> 1 этап - <span>ПЛАНИРОВОЧНОЕ РЕШЕНИЕ</span> </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item">Выезд на объект</li>
                        <li class="portfolio__list-item">План обмера</li>
                        <li class="portfolio__list-item">Планировочные решения</li>
                    </ul>

                    <div class="price__item-subtitle  text">
                        2 этап - <span>КОМПЛЕКТ ЧЕРТЕЖЕЙ ДЛЯ РЕМОНТА</span>
                    </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item"> План демонтажа конструкций</li>
                        <li class="portfolio__list-item"> План монтажа конструкций</li>
                        <li class="portfolio__list-item"> План теплых полов</li>
                        <li class="portfolio__list-item"> План потолков</li>
                        <li class="portfolio__list-item"> План расположения розеток</li>
                        <li class="portfolio__list-item"> План расположения светильников</li>
                        <li class="portfolio__list-item"> План расположения выключателей</li>
                        <li class="portfolio__list-item"> + План расположения сантехнического оборудования</li>
                        <li class="portfolio__list-item"> + Развертки стен по некоторым помещениям</li>
                    </ul>

                    <div class="price__item-subtitle  text">
                        3 этап - <span>3D ВИЗУАЛИЗАЦИЯ</span>
                    </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item"> Фотореалистичные изображения интерьера</li>
                    </ul>

                    <div class="price__item-subtitle  text">
                        <span>4 этап</span> - СПЕЦИФИКАЦИЯ МАТЕРИАЛОВ
                    </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item"> Сводная ведомость использованных отделочных материалов,
                            мебели, дверей, светильников с
                            указанием наименования, количества, артикулов и мест продажи
                        </li>
                    </ul>

                    <div class="price__item-desc  text">
                        В пакете "Оптимальный" добавляются 3d визуализации вашего будущего помещения.
                    </div>

                    <div class="price__item-btns">
                        <a class="price__item-link  text" href="#step">Смотреть состав проекта</a>
                        <button class="btn  price__item-btn" data-id="popup-call">
                            Обсудить детали проекта
                            <span class="btn-blick"></span>
                        </button>
                    </div>
                </div>
            </div> <!-- /price__item -->


            <div class="price__item  price__item--card">
                <div class="price__item-inner">
                    <h4 class="price__item-title  text24  pts-js"> ПАКЕТ <br>"ПРОФЕССИОНАЛ" </h4>
                    <div class="price__item-value  text">55 $</div>
                    <div class="price__item-subtitle  text"> Что входит в проект: </div>
                    <div class="price__item-subtitle  text"> - <span>ПЛАНИРОВОЧНОЕ РЕШЕНИЕ</span> </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item"> Выезд на объект</li>
                        <li class="portfolio__list-item"> План обмера</li>
                        <li class="portfolio__list-item"> Планировочные решения</li>
                    </ul>

                    <div class="price__item-subtitle  text">
                        2 этап - <span>КОМПЛЕКТ ЧЕРТЕЖЕЙ ДЛЯ РЕМОНТА</span>
                    </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item"> План демонтажа конструкций</li>
                        <li class="portfolio__list-item"> План монтажа конструкций</li>
                        <li class="portfolio__list-item"> План теплых полов</li>
                        <li class="portfolio__list-item"> План потолков</li>
                        <li class="portfolio__list-item"> План расположения розеток</li>
                        <li class="portfolio__list-item"> План расположения светильников</li>
                        <li class="portfolio__list-item"> План расположения выключателей</li>
                        <li class="portfolio__list-item"> + План расположения сантехнического оборудования</li>
                        <li class="portfolio__list-item"> + Развертки стен по некоторым помещениям</li>
                    </ul>

                    <div class="price__item-subtitle  text">
                        3 этап - <span>3D ВИЗУАЛИЗАЦИЯ</span>
                    </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item"> Фотореалистичные изображения интерьера</li>
                    </ul>

                    <div class="price__item-subtitle  text">
                        4 этап - <span>СПЕЦИФИКАЦИЯ МАТЕРИАЛОВ</span>
                    </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item"> Сводная ведомость использованных отделочных материалов,
                            мебели, дверей, светильников с
                            указанием наименования, количества, артикулов и мест продажи
                        </li>
                    </ul>

                    <div class="price__item-subtitle  text"> <span>5 этап</span> - ПОДБОР МАТЕРИАЛОВ </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item"> Выезд на подбор краски/обоев</li>
                        <li class="portfolio__list-item"> Выезд на подбор плитки</li>
                        <li class="portfolio__list-item"> Выезд на подбор напольных покрытий</li>
                        <li class="portfolio__list-item"> Выезд в салон кухни</li>
                        <li class="portfolio__list-item"> Выезд по подбору мебели</li>
                    </ul>

                    <div class="price__item-subtitle  text"> <span>6 этап</span> - АВТОРСКИЙ НАДЗОР </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item"> 4 выезда к Вам на объект для контроля</li>
                        <li class="portfolio__list-item"> Консультации по возникшим вопросам</li>
                    </ul>

                    <div class="price__item-desc  text">
                        Пакет "Профессиональный" отличается от пакета "Оптимальный" тем, что тут включен
                        "Авторский Надзор" и <span>Подбор материалов.</span>
                    </div>

                    <div class="price__item-btns">
                        <a class="price__item-link  text" href="#step">Смотреть состав проекта</a>
                        <button class="btn  price__item-btn" data-id="popup-call">
                            Обсудить детали проекта
                            <span class="btn-blick"></span>
                        </button>
                    </div>
                </div>
            </div> <!-- /price__item -->


            <div class="price__item  price__item--card">
                <div class="price__item-inner">
                    <img class="price__item-label" src="assets/img/price/vip.png" alt="">

                    <h4 class="price__item-title  text24 pts-js"> ПАКЕТ <br>"VIP" </h4>
                    <div class="price__item-value  text">70 $</div>
                    <div class="price__item-subtitle text"> Что входит в проект: </div>
                    <div class="price__item-subtitle text"> 1 этап - <span>ПЛАНИРОВОЧНОЕ РЕШЕНИЕ</span> </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item"> Выезд на объект</li>
                        <li class="portfolio__list-item"> План обмера</li>
                        <li class="portfolio__list-item"> Планировочные решения</li>
                    </ul>

                    <div class="price__item-subtitle  text"> 2 этап - <span>КОМПЛЕКТ ЧЕРТЕЖЕЙ ДЛЯ РЕМОНТА</span> </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item"> План демонтажа конструкций</li>
                        <li class="portfolio__list-item"> План монтажа конструкций</li>
                        <li class="portfolio__list-item"> План теплых полов</li>
                        <li class="portfolio__list-item"> План потолков</li>
                        <li class="portfolio__list-item"> План расположения розеток</li>
                        <li class="portfolio__list-item"> План расположения светильников</li>
                        <li class="portfolio__list-item"> План расположения выключателей</li>
                        <li class="portfolio__list-item"> + План расположения сантехнического оборудования</li>
                        <li class="portfolio__list-item"> + Развертки стен по некоторым помещениям</li>
                    </ul>

                    <div class="price__item-subtitle  text"> 3 этап - <span>3D ВИЗУАЛИЗАЦИЯ</span> </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item"> Фотореалистичные изображения интерьера</li>
                    </ul>

                    <div class="price__item-subtitle  text"> 4 этап - <span>СПЕЦИФИКАЦИЯ МАТЕРИАЛОВ</span> </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item"> Сводная ведомость использованных отделочных материалов,
                            мебели, дверей, светильников с
                            указанием наименования, количества, артикулов и мест продажи
                        </li>
                    </ul>

                    <div class="price__item-subtitle  text"> 5 этап - <span>ПОДБОР МАТЕРИАЛОВ</span> </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item"> Выезд на подбор краски/обоев</li>
                        <li class="portfolio__list-item"> Выезд на подбор плитки</li>
                        <li class="portfolio__list-item"> Выезд на подбор напольных покрытий</li>
                        <li class="portfolio__list-item"> Выезд в салон кухни</li>
                        <li class="portfolio__list-item"> Выезд по подбору мебели</li>
                    </ul>

                    <div class="price__item-subtitle  text"> 6 этап - <span>АВТОРСКИЙ НАДЗОР</span> </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item"> 4 выезда к Вам на объект для контроля</li>
                        <li class="portfolio__list-item"> Консультации по возникшим вопросам</li>
                    </ul>

                    <div class="price__item-subtitle  text">
                        7 этап - <span>Выполнение ремонтно-отделочных работ</span>
                    </div>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item"> Заключаем договор</li>
                        <li class="portfolio__list-item"> Рассчитываем смету на ремонтные работы</li>
                        <li class="portfolio__list-item"> Самостоятельно закупаем черновые материалы</li>
                        <li class="portfolio__list-item"> Выполняем ремонтные работы, по разработанному нами проекту
                        </li>
                        <li class="portfolio__list-item"> Проводим трехуровневую проверку качества выполненных работр
                        </li>
                        <li class="portfolio__list-item"> Вывозим мусор</li>
                        <li class="portfolio__list-item"> Выполняем уборку помещения</li>
                    </ul>

                    <div class="price__item-desc  text">
                        В пакете "Полный V.I.P. добавляются полный авторский надзор за ходом выполнения работ
                    </div>

                    <div class="price__item-btns">
                        <a class="price__item-link  text" href="#step">Смотреть состав проекта</a>
                        <button class="btn  price__item-btn" data-id="popup-call">
                            Обсудить детали проекта
                            <span class="btn-blick"></span>
                        </button>
                    </div>
                </div>
            </div> <!-- /price__item -->
        </div> <!-- /price__items -->


        <div class="price-list" id="price-list">
            <div class="price-list__inner">
                <img class="price-list__bg" src="assets/img/price/inside.png" alt="">

                <div class="price-list__content">
                    <div class="price-list__title  text"> В прайсе есть
                        <span> полная стоимость </span>
                        на все наши услуги
                        <span>+ информация по оплате и ходу работы</span>
                        над вашим проектом
                    </div>

                    <div class="price-list__subtitle  text">
                        Получите прайс в 1 клик в <br> удобный вам мессенджер:
                    </div>

                    <div class="social-links">
                        <a href="tg://resolve?domain=YauheniHuretski" target="_blank" class="social-links__link">
                            <img src="assets/img/price/tg.png" alt="">
                        </a>

                        <a href="viber://chat?nuer=+375291936245" target="_blank" class="social-links__link">
                            <img src="assets/img/price/wa.png" alt="">
                        </a>

                        <a href="viber://chat?nuer=+375291936245" target="_blank" class="social-links__link">
                            <img src="assets/img/price/vi.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- /price-list -->
    </div> <!-- /container -->
</section> <!-- /price -->