<section class="services" id="services"
    style="background: url('assets/img/services/bg.png') no-repeat center right -10vw; background-size: auto 100%;">

    <div class="container">
        <div class="services__subtitle  text24"> Наши основные услуги </div>
        <h2 class="services__title  title"> мы закроем любую вашу задачу </h2>

        <div class="services__slogan  text24">
            В области дизайна интерьера и ремонта под ключ -
            <span> ПРОФЕССИОНАЛЬНО </span>
        </div>


        <div class="services__inner">
            <div class="services__box  services__box--design">
                <div class="services__box-bg"
                    style="background: url('assets/img/services/imgb.png') no-repeat center; background-size: cover;">
                </div>

                <div class="services__content"
                    style="background: url('assets/img/services/img1.png') no-repeat center; background-size: cover;">

                    <div class="services__number">
                        <div class="services__number-value"> 8/10 </div>
                        <div class="services__number-text  tsm12">
                            наших проектов реализывают <br> в точности 1 в 1
                        </div>
                    </div>


                    <div class="services__block">
                        <div class="services__block-title  text24">
                            Услуги дизайн интерьера помещений
                        </div>

                        <button class="services__block-link  js-details" data-id="popup-call" type="button">
                            <div class="services__block-icon">
                                <img src="assets/img/services/key.png" alt="">
                            </div>

                            <span class="text">
                                Обсудить детали вашего проекта
                            </span>
                        </button>
                    </div>


                    <div class="services__block  services__menu">
                        <a class="services__menu-link" href="#">
                            <div class="services__menu-icon">
                                <img src="assets/img/services/book.png" alt="">
                            </div>

                            <span class="services__menu-title tsm12">
                                Смотреть портфолио
                            </span>
                        </a>

                        <a class="services__menu-link" href="#">
                            <div class="services__menu-icon">
                                <img src="assets/img/services/prs.png" alt="">
                            </div>

                            <span class="services__menu-title tsm12">
                                Стоимость
                            </span>
                        </a>
                    </div>
                </div> <!-- /services__content -->
            </div> <!-- /services__box--design -->


            <div class="services__box  services__box--construction">
                <div class="services__box-bg"
                    style="background: url('assets/img/services/rbb.png') no-repeat center; background-size: cover;">
                </div>

                <div class="services__content"
                    style="background: url('assets/img/services/rb1.jpg') no-repeat center; background-size: cover;">

                    <div class="services__block">
                        <div class="services__block-title  text24">
                            Строительство и ремонт "ПОД КЛЮЧ"
                        </div>

                        <button class="services__block-link  js-more">
                            <span class="text">
                                Подробнее про ремонт
                            </span>

                            <div class="services__block-icon">
                                <img src="assets/img/services/arrs.png" alt="">
                            </div>
                        </button>
                    </div>
                </div> <!-- /services__content -->
            </div>
        </div> <!-- /services__inner -->
    </div> <!-- /container -->
</section> <!-- /services -->