<section class="step" id="step">
    <img class="step__main-bg" src="assets/img/step/four.png" alt="">

    <div class="container">
        <div class="step__subtitle  text24"> Независимо от пакета стоимости </div>
        <h2 class="step__title  title"> Ваш проект будет состоять <br> из 4 ключевых этапов </h2>

        <div class="step__inner">

            <div class="step__items">
                <div class="step__item">
                    <img class="step__item-img" src="assets/img/step/it-1.png" alt="">
                    <div class="step__item-subtitle  tsm12"> Вы получаете </div>
                    <h4 class="step__item-title  text-md"> Эскизная часть <br> проекта </h4>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item">Планировки с расстановкой мебели;</li>
                        <li class="portfolio__list-item">Утвержденная планировка стен и перегородок;</li>
                        <li class="portfolio__list-item">«Концепция»: предварительная подборка мебели, материалов для
                            3D проекта.
                        </li>
                    </ul>

                    <div class="step__tooltip">
                        <div class="step__tooltip-title">Перед этим...</div>
                        <div class="step__tooltip-content">
                            <ul class="portfolio__list tsm12">
                                <li class="portfolio__list-item">Знакомимся</li>
                                <li class="portfolio__list-item">Обсуждаем концепцию</li>
                                <li class="portfolio__list-item">Заключаем договор</li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- /step__item -->


                <div class="step__item">
                    <img class="step__item-img" src="assets/img/step/it-2.png" alt="">
                    <div class="step__item-subtitle  tsm12"> Вы получаете </div>
                    <h4 class="step__item-title  text-md"> 3D <br> визуализация </h4>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item">3D изображения с учетом материалов и мебели.</li>
                        <li class="portfolio__list-item">Нет ограничений в правках - пока вам не понравится.</li>
                    </ul>

                    <div class="step__tooltip">
                        <div class="step__tooltip-title">Перед этим...</div>
                        <div class="step__tooltip-content">
                            <ul class="portfolio__list tsm12">
                                <li class="portfolio__list-item">Рисуем десятки вариантов планировок</li>
                                <li class="portfolio__list-item">Вносим сотни правок, чтобы вам понравилось</li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- /step__item -->


                <div class="step__item">
                    <img class="step__item-img" src="assets/img/step/it-3.png" alt="">
                    <div class="step__item-subtitle  tsm12"> Вы получаете </div>
                    <h4 class="step__item-title  text-md"> РАБОЧАЯ ЧАСТЬ <br> проекта </h4>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item">План сносимых/возводимых перегородок;</li>
                        <li class="portfolio__list-item">План проемов и ниш;</li>
                        <li class="portfolio__list-item">Карта полов (с указанием материалов);</li>
                        <li class="portfolio__list-item">Раскладка напольных покрытий;</li>
                        <li class="portfolio__list-item">План теплых полов;</li>
                    </ul>

                    <div class="step__tooltip">
                        <div class="step__tooltip-title">Перед этим...</div>
                        <div class="step__tooltip-content">
                            <ul class="portfolio__list tsm12">
                                <li class="portfolio__list-item">Карта потолков (с разрезами);</li>
                                <li class="portfolio__list-item">Схемы расположения электрики (розетки, выключатели,
                                    регуляторы);</li>
                                <li class="portfolio__list-item">Схемы расположения электрооборудования (ТВ, аудио, и
                                    т.п.);</li>
                                <li class="portfolio__list-item">Схема расположения потолочного освещения, бра;</li>
                                <li class="portfolio__list-item">Схема расположения сантехники;</li>
                                <li class="portfolio__list-item">Схема расположения вентиляции;</li>
                                <li class="portfolio__list-item">Развертки стен с привязкой электрики и освещения;</li>
                                <li class="portfolio__list-item">Эскизы элементов отделки (колонны, потолки, двери,
                                    элементы ограждений) при необходимости;</li>
                                <li class="portfolio__list-item">Ведомость отделочных материалов;</li>
                                <li class="portfolio__list-item">Проект «Электроснабжение и освещение» (опционально);
                                </li>
                                <li class="portfolio__list-item"> Проект «Водоснабжение и канализация» (опционально).
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- /step__item -->


                <div class="step__item">
                    <img class="step__item-img" src="assets/img/step/it-4.png" alt="">
                    <div class="step__item-subtitle  tsm12"> Вы получаете </div>
                    <h4 class="step__item-title  text-md"> ПОДБОР <br> МАТЕРИАЛОВ </h4>

                    <ul class="portfolio__list tsm12">
                        <li class="portfolio__list-item">Выезд на подбор краски/обоев</li>
                        <li class="portfolio__list-item">Выезд на подбор напольных покрытий</li>
                        <li class="portfolio__list-item">Выезд в салон кухни</li>
                        <li class="portfolio__list-item">Выезд по подбору мебелии</li>
                    </ul>

                    <div class="step__tooltip">
                        <div class="step__tooltip-title">Перед этим...</div>
                        <div class="step__tooltip-content">
                            <p>Составляем спецификацию материалов</p>
                            <p> Сводная ведомость использованных отделочных материалов, мебели, дверей, светильников с
                                указанием наименования, количества, артикулов и мест продажи
                            </p>
                        </div>
                    </div>
                </div> <!-- /step__item -->
            </div>


            <div class="step__bg">
                <img src="assets/img/step/mock.png" alt="">
            </div>


            <div class="form  portfolio__form  step__form">
                <div class="form__content">
                    <h2 class="form__title  text-md">
                        Посмотрите пример готового проекта в котором:
                    </h2>

                    <ul class="portfolio__list">
                        <li class="portfolio__list-item">Эскизная часть</li>
                        <li class="portfolio__list-item">ЗD визуализация</li>
                        <li class="portfolio__list-item"> Рабочая часть проекта</li>
                    </ul>

                    <div class="form__item">
                        <img class="form__item-icon" src="assets/img/portfolio/pdf.png" alt="">
                        <div class="form__item-desc tsm12">Загрузка начнется автоматически
                            <span class="tsm8">Размер фалйа - 5,6 (PDF)</span>
                        </div>
                    </div>

                    <form class="portfolio__form-block">
                        <input class="form__input small-text" type="tel" name="phone" required=""
                            placeholder="+375 (_ _) _ _ _ - _ _ - _ _">
                        <button class="btn  portfolio__form-btn">
                            <span class="btn-blick"></span>
                            <span class="small-text">
                                <b class="">Получить презентацию</b>
                            </span>
                        </button>
                    </form>

                    <div class="politics">
                        <label for="step__politics" class="politics__check-box">
                            <input class="politics__input" type="checkbox" name="" id="step__politics" required=""
                                checked="">

                            <div class="politics__row">
                                <div class="politics__check">
                                    <span class="politics__check-active">
                                        <img src="assets/img/portfolio/v.png" alt="">
                                    </span>
                                </div>

                                <div class="politics__text  tsm12">
                                    Вы соглашаетесь c
                                    <a class="politics__link" href="#" target="_blank">
                                        Политикой конфиденциальности
                                    </a>
                                </div>
                            </div>
                        </label>
                    </div> <!-- /politics -->
                </div> <!-- /form__content -->
            </div> <!-- /form -->

        </div> <!-- /step__inner -->
    </div> <!-- /container -->
</section> <!-- /step -->