<section class="step-slider" id="step-slider">

    <div class="step-slider__control">
        <h5 class="step-slider__control-title  text-md"> От знакомства <br> до ремонта </h5>

        <div class="step-slider__arrows">
            <button class="step-slider__arrow prev" type="button">
                <img src="assets/img/intro/arrp.png" alt="">
            </button>

            <button class="step-slider__arrow next" type="button">
                <img src="assets/img/intro/arrn.png" alt="">
            </button>
        </div>
    </div>


    <div class="step-slider__items">
        <div>
            <div class="step-slider__item">
                <div class="step-slider__item-bg"
                    style="background: url(assets/img/guarantees/b2.png) no-repeat center; background-size: auto 100%;">
                </div>
                <div class="step-slider__item-header">
                    <div class="step-slider__item-num title"> 01 </div>
                    <div class="step-slider__item-title  text-md"> Знакомимся с вами </div>
                </div>

                <div class="step-slider__item-hover tsm12">
                    На встрече мы Вас сориентируем по бюджету
                    всего интерьера, включая дизайн, отделочные
                    работы, чистовые материалы и мебель.
                </div>
            </div> <!-- /step-slider__item -->
        </div>


        <div>
            <div class="step-slider__item">
                <div class="step-slider__item-bg"
                    style="background: url(assets/img/guarantees/b2.png) no-repeat center; background-size: auto 100%;">
                </div>
                <div class="step-slider__item-header">
                    <div class="step-slider__item-num title"> 02 </div>
                    <div class="step-slider__item-title  text-md"> Выезжаем на обмер квартиры </div>
                </div>

                <div class="step-slider__item-hover tsm12">
                    На встрече мы Вас сориентируем по бюджету
                    всего интерьера, включая дизайн, отделочные
                    работы, чистовые материалы и мебель.
                </div>
            </div> <!-- /step-slider__item -->
        </div>


        <div>
            <div class="step-slider__item">
                <div class="step-slider__item-bg"
                    style="background: url(assets/img/guarantees/b3.png) no-repeat center; background-size: auto 100%;">
                </div>
                <div class="step-slider__item-header">
                    <div class="step-slider__item-num title"> 03 </div>
                    <div class="step-slider__item-title  text-md"> Создаем планировочное решение </div>
                </div>

                <div class="step-slider__item-hover tsm12">
                    На встрече мы Вас сориентируем по бюджету
                    всего интерьера, включая дизайн, отделочные
                    работы, чистовые материалы и мебель.
                </div>
            </div> <!-- /step-slider__item -->
        </div>


        <div>
            <div class="step-slider__item">
                <div class="step-slider__item-bg"
                    style="background: url(assets/img/guarantees/b4.png) no-repeat center; background-size: auto 100%;">
                </div>
                <div class="step-slider__item-header">
                    <div class="step-slider__item-num title"> 04 </div>
                    <div class="step-slider__item-title  text-md"> Создаем концепт интерьера </div>
                </div>

                <div class="step-slider__item-hover tsm12">
                    На встрече мы Вас сориентируем по бюджету
                    всего интерьера, включая дизайн, отделочные
                    работы, чистовые материалы и мебель.
                </div>
            </div> <!-- /step-slider__item -->
        </div>


        <div>
            <div class="step-slider__item">
                <div class="step-slider__item-bg"
                    style="background: url(assets/img/guarantees/b5.png) no-repeat center; background-size: auto 100%;">
                </div>
                <div class="step-slider__item-header">
                    <div class="step-slider__item-num title"> 05 </div>
                    <div class="step-slider__item-title  text-md"> Подбор материалов </div>
                </div>

                <div class="step-slider__item-hover tsm12">
                    На встрече мы Вас сориентируем по бюджету
                    всего интерьера, включая дизайн, отделочные
                    работы, чистовые материалы и мебель.
                </div>
            </div> <!-- /step-slider__item -->
        </div>
    </div> <!-- /step-slider__items -->
</section> <!-- /step-slider -->