<section class="advantages">
    <div class="container">
        <h2 class="title">Чем планшет полезен для ребенка?</h2>

        <ul class="list">
            <li>
                <div class="pic">
                    <img src="assets/img/plus_image1.jpg" alt="Улучшает творческие способности">
                </div>
                <div class="title">Улучшает творческие <span>способности</span></div>
                <div class="desc">
                    Создавая картины светом, ребенок развивает свои творческие способности,
                    у него улучшается навык рисования
                </div>
            </li>
            <li>
                <div class="pic">
                    <img src="assets/img/plus_image2.jpg" alt="Повышает умственную активность">
                </div>
                <div class="title">Повышает умственную <span>активность</span></div>
                <div class="desc">
                    Различные техники позволяют воплотить
                    любые идеи в жизнь - нужна только лишь фантазия
                </div>
            </li>
            <li>
                <div class="pic">
                    <img src="assets/img/plus_image3.jpg" alt="Развивает моторику">
                </div>
                <div class="title">Развивает <span>моторику</span></div>
                <div class="desc">
                    Рисуя буквы и цифры, ребёнок закрепляет навык письма. Также у него совершенствуются моторика
                    и
                    координация кисти
                </div>
            </li>
            <li>
                <div class="pic">
                    <img src="assets/img/plus_image4.jpg" alt="Формирует ребенка">
                </div>
                <div class="title">Формирует ребенка <span>как личность</span></div>
                <div class="desc">
                    Ребенок получает полную свободу для творчества, что в дальнейшем позитивно сказывается в
                    формировании личности
                </div>
            </li>
        </ul>

        <div class="btn">
            <a class="button-m" href="#order">Заказать сейчас</a>
        </div>

    </div>
</section>