<section class="gif-section">
    <div class="container">
        <h2 class="title">Рисовать светом – это здорово!</h2>
        <ul>
            <li>
                <div class="title">Научитесь повелевать светом!</div>
                <div class="pic">
                    <img src="assets/img/1-min.gif" alt="Научитесь повелевать светом">
                </div>
            </li>

            <li>
                <div class="title">Рисуйте светящиеся картины в темноте!</div>
                <div class="pic">
                    <img src="assets/img/2-min.gif" alt="Рисуйте светящиеся картины в темноте">
                </div>
            </li>

            <li>
                <div class="title">Откройте талант художника!</div>
                <div class="pic">
                    <img src="assets/img/3-min.gif" alt="Откройте талант художника">
                </div>
            </li>
        </ul>
    </div>
</section>