<header class="offer">
    <div class="container">
        <div class="title"><span>Уникальный развивающий планшет</span> <b>Волшебный луч</b></div>
        <div class="desc">Лучший способ развивать навыки рисования, фантазию и интеллект</div>

        <div class="box">
            <img src="assets/img/box.png" alt="Волшебный луч">
        </div>

        <div class="plus">
            <ul>
                <li>Топовая детская игрушка 2020 года</li>
                <li>Развивает навыки рисования и фантазию</li>
                <li>Способствует всестороннему развитию</li>
            </ul>
        </div>

        <div class="order_form">
            <div class="cost">
                <div class="text">Цена <span>со скидкой:</span></div>
                <div class="value">
                    <div class="old_cost">100бел.р</div>
                    <div class="new_cost">44бел.р</div>
                </div>
            </div>

            <form class="main-order-form" action="#">
                <div class="field_set">
                    <input class="field" type="text" name="name" placeholder="Введите ваше имя" required>
                </div>
                <div class="field_set">
                    <input class="field" type="tel" name="phone" placeholder="Введите ваш телефон" required>
                </div>
                <div class="btn">
                    <button type="submit" class="button-m">Заказать сейчас</button>
                </div>
                <div class="stock">Осталось <b>14</b> шт. по акции</div>
            </form>
        </div>
    </div>
</header>