<section class="how-works">
    <div class="container">
        <h2 class="title">Как это работает?</h2>
        <ul>
            <li>
                <div class="pic">
                    <img src="assets/img/step_image1.png" alt="">
                </div>
                <div class="title">Выключи свет, чтобы <span>в помещении было темно</span></div>
                <div class="desc">
                    Достань планшет и положи
                    <span>его перед собой</span>
                </div>
            </li>
            <li>
                <div class="pic">
                    <img src="assets/img/step_image2.png" alt="">
                </div>
                <div class="title">Включи ручку-фонарик <span>и начинай рисовать</span></div>
                <div class="desc">
                    Используй разные техники
                    <span>рисования фонариком</span>
                </div>
            </li>
            <li>
                <div class="pic">
                    <img src="assets/img/step_image3.png" alt="">
                </div>
                <div class="title">Через 15 мин рисунок <span>плавно исчезнет</span></div>
                <div class="desc">
                    Подожди и продолжай рисовать
                    <span>новые картины</span>
                </div>
            </li>
        </ul>

        <div class="recommend">
            <div class="pic">
                <img src="assets/img/recommend_image.jpg" alt="Доктор Комаровский рекомендует">
            </div>
            <div class="info">
                <h2 class="title">Доктор Комаровский рекомендует!</h2>
                <p>
                    Меня часто спрашивают: "А какая игрушка для ребенка - самая лучшая?". А ответ достаточно
                    прост -
                    игрушка должна быть красивой, интересной, безопасной и, самое главное, полезной для ребенка!
                    «Волшебный луч» - одна из немногих детских забав, которая включает в себя все четыре эти
                    критерия. Она действительно может гарантировать и гармоничное развитие вашего малыша, и его
                    достаточно долгую занятость процессом, что несомненно пойдет на руку всем родителям.
                </p>
            </div>

        </div>

    </div>
</section>