<section class="new-approach">
    <div class="container">
        <div class="box">
            <div class="pic">
                <img class="im" src="assets/img/image1.jpg" alt="Совершенно новый подход к рисованию">
                <img class="promo" src="assets/img/box.png" alt="Волшебный луч">
            </div>

            <div class="info">
                <h2 class="title">Совершенно новый <span>подход к рисованию</span></h2>
                <p>
                    Вы когда-нибудь пробовали рисовать светом? Это очень интересно! Создавайте уникальные
                    светящиеся
                    картины в темноте специальным стилусом — карандаши и краски больше не нужны.
                </p>
                <p>
                    Меняйте интенсивность рисунка, просто отдаляя стилус. А чтобы создать настоящие шедевры,
                    используйте трафареты. Так картинка получится оригинальной и уникальной: поле для
                    экспериментов
                    не ограничено!
                </p>
            </div>
        </div>
    </div>
</section>