<section class="order-steps">
    <div class="container">
        <h2 class="title">Как заказать планшет <span>«Волшебный луч»?</span></h2>
        <ul>
            <li>
                <div class="item">
                    <div class="icon">
                        <div class="num_step">Шаг 1</div>
                        <img src="assets/img/step_icon1.png" alt="Оставляете заявку">
                    </div>
                    <div class="text">
                        Оставляете заявку <span>на сайте</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="icon">
                        <div class="num_step">Шаг 2</div>
                        <img src="assets/img/step_icon2.png" alt="Детали заказа">
                    </div>
                    <div class="text">
                        Наш менеджер <span>уточняет детали заказа</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="icon">
                        <div class="num_step">Шаг 3</div>
                        <img src="assets/img/step_icon3.png" alt="Доставка товара">
                    </div>
                    <div class="text">
                        Доставляем ваш товар <span>в течение 1-10 дней</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="icon">
                        <div class="num_step">Шаг 4</div>
                        <img src="assets/img/step_icon4.png" alt="Оплачиваете">
                    </div>
                    <div class="text">
                        Оплачиваете <span>при получении на почте</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>