<section class="reviews">
    <div class="container">
        <h2 class="title">Отзывы довольных покупателей</h2>
        <ul>
            <li>
                <div class="item">
                    <div class="photo">
                        <img src="assets/img/reviews_photo1.jpg" alt="Юлия Рябова">
                        <div class="name">Юлия Рябова, 27 лет</div>
                    </div>
                    <div class="desc">
                        Недавно заказывала на это сайте набор для рисования под названием Волшебный луч. Теперь
                        к вечернему ритуалу с чтением добавился обязательный пункт - рисование светом. Кстати,
                        очень хорошо успокаивает перед сном. Если Ваш малыш боится темноты, этот планшет поможет
                        забыть о страхе! Хотелось бы отдельно поблагодарить магазин за быструю доставку. Все
                        пришло в целости и сохранности. Рекомендуем!
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="photo">
                        <img src="assets/img/reviews_photo2.jpg" alt="Вероника Гусева">
                        <div class="name">Вероника Гусева, 34 года</div>
                    </div>
                    <div class="desc">
                        Очень увлекательная игрушка! Как же я рада, что ребенок может интересно проводить время
                        и развиваться одновременно. Рисовать светом, я такого еще не встречала! Самое главное,
                        что планшет безопасный для ребенка, в нем не содержится каких-либо вредных веществ. Еще
                        он ничего не пачкает в отличие от красок и карандашей — для меня это важно, потому что
                        убирать за детьми бывает очень сложно.
                    </div>
                </div>
            </li>
            <li>
                <div class="item">
                    <div class="photo">
                        <img src="assets/img/reviews_photo3.jpg" alt="Алексей Лопатин">
                        <div class="name">Алексей Лопатин, 36 лет</div>
                    </div>
                    <div class="desc">
                        Недавно стоял вопрос о подарке ребенку, а я не люблю покупать всякие бесполезные
                        игрушки. Нашел планшет для рисования светом “Волшебный луч” и оказался просто прекрасным
                        вариантом! Дочь в восторге, при этом она не просто смотрит глупые мультики, а рисует,
                        развивается. Главное, что он не надоедает. Если выбираете своему ребенку подарок, то это
                        то, что нужно! Рекомендую!
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>