/* --- modification --- */

html, body {
    overflow-x: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    border: 0;
}

ul, li {
    text-decoration: none;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
    text-decoration: none;
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
  } 

  button:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}

.container_main {
    width: 1410px;
	margin: 0 auto;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #455a64;
    background-image: url(../img/body_bg_compression.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.reset-button {
    border: none;
    background: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

/* -------------- */
/* Секция header */

.header {    
    padding-top: 54px;
    padding-bottom: 200px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 170px;
}

.header__title {
    font-size: 50px;
    font-weight: 700;
    color: #3c3768;
    line-height: 60px;
    margin-bottom: 25px;
}

.header__text {
    font-size: 18px;
    width: 481px;
    line-height: 40px;
    margin-bottom: 45px;
}

.header__cta {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 45px;
}

.header__input-email {
    border: none;
    border-radius: 5px;
    width: 230px;
    padding: 29px 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 18px 35px 0 rgb(250, 120, 117, .15);
    -webkit-box-shadow: 0px 18px 35px 0 rgb(250, 120, 117, .15);
    margin-right: 29px;
}

.header__input-email::placeholder {    
    font-size: 18px;
    color: #78909c;
}

.header__navigation-control {
    display: flex;
    align-items: center;
}

.header__cta-btn, .btn {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    width: 150px;
    border-radius: 5px;
    padding: 27px 40px;
    background: linear-gradient(45deg, rgba(195,101,113, 1) 0%, rgba(250,120,117, 1) 100%);
    box-shadow: 0px 18px 35px 0px rgba(250, 120, 117, 0.42); 
    transition: all 0.3s ease-in-out;     
}

.header__cta-btn:hover {
    background: linear-gradient(45deg, rgba(250,120,117, 1) 0%, rgba(195,101,113, 1) 100%);
}

.header__btn-menu svg {
    stroke: #fff;
    stroke-width: 2;
 } 

 .header__btn-menu {
    transition: all 0.3s ease;  
 }

 .header__btn-menu:hover {
    transform: scale(1.1);
 }

 .header__btn-search {    
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(177,95,112, 1) 0%, rgba(250,120,117, 1) 100%);
    box-shadow: 0 18px 35px 0 rgb(63, 48, 81, .42);    
    width: 60px;
    height: 60px;     
    margin-right: 25px;
    transition: all 0.3s ease;   
 } 

 .header__btn-search:hover {
    transform: scale(.8);
 }


/* -------------- */
 /* Секция main  */

 .article {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 220px;
 }

 .article:last-child {
    margin-bottom: 200px;
 } 

.article_right {
    display: flex;
    justify-content: flex-end;
}

.article-wrappers {
    background: rgb(255, 255, 255, .75);    
    border-radius: 5px;       
    box-shadow: 0px 31px 38px 0px rgba(250, 120, 117, 0.1);  
    padding: 100px 86px 80px 86px;    
}

 .article__title {
     font-size: 32px;
     font-weight: 600;
     color: #3c3768;
     line-height: 42px;
     margin-bottom: 45px;
 }

 .article__text {
     font-size: 18px;
     line-height: 40px;
     width: 480px;
     margin-bottom: 45px;
 }

.article__link-wrappers {
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.article__link-wrappers:hover {
    transform: translateX(20px);
}

 .article__link {
    font-size: 20px;
    font-weight: 700;
    color: #fa7875;
    line-height: 48px;
    margin-right: 28px;
 } 


 /* ------------------- */
 /* Секция subscription */

.subscription {
    padding-bottom: 100px;
}

 .subscription_bg-wrap {
    background-image: url(../img/form_bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    border-radius: 5px;
 }

 .subscription__title {
     font-size: 40px;
     width: 700px;
     color: #fff;
     line-height: 48px;
     margin-bottom: 29px;
 }

 .subscription__subtitle {
     font-size: 18px;
     color: #c5cae9;
     line-height: 30px;
     width: 390px;
 }

 .subscription__form-input {
    border: none;
    border-radius: 5px;
    width: 230px;
    padding: 29px 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 18px 35px 0 rgb(63, 48, 81, .42); 
 }

 .subscription__form-input::placeholder {
    font-size: 18px;
    color: #78909c;
 }

 .subscription__form-btn {
    margin-left: 17px; 
    box-shadow: 0 18px 35px 0 rgb(63, 48, 81, .42);     
 }

 .subscription__form-btn:hover {
    background: linear-gradient(45deg, rgba(250,120,117, 1) 0%, rgba(195,101,113, 1) 100%);
}

 .subscription__left-box {
     width: 50%;
 }

 .subscription__right-box {
    width: 50%;
}

      
/* -------------- */
/* Секция footer */

.footer {
    padding-bottom: 70px;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__info {
    width: 45%;
}

.footer__menu {
    width: 12%;
}

.footer_menu-list {
    list-style: none;
}

.footer__social {    
    width: 20%;
    text-align: end;
}

.footer__logo {
    margin-bottom: 40px;
}

.footer__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 90px;
}

.footer__copyright {
    font-size: 16px;
    font-weight: 500;
    color: #455a64;
    line-height: 36px;
}

.footer_menu-list a {
    color: #455a64;
    font-size: 16px;
    font-weight: 600;
    line-height: 36px;
}
.footer_menu-list a:active {
    color: #fa7875;
}

.footer_menu-list a:hover {
    color: #fa7875;
}

.footer__social a {
    display: inline-block;
    background: #322e57;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    margin-left: 7px;
    transition: all 0.3s ease-in-out;
}

.footer__social a:hover {  
    box-shadow: 3px 3px 10px rgba(63, 48, 81, .3); 
    transform: scale(1.1, 1.1);
    background: #453f75;
}


/* ..... responsive ............ */

  /*maximum screen width: 1490px */
  @media (max-width:1490px) {
      .container_main {
          width: 90%;
      }

      .subscription_bg-wrap {
        padding: 100px 100px;
      }
}


/*maximum screen width: 1376px */
@media (max-width:1376px) {  

    .subscription_bg-wrap {
      padding: 80px 50px;
    }
}


  /*maximum screen width: 1280px */
  @media (max-width:1280px) {
    .container {
        width: 90%;
    }

    .subscription__form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .subscription__form-input {
        margin-bottom: 25px;
    }


}


/*maximum screen width: 950px */
@media (max-width:950px) {
    .subscription_bg-wrap {
        flex-direction: column;
    }

    .subscription__form {
        align-items: center;
    }

    .subscription__form-btn {
        margin-left: 0;
    }

    .subscription__left-box {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .subscription__subtitle {
        width: 100%;
    }

    .subscription__title {
        width: 100%;
    }

    .footer-wrapper {
        align-items: flex-start;
    }

    .footer__social {
        display: flex;
        flex-direction: column;
        width: 10%;
        margin-bottom: 10px;
    }

    .footer__social a {
        margin-bottom: 10px;
    }

    .footer__menu {
        width: 20%;
    }

    .article-wrappers {
        box-shadow: 0 0 38px 0px rgba(250, 120, 117, 0.1);
    }
}


 /*maximum screen width: 768px */
 @media (max-width:768px) {
    .article-wrappers {
        width: 90%;
    }

    .article_right, .article {
        justify-content: center;
    }

    .article__text {
        width: 100%;
    }

    .header__navigation {
        align-items: flex-start;
    }

    .header__btn-menu svg {
        stroke: #e97274;
    }

    body {
        background-position: initial;
    }

    .article:last-child {
        margin-bottom: 115px;
    }
}


  /*maximum screen width: 576px */
  @media (max-width:576px) {
    .container {
        width: 100%;
    }

    .header__input-email {
        margin-bottom: 30px;
    }

    .header__text {
        width: 100%;
    }

    .article-wrappers {
        padding: 65px 30px 50px 30px;
    }

    .article {
        margin-bottom: 105px;
    }

    .footer-wrapper {
        flex-wrap: wrap;
    }

    .footer__info, .footer__menu, .footer__social {
        width: 100%;
    } 

    .footer__social {
        flex-direction: row;
    }

    .footer__menu {
        margin-bottom: 30px;
    }

    .footer__text {
        margin-bottom: 30px;
    }

    .footer__copyright {
        margin-bottom: 30px;
    }
}


  /*maximum screen width: 480px */
  @media (max-width:480px) {
    .header__title  {
        font-size: 38px;
        font-weight: 800;
        line-height: 45px;
        font-size: 30px;
    }

    .header__text {
        font-size: 15px;
        line-height: 27px;
        margin-bottom: 30px;
    }

    .header__navigation {
        margin-bottom: 110px;
    }

    .header  {
        padding-top: 25px;
    }

    .header__navigation {
        flex-direction: column;
    }

    .header__logo {
        margin-bottom: 30px;
    }

    .header__input-email {
        width: 65%;
    }

    .article__text {
        font-size: 15px;
        line-height: 27px;
    }

    .article-wrappers {
        padding: 30px 20px 30px 20px;
    }

    .article__title {
        font-size: 24px;
        line-height: 35px;
    }

    .subscription__right-box {
        width: 100%;
    }

    .subscription__form-input {
        width: 60%;
    }

    .subscription_bg-wrap {
        padding: 80px 10px;
    }
}