$black_color: #333333;
$blue_color: #249ae6;
$orange_color: #ffb903;

$bg_grey: #f7f7f7;
$bg_white: #fff;

$gradient_btn: linear-gradient(180deg, rgb(255,237,38) 0%, rgb(255,180,0) 100%);

$radius: 10px;

$shadow: 0px 2px 20px 0px rgba(255, 153, 0, 0.4);


$font_OpenSans: 'Open Sans';
$font_OpenSans_Condensed: 'Open Sans Condensed';