.about {
    color: #fff;
    background: #0a0917;
    padding: 50px 0px;
}

.about__title {
    color: #fff;
    line-height: 1;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 30px;

    span {
        display: block;
        color: #069cfa;
        font-size: 32px;
        font-weight: 800;
        margin-left: 80px;  
        
        @media (max-width: 460px) {
            font-size: 24px;
            margin-left: 0;
        }
    }
}

.about__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 780px) {
        flex-wrap: wrap;
    }
}

.about__content {
    width: 48%;

    @media (max-width: 780px) {
        width: 100%;
        margin-bottom: 30px;
    }
}

.about__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }
}

.about__video {
    width: 50%;

    iframe {
        width: 100%;
        min-height: 315px;
        border: 0;
    }

    @media (max-width: 780px) {
        width: 100%;
    }
}

