.logo {
    margin-right: 20px;
}

.logo__left {
    background: #069cfa none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-family: Nunito;
    font-weight: 700;
    border-radius: 5px;
    font-size: 33px;
    margin: 3px 4px 0 0;
    padding: 6px 4px 3px;
}

.logo__right {
    color: #fff;    
    font-size: 33px;
    font-weight: 700;
    padding: 9px 39px 8px 0;
    float: left;
    font-family: Nunito;    
}