.header {
    position: relative;
    max-height: 711px;
    background-color: $bg_blue;
    padding-top: 41px;
    padding-bottom: 212px;

    @media (max-width: 720px) {
        text-align: center;
        padding-top: 15px;
    }

    &::after {
        position: absolute;
        content: url(../img/header_bg.png);
        top: 0;
        right: 9%;
        z-index: 1; 
        
        @media (max-width: 1280px) {
            right: -16%;
        }

        @media (max-width: 720px) {
            right: -37%;
            opacity: .1;
        }
    }
}

.header__menu {
    position: relative;
    z-index: 60;

    .menu__list {

        @media (max-width: 992px) {
            display: none;
        }
    }
}

.header__inner {
    position: relative;
    @include row-flex();
    align-items: center;
    margin-bottom: 67px;

    @media (max-width: 992px) {
        justify-content: space-between;
    }
}

.header__logo {
    @include col();
    @include size(2);
    @include shift-right(2);
}

.header__title {
    font-family: $fz_Montserrat;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: $black_color;
    margin-bottom: 42px;

    @media (max-width: 1280px) {
        font-size: 52px;
        line-height: 61px;
    }  

     @media (max-width: 992px) {
        font-size: 42px;
        line-height: 51px;
    }  

    @media (max-width: 810px) {
        font-size: 32px;
        line-height: 41px;
    }

    @media (max-width: 420px) {
        font-size: 24px;
        line-height: 30px;
    }
}

.header__subtitle {
    font-size: 28px;
    line-height: 40px;
    color: $black_color;
    margin-bottom: 60px;

    @media (max-width: 420px) {
        font-size: 20px;
        line-height: 28px;
    }
}

.header__track {
    position: absolute;
    top: 46%;
    right: 34%;
    z-index: 50;

    @media (max-width: 1280px) {
        right: 21%;
        top: 43%;
    }

    @media (max-width: 992px) {
        right: 3%;
    }

    @media (max-width: 810px) {
        top: 49%;
    }

    @media (max-width: 720px) {
        top: 75%;
        right: 50%;
        margin-right: -136px;
    }
}

.header__btn {
    z-index: 90;
}
