.menu__list {
    @include row-flex();
}

.menu__item {
    margin-right: 45px;
}

.menu__link {
    font-weight: 400;
    font-size: 16px;
    color:$black_color;
    transition: color .3s ease-out;
    
    &:hover {
        color: darken($yellow_color, 20%); 
    }
}

.menu__btn-open {
    background: transparent;
    border: none;
    display: none;    

    @media (max-width: 992px) {
        display: block;
        padding-right: 15px;
    }
}

.menu__btn-close {
    background: transparent;
    border: none;
    display: none;    
}