.slider {
    // position: relative;
}

.reviews__slider {
}

.slider__item-wrapper {
    padding: 0 19px;
}

.slider__item {
    max-width: 823px;
    padding: 70px 90px 88px 90px;
    box-shadow: $shadow;
    border-radius: $radius;
    margin: 0 auto;

    @media (max-width: 890px) {
       box-shadow: 0 7px 22px rgba(0,0,0,.1);;
    }

    @media (max-width: 780px) {
        padding: 35px 55px 35px 55px;
    }

    @media (max-width: 456px) {
        padding: 15px 15px;
    }
}

.slider__title {
    font-size: 24px;
    line-height: 24px;
    color: $black_color;
    font-weight: 700;
    margin-bottom: 20px;

    @media (max-width: 456px) {
        font-size: 20px;
        line-height: 20px;
    }    
}

.slider__text {
    font-size: 18px;
    line-height: 30px;
    color: $black_color;
    margin-bottom: 60px;

    @media (max-width: 576px) {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 30px;
    }
}

.slider__author {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.slider__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;

    img {
        height: 100%;
    }
}

.slider__info {
    display: flex;
    flex-direction: column;
}

.slider__name {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: $black_color;
    margin-bottom: 10px;   
    
    @media (max-width: 370px) {
        font-size: 14px;
        line-height: 9px;
    } 
}

.slider__link {
    font-size: 14px;
    line-height: 14px;
    color: lighten($black_color, 50%);

    @media (max-width: 370px) {
        font-size: 12px;
        line-height: 10px;
    }
}

.slider-btn_prev {
    width: 60px;
    height: 60px;
    
    position: absolute;
    z-index: 120;
    right: 85px;
    bottom: 50%;
    border: none;

    background: none;
    background: $bg_blue;
    border-radius: 100%;
    cursor: pointer;

    @media(max-width: 1240px) {
        bottom: -10%;
        right: 43%;
    }
}

.slider-btn_next {
    width: 60px;
    height: 60px;

    position: absolute;
    z-index: 120;
    left: 85px;
    bottom: 50%;
    border: none;
    background: none;

    background: $bg_blue;
    border-radius: 100%;
    cursor: pointer;

    @media(max-width: 1240px) {
        bottom: -10%;
        left: 43%;
    }
}