.intro__subtitle {
    font-size: 1.2rem;
    color: $gray_darc;
}

.intro__title {
    padding: 0;
    margin: 0;

    font-size: 3.2rem;
    color: $black;
    font-weight: 600;
}

.intro__specialty {
    margin-bottom: 2rem;
    
    font-size: 1.6rem;
    color: $black;
    font-weight: 400;
}

.intro__specialty-pink {
    color: $pink;
}