<div class="menu">

    <div class="menu__close"></div>

    <div class="logo  menu__logo">
        <a class="logo__link" href="#">
            <img class="logo__img" src="assets/img/intro/logo.png" alt="Логотип">
        </a>
        <span class="logo__text">Студия дизайна интерьера</span>
    </div>


    <div class="menu__inner">
        <div class="menu__item">
            <h5 class="contacts__item-title   text23"> Меню сайта </h5>

            <div class="contacts__line"></div>


            <ul class="menu__list">
                <li class="menu__list-item">
                    <a href="#intro">Главная</a>
                </li>

                <li class="menu__list-item">
                    <a href="#test">Расчёт стоимости</a>
                </li>

                <li class="menu__list-item">
                    <a href="#idea">Слово руководителя</a>
                </li>

                <li class="menu__list-item">
                    <a href="#services">Наши услуги</a>
                </li>

                <li class="menu__list-item">
                    <a href="#example">До/после</a>
                </li>

                <li class="menu__list-item">
                    <a href="#portfolio">Портфолио</a>
                </li>

                <li class="menu__list-item">
                    <a href="#price">Стоимость</a>
                </li>

                <li class="menu__list-item">
                    <a href="#price-contacts">Скачать прайс</a>
                </li>

                <li class="menu__list-item">
                    <a href="#step">Состав проекта</a>
                </li>

                <li class="menu__list-item">
                    <a href="#guarantees">Ремонт под ключ</a>
                </li>

                <li class="menu__list-item">
                    <a href="#team">О компании</a>
                </li>

                <li class="menu__list-item">
                    <a href="#step-slider">Схема работы</a>
                </li>

                <li class="menu__list-item">
                    <a href="#consultation">Получить консультацию</a>
                </li>

                <li class="menu__list-item">
                    <a href="#contacts">Контакты</a>
                </li>
            </ul>
        </div>


        <div class="menu__item  menu__contacts-item">
            <h5 class="contacts__item-title  text23"> Наши контакты </h5>

            <div class="contacts__line"></div>

            <a class="contacts__phone" href="tel:+375 29 193 62 45"> +375 29 193 62 45 </a>
            <div class="contacts__time"> Пн-Вс 9:00-20:00 </div>

            <a class="contacts__mail" href="mailto:info@guru-stroy.by">
                Контактный E-mail
                <span> info@guru-stroy.by </span>
            </a>

            <div class="contacts__line"></div>


            <div class="messengers">
                <div class="messengers__title  text-md"> Задайте любой вопрос напрямую в: </div>
                <div class="messengers__items">
                    <a href="viber://chat?number=375291936245" target="_blank" class="messengers__item viber">
                        <span class="tsm13"> Viber </span>
                        <div class="messengers__item__img">
                            <img src="assets/img/consultation/vi.png" alt="">
                        </div>
                    </a>

                    <a href="https://wa.me/79119223241?text=Хотите получить предложения по дизайн-интерьеру вашей квартиры?"
                        target="_blank" class="messengers__item whatsapp">
                        <span class="tsm13"> Whatsapp </span>
                        <div class="messengers__item__img">
                            <img src="assets/img/consultation/wa.png" alt="">
                        </div>
                    </a>

                    <a href="tg://resolve?domain=YauheniHuretski" target="_blank" class="messengers__item telegram">
                        <span class="tsm13"> Telegram </span>
                        <div class="messengers__item__img">
                            <img src="assets/img/consultation/tg.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="messengers__subtitle  small-text"> *среднее время ответа 40 секунд </div>
            </div>


            <div class="contacts__line"></div>


            <div class="contacts__address">
                <div class="contacts__address-item">
                    <span class="contacts__address-subtitle">Наш офис:</span>
                    <span class="contacts__address-name">г. Минск, ул. Казинца 11 а</span>
                </div>

                <div class="contacts__address-item">
                    <span class="contacts__address-subtitle">Станция метро:</span>
                    <span class="contacts__address-name">Институт культуры</span>
                </div>
            </div>


            <div class="contacts__line"></div>

            <div class="contacts__social">
                <h5 class="contacts__social-title  text21"> Мы социальных сетях </h5>

                <div class="social-links">
                    <a href="tg://resolve?domain=YauheniHuretski" target="_blank" class="social-links__link">
                        <img src="assets/img/price/tg.png" alt="">
                    </a>

                    <a href="viber://chat?nuer=+375291936245" target="_blank" class="social-links__link">
                        <img src="assets/img/price/wa.png" alt="">
                    </a>

                    <a href="viber://chat?nuer=+375291936245" target="_blank" class="social-links__link">
                        <img src="assets/img/price/vi.png" alt="">
                    </a>

                    <a href="mailto:info@guru-stroy.by" target="_blank" class="social-links__link">
                        <img src="assets/img/price/el.png" alt="">
                    </a>
                </div>
            </div>

        </div>

    </div> <!-- /menu__inner -->

</div> <!-- /menu -->