.about {
    margin-bottom: 200px;
}

.about__inner {
    position: relative;
    display: flex;

    @media (max-width: 992px) {
        flex-wrap: wrap;
    }
}

.about__left-box {
    width: 45%;

    @media (max-width: 992px) {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
}

.about__title {
    margin-bottom: 55px;
}

.about__subtitle {
    margin-bottom: 280px;

    @media (max-width: 992px) {
        margin-bottom: 40px;
    }

    @media (max-width: 376px) {
        font-size: 25px;
    }
}

.about__text {
    position: absolute;
    z-index: 50;
    left: 100px;
    top: 210px;

    display: block;
    width: 100%;
    max-width: 570px;
    font-size: 16px;
    line-height: 28px;
    color: $colorGrey;
    background-color: $colorWhite;
    padding: 28px 28px 48px 48px;
    box-shadow: $shadow;
    opacity: 0;
    transition: opacity .3s linear;
    display: none;

    @media (max-width: 992px) {        
       left: 50%;
       transform: translateX(-50%);
    }

    @media (max-width: 470px) {
        padding: 15px;
    }
}

.about__text.js-show {
    display: block;
    opacity: 1;
}

.about__control {
    display: flex;
    align-items: center;

    @media (max-width: 992px) {
        width: 100%;
       justify-content: center;
       position: absolute;
       bottom: -95px;
       left: 50%;
       transform: translateX(-50%);
       z-index: 501;
    }
}

.about__link {
    margin-right: 70px;

    @media (max-width: 470px) {
        margin-right: 0;
    }
}

.about__btn {

    @media (max-width: 470px) {
        position: absolute;
        bottom: 235px;       
        background-color: $colorWhite;
    }
}

.about__btn--prev {
    left: 50%;

    @media (max-width: 470px) {
        left: -40px;
    }
}

.about__btn--next {
    right: 50%;

    @media (max-width: 470px) {
        right: -40px;
    }
}

.about__btn-icon {
    width: 22px;
    height: 15px;
    transition: fill .2s linear;
}

.about__right-box {
    position: relative;
    z-index: 1;
    width: 55%;
    padding-right: 40px;
    padding-bottom: 40px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 310px;
        height: 310px;
        background-image: url(../img/about/right-box-bg.png);
        background-repeat: no-repeat;

        @media (max-width: 758px) {
            display: none;
        }
    }

    @media (max-width: 992px) {
        width: 100%;
    }

    @media (max-width: 758px) {
        padding-right: 0;
        padding-bottom: 0;
    }
}

.about__img-inner {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 630px;
    height: 552px;

    @media (max-width: 992px) {
        max-width: 100%;
    }

    @media (max-width: 470px) {
        height: 455px;
    }
}

.about__img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;

    min-height: 552px;
    object-fit: cover;
    border-radius: 60px 0 0 0;
    opacity: 0;
    transition: opacity 1s;

    @media (max-width: 470px) {
        min-height: 100%;
    }
}

.about__img.js-show {
    opacity: 1;
}


  