.g-subtitle {
    font-family: $font-Pacifico;
    font-size: 30px;
    line-height: 56px;
    color: $colorBlack;
}

.g-subtitle--white {
    color: $colorWhite;
}

.g-subtitle--brown {
    color: $colorBrown;
}