.intro {
    position: relative;     
    padding-top: 140px;
    margin-bottom: 130px;

    @media (max-width: 1460px) {
        padding-top: 90px;
    }

    @media (max-width: 758px) {
        padding-top: 35px;
    }
}

.intro__img-bg {
    position: absolute;   

    &:nth-child(2) {
        top: 60px;
        left: 140px;

        @media (max-width: 758px) {
            display: none;
        }
    }

    &:nth-child(3) { 
        bottom: 25px;
        left: 0px;  
    }

    &:nth-child(4) {
        top: 80px;
        right: 0px;  
        
        @media (max-width: 758px) {
            display: none;
        }
    }
}

.intro__sliders {
    margin-bottom: 50px;
}

.intro__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

    @media (max-width: 1367px) {
        flex-direction: column;
    }
}

.intro__slide.js-show {
    display: flex;
}

.intro__left-box {
    width: 50%;
    text-align: center;    
}

.intro__img-inner {
    position: relative;
    z-index: 2;

    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 753px;
        height: 133px;
        background-image: url(../img/intro/coffee-bg.png);
        background-repeat: no-repeat;

        @media (max-width: 758px) {
            opacity: .1;
        }
    }
}

.intro__img {
    position: relative;
    z-index: 2;
}

.intro__slogan {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1367px) {
        display: none;
    }
}

.intro__slogan-text {
    margin-right: 80px;

    @media (max-width: 1560px) {
        margin-right: 25px;
        width: 50%;
    }
}

.intro__right-box {
    width: 50%;
    text-align: center;
    z-index: 2;    

    @media (max-width: 1376px) {
        width: 100%;
    }
}

.intro__subtitle {
    display: block;
    font-family: $font-Poppins;
    font-size: 45px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: $colorBrown;
    transform: scaleY(1.5);

    @media (max-width: 758px) {
        font-size: 27px;
    }

    @media (max-width: 470px) {
        font-size: 22px;
    }

    @media (max-width: 376px) {
        font-size: 20px;
        letter-spacing: 6px;
    }
}

.intro__subtitle--two {
    letter-spacing: 11px;

    @media (max-width: 376px) {
        letter-spacing: 6px;
    }
}

.intro__title {
    display: block;
    font-family: $font-HoltwoodOneSC;
    font-size: 98px;
    // line-height: 38px;
    color: $colorBrown;
    letter-spacing: 17px;
    text-transform: uppercase;
    transform: scaleY(1.5);
    margin: 50px 0px;

    @media (max-width: 758px) {
        font-size: 60px;
        margin: 20px 0px;
    }

    @media (max-width: 470px) {
        font-size: 40px;
        margin: 10px 0px;
    }
}

.intro__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro__slogan {
    width: 50%;
    text-align: center;
}

.intro__buttons {
    width: 50%;
    text-align: center;

    @media (max-width: 1367px) {
        width: 100%;
    }
}

.intro__btn {
    margin: 0px 10px;

    &:hover {
        transform: scaleX(-1.1);
    }

    &:focus {
        // outline-color: rgba($colorBrown, .08);     
        outline: 0;    
    }    

    @media (max-width: 670px) {
        width: 25%;
    }
}

.intro__btn.js-active {
    transform: scaleX(-1.1);
}








