<div class="articleAuthor" id="articleAuthor">
    <div class="articleAuthor__inner">

        <div class="articleAuthor__img-inner">
            <!-- <img src="assets/img/articleAuthor/img-1.jpg" alt=""> -->
            <img src="assets/img/articles/img-1.jpg" alt="">

        </div>

        <div class="articleAuthor__content">
            <div class="articleAuthor__name">Sarah connor</div>
            <p class="articleAuthor__text">
                Sarah Connor is the author of Super Digital and a leader in digital strategy, through consultancy,
                speaking and writing he passionately promotes digital best practice.
            </p>

            <div class="contacts  articleAuthor__contacts">
                {{> contacts }}
            </div>
        </div> <!-- /articleAuthor__content -->
    </div> <!-- /articleAuthor__inner -->
</div> <!-- /articleAuthor -->