<div class="articleTags" id="articleTags">
    <span class="articleTags__title">TAGS:</span>

    <a class="articleTags__link" href="#">
        <span class="articleTags__tag">TRAVEL</span>
    </a>

    <span class="articleTags__dash">/</span>

    <a class="articleTags__link" href="#">
        <span class="articleTags__tag">LIFESTYLE</span>
    </a>

    <span class="articleTags__dash">/</span>

    <a class="articleTags__link" href="#">
        <span class="articleTags__tag">kitchen</span>
    </a>

</div> <!-- /articleTags -->