<div class="articleReply" id="articleReply">

    <div class="titleLine">
        <div class="titleLine__title">Leave a Reply</div>
    </div>


    <div class="articleReply__form-inner">
        <form class="communication__form" id="articleReply" action="#">
            <div class="communication__input-inner">
                <input class="communication__input" type="text" placeholder="Name*">
                <input class="communication__input" type="email" placeholder="Your e-mail*">
                <input class="communication__input" type="text" placeholder="website">
            </div>
            <textarea class="communication__textarea" placeholder="Your MESSAGE*"></textarea>

            <button class="btn  communication__btn  articleReply__btn" type="submit">POST COMMENT</button>
        </form>
    </div> <!-- /articleReply__form-inner -->

</div> <!-- /articleReply -->