<main class="articles" id="articles">
    <div class="articles__inner">

        <article class="large-post">
            <div class="large-post__inner">
                <div class="large-post__img-inner">
                    <a href="#">
                        <img src="assets/img/articles/img-1.jpg" alt="">
                    </a>
                    <span class="large-post__new">NEW</span>
                </div>

                <div class="large-post__content">
                    <span class="large-post__subtitle">TRAVEL</span>
                    <span class="large-post__dash">/</span>
                    <span class="large-post__date">March 6, 2019</span>
                    <h2 class="large-post__title">Make Your Adventure Sound REALLY Epic</h2>
                    <p class="large-post__text">Do you find yourself reading stories about adventures in outdoor
                        magazines and websites and feeling down about what you did on your summer vacation?
                    </p>
                    <button class="btn" type="submit">Read More</button>
                </div> <!-- /large-post__content -->
            </div> <!-- /large-post__inner -->
        </article> <!-- /large-post -->


        <hr class="line  articles__line">


        <div class="articles__row">

            <article class="post">
                <div class="post__inner">
                    <span class="post__subtitle">TRAVEL</span>
                    <span class="post__dash">/</span>
                    <span class="post__date">March 6, 2019</span>
                    <h2 class="post__title">Make Your Adventure Sound REALLY Epic</h2>

                    <div class="post__img-inner">
                        <a class="post__img-link" href="#">
                            <img src="assets/img/articles/img-2.jpg" alt="">
                        </a>
                    </div>

                    <p class="post__text">Do you find yourself reading stories about adventures in outdoor
                        magazines and websites and feeling down about what you did on your summer vacation?
                    </p>
                    <button class="btn" type="submit">Read More</button>
                </div> <!-- /post__inner -->
            </article> <!-- /post -->

            <article class="post">
                <div class="post__inner">
                    <span class="post__subtitle">LIFESTYLE </span>
                    <span class="post__dash">/</span>
                    <span class="post__date">March 9, 2019</span>
                    <h2 class="post__title">Wallpaper Wednesday: Glowing Place to Be</h2>

                    <div class="post__img-inner">
                        <a class="post__img-link" href="#">
                            <img src="assets/img/articles/img-3.jpg" alt="">
                        </a>
                    </div>

                    <p class="post__text">The North Cascades might be the biggest secret in American mountain ranges.
                        Well, no, it’s not a secret secret — people in the know know, but beyond...
                    </p>
                    <button class="btn" type="submit">Read More</button>
                </div> <!-- /post__inner -->
            </article> <!-- /post -->

        </div> <!-- /articles__row -->


        <hr class="line  articles__line">


        <div class="articles__row">

            <article class="post">
                <div class="post__inner">
                    <span class="post__subtitle">TRAVEL</span>
                    <span class="post__dash">/</span>
                    <span class="post__date">March 6, 2019</span>
                    <h2 class="post__title">Anatomy of a Sandbag</h2>

                    <div class="post__img-inner">
                        <a class="post__img-link" href="#">
                            <img src="assets/img/articles/img-4.jpg" alt="">
                        </a>
                    </div>

                    <p class="post__text">Do you find yourself reading stories about adventures in outdoor
                        magazines and websites and feeling down about what you did on your summer vacation?
                    </p>
                    <button class="btn" type="submit">Read More</button>
                </div> <!-- /post__inner -->
            </article> <!-- /post -->

            <article class="post">
                <div class="post__inner">
                    <span class="post__subtitle">LIFESTYLE </span>
                    <span class="post__dash">/</span>
                    <span class="post__date">March 9, 2019</span>
                    <h2 class="post__title">ONE FORK TO RULE THEM</h2>

                    <div class="post__img-inner">
                        <a class="post__img-link" href="#">
                            <img src="assets/img/articles/img-5.jpg" alt="">
                        </a>
                    </div>

                    <p class="post__text">The North Cascades might be the biggest secret in American mountain ranges.
                        Well, no, it’s not a secret secret — people in the know know, but beyond...
                    </p>
                    <button class="btn" type="submit">Read More</button>
                </div> <!-- /post__inner -->
            </article> <!-- /post -->

        </div> <!-- /articles__row -->


        <hr class="line  articles__line">


        <div class="articles__row">

            <article class="post">
                <div class="post__inner">
                    <span class="post__subtitle">TRAVEL</span>
                    <span class="post__dash">/</span>
                    <span class="post__date">March 6, 2019</span>
                    <h2 class="post__title">My Favorite Affordable House Moments</h2>

                    <div class="post__img-inner">
                        <a class="post__img-link" href="#">
                            <img src="assets/img/articles/img-6.jpg" alt="">
                        </a>
                    </div>

                    <p class="post__text">Did you ever see the epic clip, above, of a mountain bike racer crashing, only
                        to watch his bike ride away on its own? Give it a quick look and then ponder...
                    </p>
                    <button class="btn" type="submit">Read More</button>
                </div> <!-- /post__inner -->
            </article> <!-- /post -->

            <article class="post">
                <div class="post__inner">
                    <span class="post__subtitle">LIFESTYLE </span>
                    <span class="post__dash">/</span>
                    <span class="post__date">March 9, 2019</span>
                    <h2 class="post__title">The Prettiest Personalized Jewelry</h2>

                    <div class="post__img-inner">
                        <a class="post__img-link" href="#">
                            <img src="assets/img/articles/img-7.jpg" alt="">
                        </a>
                    </div>

                    <p class="post__text">Once upon a time, every mountain biker wanted the same fork because, really,
                        practically every mountain biker was riding the same bike—a hardtail.
                    </p>
                    <button class="btn" type="submit">Read More</button>
                </div> <!-- /post__inner -->
            </article> <!-- /post -->

        </div> <!-- /articles__row -->


        <hr class="line  articles__line">


        <div class="articles__row">

            <article class="post">
                <div class="post__inner">
                    <span class="post__subtitle">TRAVEL</span>
                    <span class="post__dash">/</span>
                    <span class="post__date">March 6, 2019</span>
                    <h2 class="post__title">My Favorite Affordable House Moments</h2>

                    <div class="post__img-inner">
                        <a class="post__img-link" href="#">
                            <img src="assets/img/articles/img-8.jpg" alt="">
                        </a>
                    </div>

                    <p class="post__text">Did you ever see the epic clip, above, of a mountain bike racer crashing, only
                        to watch his bike ride away on its own? Give it a quick look and then ponder...
                    </p>
                    <button class="btn" type="submit">Read More</button>
                </div> <!-- /post__inner -->
            </article> <!-- /post -->

            <article class="post">
                <div class="post__inner">
                    <span class="post__subtitle">LIFESTYLE </span>
                    <span class="post__dash">/</span>
                    <span class="post__date">March 9, 2019</span>
                    <h2 class="post__title">The Prettiest Personalized Jewelry</h2>

                    <div class="post__img-inner">
                        <a class="post__img-link" href="#">
                            <img src="assets/img/articles/img-9.jpg" alt="">
                        </a>
                    </div>

                    <p class="post__text">Once upon a time, every mountain biker wanted the same fork because, really,
                        practically every mountain biker was riding the same bike—a hardtail.
                    </p>
                    <button class="btn" type="submit">Read More</button>
                </div> <!-- /post__inner -->
            </article> <!-- /post -->
        </div> <!-- /articles__row -->


        <button class="btnShow  articles__btnShow" id="btnShow" type="button">SHOW MORE</button>


    </div> <!-- /articles__inner -->
</main> <!-- /articles -->