<div class="categories" id="categories">
    <div class="categories__inner">
        <div class="categories__subtitle">CATEGORIES</div>

        <ul class="categories__list">
            <li class="categories__item">
                <a class="categories__link" href="#">Lifestyle</a>
            </li>
            <li class="categories__item">
                <a class="categories__link" href="#">PODCAST</a>
            </li>
            <li class="categories__item">
                <a class="categories__link" href="#">REVIEWS</a>
            </li>
            <li class="categories__item">
                <a class="categories__link" href="#">TraveL</a>
            </li>
        </ul> <!-- /categories__list -->
    </div> <!-- /categories__inner -->
</div> <!-- /categories -->