<div class="comments" id="comments">

    <div class="titleLine">
        <div class="titleLine__title">COMMENTS</div>
    </div>

    <div class="comments__inner">

        <div class="comments__item">
            <div class="comments__img-inner">
                <img class="comments__img" src="assets/img/comments/img-1.jpg" alt="">
            </div>
            <div class="comments__content">
                <span class="comments__name">lana parrilla</span>
                <span class="comments__dash">/</span>
                <span class="comments__date">APRIL 17, 2015</span>
                <p class="comments__text">
                    Bonbon macaroon sweet pudding. Marzipan macaroon gingerbread cupcake jujubes pie apple pie sweet
                    roll marzipan. Cheesecake pastry icing cookie cotton candy carrot cake sugar plum pastry pie.
                    Caramels topping pie cake croissant halvah chocolate bar.
                </p>
                <a class="comments__reply" href="#">REPLY</a>
            </div> <!-- /comments__content -->
        </div> <!-- /comments__item -->


        <div class="comments__item">
            <div class="comments__img-inner">
                <img class="comments__img" src="assets/img/comments/img-1.jpg" alt="">
            </div>
            <div class="comments__content">
                <span class="comments__name">lana parrilla</span>
                <span class="comments__dash">/</span>
                <span class="comments__date">Awaiting FOR moderation</span>
                <p class="comments__text">
                    Сheesecake jelly sesame snaps chocolate bar ice cream candy canes pie. Fruitcake caramels jelly-o
                    soufflé. Donut pastry jelly beans brownie liquorice chocolate cake. Lemon drops lollipop halvah.
                </p>
                <a class="comments__reply" href="#">REPLY</a>
            </div> <!-- /comments__content -->
        </div> <!-- /comments__item -->


    </div> <!-- /comments__inner -->
</div> <!-- /comments -->