<div class="followInsta" id="followInsta">

    <div class="followInsta__title">
        FOLLOW ON INSTAGRAM
    </div>

    <div class="followInsta__inner">
        <a class="followInsta__link" href="#" target="_blank">
            <img class="followInsta__img" src="assets/img/followInsta/1.jpg" alt="">
        </a>

        <a class="followInsta__link" href="#" target="_blank">
            <img class="followInsta__img" src="assets/img/followInsta/2.jpg" alt="">
        </a>

        <a class="followInsta__link" href="#" target="_blank">
            <img class="followInsta__img" src="assets/img/followInsta/3.jpg" alt="">
        </a>

        <a class="followInsta__link" href="#" target="_blank">
            <img class="followInsta__img" src="assets/img/followInsta/4.jpg" alt="">
        </a>
    </div> <!-- /followInsta__inner -->
</div> <!-- /followInsta -->