<ul class="instagram__list">
    <li class="instagram__item">
        <a class="instagram__link" href="#" target="_blank">
            <img class="instagram__img" src="assets/img/footer/1.jpg" alt="">
        </a>
    </li>
    <li class="instagram__item">
        <a class="instagram__link" href="#" target="_blank">
            <img class="instagram__img" src="assets/img/footer/2.jpg" alt="">
        </a>
    </li>
    <li class="instagram__item">
        <a class="instagram__link" href="#" target="_blank">
            <img class="instagram__img" src="assets/img/footer/3.jpg" alt="">
        </a>
    </li>
    <li class="instagram__item">
        <a class="instagram__link" href="#" target="_blank">
            <img class="instagram__img" src="assets/img/footer/4.jpg" alt="">
        </a>
    </li>
    <li class="instagram__item">
        <a class="instagram__link" href="#" target="_blank">
            <img class="instagram__img" src="assets/img/footer/5.jpg" alt="">
        </a>
    </li>
    <li class="instagram__item">
        <a class="instagram__link" href="#" target="_blank">
            <img class="instagram__img" src="assets/img/footer/6.jpg" alt="">
        </a>
    </li>
    <li class="instagram__item">
        <a class="instagram__link" href="#" target="_blank">
            <img class="instagram__img" src="assets/img/footer/7.jpg" alt="">
        </a>
    </li>
</ul> <!-- /instagram__list -->