<div class="mobailMenu" id="mobailMenu">
    <div class="mobailMenu__inner" id="mobailMenu__inner">
        <button class="mobailMenu__close" id="mobailMenu__close" type="button">close</button>

        <nav class="mobailMenu__nav">
            <ul class="mobailMenu__list">

                <li class="mobailMenu__item">
                    <a class="mobailMenu__link" href="#">Home</a>
                </li>

                <li class="mobailMenu__item">
                    <a class="mobailMenu__link" href="#">Features</a>
                </li>

                <li class="mobailMenu__item">
                    <a class="mobailMenu__link" href="#">Reviews</a>
                </li>

                <li class="mobailMenu__item">
                    <a class="mobailMenu__link" href="#">Travel</a>
                </li>

                <li class="mobailMenu__item">
                    <a class="mobailMenu__link" href="#">About Me</a>
                </li>

                <li class="mobailMenu__item">
                    <a class="mobailMenu__link" href="#">Contacts</a>
                </li>

            </ul> <!-- /mobailMenu__list -->
        </nav> <!-- /mobailMenu__nav -->

        <div class="contacts   mobailMenu__contacts">

            {{> contacts }}

        </div>
    </div> <!-- /mobailMenu__inner -->
</div> <!-- /mobailMenu -->