<div class="popularTags" id="popularTags">

    <div class="popularTags__title">
        Popular TAGS
    </div>

    <div class="popularTags__inner">

        <nav class="popularTags__nav">
            <ul class="popularTags__list">

                <li class="popularTags__item">
                    <a class="popularTags__link" href="#">VIDEO</a>
                </li>

                <li class="popularTags__item">
                    <a class="popularTags__link" href="#">PRESENTATIONS</a>
                </li>

                <li class="popularTags__item">
                    <a class="popularTags__link" href="#">BEAUTY</a>
                </li>

                <li class="popularTags__item">
                    <a class="popularTags__link" href="#">DECOR</a>
                </li>

                <li class="popularTags__item">
                    <a class="popularTags__link" href="#">FASHION</a>
                </li>

                <li class="popularTags__item">
                    <a class="popularTags__link" href="#">RESOURCES</a>
                </li>

                <li class="popularTags__item">
                    <a class="popularTags__link" href="#">BOOKS</a>
                </li>
            </ul> <!-- /popularTags__list -->
        </nav> <!-- /popularTags__nav -->

    </div> <!-- /popularTags__inner -->
</div> <!-- /popularTags -->