<div class="popularPosts" id="popularPosts">

    <div class="popularPosts__title">POPULAR POSTS</div>

    <div class="popularPosts__inner">

        <a class="popular-post" href="#">
            <div class="popular-post__inner">
                <div class="popular-post__img-inner">
                    <img class="popular-post__img" src="assets/img/popularPosts/img-1.jpg" alt="">
                </div>

                <div class="popular-post__content">
                    <span class="popular-post__date">March 6, 2019</span>
                    <h2 class="popular-post__title">Make Your Adventure Sound REALLY Epic</h2>
                </div> <!-- /popular-post__content -->
            </div> <!-- /popular-post__inner -->
        </a> <!-- /popular-post -->


        <hr class="line  popularPosts__line">


        <a class="popular-post" href="#">
            <div class="popular-post__inner">
                <div class="popular-post__img-inner">
                    <img class="popular-post__img" src="assets/img/popularPosts/img-2.jpg" alt="">
                </div>

                <div class="popular-post__content">
                    <span class="popular-post__date">March 6, 2019</span>
                    <h2 class="popular-post__title">Make Your Adventure Sound REALLY Epic</h2>
                </div> <!-- /popular-post__content -->
            </div> <!-- /popular-post__inner -->
        </a> <!-- /popular-post -->


        <hr class="line  popularPosts__line">


        <a class="popular-post" href="#">
            <div class="popular-post__inner">
                <div class="popular-post__img-inner">
                    <img class="popular-post__img" src="assets/img/popularPosts/img-3.jpg" alt="">
                </div>

                <div class="popular-post__content">
                    <span class="popular-post__date">March 6, 2019</span>
                    <h2 class="popular-post__title">Make Your Adventure Sound REALLY Epic</h2>
                </div> <!-- /popular-post__content -->
            </div> <!-- /popular-post__inner -->
        </a> <!-- /popular-post -->


    </div> <!-- /popularPosts__inner -->
</div> <!-- /popularPosts -->