<div class="relatedPosts" id="relatedPosts">

    <div class="titleLine">
        <div class="titleLine__title">Related Articles</div>
    </div>

    <div class="relatedPosts__inner">

        <article class="related-post">
            <div class="related-post__inner">

                <div class="related-post__img-inner">
                    <a class="related-post__img-link" href="#">
                        <img src="assets/img/articles/img-3.jpg" alt="">
                    </a>
                </div>

                <div class="related-post__content">
                    <h2 class="related-post__title">Make Your Adventure Sound REALLY Epic</h2>
                    <span class="related-post__date">March 6, 2019</span>
                </div>
            </div> <!-- /related-post__inner -->
        </article> <!-- /related-post -->


        <article class="related-post">
            <div class="related-post__inner">

                <div class="related-post__img-inner">
                    <a class="related-post__img-link" href="#">
                        <img src="assets/img/articles/img-1.jpg" alt="">
                    </a>
                </div>

                <div class="related-post__content">
                    <h2 class="related-post__title">Make Your Adventure Sound REALLY Epic</h2>
                    <span class="related-post__date">March 6, 2019</span>
                </div>
            </div> <!-- /related-post__inner -->
        </article> <!-- /related-post -->


        <article class="related-post">
            <div class="related-post__inner">

                <div class="related-post__img-inner">
                    <a class="related-post__img-link" href="#">
                        <img src="assets/img/articles/img-2.jpg" alt="">
                    </a>
                </div>

                <div class="related-post__content">
                    <h2 class="related-post__title">Make Your Adventure Sound REALLY Epic</h2>
                    <span class="related-post__date">March 6, 2019</span>
                </div>
            </div> <!-- /related-post__inner -->
        </article> <!-- /related-post -->


    </div> <!-- /relatedPosts__inner -->
</div> <!-- /relatedPosts -->