<div class="subscribe" id="subscribe">
    <div class="subscribe__inner">
        <div class="subscribe__subtitle">
            SUBSCRIBE TO NEWSLETTER
        </div>

        <p class="subscribe__text">
            Subscribe to our free newsletter to be in touch with our new articles.
        </p>

        <form class="subscribe__form" action="#">
            <input class="subscribe__input" type="email" placeholder="Your e-mail...">
            <button class="btn  subscribe__btn" type="submit">SUBSCRIBE</button>
        </form>
    </div> <!-- /subscribe__inner -->
</div> <!-- /subscribe -->