.advantages {
    margin-bottom: 195px;

    @media (max-width: 1030px) {
        margin-bottom: 90px;
    }

    @media (max-width: 996px) {
        margin-bottom: 40px;
    }

    @media (max-width: 420px) {
        margin-bottom: 0px;
    }
}

.advantages__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.advantages__item {
    position: relative;
    max-width: 250px;
    padding-left: 40px;
    padding-top: 35px;

    &::before {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 5px solid rgba(126,178,82, .3);
        top: 0;
        left: 0;
    }

    @media (max-width: 1030px) {
        width: 50%;
        margin-bottom: 50px;
    }

    @media (max-width: 576px) {
        width: 100%;  
        padding-top: 0;     
    }

    @media (max-width: 420px) {
        &::before {
            display: none;
        }
    }
}

.advantages__title {
    display: inline-block;
    font-size: 30px;
    line-height: 24px;
    font-weight: 600;
    color: $green_color;
    border-bottom: 3px solid $green_color;
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.advantages__subtitle {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: $green_color;
}

.advantages__text {
    line-height: 25px;    
}