.btn {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: $bg_btn;    
    cursor: pointer;
    padding: 22px 110px 22px 80px;
    transition: background .2s ease-in;

    &::after {
        content: '';
        background-image: url(../img/arrow-btn.png);
        width: 31px;
        height: 9px;
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: 620px) {
            display: none;
        }
    }

    &:hover {
        background: darken($bg_btn, 5%);
    }

    @media (max-width: 620px) {
       padding: 22px 80px 22px 80px;
    }

    &:focus {
        box-shadow: 0 0 0 3px rgba(#2f7cc0, .4);
        outline: none;
    }


}