.fact {
    position: relative;
    max-width: 831px;
    max-height: 250px;
    
    border: 1px solid #a4c58c;
    padding: 55px 95px 95px 80px;
    margin-left: 15px;
    margin-top: auto;
}

.fact__text {
    position: relative;
    line-height: 22px;
    margin-bottom: 18px;

    &::before {
        content: '';
        position: absolute;
        width: 7px;
        height: 7px;
        left: -25px;
        top: 5px;
        background: $green_color;
        border-radius: 50%;

        @media (max-width: 768px) {
            display: none;
        }
    }
}

.fact__text--last {
    @media (max-width: 1199px) {
        display: none;
    }
}

.fact__btn {
    position: absolute;
    right: 0;
    bottom: 0;

    @media (max-width: 768px) {
        padding: 22px 75px 22px 20px;
        width: 100%;
    }
}