.guarantee {
    max-width: 570px;
    width: 100%;
    background-color: #fff;
    padding: 10px 20px 20px 20px;
}


.guarantee__inner {
    position: relative;
    padding: 35px 45px 85px 45px;
    border: none;
    border: 1px solid;
    border-color: $green_color;

    @media (max-width: 1090px) {
        padding: 85px 45px 85px 45px;
    }

    @media (max-width: 420px) {
        border: none;
        padding-top: 20px;
    }

}

.guarantee__subtitle {
    color: $green_color;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding: 0px 7px;
}

.guarantee__subtitle {
    @media (max-width: 420px) {
        text-align: center;
    }
}

.guarantee__text {
    line-height: 22px;
    margin-bottom: 20px;

    @media (max-width: 1090px) {
        line-height: 24px;
    }

    @media (max-width: 560px) {
        font-size: 14px;
    }
}

.guarantee__btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}