.phone {
    text-align: right;
}

.phone__tel {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: $black_color;
    transition: color .2s ease-in;

    &::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background-image: url(../img/phone.svg);
        left: -25px;
        top: 5px;
    }

    &:hover {
        color: $green_color;
    }
}

.phone__text {
    font-size: 12px;
    line-height: 18px;
    color: $grey_color;
}