.reviews {
    position: relative;
}

.reviews__container-ful {
    overflow: hidden;
}

.reviews__title {
    margin-bottom: 50px;

    @media (max-width: 768px) {

        br {
            display: none;
        }

        text-align: center;
    }    
}

.reviews__inner-ful {
    background: $bg
}

.reviews__inner {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 75px;

    @media (max-width: 768px) {
        padding-bottom: 168px;
    }

    @media (max-width: 600px) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.reviews__tab-inner {
    padding-left: 70px;

    @media (max-width: 600px) {
        padding-left: 0;
    }
}

.reviews__tab {
    display: inline-block;

    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: .5px;
    text-transform: uppercase; 
    color: #c3c3c3;
    cursor: pointer;
    border: none;
    background: #fff;
    padding: 30px 0px;
    
    &--prev {
        position: relative;
        padding-right: 40px;  
        width: 45%; 

        
        @media (max-width: 760px) {
            font-size: 10px;
            line-height: 18px;
            padding: 15px 20px 15px 0px;
        }
    }

    &--next {
        position: relative;
        // padding-right: 340px;
        padding-left: 70px;   
        width: 50%; 
        
        @media (max-width: 760px) {
            font-size: 10px;
            line-height: 18px;
            padding: 15px 20px;
        }

    }   

    &--active {
        background-color: $bg;
        color: $bg_btn;
    }
}

.reviews__tab--next.reviews__tab--active {
    &::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            background-color: $bg;
            left: 100%;
            top: 0;
            height: 100%;        
    }
}

.reviews__tab--prev.reviews__tab--active {
    &::after {
        content: '';
            position: absolute;
            display: block;
            width: 345px;
            background-color: $bg;
            right: 100%;
            top: 0;
            height: 100%;
    }
}

.reviews__box {
    display: flex;
    flex-wrap: wrap;
    display: none;

    @media (max-width: 768px) {
        justify-content: center;
    }
}

.active-box {
    display: flex;
}

.reviews__item {
    max-width: 500px;
    width: 50%;

    &:nth-child(odd) {
        padding-right: 35px;

        @media (max-width: 768px) {
            padding-right: 0;
        }
    }

    &:nth-child(even) {
        padding-left: 35px;

        @media (max-width: 768px) {
            display: none;
        }
    }

    @media (max-width: 768px) {
        width: 100%;
        max-width: 100%;
    }
}

.reviews__item-text {
    position: relative;
    color: $grey_color;
    line-height: 22px;
    margin-bottom: 20px;

    &::before {
        content: '';
        position: absolute;
        height: 3px;
        width: 30px;
        background: $green_color;
        left: 0;
        top: -20px;
    }

    @media (max-width: 576px) {
        font-size: 14px;
    }
}

.reviews__item-author {
    display: block;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 65px;
}

.reviews__links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 195px;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: -135px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
}

.reviews__link {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: $bg_btn;
    margin-right: 50px;
    flex-shrink: 0;

    transition: color .2s ease-in;

    &:hover {
        color: lighten($bg_btn, 25%);
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 2px;
        background-color: $bg_btn;
    }

    @media (max-width: 768px) {
        margin-bottom: 30px;
        margin-right: 0;

    }
}

.reviews__btn { 
    @media (max-width: 768px) {
        width: 100%;
    }

    @media (max-width: 420px) {
        font-size: 12px;
        line-height: 22px;
        padding: 15px 60px 15px 60px;
    }
}