.symptoms {
    padding-top: 180px;
    overflow-y: hidden;
    overflow: hidden;
}

.symptoms__container-ful {
    min-height: 560px;
    background: $bg;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        min-height: 578px;
    }

    @media (max-width: 530px) {
        min-height: 795px;
    }

    @media (max-width: 420px) {
        min-height: 865px;
    }
}

.symptoms__title {
    margin-top: 40px;
    margin-bottom: 45px;

    @media (max-width: 996px) {
        text-align: center;
        max-width: 460px;
        margin: 40px auto 45px auto;
    }
}

.symptoms__inner {
    display: flex;
    margin-top: -760px;

    @media (max-width: 996px) {
        flex-direction: column;
    }

    @media (max-width: 530px) {
        margin-top: -985px;
    }

    @media (max-width: 420px) {
        margin-top: -1030px;
    }
}

.symptoms__items {
    max-width: 670px;
    padding-right: 20px;
    padding-bottom: 18px;

    @media (max-width: 996px) {
        max-width: 100%;
        padding-left: 55px;
        padding-bottom: 0;       
    }

    @media (max-width: 530px) {
        padding-left: 0;
    }
}

.symptoms__tabs {
    position: relative;
    max-width: 500px;
    width: 100%;
    height: auto;
    background-image: url(../img/symptoms-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   

    @media (max-width: 996px) {
        min-height: 700px;
        margin-right: auto;
        margin-left: auto;       

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            right: 100%;
            top: 0;
            background-color: #a4c58c;
        }

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            left: 100%;
            top: 0;
            background-color: #a4c58c;
        }
    }

    @media (max-width: 530px) {
        background-image: none;
        min-height: 160px;

        &::before,
        &::after {
            display: none;
        }  
        
        min-height: 143px;
    }   
}

.symptoms__item {   
    position: relative; 
    display: flex;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid lighten($green_color, 25%);   
    cursor: pointer;  
    
    &:hover {
        color: red;
    }     
}

.symptoms__item.active{    
    &::after {
        content: '';
        position: absolute;
        width: 8px;
        height: 13px;
        background-image: url(../img/arrows-tab.svg);
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (max-width: 996px) {
        &::after {
            display: none;
        }
    }
}

.symptoms__item-next.active {
    &::after {
        content: '';
        position: absolute;
        width: 8px;
        height: 13px;
        background-image: url(../img/arrows-tab.svg);
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (max-width: 996px) {
        &::after {
            display: none;
        }
    }
} 

.symptoms__number {
    font-size: 14px;
    font-weight: 600; 
    color: $green_color;
    margin-right: 18px;     
}

.symptoms__text {
    font-size: 14px;
    font-weight: 600; 
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: .5px;
    color: $black_color;
}

.symptoms__list-next {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 530px) {
        flex-direction: column;
    }
}

.symptoms__item-next {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 14px;
    color: $green_color;
    font-weight: 600; 
    border-bottom: 1px solid lighten($green_color, 25%); 
    padding: 20px 0;
    cursor: pointer;  

    &:nth-child(1) {
        border-bottom: 1px solid lighten($green_color, 25%); 
    }

    &:nth-child(2) {
        order: 1;
        border-bottom: 1px solid lighten($green_color, 25%); 
    }   

    &:nth-child(4) {
        order: 2;
        padding-left: 35px;

        @media (max-width: 530px) {
            padding-left: 0;
        }
    }   

    &:nth-child(3) {
        padding-left: 35px;

        @media (max-width: 530px) {
            padding-left: 0;
        }
     }

     @media (max-width: 530px) {
         width: 100%;
     }

     &:last-child {
        @media (max-width: 530px) {
            border-bottom: none;
        }
     }
}

.symptoms__text-next {    
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $black_color;    
}

.symptoms__btn-inner {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 996px) {
        justify-content: center;
        max-width: 416px;
        margin: 0 auto;
    }

    @media (max-width: 530px) {
        max-width: 100%;
    }
}

.symptoms__btn {
    margin-top: 40px;
    margin-bottom: 200px;
    max-width: 500px;
    width: 100%;

    &::after {
        right: 100px;

        @media (max-width: 996px) {
            right: 60px;
        }
    } 

    @media (max-width: 1090px) {
        margin-bottom: 90px;
    }
    
    @media (max-width: 530px) {
        max-width: 100%;
        font-size: 12px;
        padding: 25px 60px;

        &:after {
            display: none;
        }
    }

    @media (max-width: 340px) {
        padding: 25px 40px;
    }
}

.symptoms__tab {
    display: none;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    width: 43px;
    height: 43px;
    border: 9px solid rgba(255,255,255,.8);
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 25px;

    &:first-child {
        display: block;
    }

    @media (max-width: 530px) {
        display: none;
    }
  }

  .symptoms__tab.active-tab {
    @media (max-width: 530px) {
        display: none;
    }
  }

  .tab-1 {
    left: 150px;
    top: 182px;
  }

  .tab-2 {
    left: 300px;
    top: 200px;
  }

  .tab-3 {
    left: 227px;
    top: 135px;
  }

  .tab-4 {
    left: 227px;
    top: 195px;
  }

  .tab-5 {
    left: 230px;
    top: 35px;
  }

  .tab-6 {
    left: 174px;
    top: 135px;
  }

  .tab-7 {
    left: 227px;
    top: 135px;
  }

  .tab-8 {
    left: 227px;
    top: 198px;
  }

  .tab-9 {
    left: 232px;
    top: 100px;
  }

  .symptoms__feedback {
    position: absolute;
    bottom: 0;
    left: 0;

    @media (max-width: 996px) {
        left: 50%;
        bottom: -20px;
        transform: translateX(-50%);
    }

    .feedback__signature {
        @media (max-width: 996px) {
            left: 50%;
            transform: translateX(-50%);
        }
    }
  }

  