.consultation {
    position: relative;
    padding-top: 4vw;    
}

.consultation__title-box {
    padding-left: 40%;

    @media (max-width: 576px) {
        text-align: center;   
        padding-left: 0;
    }
}

.consultation__title {
    font-family: "History Pro 02", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1.5vw;

    opacity: 1;
    animation-delay: 0ms;
    animation-duration: 1500ms;
    animation-fill-mode: both;
    animation-name: slide-up-in;
}

.consultation__subtitle {
    margin-bottom: 2.4vw;
}


.consultation__inner {   
    display: flex;   
    justify-content: space-between;
    margin-bottom: 4.5vw;

    @media (max-width: 768px) {
        justify-content: center;
        flex-wrap: wrap;   
    }
}

.consultation__form-box {
    position: relative;
    width: 53%;
    padding-top: 6vw;

    .portfolio__form {
        @media (max-width: 576px) {
            margin-top: 0;   
        }
    }

    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 3rem;
    }

    @media (max-width: 576px) {
        margin-top: 15rem;   
    }
}

.consultation__form-bg {
    position: absolute;
    width: 27vw;
    left: -1vw;
    top: -12vw;
    max-width: none;
    max-height: none;

    @media (max-width: 768px) {
        width: 34vw;
        // top: -17vw;   
    }

    @media (max-width: 576px) {
        width: 29rem;
        top: -17rem;
        left: 50%;      
        transform: translateX(-57%);   
    }
}

.consultation__form {
    width: 100%;

    .foorm__group {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: 576px) {
            width: 100%;   
        }
    }

    .politics {
        margin-top: 0.7vw;

        @media (max-width: 900px) {
            margin-top: 1rem;   
        }
    }

    .politics__link {
        @media (max-width: 900px) {
            display: block;   
        }
    }

    .quiz__answer {   
        display: block;     
        margin-bottom: 0.7vw;

        @media (max-width: 576px) {
            display: inline-block;
            width: 45%;   
        }
    }

    .quiz__checkbox {
        flex-direction: row;
        justify-content: flex-start;
    }

    .quiz__checkbox-circle {
        margin: 0;
        margin-right: .5vw;
    }

    .form__btn-text {
        font-weight: 600;

        span {
            display: block;
            font-size: 0.75vw;
            font-weight: 300;

            @media (max-width: 900px) {
                font-size: 1.1rem;   
            }
        }
    }

}

.consultation__select-wrap {
    width: 23%;

    @media (max-width: 576px) {
        width: 100%;  
        margin-bottom: 2rem; 
    }
}

.consultation__select-title {
    color: #747474;
    letter-spacing: 0.6px;
    margin-bottom: 0.7vw;

    @media (max-width: 900px) {
        margin-bottom: 1rem;   
    }
}


.time-select {
}

.fancyselect {
}

.consultation__info-box {
    width: 44%;   
    display: flex;
    flex-wrap: wrap;   
    align-items: center;   
    flex-direction: column;  
    justify-content: center;


    .phone {
        margin-bottom: 1.5vw;
        font-size: 0.97vw;
    }

    .phone__link {
        color: #2b2b33;
        font-size: 2.6vw;
        line-height: 1.1;

        @media (max-width: 900px) {
            font-size: 2.6rem;   
        }
    }

    .phone__text {
        @media (max-width: 900px) {
            font-size: 1.2rem;   
        }
    }

    .phone {
        @media (max-width: 900px) {
            margin-right: 0; 
            align-items: center;
        }
    }

    @media (max-width: 768px) {
        width: 100%;   
    }
}

.consultation__info-time {
    position: relative;
    font-size: 1.07vw;
    color: #747474;
    letter-spacing: 0.6px;
    margin-bottom: 2.4vw;
    padding-left: 25px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 1.4rem;
        height: 1.4rem;
        background-image: url('../img/consultation/time.png');
        background-repeat: no-repeat;
        background-position: left center;
        transform: translateY(-50%);

        @media (max-width: 900px) {            
            margin-right: 0.5rem;   
        }
    }

    @media (max-width: 900px) {
        font-size: 1.4rem; 
        margin-bottom: 2.4rem;  
    }
}

.consultation__offer {   
    display: flex; 
    justify-content: space-between;
    margin-bottom: 4.5vw;
}

.consultation__offer-content {
    width: 41%;

    @media (max-width: 768px) {
        width: 100%;
        text-align: center;   
    }
}

.consultation__offer-title {
    font-family: "History Pro 02", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1.5vw;

    opacity: 1;
    animation-delay: 0ms;
    animation-duration: 1500ms;
    animation-fill-mode: both;
    animation-name: slide-up-in;

    @media (max-width: 768px) {
           
    }
}

.consultation__offer-subtitle {
    margin-bottom: 2.4vw;
}

.consultation__favourites {
    width: 40%;   
    display: flex;
    flex-wrap: wrap;  
    align-items: center;  
    flex-direction: column;

    @media (max-width: 900px) {
        display: none;   
    }
}

.consultation__favourites-slogan {
    width: 14vw;
    box-shadow: 0 10px 20px rgba(133, 138, 160, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    color: #747474;
    letter-spacing: 0.6px;
    margin-left: auto;
    margin-right: auto;
    padding: 1vw 1.5vw;
    margin-bottom: 2.4vw;
}

.consultation__favourites-title {
    position: relative;
    font-size: 1.5vw;
    font-weight: 300;
    margin-bottom: 1.5vw;
    padding-left: 5rem;

    opacity: 1;
    animation-delay: 0ms;
    animation-duration: 1500ms;
    animation-fill-mode: both;
    animation-name: slide-up-in;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 3.9rem;
        height: 3.9rem;
        margin-right: 0.7rem;
        background-image: url('../img/consultation/like.png');
        background-repeat: no-repeat;
        transform: translateY(-50%);        
    }
}

.consultation__favourites-ctrl {   
    display: flex;   
    align-items: center;
    margin-bottom: 1.5vw;
}

.consultation__favourites-keys {
    font-size: 1.5vw;
    font-weight: 500;
    box-shadow: 0 10px 20px rgba(133, 138, 160, 0.2);
    background-color: rgba(226, 229, 241, 0.5);
    padding: 0.8vw 1.5vw;
    margin-right: 2vw;

    opacity: 1;
    animation-delay: 0ms;
    animation-duration: 1500ms;
    animation-fill-mode: both;
    animation-name: slide-up-in;
}

.consultation__favourites-btn {
    color: #dcbf8b;
    font-weight: 600;
    text-decoration: underline;
}

.consultation__advas {
    display: flex;   
    justify-content: space-between;
    margin-bottom: 2.4vw;

    @media (max-width: 576px) {
        flex-wrap: wrap;   
    }
}

.consultation__advas-item {
    width: 23%;   
    display: flex;

    @media (max-width: 576px) {
        width: 47%;
        margin-bottom: 2rem;
        flex-wrap: wrap;       
        align-items: center;       
        flex-direction: column;
        text-align: center; 
    }
}

.consultation__advas-icon {
    width: 3.1vw;
    height: 3.1vw;
    margin-right: 0.7vw;
    flex-shrink: 0;  
    display: flex;   
    align-items: center;   
    justify-content: center;

    @media (max-width: 900px) {
        width: 3rem;
        height: 3rem;   
    }

    @media (max-width: 576px) {
        margin-right: 0;
        margin-bottom: 1rem;   
    }
}

.consultation__advas-text {
}

.consultation__seo {
    padding: 4vw 0;
}

.consultation__seo-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 2.4vw;
}

.consultation__seo-before {
    position: relative;
    text-align: center;
    color: #747474;
    height: 3.4vw;
    overflow: hidden;

    &::before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2vw;      
        background-image: linear-gradient(to bottom, transparent 0%, #fff 100%);
    }

    &.active {
        height: auto;
    }

    @media (max-width: 900px) {
        height: 4rem;
    }
}

.consultation__seo-content {
    padding-bottom: 2vw;
}

.consultation__seo-text {
    margin-bottom: 1.5vw;
}

.consultation__seo-show {
}

.consultation__seo-btn {
    width: 3vw;
    height: 3vw;  
    display: flex;   
    align-items: center;   
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}