.intro {
    position: relative;
    z-index: 91;
    color: #fff;
}

.intro__inner {     
    display: flex;   
    justify-content: space-between;
    position: relative;    
    align-items: center;
    padding: 5vw 0;
    padding-top: 3vw;  

    @media (max-width: 992px) {
        flex-wrap: wrap;   
    }
}

.intro__content {
    width: 54%;

    @media (max-width: 992px) {
        width: 100%;
        text-align: center;   
        margin-bottom: 2.4vw;
    }
}

.intro__subtitle {
    margin-bottom: 0.7vw;
    color: #858aa0;

    @media (max-width: 992px) {
        font-size: 16px;   
    }
}

.intro__title {
    font-family: "History Pro 02", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 2.4vw;

    animation-delay: 0ms;
    animation-duration: 1500ms;
    animation-fill-mode: both;
    animation-name: slide-up-in;
}

@keyframes slide-up-in {
    0% {
      transform: translate(0px, 100%) rotate(1deg);
      opacity: 0;
      transform-origin: 0 0;
    }
  
    100% {
      opacity: 1;
      transform: translate(0px, 0px) rotate(0deg);
      transform-origin: 0 0;
    }
  }
  

.intro__text {
    margin-bottom: 2.4vw;
    font-weight: 300;

    @media (max-width: 992px) {
        font-size: 18px;   
    }
}

.intro__buttons {
    width: 100%;   
    display: flex;  
    align-items: center;   
    justify-content: space-between;

    @media (max-width: 992px) {
        justify-content: center;   
    }
}

.intro__btn {
    width: 21vw;

    @media (max-width: 992px) {
        width: auto;  
        padding: 2.3vw 3vw; 

        img {
            margin-right: 1.5vw;
        }
    }
}

.intro__btn-text {
    font-weight: 600;

    @media (max-width: 992px) {
        font-size: 16px;   
    }
}

.intro__messengers {
    display: flex;
    display: none;
}

.intro__messengers-title {
    display: flex;
    align-items: center;

    img {
        margin-right: 0.6vw;
    }
}

.intro__select {
    position: relative;
    cursor: pointer;
    padding-right: 1.3vw;
    margin-left: 0.6vw;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;      
        transform: translateY(-50%);     
        transition: all 0.4s;
        width: 0.8vw;
        height: 0.55vw;
        background: url('../img/intro/arb.png') no-repeat center;
        background-size: 100% 100%;
    }

    &:hover {
        &::after {
            transform: translateY(-50%) rotate(180deg);
        }

        .intro__select-list {
            display: block;
        }
    }
}

.intro__select-item {
    display: none;   
    color: #55ccf2;
    transition: all 0.4s;    

    &.active {
        display: block;
        color: #958aca;
        text-decoration: underline;       
    }

    &:hover {
        opacity: 0.8;        
    }
}

.intro__select-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
    display: none;

    .intro__select-item {
        padding: 0.33vw 0;
        display: block;
        white-space: nowrap;

        &.noActive {
            display: none;
        }
    }   
}

.intro__slider {
    position: absolute;
    right: -18vw;
    top: 43%;
    width: 46vw;

    .slick-current.slick-active {
        .intro__slider-item {
            opacity: 1;
        }
    }

    @media (max-width: 992px) {
        width: 100%;
        position: static;   
    }
}

.intro__slider-items {
    width: 100%;
    margin-bottom: 1.5vw;
}

.intro__slider-item {
    position: relative;
    padding: 1vw 2.5vw;
    opacity: 0.33;   
    transition: all 0.4s;   

    &::before {
        content: '';
        position: absolute;
        right: 2px;
        top: 50%;      
        transform: translateY(-50%);
        height: 80%;
        width: 1px;
        background-color: #858aa0;
    }
}


.intro__slider-num { 
    font-family: "History Pro 02", sans-serif;
    background-image: linear-gradient(to top, #dcbf8b 0%, #f8e4b8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 992px) {
        font-size: 32px;   
    }
}

.intro__slider-title {
    margin-bottom: 0.7vw;
    font-weight: 600;

    @media (max-width: 992px) {
        font-size: 20px;
    }   
}

.intro__slider-text {

    @media (max-width: 992px) {
        font-size: 18px; 
    }
}

.intro__slider-arrows {  
    position: relative;
    z-index: 105;
    display: flex;   
    align-items: center;
}

.intro__slider-arrow {
    width: 1.2vw;   
    cursor: pointer; 
    display: flex;   
    justify-content: center;  
    align-items: center;  
    transition: all 0.4s;
    opacity: 0.6;
    outline: 0;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    margin: 0 2.5vw;
    margin-right: 1.7vw;

    &:hover {
        opacity: 1;
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
}


.intro__advantages {
}





