<section class="advantages">
    <div class="container">
        <h2 class="title  advantages__title">
            Чем беспроводные лучше?
            <span>Все о преимуществах наушников Bluetooth</span>
        </h2>

        <div class="advantages__inner">

            <div class="advantages__col">
                <div class="advantages__item">
                    <div class="advantages__item-circle">
                        <span class="advantages__item-nummber">01</span>
                    </div>
                    <div class="advantages__item-content">
                        <h3 class="advantages__item-title">Отсутствие проводов</h3>
                        <p class="advantages__item-text">
                            Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов,
                            но это не совсем так.
                        </p>
                    </div>
                </div>

                <div class="advantages__item">
                    <div class="advantages__item-circle">
                        <span class="advantages__item-nummber">02</span>
                    </div>
                    <div class="advantages__item-content">
                        <h3 class="advantages__item-title">Удобство</h3>
                        <p class="advantages__item-text">
                            Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов,
                            но это не совсем так.
                        </p>
                    </div>
                </div>

                <div class="advantages__item">
                    <div class="advantages__item-circle">
                        <span class="advantages__item-nummber">03</span>
                    </div>
                    <div class="advantages__item-content">
                        <h3 class="advantages__item-title">Красивый аксессуар</h3>
                        <p class="advantages__item-text">
                            Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов,
                            но это не совсем так.
                        </p>
                    </div>
                </div>
            </div> <!-- /advantages__col -->


            <div class="advantages__img-box">
                <img src="assets/img/advantages/img-1.png" alt="">
                <div class="pulse  advantages__pulse">
                    <div class="pulse__item"></div>
                    <div class="pulse__item"></div>
                    <div class="pulse__item"></div>
                    <div class="pulse__item"></div>
                </div>
            </div>


            <div class="advantages__col  advantages__col--right">
                <div class="advantages__item">
                    <div class="advantages__item-circle">
                        <span class="advantages__item-nummber">04</span>
                    </div>
                    <div class="advantages__item-content">
                        <h3 class="advantages__item-title">Без ограничений</h3>
                        <p class="advantages__item-text">
                            Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов,
                            но это не совсем так.
                        </p>
                    </div>
                </div>

                <div class="advantages__item">
                    <div class="advantages__item-circle">
                        <span class="advantages__item-nummber">05</span>
                    </div>
                    <div class="advantages__item-content">
                        <h3 class="advantages__item-title">Функциональность</h3>
                        <p class="advantages__item-text">
                            Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов,
                            но это не совсем так.
                        </p>
                    </div>
                </div>

                <div class="advantages__item">
                    <div class="advantages__item-circle">
                        <span class="advantages__item-nummber">06</span>
                    </div>
                    <div class="advantages__item-content">
                        <h3 class="advantages__item-title">Экономия зарядки</h3>
                        <p class="advantages__item-text">
                            Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов,
                            но это не совсем так.
                        </p>
                    </div>
                </div>
            </div> <!-- /advantages__col -->

        </div> <!-- /advantages__inner -->
    </div> <!-- /container -->
</section> <!-- /advantages -->