<footer class="footer">
    <div class="container">
        <div class="footer__inner">

            <div class="footer__col">
                <div class="footer__title">Личный кабинет</div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">Зарегистрироваться</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">Войти в аккаунт</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">Отложенные товары</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">Ваши заказы</a>
                    </li>
                </ul>

                <div class="callback  footer__callback">
                    <div class="callback__title">Закажите обратный звонок:</div>
                    <form class="callback__form" action="#">
                        <input class="callback__input" type="tel" placeholder="Ваш номер телефона">
                        <button class="callback__btn" type="button">
                            <svg>
                                <use xlink:href="#svg-next"></use>
                            </svg>
                        </button>
                    </form>

                </div>
            </div>


            <div class="footer__col">
                <div class="footer__title">Категории</div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">TRUE WIRELESS</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">Гарнитуры</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">Накладные</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">Полноразмерные</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">С проводом</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">С шейным ободком</a>
                    </li>
                </ul>
            </div>


            <div class="footer__col">
                <div class="footer__title">Магазин</div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">О компании</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">Доставка и оплата</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">Гарантия и возврат</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">Пункты самовывоза</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">Блог</a>
                    </li>

                    <li class="footer__item">
                        <a class="footer__link" href="#" target="_blank">Контакты</a>
                    </li>
                </ul>
            </div>


            <div class="footer__col">
                <div class="footer__title">Контакты</div>

                <ul class="contacts">
                    <li class="contacts__item  contacts__item--phone">
                        <div class="contacts__icon">
                            <svg>
                                <use xlink:href="#svg-phone"></use>
                            </svg>
                        </div>

                        <div class="contacts__content">
                            <span class="contacts__subtitle">Бесплатный звонок по РФ</span>
                            <a class="contacts__phone" href="tel:88005519202">8 800 551-92-02</a>
                        </div>
                    </li>

                    <li class="contacts__item">
                        <div class="contacts__icon">
                            <svg>
                                <use xlink:href="#svg-geo"></use>
                            </svg>
                        </div>

                        <div class="contacts__content">
                            <span class="contacts__subtitle">Санкт-Петербург, </span>
                            <span class="contacts__title">Дачный пр. 21</span>
                        </div>
                    </li>

                    <li class="contacts__item">
                        <div class="contacts__icon">
                            <svg>
                                <use xlink:href="#svg-mail"></use>
                            </svg>
                        </div>

                        <div class="contacts__content">
                            <span class="contacts__subtitle">По всем вопросам пишите:</span>
                            <span class="contacts__title">hello@audiofree.ru</span>
                        </div>
                    </li>
                </ul>


                <div class="social  footer__social">
                    <ul class="social__list">

                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg>
                                    <use xlink:href="#svg-vk"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg>
                                    <use xlink:href="#svg-fb"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg>
                                    <use xlink:href="#svg-telegram"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg>
                                    <use xlink:href="#svg-whatsapp"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg>
                                    <use xlink:href="#svg-viber"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div> <!-- /social  footer__social -->
            </div>

        </div> <!-- /footer__inner -->
    </div> <!-- /container -->
</footer> <!-- /footer -->