<section class="guarantees">
    <div class="container">
        <h2 class="title  guarantees__title">
            Где выгодно купить качественные наушники?
            <span>Интернет-магазин AudioFree - магазин хороших покупок</span>
        </h2>

        <p class="guarantees__subtitle">
            Текст о том, что мы не просто так подбираем наушники, а ассортимент формируется исходя из спроса и новинок
            рынка, с учетом требований к качеству и по наличию популярных, топовых, классических позиций
        </p>

        <div class="guarantees__inner">
            <div class="card">
                <div class="card__inner">
                    <div class="card__img">
                        <img src="assets/img/guarantees/icon-1.png" alt="">
                    </div>

                    <div class="card__content">
                        <h3 class="card__title">Доставка 1-2 дня</h3>
                        <p class="card__text">
                            Команда "AudioFree" быстро соберет и доставит Вашу посылку - от 1 до 2 дней по всей Росcии в
                            зависимости от адреса
                        </p>
                    </div>
                </div> <!-- card__inner -->

                <div class="card__shadow"></div>
            </div> <!-- /card -->


            <div class="card">
                <div class="card__inner">
                    <div class="card__img">
                        <img src="assets/img/guarantees/icon-2.png" alt="">
                    </div>



                    <div class="card__content">
                        <h3 class="card__title">Предоплата 0 руб.</h3>
                        <p class="card__text">
                            Никаких предоплат при доставке по Москве и Санкт-Петербургу - платите при получении, когда
                            удостоверитесь в качестве покупки
                        </p>
                    </div>
                </div> <!-- card__inner -->

                <div class="card__shadow"></div>
            </div> <!-- /card -->


            <div class="card">
                <div class="card__inner">
                    <div class="card__img">
                        <img src="assets/img/guarantees/icon-3.png" alt="">
                    </div>

                    <div class="card__content">
                        <h3 class="card__title">0 рисков при покупке</h3>
                        <p class="card__text">
                            При покупке в "Audio Free" Вы обязательно получите чек
                            и гарантийный талон. Мы всегда соблюдаем все права потребителей
                        </p>
                    </div>
                </div> <!-- card__inner -->

                <div class="card__shadow"></div>
            </div> <!-- /card -->

        </div> <!-- /guarantees__inner -->
    </div> <!-- /container -->
</section> <!-- /guarantees -->