<header class="header">

    <div class="header__top-wrap">
        <div class="container">
            <div class="header__top">
                <a class="logo  header__logo" href="#">
                    <img src="assets/img/logo.svg" alt="Логотип">
                    <div class="logo__text">AudioFree |
                        <span>Интернет магазин беспроводных наушников по РФ</span>
                    </div>
                </a>

                <ul class="menu-info">
                    <li class="menu-info__item">
                        <a class="menu-info__link" href="#">Доставка и оплата</a>
                    </li>

                    <li class="menu-info__item">
                        <a class="menu-info__link" href="#">Гарантия и возврат</a>
                    </li>

                    <li class="menu-info__item">
                        <a class="menu-info__link" href="#">Пункты самовывоза</a>
                    </li>

                    <li class="menu-info__item">
                        <a class="menu-info__link" href="#">Контакты</a>
                    </li>
                </ul>
            </div> <!-- /header__top -->
        </div> <!-- /container -->
    </div> <!-- /header__top-wrap -->


    <div class="container">
        <div class="header__body">

            <div class="phone  header__phone">
                <div class="phone__icon">
                    <svg>
                        <use xlink:href="#svg-phone"></use>
                    </svg>
                </div>

                <div class="phone__content">
                    <span class="phone__title">Бесплатный звонок по РФ</span>
                    <a class="phone__number" href="tel:+88005519202">8 800 551-92-02</a>
                </div>
            </div>


            <div class="search  header__search">
                <input class="search__input" type="search" placeholder="Поиск товара">
                <button class="search__btn" type="button">
                    <svg>
                        <use xlink:href="#svg-search"></use>
                    </svg>
                </button>
            </div>


            <div class="control-products  header__control-products">
                <div class="control-products__item">
                    <a class="control-products__link  control-products__comparison" href="#">
                        <svg>
                            <use xlink:href="#svg-comparison"></use>
                        </svg>
                        <span class="control-products__counter  jsCounterComparison">1</span>
                    </a>
                </div>

                <div class="control-products__item">
                    <a class="control-products__link  control-products__favourites" href="#">
                        <svg>
                            <use xlink:href="#svg-heart"></use>
                        </svg>
                        <span class="control-products__counter  jsCounterFavourites">3</span>
                    </a>
                </div>

                <div class="control-products__item">
                    <a class="control-products__link  control-products__basket" href="#">
                        <svg>
                            <use xlink:href="#svg-basket"></use>
                        </svg>
                        <span class="control-products__counter  jsCounterBasket">2</span>
                    </a>
                </div>
            </div>

        </div> <!-- /header__body -->
    </div> <!-- /container -->


    <div class="header__bottom-wrap">
        <div class="container">
            <div class="headder__bottom-inner">

                <div class="header__btnCatalog-wrap">
                    <button class="header__btnCatalog" type="button">
                        <svg>
                            <use xlink:href="#svg-menu"></use>
                        </svg>
                        <span>Каталог товаров</span>
                    </button>
                </div>


                <nav class="menu  header__menu">
                    <ul class="menu__list">

                        <li class="menu__item">
                            <a class="menu__link  active" href="#">Главная</a>
                        </li>

                        <li class="menu__item">
                            <a class="menu__link" href="#">Скидки</a>
                        </li>

                        <li class="menu__item">
                            <a class="menu__link" href="#">Новинки</a>
                        </li>

                        <li class="menu__item">
                            <a class="menu__link" href="#">Бренды</a>
                        </li>

                        <li class="menu__item">
                            <a class="menu__link" href="#">Блог</a>
                        </li>

                        <li class="menu__item">
                            <a class="menu__link" href="#">Акции</a>
                        </li>
                    </ul>

                </nav> <!-- /menu  header__menu -->


                <div class="header__login-wrap">
                    <a class="header__login" href="#">
                        <svg>
                            <use xlink:href="#svg-login"></use>
                        </svg>
                        <span>Вход/Регистрация</span>
                    </a>
                </div>

            </div>
        </div>
    </div>

</header> <!-- /header -->