<section class="intro">
    <div class="container">
        <div class="intro__slider">
            <div class="intro__slide">
                <div class="intro__title-box">
                    <h2 class="intro__title">Bestseller</h2>
                    <img class="intro__title-img" src="assets/img/intro/item-1.png" alt="Фото Hoco W22">
                </div>

                <div class="intro__product">
                    <span class="intro__product-subtitle">Ваш выбор</span>
                    <h1 class="intro__product-title">Hoco W22</h1>
                    <button class="intro__product-btn" type="button">Купить</button>
                </div>
            </div>
        </div> <!-- /intro__inner -->
    </div> <!-- /container -->
</section> <!-- /intro -->