<section class="models">
    <div class="container">
        <h2 class="title  models__title">
            100% совместимость
            <span>с любым интерфейсом</span>
        </h2>

        <div class="models__inner">
            <div class="models__sidebar">
                <ul class="models__sidebar-list">
                    <li class="models__sidebar-item">
                        <button class="models__sidebar-btn">Для iphone</button>
                    </li>

                    <li class="models__sidebar-item">
                        <button class="models__sidebar-btn">Для Samsung</button>
                    </li>

                    <li class="models__sidebar-item">
                        <button class="models__sidebar-btn">Для Xiaomi</button>
                    </li>

                    <li class="models__sidebar-item">
                        <button class="models__sidebar-btn">Для Huawei</button>
                    </li>

                    <li class="models__sidebar-item">
                        <button class="models__sidebar-btn">Со скидкой</button>
                    </li>
                </ul>

                <a class="models__sidebar-more" href="#">Смотреть больше моделей</a>
            </div>

            <div class="models__cards">
                <div class="card">
                    <div class="card__info">

                    </div>

                    <div class="card__img">

                    </div>

                    <div class="card__content">

                    </div>
                </div>
            </div>
        </div> <!-- /models__inner -->
    </div> <!-- /container -->
</section> <!-- /models -->