<section class="models">
    <div class="container">
        <h2 class="title  models__title">
            100% совместимость
            <span>с любым интерфейсом</span>
        </h2>

        <div class="models__inner">
            <div class="models__sidebar">
                <ul class="models__sidebar-list">
                    <li class="models__sidebar-item">
                        <button class="models__sidebar-btn">Для iphone</button>
                    </li>

                    <li class="models__sidebar-item">
                        <button class="models__sidebar-btn">Для Samsung</button>
                    </li>

                    <li class="models__sidebar-item">
                        <button class="models__sidebar-btn">Для Xiaomi</button>
                    </li>

                    <li class="models__sidebar-item">
                        <button class="models__sidebar-btn">Для Huawei</button>
                    </li>

                    <li class="models__sidebar-item">
                        <button class="models__sidebar-btn">Со скидкой</button>
                    </li>
                </ul>

                <a class="models__sidebar-more" href="#">Смотреть больше моделей</a>
            </div>

            <div class="models__cards">
                <div class="card">
                    <div class="card__info">
                        <div class="card__label">В наличии</div>
                        <button class="card__info-btn" type="button">
                            <!-- <svg>
                                <use xlink:href="#svg-comparison"></use>
                            </svg> -->
                        </button>

                        <button class="card__info-btn" type="button">
                            <!-- <svg>
                                <use xlink:href="#svg-heart"></use>
                            </svg> -->
                        </button>
                    </div>

                    <div class="card__img">
                        <img src="assets/img/models/img-1" alt="Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)">
                    </div>

                    <div class="card__content">
                        <h3 class="card__title">Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)</h3>

                        <div class="card__row">
                            <div class="rating">
                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>
                            </div>

                            <span class="card__price">1 950 ₽</span>
                        </div>

                        <div class="card__row">
                            <button class="card__btn-buy" type="button">Купить в 1 клик</button>
                            <button class="card__btn-basket" type="button">В корзину</button>
                        </div>
                    </div>
                </div> <!-- /card -->
            </div> <!-- /models__cards -->
        </div> <!-- /models__inner -->
    </div> <!-- /container -->
</section> <!-- /models -->