<section class="more-discount">
    <div class="container">
        <h2 class="title  more-discount__title">
            Выберите свои наушники
            <span>Функциональные, комфортные, стильные</span>
        </h2>

        <div class="more-discount__cards">
            <div class="card">
                <div class="card__inner">
                    <div class="card__info">
                        <div class="card__discount">-15%</div>
                    </div>

                    <div class="card__img">
                        <img src="assets/img/models/img-1.png" alt="Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)">
                    </div>

                    <div class="card__content">
                        <h3 class="card__title">Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)</h3>

                        <div class="card__row  card__btns">
                            <div class="card__discount  card__discount--purple">50 <span>Дней</span> </div>
                            <p class="card__text">До конца акции <br> на этот товар осталось:</p>
                        </div>
                    </div>
                </div> <!-- card__inner -->

                <div class="card__shadow"></div>
            </div> <!-- /card -->


            <div class="card">
                <div class="card__inner">
                    <div class="card__info">
                        <div class="card__discount">-15%</div>
                    </div>

                    <div class="card__img">
                        <img src="assets/img/models/img-2.png" alt="Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)">
                    </div>

                    <div class="card__content">
                        <h3 class="card__title">Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)</h3>

                        <div class="card__row  card__btns">
                            <div class="card__discount  card__discount--purple">50 <span>Дней</span> </div>
                            <p class="card__text">До конца акции <br> на этот товар осталось:</p>
                        </div>
                    </div>
                </div> <!-- card__inner -->

                <div class="card__shadow"></div>
            </div> <!-- /card -->


            <div class="card">
                <div class="card__inner">
                    <div class="card__info">
                        <div class="card__discount">-15%</div>
                    </div>

                    <div class="card__img">
                        <img src="assets/img/models/img-3.png" alt="Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)">
                    </div>

                    <div class="card__content">
                        <h3 class="card__title">Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)</h3>

                        <div class="card__row  card__btns">
                            <div class="card__discount  card__discount--purple">50 <span>Дней</span> </div>
                            <p class="card__text">До конца акции <br> на этот товар осталось:</p>
                        </div>
                    </div>
                </div> <!-- card__inner -->

                <div class="card__shadow"></div>
            </div> <!-- /card -->


            <div class="card">
                <div class="card__inner">
                    <div class="card__info">
                        <div class="card__discount">-15%</div>
                    </div>

                    <div class="card__img">
                        <img src="assets/img/models/img-1.png" alt="Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)">
                    </div>

                    <div class="card__content">
                        <h3 class="card__title">Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)</h3>

                        <div class="card__row  card__btns">
                            <div class="card__discount  card__discount--purple">50 <span>Дней</span> </div>
                            <p class="card__text">До конца акции <br> на этот товар осталось:</p>
                        </div>
                    </div>
                </div> <!-- card__inner -->

                <div class="card__shadow"></div>
            </div> <!-- /card -->

        </div> <!-- /more-discount__cards -->

        <div class="more-discount__btn-wrap">
            <a class="btn  btn-color  btn-color--purple  more-discount__btn" href="#">Смотреть больше моделей</a>
        </div>

    </div> <!-- /container -->
</section> <!-- /more-discount -->