<section class="questions">
    <div class="container">
        <h2 class="title  questions__title">
            Что стоит знать
            <span>при выборе наушников</span>
        </h2>

        <div class="questions__inner">

            <ul class="questions__tabs">
                <li class="questions__tab  active">
                    <button class="questions__btn" data-id="1">Есть ли гарантия?</button>
                </li>

                <li class="questions__tab">
                    <button class="questions__btn" data-id="2">Сколько устройств можно подключить?</button>
                </li>

                <li class="questions__tab">
                    <button class="questions__btn" data-id="3">Какой провод использовать?</button>
                </li>

                <li class="questions__tab">
                    <button class="questions__btn" data-id="4">Сколько устройств можно подключить?</button>
                </li>
            </ul>


            <div class="questions__content">
                <div class="questions__content-inner  active" id="1">
                    <div class="questions__content-title">
                        Гарантия на всю продукцию 3 месяца
                    </div>

                    <p class="questions__content-text">
                        Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации,
                        например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
                    </p>

                    <p class="questions__content-text">
                        Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки,
                        скрытой в середине абзаца.
                    </p>

                    <a class="questions__content-link" href="#">Перейти в блог</a>
                </div>


                <div class="questions__content-inner" id="2">
                    <div class="questions__content-title">
                        222 - Гарантия на всю продукцию 3 месяца
                    </div>

                    <p class="questions__content-text">
                        Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации,
                        например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
                    </p>

                    <p class="questions__content-text">
                        Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки,
                        скрытой в середине абзаца.
                    </p>

                    <a class="questions__content-link" href="#">Перейти в блог</a>
                </div>


                <div class="questions__content-inner" id="3">
                    <div class="questions__content-title">
                        333 - Гарантия на всю продукцию 3 месяца
                    </div>

                    <p class="questions__content-text">
                        Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации,
                        например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
                    </p>

                    <p class="questions__content-text">
                        Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки,
                        скрытой в середине абзаца.
                    </p>

                    <a class="questions__content-link" href="#">Перейти в блог</a>
                </div>


                <div class="questions__content-inner" id="4">
                    <div class="questions__content-title">
                        444 - Гарантия на всю продукцию 3 месяца
                    </div>

                    <p class="questions__content-text">
                        Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации,
                        например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
                    </p>

                    <p class="questions__content-text">
                        Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки,
                        скрытой в середине абзаца.
                    </p>

                    <a class="questions__content-link" href="#">Перейти в блог</a>
                </div>
            </div> <!-- /questions__content -->

        </div> <!-- /questions__inner -->
    </div> <!-- /container -->
</section> <!-- /questions -->