<section class="test">
    <div class="container">
        <div class="test__inner">

            <div class="test__content">
                <h2 class="test__title">Подберем 5 лучших моделей
                    <span>беспроводных наушников под Ваши цели</span>
                </h2>

                <p class="test__subtitle">Пройдите тест и получите
                    <span>скидку до 10%</span>
                    на первую покупку
                </p>
                <button class="btn  btn-color  btn-color--green" type="button">Пройти тест и получить скидку!</button>
            </div>


            <div class="test__img-box">
                <div class="test__img-inner">
                    <div class="test__best"> 5 best <span>models</span> </div>
                </div>
                <img class="test__img" src="assets/img/test/img-box.png" alt="">
            </div>

        </div> <!-- /test__inner -->
    </div> <!-- /container -->
</section> <!-- /test -->