<section class="top">
    <div class="container">
        <h2 class="title  top__title">
            ТОП-2020
            <span>лидеры предзаказов, обзоров и рекомендаций</span>
        </h2>

        <div class="top__cards">

            <div class="card  card--mini">
                <div class="card__inner">
                    <a class="card__img" href="#">
                        <img src="assets/img/top/img-1.png" alt="Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)">
                    </a>

                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)</a>
                        </h3>

                        <div class="card__row">
                            <div class="rating">
                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>
                            </div>
                            <span class="card__price">1 950 ₽</span>
                        </div>
                    </div>
                </div> <!-- card__inner -->
                <div class="card__shadow"></div>
            </div> <!-- /card -->


            <div class="card  card--mini">
                <div class="card__inner">
                    <a class="card__img" href="#">
                        <img src="assets/img/top/img-2.png" alt="Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)">
                    </a>

                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)</a>
                        </h3>

                        <div class="card__row">
                            <div class="rating">
                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>
                            </div>
                            <span class="card__price">1 950 ₽</span>
                        </div>
                    </div>
                </div> <!-- card__inner -->
                <div class="card__shadow"></div>
            </div> <!-- /card -->


            <div class="card  card--mini">
                <div class="card__inner">
                    <a class="card__img" href="#">
                        <img src="assets/img/top/img-3.png" alt="Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)">
                    </a>

                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)</a>
                        </h3>

                        <div class="card__row">
                            <div class="rating">
                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>
                            </div>
                            <span class="card__price">1 950 ₽</span>
                        </div>
                    </div>
                </div> <!-- card__inner -->
                <div class="card__shadow"></div>
            </div> <!-- /card -->


            <div class="card  card--mini">
                <div class="card__inner">
                    <a class="card__img" href="#">
                        <img src="assets/img/top/img-4.png" alt="Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)">
                    </a>

                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)</a>
                        </h3>

                        <div class="card__row">
                            <div class="rating">
                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>
                            </div>
                            <span class="card__price">1 950 ₽</span>
                        </div>
                    </div>
                </div> <!-- card__inner -->
                <div class="card__shadow"></div>
            </div> <!-- /card -->


            <div class="card  card--mini">
                <div class="card__inner">
                    <a class="card__img" href="#">
                        <img src="assets/img/top/img-5.png" alt="Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)">
                    </a>

                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)</a>
                        </h3>

                        <div class="card__row">
                            <div class="rating">
                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>
                            </div>
                            <span class="card__price">1 950 ₽</span>
                        </div>
                    </div>
                </div> <!-- card__inner -->
                <div class="card__shadow"></div>
            </div> <!-- /card -->


            <div class="card  card--mini">
                <div class="card__inner">
                    <a class="card__img" href="#">
                        <img src="assets/img/top/img-6.png" alt="Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)">
                    </a>

                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)</a>
                        </h3>

                        <div class="card__row">
                            <div class="rating">
                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>
                            </div>
                            <span class="card__price">1 950 ₽</span>
                        </div>
                    </div>
                </div> <!-- card__inner -->
                <div class="card__shadow"></div>
            </div> <!-- /card -->


            <div class="card  card--mini">
                <div class="card__inner">
                    <a class="card__img" href="#">
                        <img src="assets/img/top/img-7.png" alt="Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)">
                    </a>

                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)</a>
                        </h3>

                        <div class="card__row">
                            <div class="rating">
                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>
                            </div>
                            <span class="card__price">1 950 ₽</span>
                        </div>
                    </div>
                </div> <!-- card__inner -->
                <div class="card__shadow"></div>
            </div> <!-- /card -->


            <div class="card  card--mini">
                <div class="card__inner">
                    <a class="card__img" href="#">
                        <img src="assets/img/top/img-8.png" alt="Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)">
                    </a>

                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)</a>
                        </h3>

                        <div class="card__row">
                            <div class="rating">
                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>
                            </div>
                            <span class="card__price">1 950 ₽</span>
                        </div>
                    </div>
                </div> <!-- card__inner -->
                <div class="card__shadow"></div>
            </div> <!-- /card -->


            <div class="card  card--mini">
                <div class="card__inner">
                    <div class="card__img">
                        <a href="#">
                            <img src="assets/img/top/img-9.png"
                                alt="Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)">
                        </a>
                    </div>

                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">Наушники Bluetooth Baseus Encok D01 NGD01-09 (red)</a>
                        </h3>

                        <div class="card__row">
                            <div class="rating">
                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon  true">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>

                                <span class="rating__item">
                                    <svg class="rating__icon">
                                        <use xlink:href="#svg-star"></use>
                                    </svg>
                                </span>
                            </div>
                            <span class="card__price">1 950 ₽</span>
                        </div>
                    </div>
                </div> <!-- card__inner -->
                <div class="card__shadow"></div>
            </div> <!-- /card -->

        </div> <!-- /top__cards -->

        <div class="more-discount__btn-wrap">
            <a class="btn  btn-color  btn-color--purple  more-discount__btn" href="#">Смотреть больше моделей</a>
        </div>

    </div> <!-- /container -->
</section> <!-- /top -->