<section class="variants">
    <div class="container">
        <h2 class="title  variants__title">
            Выберите свои наушники
            <span>Функциональные, комфортные, стильные</span>
        </h2>
    </div> <!-- /container -->

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <a class="swiper-slide" href="#" target="_blank"
                style="background: url('assets/img/variants/img-1.png') no-repeat center; background-size: cover;">
                <h3 class="swiper-slide__title">TRUE WIRELESS </h3>
            </a>

            <a class="swiper-slide" href="#" target="_blank"
                style="background: url('assets/img/variants/img-2.png') no-repeat center; background-size: cover;">
                <h3 class="swiper-slide__title">Наушники с проводом</h3>
            </a>

            <a class="swiper-slide" href="#" target="_blank"
                style="background: url('assets/img/variants/img-3.png') no-repeat center; background-size: cover;">
                <h3 class="swiper-slide__title">Гарнитуры</h3>
            </a>

            <a class="swiper-slide" href="#" target="_blank"
                style="background: url('assets/img/variants/img-4.png') no-repeat center; background-size: cover;">
                <h3 class="swiper-slide__title">Полно- размерные наушники </h3>
            </a>

            <a class="swiper-slide" href="#" target="_blank"
                style="background: url('assets/img/variants/img-5.png') no-repeat center; background-size: cover;">
                <h3 class="swiper-slide__title">Накладные наушники</h3>
            </a>

            <a class="swiper-slide" href="https://yandex.by/" target="_blank"
                style="background: url('assets/img/variants/img-6.png') no-repeat center; background-size: cover;">
                <h3 class="swiper-slide__title">Наушники с шейным ободком </h3>
            </a>

            <a class="swiper-slide"></a>
        </div>
    </div>

</section> <!-- /variants -->