.certificates {
    margin-bottom: 30px;
}

.certificates__list {
    display: flex;
}

.certificates__item {
    position: relative;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }   
}

.certificates__img {
    max-height: 300px;
}