.certificates {
    margin-bottom: 30px;
}

.certificates__list {
    display: flex;
}

.certificates__item {
    position: relative;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }

    &.close {
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            background-image: url('../img/close.svg');
        }

        &::before {
            content: 'В процессе';
            width: 140px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #EEB868;
            font-size: 1rem;
            border-radius: .25em;
            bottom: 90px;
            left: calc(50% - 70px);

            position: absolute;
            opacity: 0;
            transition: all 500ms;
            visibility: hidden;
        }

        &:hover {
            &::before {
               visibility: visible;
               opacity: 1;
            }
        }
    }
}

.certificates__link {
    
}

.certificates__img {
    max-height: 300px;
    // width: auto;
}