.circle {
    width: 450px;
    height: 450px;

    background: linear-gradient(to bottom, #f5586e, #f092fa);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .15%);
    border-radius: 70% 30% 70% 30% / 66% 57% 43% 34%;

    animation: circleRadius 5s alternate infinite;

    position: absolute;
    right: 17rem;
    z-index: 1;

    bottom: 10rem;

    @media (max-width: 1530px) {
        right: 4rem;
     }

     @media (max-width: 1220px) {
        right: 1rem;
        width: 400px;
        height: 400px;       
     }

     @media (max-width: 1060px) {
       animation: none;      
     }
}

@keyframes circleRadius {
    0% {
        border-radius: 70% 30% 70% 30% / 66% 57% 43% 34%;
        transform: translate3d(0, 0, 0);
    }   

    100% {
        border-radius: 19% 81% 65% 35% / 48% 34% 66% 52%;
        transform: translate3d(-80px, -10px, 0);
    }
}