.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 820px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.intro__subtitle {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
}

.intro__title {    
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;

    span {
        font-size: 36px;
        color: #ff555d;
    }

    @media (max-width: 380px) {
        font-size: 25px;
        line-height: 28px;
    }
}

.intro__content {
    width: 50%;

    @media (max-width: 820px) {
        width: 100%;
        text-align: center; 
        margin-bottom: 50px;       
    }
}

.intro__img-box {
    width: 40%;
    flex-shrink: 0;

    @media (max-width: 990px) {
        width: 50%;
    }

    @media (max-width: 820px) {
        width: 100%;              
    }
}

.intro__img-wrap {
    background: #F2F3F7;
    border: 0.5px solid rgba(255, 255, 255, 0.6);
    box-shadow: -7px -4px 10px #FFFFFF, 7px 4px 10px #DDE4EF, inset 0px 0px 20px rgba(221, 228, 239, 0.25);
    border-radius: 12px;    
}

.intro__img {
    display: block;
    // height: 100%;
    border-radius: 6px;
    object-fit: cover;

    @media (max-width: 820px) {
        object-position: left;
        margin: 0 auto;
    }
}