.portfolio__dots {
    margin-bottom: 60px;
}

.portfolio__dots-list {
    display: flex;
    align-items: center;    
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.portfolio__dots-item {
    margin-right: 15px;
    margin-bottom: 30px;
    width: calc(10% - 30px);
    margin-left: 15px;

    &:last-child {
        margin-right: 0;
    }
}

.portfolio__dots-btn {
    background: #F2F3F7;
    border: 6px solid rgba(255, 255, 255, 0.6);
    box-shadow: -7px -4px 10px #FFFFFF, 7px 4px 10px #DDE4EF, inset 0px 0px 20px rgba(221, 228, 239, 0.25);
    border-radius: 12px; 

    &.active {
        border-color: rgba(#ff555d, 0.35);
    }
}

.portfolio__dots-img {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 80px;
    border-radius: 6px; 
}

.portfolio__inner {
}


.portfolio__slide {
    display: flex;
    justify-content: space-between;
    display: none;

    &.active {
        display: flex;
    }
}

.portfolio__slide-content {
    width: 50%;
}

.portfolio__slide-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.portfolio__slide-subtitle {
    font-size: 18px;
    font-weight: 500;
    color: #ff555d;
    margin-bottom: 10px;
}

.portfolio__slide-list {
    margin-bottom: 20px;
}

.portfolio__slide-item {
    position: relative;
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 20px;

    display: flex;
    align-items: center;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        height: 5px;
        width: 5px;
        background-color: #ff555d;
    }

    span {
        margin-left: 10px;
    }
}

.portfolio__slide-date {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 40px;

    span {
        margin-left: 10px;
        font-weight: 500;
    }
}

.portfolio__slide-link {
    max-width: 270px;
    margin: 0;
}

.portfolio__img-box {
    width: 45%;
    border: 6px solid rgba(255, 255, 255, 0.6);
    box-shadow: -7px -4px 10px #FFFFFF, 7px 4px 10px #DDE4EF, inset 0px 0px 20px rgba(221, 228, 239, 0.25);
    border-radius: 12px; 
}

.portfolio__img {
    border-radius: 6px;
    display: block;
}








