/* //////modification////// */

html, body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;   
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    border: 0;
}

ul, li {
    /* display: block; */
    text-decoration: none;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
    text-decoration: none;
    outline: none;
}

* {
-moz-transition: all 0.3s ease;
-webkit-transition-property: all;
-webkit-transition-duration: 0.3s;
-webkit-transition-timing-function: ease;
}

.container {
	width: 1170px;
	margin: 0 auto;
}


/* ====================== */
/* Первый экран (header) */

.header {
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
    height: 100vh;

    padding-top: 60px;
    padding-bottom: 264px;
}

.nav--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 254px;
}

.logo__title {
	font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 400;
    color: #f1cdb3;
    letter-spacing: 1px;

    margin-bottom: 5px;
}

.logo__subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #fff;
    letter-spacing: 1.1px;
}

.nav__link {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 15px;
    color: #fff;

    margin-left: 37px;
}

.nav__link:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -8px;
	left: 0px;
	width: 0%;
	height: 3px;
	background-color: #f1cdb3;
}

.nav__link:hover:after {
	width: 100%;

}

.header__title {
	font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 44px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
    line-height: 1.3;


    margin-bottom: 43px;
}

.header__text {
    font-family: Arial, Helvetica, sans-serif;    
    color: #cdcdcd;
    font-size: 15px;
    width: 460px;
    font-weight: 400;
    line-height: 1.6;
    
    margin-bottom: 63px;
}

.header__btn {
	font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 400;
    color: #292929;
    background: #f1cdb3;
    border-radius: 26px;
    letter-spacing: 1.1px;

    padding: 16px 44px;
}

.header__btn:hover {
    box-shadow: 0 0 20px rgba(241, 205, 179, 0.5);
}

.header-btn--close {
    width: 100%;
    display: none;
}

.header-btn--menu {
    /* width: 100%; */
    display: none;
}


/* ====================== */
/* ----Секция about -----*/

.about {
    padding-top: 120px;
    padding-bottom: 90px;
}

.about--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__left-box {
    width: 35%;
}

.about__right-box {
    width: 50%;
}

.right-box__title {
	font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 400;
    color: #545454;
    letter-spacing: 0.6px;
    line-height: 1.3;

    margin-bottom: 34px;
}

.right-box__text {
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 15px;
    color: #4c4c4c;
    width: 422px;
    line-height: 1.6;

    margin-bottom: 30px;
}


/* ====================== */
/* ----Секция friends ---*/


.friends {
    background: #f6f6f6;
    text-align: center;

    padding-top: 80px;
    padding-bottom: 74px;
}

.friends-title {
	font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 400;
    color: #545454;
    letter-spacing: 0.6px;
    text-align: center;

    margin-bottom: 65px;
}

.friends__slider--wrapper {
    position: relative;

    display: flex;
    justify-content: center;

    margin-bottom: 80px;
}

.friends-slider__item {  
    width: 270px;
    height: 425px;
    background: #fafafa;
    border-radius: 9px;

    margin-right: 28px;
    margin-left: 28px;

    text-align: center;
}

.friends-slider__item:hover {
    box-shadow: 2px 2px 35px rgba(13, 13, 13, 0.08);
}

.item__title {
	font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #545454;

    margin-top: 25px;
    margin-bottom: 20px;
}

.item__link {  
    display: inline-block;
    text-align: center; 

	font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 400;
    color: #292929;
    border: 2px solid #f1cdb3;
    border-radius: 26px;

    padding: 14px 48px;
    margin: 0 auto;
}

.item__link:hover {
    background: #f1cdb3;
}

.friends__btn {
    display: inline-block;

	font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 400;
    color: #292929;
    border-radius: 26px;
    background: #f1cdb3;

    padding: 18px 48px;
}

.friends__btn:hover {
    box-shadow: 2px 8px 15px rgba(13, 13, 13, .2);
}

/* .slider-btn {
    position: absolute;
    left: 0;
    top: 0;

    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    border: none;
    background: none;

    border: 2px solid #f1cdb3;
} */

.friends-slider__btn--left {
    position: absolute;
    left: 0;
    top: 45%;

    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    line-height: 46px;
    border: none;
    background: none;

    border: 2px solid #f1cdb3;
}

.friends-slider__btn--right {
    position: absolute;
    right: 0;
    top: 45%;

    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    line-height: 46px;
    border: none;
    background: none;

    border: 2px solid #f1cdb3;
}

.slider-btn:hover {
    background: #f1cdb3;
    cursor: pointer;
}





/* ====================== */
/* ----Секция help ---*/

.help {
    padding-top: 70px;
}

.help__title {
	font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 400;
    color: #545454;
    letter-spacing: 0.6px;
    line-height: 1.4;
    text-align: center;

    margin-bottom: 70px;
}

.help__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.help-list__item {
    list-style: none;
    width: 20%;
    text-align: center;

    margin-bottom: 80px;
}

.help-list__item img {
    margin-bottom: 20px;
}

.help-list__item h3 {
	font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    color: #545454;
}


/* ====================== */
/* ---Секция donation ---*/

.donation {
    background: #f6f6f6;

    padding-top: 70px;
    padding-bottom: 85px;
}

.donation--wrapper {
    display: flex;
    /* align-items: center; */
    align-items: stretch;
}

.donation__box-left {
    width: 50%;

    background: url(../img/Dog_donation.png) center center no-repeat;
    background-size: auto;
}

.donation__box-right {
    width: 50%;
}

.donation__box-right .box-right__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 400;
    color: #545454;
    letter-spacing: 0.6px;
    line-height: 1.3;

    margin-bottom: 30px;
}

.donation__box-right .box-right__subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 400;
    color: #545454;
    letter-spacing: 0.6px;

    margin-bottom: 25px;
}

.donation__bank-account {
    display: flex;
    align-items: center;
    background: #f1cdb3;
    width: 310px;
    border-radius: 9px;

    margin-bottom: 32px;
    margin-top: 15px;

    padding: 13px;
}

.bank-account__icon {
    margin-right: 15px;
}

.donation__bank-account .bank-account__number{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: 0.6px;
    color: #292929;
}

.donation__description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #b2b2b2;
    width: 356px;
    line-height: 1.6;
    font-style: italic;
}


/* ====================== */
/* ---Секция footer ---*/

.footer {
    background: url(../img/Background_footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    padding-top: 75px;
    padding-bottom: 45px;
}

.footer--wrapper {
    display: flex;
}

.footer__box-left {
    margin-right: 170px;
}

.footer__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.6px;

    margin-bottom: 40px;
}

.item__text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #f1cdb3;
    letter-spacing: 0.6px;

    margin-left: 20px;
}

.footer-item {
    display: flex;
    align-items: center;

    margin-bottom: 30px;
}


/* Responsive
============== */

/*maximum screen width: 1600pxpx */
@media (max-width:1640px) {
    .footer {
        background-position: center;
    }    
}

/*maximum screen width: 1220pxpx */
@media (max-width:1220px) {
   .container {
       width: 90%;
   } 
   
   .header {
       background-position: center;
   }

   .donation__box-right {
    margin-left: 50px;
    }

    .donation__box-left {
        background-size: contain;
    }
}

/*maximum screen width: 1130pxpx */
@media (max-width:1130px) {
    .about__left-box {
        margin-right: 50px;
    }    
}

/*maximum screen width: 997pxpx */
@media (max-width:997px) {
    .footer--wrapper {
        justify-content: center;
    }    

    .footer {
        background-position: left;
    }

    .help-list__item {
        width: 30%;
    }
}


/*maximum screen width: 811pxpx */
@media (max-width:811px) {
    .about__right-box {
        padding-left: 50px;
    }

    .right-box__text {
        width: 90%;
    }

    .main__list {
        display: none;
    }

    .header-btn--menu {
        /* visibility: visible; */
        display: block;

    }
}