$white: #fff;
$pink: #f46e86;
$gray: #fafafa;
$gray_darc: #a1a1a1; 
$radius: 10px;
$radius_sm: 5px;
$shadow: 0 0 25px rgba(0, 0, 0, .05);

// ==============================================

$font_Montserrat: 'Montserrat', sans-serif;
$black: rgba(66, 66, 66, 0.81);
