<div class="brand">
    <span class="g-title  brand__title">Brand</span>

    <ul class="brand__list">

        <li class="brand__item">
            <div class="checkbox  brand__heckbox">
                <input class="checkbox__input" type="checkbox" id="check-insigni">
                <label class="checkbox__label" for="check-insigni">Insigni
                    <span class="test">220</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /brand__item -->

        <li class="brand__item">
            <div class="checkbox  brand__heckbox">
                <input class="checkbox__input" type="checkbox" id="check-samsung">
                <label class="checkbox__label" for="check-samsung">Samsung
                    <span class="test">120</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /brand__item -->

        <li class="brand__item">
            <div class="checkbox  brand__heckbox">
                <input class="checkbox__input" type="checkbox" id="check-apple">
                <label class="checkbox__label" for="check-apple">Apple
                    <span class="test">320</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /brand__item -->

        <li class="brand__item">
            <div class="checkbox  brand__heckbox">
                <input class="checkbox__input" type="checkbox" id="check-hp">
                <label class="checkbox__label" for="check-hp">HP
                    <span class="test">32</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /brand__item -->

        <li class="brand__item">
            <div class="checkbox  brand__heckbox">
                <input class="checkbox__input" type="checkbox" id="check-sony">
                <label class="checkbox__label" for="check-sony">Sony
                    <span class="test">520</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /brand__item -->

        <li class="brand__item">
            <div class="checkbox  brand__heckbox">
                <input class="checkbox__input" type="checkbox" id="check-metra">
                <label class="checkbox__label" for="check-metra">Metra
                    <span class="test">55</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /brand__item -->

        <li class="brand__item">
            <div class="checkbox  brand__heckbox">
                <input class="checkbox__input" type="checkbox" id="check-dyne">
                <label class="checkbox__label" for="check-dyne">Dyne
                    <span class="test">120</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /brand__item -->

        <li class="brand__item">
            <div class="checkbox  brand__heckbox">
                <input class="checkbox__input" type="checkbox" id="check-lg">
                <label class="checkbox__label" for="check-lg">LG
                    <span class="test">98</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /brand__item -->

        <li class="brand__item">
            <div class="checkbox  brand__heckbox">
                <input class="checkbox__input" type="checkbox" id="check-canon">
                <label class="checkbox__label" for="check-canon">Canon
                    <span class="test">99</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /brand__item -->

        <li class="brand__item">
            <div class="checkbox  brand__heckbox">
                <input class="checkbox__input" type="checkbox" id="check-speck">
                <label class="checkbox__label" for="check-speck">Speck
                    <span class="test">575</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /brand__item -->

    </ul> <!-- /brand__list -->
</div> <!-- /brand -->