<div class="category">
    <span class="g-title  category__title">Category</span>

    <ul class="category__list">

        <li class="category__item">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="check-phones">
                <label class="checkbox__label" for="check-phones">Cell Phones
                    <span class="test">1920</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /category__item -->

        <li class="category__item">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="check-ablets">
                <label class="checkbox__label" for="check-ablets">Computers & Tablets
                    <span class="test">1820</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /category__item -->

        <li class="category__item">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="check-phoneAccessories">
                <label class="checkbox__label" for="check-phoneAccessories">Cell Phone Accessories
                    <span class="test">462</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /category__item -->

        <li class="category__item">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="check-Appliances">
                <label class="checkbox__label" for="check-Appliances">Appliances
                    <span class="test">6556</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /category__item -->

        <li class="category__item">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="check-audio">
                <label class="checkbox__label" for="check-audio">Audio
                    <span class="test">120</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /category__item -->

        <li class="category__item">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="check-IPhoneAccessories">
                <label class="checkbox__label" for="check-IPhoneAccessories">iPhone Accessories
                    <span class="test">353</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /category__item -->

        <li class="category__item">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="check-cameras">
                <label class="checkbox__label" for="check-cameras">Cameras & Camcorders
                    <span class="test">45</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /category__item -->

        <li class="category__item">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="check-clips">
                <label class="checkbox__label" for="check-clips">iPhone Cases & Clips
                    <span class="test">456</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /category__item -->

        <li class="category__item">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="check-tv">
                <label class="checkbox__label" for="check-tv">TV & Home Theater
                    <span class="test">55</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /category__item -->

        <li class="category__item">
            <div class="checkbox">
                <input class="checkbox__input" type="checkbox" id="check-kitchen">
                <label class="checkbox__label" for="check-kitchen">Small Kitchen Appliances
                    <span class="test">10</span>
                </label>
            </div> <!-- /checkbox -->
        </li> <!-- /category__item -->

    </ul> <!-- /category__list -->
</div> <!-- /category -->