<div class="price-range">
    <p class="g-title  price-range__title">Multi Range</p>

    <ul class="price-range__list">
        <li class="price-range__item">
            <div class="checkbox  brand__heckbox">
                <input class="checkbox__input" name="multiRange" type="radio" id="check-10">
                <label class="checkbox__label" for="check-10">$10</label>
            </div> <!-- /checkbox -->
        </li>

        <li class="price-range__item">
            <div class="checkbox  brand__heckbox">
                <input class="checkbox__input" name="multiRange" type="radio" id="check-10_100">
                <label class="checkbox__label" for="check-10_100">$10 - $100</label>
            </div> <!-- /checkbox -->
        </li>

        <li class="price-range__item">
            <div class="checkbox  brand__heckbox">
                <input class="checkbox__input" name="multiRange" type="radio" id="check-100_500">
                <label class="checkbox__label" for="check-100_500">$100 - $500</label>
            </div> <!-- /checkbox -->
        </li>

        <li class="price-range__item">
            <div class="checkbox  brand__heckbox">
                <input class="checkbox__input" name="multiRange" type="radio" id="check-500">
                <label class="checkbox__label" for="check-500">$500</label>
            </div> <!-- /checkbox -->
        </li>

        <li class="price-range__item">
            <div class="checkbox  brand__heckbox">
                <input class="checkbox__input" name="multiRange" type="radio" id="check-all">
                <label class="checkbox__label" for="check-all">$All</label>
            </div> <!-- /checkbox -->
        </li>

    </ul> <!-- /price-range__list -->
</div> <!-- /price-range -->