<section class="advantages">
    <div class="container">
        <div class="advantages__inner">

            <h2 class="title  advantages__title">Преимущества
                <span>съедобных роз</span>
            </h2>

            <div class="advantages__img-box">
                <img src="assets/img/advantages/bg.png" alt="Букет съедобных роз">
            </div>

            <div class="advantages__items">

                <div class="advantages__item">
                    <svg class="advantages__item-icon">
                        <use xlink:href="#svg-advItem-1"></use>
                    </svg>

                    <div class="advantages__item-title">Эксклюзивный дизайн</div>
                    <p class="advantages__item-text">Форма бутонов сделана максимально идеальной. Их никогда в жизни не
                        отличить от настоящих цветов!</p>
                </div>

                <div class="advantages__item">
                    <svg class="advantages__item-icon">
                        <use xlink:href="#svg-advItem-2"></use>
                    </svg>

                    <div class="advantages__item-title">Безупречное качество</div>
                    <p class="advantages__item-text">Все розы сделаны руками наших мастеров. Продукт прошел сертификацию
                        и все провероки на безопасность.
                    </p>
                </div>

                <div class="advantages__item">
                    <svg class="advantages__item-icon">
                        <use xlink:href="#svg-advItem-3"></use>
                    </svg>

                    <div class="advantages__item-title">Неповторимые эмоции</div>
                    <p class="advantages__item-text">WOW-эффект гарантирован! Девушки влюбляются в наши розы с первого
                        взгляда. Это чистая правда!
                    </p>
                </div>
            </div>

            <div class="advantages__btn-wrap">
                <button class="btn  advantages__btn">Заказать</button>
            </div>

        </div> <!-- /advantages__inner -->
    </div> <!-- /container -->
</section> <!-- /advantages -->