<header class="header">
    <div class="container">
        <div class="header__top">
            <div></div>

            <nav class="menu  header__menu">
                <ul class="menu__list">

                    <li class="menu__item">
                        <a class="menu__link" href="#">Преимущества</a>
                    </li>

                    <li class="menu__item">
                        <a class="menu__link" href="#">Галерея</a>
                    </li>

                    <li class="menu__item">
                        <a class="menu__link" href="#">Для кого</a>
                    </li>

                    <li class="menu__item">
                        <a class="menu__link" href="#">Showreаl</a>
                    </li>

                    <li class="menu__item">
                        <a class="menu__link" href="#">Отзывы</a>
                    </li>

                    <li class="menu__item">
                        <a class="menu__link" href="#">Как заказать</a>
                    </li>

                    <li class="menu__item">
                        <a class="menu__link" href="#">Оплата и дроставка</a>
                    </li>

                    <li class="menu__item">
                        <a class="menu__link" href="#">Гарантии</a>
                    </li>

                    <li class="menu__item">
                        <a class="menu__link" href="#">Акция</a>
                    </li>

                </ul>
            </nav> <!-- /menu  header__menu -->

            <button class="header__menu-btn">
                <i class="fa fa-bars" aria-hidden="true"></i>
                Меню
            </button>

        </div> <!-- /header__top -->

        <div class="header__content">
            <img class="header__title" src="assets/img/header/title.png" alt="Съедобные розы">
            <p class="header__subtitle">Порадуй своих любимых красивым подарком</p>

            <button class="btn  header__btn">Заказать</button>
        </div>

        <div class="header__roses">
            <img class="header__icon-rose" src="assets/img/header/rose-1.png" alt="Иконка розы">
        </div>

    </div> <!-- /container -->
</header> <!-- /header -->