<section class="info">
    <div class="container">

        <h2 class="title  info__title">Для всех
            <span>Съедобные розы</span>
        </h2>

        <div class="info__inner">

            <div class="info__content">

                <ul class="info__content-list">
                    <li class="info__content-item">
                        <span class="info__content-title">Для любимой девушки</span>
                        <p class="info__content-text">
                            На важную дату, день рождение или просто без повода, чтобы вызвать искреннюю улыбку на лице
                        </p>
                    </li>

                    <li class="info__content-item">
                        <span class="info__content-title">Для родного человека</span>
                        <p class="info__content-text">
                            Маме или сестре – абсолютно все по достоинству оценят такой красивый и вкусный знак внимания
                        </p>
                    </li>

                    <li class="info__content-item">
                        <span class="info__content-title">Коллеге по работе</span>
                        <p class="info__content-text">
                            Прекрасный комплимент коллеге по работе, как символ дружбы и уважения
                        </p>
                    </li>

                    <li class="info__content-item">
                        <span class="info__content-title">На детский праздник</span>
                        <p class="info__content-text">
                            Любой ребенок мечтает о таком подарке, розы изготовлены из съедобных натуральных материалов
                        </p>
                    </li>
                </ul>

                <button class="btn info__btn">Заказать</button>
            </div>


            <div class="info__img-box">
                <img src="assets/img/info/girl.png" alt="Девушка с букетом съедобных роз">
            </div>



        </div> <!-- /info__inner -->
    </div> <!-- /container -->
</section> <!-- /info -->